{% extends "_layout.njk" %}

{% set primaryNavId = "performance" %}
{% set subNavId = "candidates" %}
{% set pageName = "Candidates" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/performance",
    text: "Statistics"
  }, {
    text: "Candidates"
  }]
}) }}
{% endblock %}

{% block content %}

{% include "_includes/performance/header.njk" %}

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">

    {% include "_includes/performance/filter-panel.njk" %}

  </div>
  <div class="app-filter-layout__content">

    <div class="app-action-bar">
      <div class="app-action-bar__filter"></div>
    </div>

    <div>

      {#% include "_includes/performance/sub-navigation.njk" %#}

      {% include "_includes/performance/applications-by-nationality.njk" %}
      {% include "_includes/performance/applications-by-residence.njk" %}
      {% include "_includes/performance/applications-by-right-to-work-study.njk" %}
      {% include "_includes/performance/applications-by-english-language-qualification.njk" %}

    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>

  {% if subjectItems.length >= subjectItemsDisplayLimit %}
    <script type="text/javascript" src="/public/javascripts/components/checkbox-filter/checkbox-filter.js"></script>
    <script type="text/javascript">
      new AppFrontend.CheckboxFilter({
        container: $('#subject'),
        textBox: {
          label: 'Search for subject'
        }
      })
    </script>
  {% endif %}

{% endblock %}
