{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Check permissions before you invite user" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/users/new"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Invite user</span>
        <h1 class="govuk-heading-xl">{{title}}</h1>


      {% set permissionsHtml %}
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage organisation</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Make decisions</p>
        <div class="govuk-!-margin-left-5">
         {# <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[0].name }}
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[1].name }}
          </li>
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[2].name }}
          </li>
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[3].name }}
          </li>
        </ul> #}
        </div>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Access safeguarding information</p>
        <div class="govuk-!-margin-left-5">
         {# <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[0].name }}
          </li>
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[1].name }}
          </li>
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[2].name }}
          </li>
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[3].name }}
          </li>
        </ul> #}
        </div>
        <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Access diversity information</p>
        <div class="govuk-!-margin-left-5">
         {# <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[0].name }}
          </li>
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[1].name }}
          </li>
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[2].name }}
          </li>
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[3].name }}
          </li>
        </ul> #}
        </div>
      {% endset %}

      {% set permissions2Html %}
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage organisation</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Make decisions</p>
             <div class="govuk-!-margin-left-5">
         <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[0].name }}
          </li>
        </ul>
        </div>
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Access safeguarding information</p>
        <div class="govuk-!-margin-left-5">
         <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[0].name }}
          </li>
        </ul>
        </div>
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Access diversity information</p>
        <div class="govuk-!-margin-left-5">
         <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[0].name }}
          </li>
        </ul>
        </div>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: data['first-name']
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: data['last-name']
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: data['email-address']
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },

          {
            key: {
              text: "Permissions"
            },
            value: {
              html: permissionsHtml
            },
            actions: {
              items: [
                {
                  href: "/users/new/permissions",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          }
        ]
      }) }}

      <p>We'll send the user an email guiding them through DfE Sign-In and giving them access to their account.</p>

      <form novalidate method="post">
        {{govukButton({
          text: "Invite user"
        })}}
      </form>
    </div>
  </div>

{% endblock %}

{# {
            key: {
              text: "Organisations this user will have access to"
            },
            value: {
              html: "<p>" + data.organisations[0].name + "</p><p>" + data.organisations[4].name +"</p>"
            },
            actions: {
              items: [
                {
                  href: "/users/providers",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },









          ,
          {
            key: {
              text: "Permissions: " + data.organisations[4].name
            },
            value: {
              html: permissions2Html
            },
            actions: {
              items: [
                {
                  href: "/users/new/permissions2",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          }




          #}
