{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Check permissions before you invite user" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/users/new"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-xl">Invite user</span>
        <h1 class="govuk-heading-xl">{{title}}</h1>


      {% set permissionsHtml %}
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage organisation</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Make decisions</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} See safeguarding information</p>
      {% endset %}

      {% set permissions2Html %}
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage organisation</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Make decisions</p>
             <div style="padding-left: 25px;">
         <p class="govuk-!-margin-bottom-1">Applicable to courses ratified by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Somerset SCITT Consortium
          </li>
        </ul>
        </div>
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} See safeguarding information</p>
        <div style="padding-left: 25px;">
         <p class="govuk-!-margin-bottom-1">Applicable to courses ratified by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Somerset SCITT Consortium
          </li>
        </ul>
        </div>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: "Bill"
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Wessel"
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "bill.wessel@somesertscitt.org.uk"
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisations this user will have access to"
            },
            value: {
              html: "<p>Somerset SCITT</p><p>Ventrus Teaching School Alliance</p>"
            },
            actions: {
              items: [
                {
                  href: "/users/providers",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "For courses run and ratified by Somerset SCITT Consortium this user can"
            },
            value: {
              html: permissionsHtml
            },
            actions: {
              items: [
                {
                  href: "/users/new/permissions",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "For courses run by Ventrus Teaching School Alliance and ratified by Somerset SCITT Consortium this user can"
            },
            value: {
              html: permissions2Html
            },
            actions: {
              items: [
                {
                  href: "/users/new/permissions2",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          }
        ]
      }) }}

      <p>We'll send the user an email guiding them through DfE Sign-In and giving them access to their account.</p>

      <form novalidate method="post">
        {{govukButton({
          text: "Invite user"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
