{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% block beforeContent %}
  {{ govukBackLink({
    href: "/users/new"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-xl">Invite user</span>
        Select organisations this user will have access to
      {% endset %}

      <form novalidate method="post">
        {{ govukCheckboxes({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: organisationItems
        } | decorateAttributes(data, 'data.newuser.organisations') ) }}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
