{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/users/new/permissions"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-xl">Invite user</span>
        Select permissions: {{ data.organisations[4].name }}
      {% endset %}

      <form novalidate method="get" action="/users/new/check">

        {% set makeDecisionsHintHtml %}
          <p class="govuk-!-margin-bottom-1">Make offers, amend offers and reject applications</p>
          <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
          <ul class="govuk-list">
            <li>{{ appIcon({
                classes: "govuk-!-margin-right-1",
                icon: "tick",
                hidden: true
              }) }} {{ data.organisations[0].name }}
            </li>
          </ul>
        {% endset %}

        {% set safeguardingInformationHintHtml %}
          <p class="govuk-!-margin-bottom-1">View sensitive material about the candidate</p>
          <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
          <ul class="govuk-list">
            <li>{{ appIcon({
                classes: "govuk-!-margin-right-1",
                icon: "tick",
                hidden: true
              }) }} {{ data.organisations[0].name }}
            </li>
          </ul>
        {% endset %}

        {% set diversityInformationHintHtml %}
          <p class="govuk-!-margin-bottom-1">View diversity information about the candidate</p>
        <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
        <ul class="govuk-list">
            <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} {{ data.organisations[0].name }}
          </li>
        </ul>
      {% endset %}


        {{ govukCheckboxes({
            name: "permissions",
            fieldset: {
              legend: {
                html: h1,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--xl"
              }
            },
            hint: {
              text: "The user will be able to view all applications made to courses at these organisations. You don't need to set permissions for this."
            },
            items: [
              {
                value: "Manage organisation",
                text: "Manage organisation",
                label: {
                  classes: "govuk-label--s"
                },
                hint: {
                  html: "<p>Change permissions between organisations</p>"
                }
              },
              {
                value: "Manage users",
                text: "Manage users",
                label: {
                  classes: "govuk-label--s"
                },
                hint: {
                  html: "<p>Invite or delete users and set their permissions</p>"
                }
              },
              {
                value: "Make decisions",
                html: "Make decisions",
                label: {
                  classes: "govuk-label--s"
                },
                hint: {
                  html: makeDecisionsHintHtml
                }
              },
              {
                value: "See safeguarding information",
                text: "Access safeguarding information",
                label: {
                  classes: "govuk-label--s"

                },
                hint: {
                  html: safeguardingInformationHintHtml
                }
              },
              {
                value: "Access diversity information",
                text: "Access diversity information",
                label: {
                  classes: "govuk-label--s"
                },
                hint: {
                  html: diversityInformationHintHtml
                }
              }
            ]
          }) }}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
