{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Check permissions and invite user" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/organisation-settings/users/new"
  }) }}
{% endblock %}

{% block content %}

  {{orgs | log}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Invite user</span>
        {{title}}
      </h1>

      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['first-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/users/new">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['last-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/users/new">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['email-address']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/users/{{user.id}}/email-address/edit">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
      </dl>



        {% if data.user.organisations.length > 1 %}
          <h2 class="govuk-heading-m">
            Access to organisations
          </h2>
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Organisations this user will have access to
              </dt>
              <dd class="govuk-summary-list__value">
                {% for org in orgs %}
                  <p>{{org.org.name}}</p>
                {% endfor %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/users/new/organisations">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
          </dl>
        {% endif %}

        {% for org in orgs %}

          {% set runOrRatified %}
            {% if org.org.isAccreditedBody %}
              run
            {% else %}
              ratified
            {% endif %}
          {% endset %}

          <h2 class="govuk-heading-m">
            User permissions for {{org.org.name}}
          </h2>

          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              User permissions
            </dt>
            <dd class="govuk-summary-list__value">
              {{"View applications (excluding sensitive information)" if data.newuser.access[org.org.id] == "View applications"}}

              {{"Additional user permissions, such as making decisions or viewing sensitive information" if data.newuser.access[org.org.id] == "Additional permissions"}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/organisation-settings/users/new/permissions/{{org.org.id}}">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          {% if data.newuser.access[org.org.id] == "Additional permissions" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional user permissions
              </dt>
              <dd class="govuk-summary-list__value">
                {% if org.permissions.manageOrganisations %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      Manage organisational permissions
                    </p>
                  </div>
                {% endif %}
                {% if org.permissions.manageUsers %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      Manage users
                    </p>
                  </div>
                {% endif %}
                {% if org.permissions.setupInterviews %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      Set up interviews
                    </p>
                  </div>
                {% endif %}
                {% if org.permissions.makeDecisions %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      Make decisions
                    </p>
                  </div>
                {% endif %}
                {% if org.permissions.viewSafeguardingInformation %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      View criminal convictions and professional misconduct
                    </p>
                  </div>
                {% endif %}

                {% if org.permissions.viewDiversityInformation %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      View equality and diversity information
                    </p>
                  </div>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/users/new/additional-permissions/{{org.org.id}}">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
          {% endif %}
        </dl>
      {% endfor %}

      <form novalidate method="post">
        {{govukButton({
          text: "Invite user"
        })}}
      </form>
      <p class="govuk-body"><a href="/organisation-settings/users">Cancel</a></p>
    </div>
  </div>

{% endblock %}
