{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Check permissions and invite user" %}

{% set backLinkUrl %}/organisation-settings/{{org.id}}/users/new/additional-permissions{% endset %}
{% set cancelLinkUrl %}/organisation-settings/{{org.id}}/users/{% endset %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          Invite user
          {% if data.user.organisations.length > 1 %}
            - {{org.name}}
          {% endif %}
        </span>
        {{title}}
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['first-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/{org.id}/users/new">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['last-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/{org.id}/users/new">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['email-address']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>


        {% set runOrRatified %}
          {% if org.isAccreditedBody %}
            run
          {% else %}
            ratified
          {% endif %}
        {% endset %}



          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              User permissions
            </dt>
            <dd class="govuk-summary-list__value">
              {{"View applications (excluding sensitive information)" if data.newuser.access == "View applications"}}

              {{"Additional user permissions" if data.newuser.access == "Additional permissions"}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/permissions">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          {% if data.newuser.access == "Additional permissions" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional user permissions
              </dt>
              <dd class="govuk-summary-list__value">

                {% if checked(data.newuser.permissions, 'manageUsers') == 'checked' %}
                  <div class="app-permission-item">
                    <p class="govuk-!-margin-bottom-0">
                      Manage users
                    </p>
                  </div>
                {% endif %}

                {% if org.permissions.manageOrganisation %}
                  <div class="app-permission-item">
                    <p class="govuk-!-margin-bottom-0">
                      Manage organisational permissions
                    </p>
                  </div>
                {% endif %}


                {% if checked(data.newuser.permissions, 'setupInterviews') == 'checked' %}
                  <div class="app-permission-item">
                    <p class="govuk-!-margin-bottom-0">
                      Set up interviews
                    </p>
                  </div>
                {% endif %}
                {% if checked(data.newuser.permissions, 'makeDecisions') == 'checked' %}
                  <div class="app-permission-item">
                    <p class="govuk-!-margin-bottom-0">
                      Make decisions
                    </p>
                  </div>
                {% endif %}
                {% if checked(data.newuser.permissions, 'viewSafeguardingInformation') == 'checked' %}
                  <div class="app-permission-item">
                    <p class="govuk-!-margin-bottom-0">
                      View criminal convictions and professional misconduct
                    </p>
                  </div>
                {% endif %}

                {% if checked(data.newuser.permissions, 'viewDiversityInformation') == 'checked' %}
                  <div class="app-permission-item">
                    <p class="govuk-!-margin-bottom-0">
                      View equality and diversity information
                    </p>
                  </div>
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/additional-permissions">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
          {% endif %}
        </dl>

      <form novalidate method="post">
        {{govukButton({
          text: "Invite user"
        })}}
      </form>
      <p class="govuk-body"><a href="{{cancelLinkUrl}}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
