{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set caption = content.createUser.caption + ' - ' + org.name %}
{% set title = content.createUser.checkAnswers.heading + ' - ' + caption  %}
{% set heading = content.createUser.checkAnswers.heading %}

{% set backLinkUrl %}/organisation-settings/{{org.id}}/users/new/permissions{% endset %}
{% set cancelLinkUrl %}/organisation-settings/{{org.id}}/users/{% endset %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{caption}}
        </span>
        {{heading}}
      </h1>

      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['first-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/{org.id}/users/new">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['last-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/{org.id}/users/new">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['email-address']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">
        User permissions
      </h2>
      <p>All users can view applications.</p>

      <dl class="govuk-summary-list">

        {% set runOrRatified %}
          {% if org.isAccreditedBody %}
            run
          {% else %}
            ratified
          {% endif %}
        {% endset %}



          {# <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              User permissions
            </dt>
            <dd class="govuk-summary-list__value">
              {{"View applications (excluding sensitive information)" if data.newuser.access == "View applications"}}

              {{"Additional user permissions" if data.newuser.access == "Additional permissions"}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/permissions">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div> #}
          {# {% if data.newuser.access == "Additional permissions" %} #}
          {% if 1 == 1 %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Manage users
              </dt>
              <dd class="govuk-summary-list__value">

                {% if checked("newuser.permissions", "manageUsers") == "checked" %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/permissions">
                  Change<span class="govuk-visually-hidden"> Manage users</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Manage organisation permissions
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked("newuser.permissions", "manageOrganisation") == "checked" %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/permissions">
                  Change<span class="govuk-visually-hidden"> Manage organisation permissions</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Manage interviews
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked("newuser.permissions", "setupInterviews") == "checked" %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/permissions">
                  Change<span class="govuk-visually-hidden"> Manage interviews</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Make offers and reject applications
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked("newuser.permissions", "makeDecisions") == "checked" %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/permissions">
                  Change<span class="govuk-visually-hidden"> Make offers and reject applications</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                View criminal record and professional misconduct information
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked("newuser.permissions", "viewSafeguardingInformation") == "checked" %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/permissions">
                  Change<span class="govuk-visually-hidden"> View criminal record and professional misconduct information</span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                View sex, disability and ethnicity information
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked("newuser.permissions", "viewDiversityInformation") == "checked" %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/new/permissions">
                  Change<span class="govuk-visually-hidden"> View sex, disability and ethnicity information</span>
                </a>
              </dd>
            </div>
          {% endif %}
        </dl>

      {{ govukWarningText({
        text: "The user will be sent an email to tell them that they’ve been added to your organisation and what permissions they’ve been given.",
        iconFallbackText: "Fallback text"
      }) }}

      <form novalidate method="post">
        {{govukButton({
          text: content.createUser.checkAnswers.button
        })}}
      </form>
      <p class="govuk-body"><a href="{{cancelLinkUrl}}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
