{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}

{% set title = 'User permissions - Invite user' %}

{% set backLinkUrl %}/organisation-settings/{{org.id}}/users/new{% endset %}
{% set cancelLinkUrl %}/organisation-settings/{{org.id}}/users{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set runOrRatified %}
        {% if org.isAccreditedBody %}
          run
        {% else %}
          ratified
        {% endif %}
      {% endset %}

      {% set makeDecisionsHint %}
        {{appPermissions({
          runOrRatified: runOrRatified,
          applicableOrgs: permissions.applicableOrgs.makeDecisions,
          nonApplicableOrgs: permissions.nonApplicableOrgs.makeDecisions
        })}}
      {% endset %}

      {% set safeguardingHint %}
        {{appPermissions({
          runOrRatified: runOrRatified,
          applicableOrgs: permissions.applicableOrgs.viewSafeguardingInformation,
          nonApplicableOrgs: permissions.nonApplicableOrgs.viewSafeguardingInformation
        })}}
      {% endset %}

      {% set diversityHint %}
        {{appPermissions({
          runOrRatified: runOrRatified,
          applicableOrgs: permissions.applicableOrgs.viewDiversityInformation,
          nonApplicableOrgs: permissions.nonApplicableOrgs.viewDiversityInformation
        })}}
      {% endset %}

      {# {% set h1 %} #}
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          Invite user
          {% if data.user.organisations.length > 1 %}
            - {{org.name}}
          {% endif %}
        </span>
        User permissions
      {# {% endset %} #}
      </h1>



        {% set detailsHtml %}

          <h2 class="govuk-heading-s">
            Make offers and reject applications
          </h2>
          {{makeDecisionsHint | safe}}

          <h2 class="govuk-heading-s">
            View criminal convictions and professional misconduct
          </h2>
          {{safeguardingHint | safe}}

          <h2 class="govuk-heading-s">
            View sex, disability and ethnicity information
          </h2>
          {{diversityHint | safe}}
        {% endset %}

        <p>Some user permissions are affected by organisational permissions.</p>
        {{ govukDetails({
          summaryText: "Check how organisational permissions affect things",
          html: detailsHtml
        }) }}




      <form novalidate method="post">
        {{ govukCheckboxes({
          fieldset: {
            legend: {
              html: "Choose user permssions",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }

          },
          hint: {
              text: "All users can view applications."
            },
          items: [
            {
              value: "manageUsers",
              text: "Manage users"
            },
            {
              value: "manageOrganisation",
              text: "Manage organisational permissions"
            },
            {
              value: "setupInterviews",
              html: "Manage interviews"
            },
            {
              value: "makeDecisions",
              html: "Make offers and reject applications",
              hint: {
                html: makeDecisionsHint
              } if 1 == 2
            },
            {
              value: "viewSafeguardingInformation",
              text: "View criminal convictions and professional misconduct",
              hint: {
                html: safeguardingHint
              } if 1 == 2
            },
            {
              value: "viewDiversityInformation",
              text: "View sex, disability and ethnicity information",
              hint: {
                html: diversityHint
              } if 1 == 2
            }
          ]
        } | decorateAttributes(data, 'data.newuser.permissions')) }}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
      <p class="govuk-body"><a href="{{cancelLinkUrl}}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
