{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}

{% set title = 'User permissions - Invite user' %}

{% set backLinkUrl %}/organisation-settings/{{org.id}}/users/new{% endset %}
{% set cancelLinkUrl %}/organisation-settings/{{org.id}}/users{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          Invite user - {{org.name}}
        </span>
        User permissions
      </h1>

      {% include "_includes/users/organisational-permissions-content.njk" %}

      <form novalidate method="post">
        {{ govukCheckboxes({
          fieldset: {
            legend: {
              html: "Choose user permissions",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
              text: "All users can view applications."
            },
          items: [
            {
              value: "manageUsers",
              text: "Manage users"
            },
            {
              value: "manageOrganisation",
              text: "Manage organisational permissions"
            },
            {
              value: "makeDecisions",
              html: "Make offers and reject applications"
            },
            {
              value: "setupInterviews",
              html: "Manage interviews"
            },
            {
              value: "viewSafeguardingInformation",
              text: "View criminal convictions and professional misconduct"
            },
            {
              value: "viewDiversityInformation",
              text: "View sex, disability and ethnicity information"
            }
          ]
        } | decorateAttributes(data, 'data.newuser.permissions')) }}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
      <p class="govuk-body"><a href="{{cancelLinkUrl}}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
