{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}

{% set title = 'Select organisations this user will have access to - Invite user' %}

{% set backLinkUrl %}/organisation-settings/{{org.id}}/users/new{% endset %}
{% set cancelLinkUrl %}/organisation-settings/{{org.id}}/users/{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">
          Invite user
          {% if data.user.organisations.length > 1 %}
            to {{org.name}}
          {% endif %}
        </span>
        User permissions
      {% endset %}

      <form novalidate method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "View applications",
              text: "View applications (excluding sensitive information)"
            },
            {
              value: "Additional permissions",
              text: "Additional user permissions, such as making decisions or viewing sensitive information"
            }
          ]
        } | decorateAttributes(data, 'data.newuser.access')) }}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
      <p class="govuk-body"><a href="{{cancelLinkUrl}}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
