{% extends "_layout.njk" %}

{% set application = data.applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}

{% set title = "Check and confirm offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/new/change-course/conditions'
  }) }}
{% endblock %}

{% set conditionsHtml %}
  {% if conditions.length %}
    <ul class="govuk-list govuk-list--bullet">
      {% for condition in conditions %}
        <li>{{ condition.description }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p class="govuk-body">None specified</p>
  {% endif %}
{% endset %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {{ govukSummaryList({
          rows: [{
            key: {
              text: "Provider"
            },
            value: {
              html: application.provider
            }
          }, {
            key: {
              text: "Course"
            },
            value: {
              html: application.course
            }
          }, {
            key: {
              text: "Location"
            },
            value: {
              html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
            }
          },
          {
            key: {
              text: "Conditions"
            },
            value: {
              text: conditionsHtml | safe
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/new/change-course/conditions",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }
        ]})
      }}

      <p class="govuk-body">By making this offer, you guarantee this candidate a place on their chosen course, if they meet the conditions you have set out.</p>
      <p class="govuk-body">Once the candidate has accepted, you can only change the conditions of this offer with their permission.</p>

      <form method="post">
        {{ govukButton({
          text: "Make offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
