{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = "Check your feedback and withdraw offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/reject/other-reasons-for-rejection/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <p>Your feedback will be given to the candidate in the format below.</p>

      {% set rejectionReasons = data.rejectionReasons %}
      {% set rejectionChangeLinks = true %}
      {% include "_includes/candidate-feedback.njk" %}

      <form method="post">
        {{ govukButton({
          text: "Withdraw offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>
{% endblock %}
