{% extends "_layout.njk" %}

{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set parent = "Application for " + application.course %}
{% set title = "Withdraw offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Tell {{name}} why you're withdrawing your offer</h1>
      <p>You can increase this candidate’s chances of future success by giving them feedback.</p>
      <form method="post">

        {% include "_includes/reject-form-fields.njk" %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
