{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}

{% set name = application.personalDetails.name %}

{% set title = "Confirm that you want to defer this offer" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        {{name}}
      </span>
      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p>You’ll need to confirm the deferred offer at the start of the next recruitment cycle.</p>

      <p>The candidate will be sent an email to confirm that their offer has been deferred.</p>

      <form method="post">
        {{ govukButton({
          text: "Defer offer"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
