<div class="app-activity-log__group">
  {%- for event in events %}
    {% set name = event.application.personalDetails.name %}

    <div class="app-activity-log__item">
      <div class="app-activity-log__header">
        <h2 class="app-activity-log__title govuk-heading-s govuk-!-margin-bottom-1">
          {{event.event.title}} ({{name}})
          <span class="govuk-visually-hidden">{{- event.event.date | govukDateAtTime -}}</span>
        </h2>
        <p class="app-activity-log__byline govuk-body-">
          {{event.event.user}},
          <time datetime="{{ event.event.date | formatDate }}">
            {{- event.event.date | govukDateAtTime -}}
          </time>
        </p>
      </div>
      <div class="app-activity-log__description">

         {% if event.event.title == 'Note added' %}

          <div class="app-activity-log__box">
            {{appEventNote({
              application: event.application,
              offer: event.application.offer,
              note: event.event.meta.note
            })}}
          </div>

          <p class="app-log-card__note--link">
            <a class="govuk-link" href="/applications/{{event.application.id}}/notes/{{event.event.meta.note.id}}">
              View note
              <span class="govuk-visually-hidden">
                Candidate {{event.application.personalDetails.name}}
                Event date {{event.event.date | govukDateAtTime}}
              </span>
            </a>
          </p>

        {% endif %}

        {% if event.event.title in ["Assigned users updated", "User assigned", "Users assigned"] %}
          <div class="app-activity-log__box">
            {{ appEventApplicationAssignment({ assignedUsers: event.event.assignedUsers }) }}
          </div>
          <p class="app-log-card__note--link">
            <a class="govuk-link" href="/applications/{{event.application.id}}">View application</a>
          </p>
        {% endif %}

        {% if event.event.title == 'Interview cancelled' %}

          <div class="app-activity-log__box">
            {{appEventInterview({
              interview: event.event.meta.interview,
              cancellationReason: event.event.meta.cancellationReason
            })}}
          </div>

        {% endif %}


        {% if event.event.title == 'Interview changed' or event.event.title == 'Interview set up' %}

          <div class="app-activity-log__box">
            {{appEventInterview({ interview: event.event.meta.interview })}}
          </div>

          {{event | log}}

          {% if event.event.meta.interviewExists %}
            <p class="app-log-card__note--link"><a href="/applications/{{event.application.id}}/interviews/#interview{{event.meta.interview.id}}">View interview <span class="govuk-visually-hidden">{{event.meta.interview.date | govukDateAtTime}}</span></a></p>
          {% endif %}

        {% endif %}

        {% if event.event.title == "Conditions marked as met" or event.event.title == "Conditions marked as not met" or event.event.title == "Status of conditions updated"  %}
          <div class="app-activity-log__box">
            {{appConditionsPanel({
              conditions: event.event.meta.offer.conditions
            })}}
          </div>
          <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{event.application.id}}/offer">
              View offer
              <span class="govuk-visually-hidden">
                Candidate {{event.application.personalDetails.name}}
                Event date {{event.event.date | govukDateAtTime}}
              </span>
            </a></p>
        {% endif %}


        {% if event.event.title == "Offer withdrawn" or event.event.title == "Offer accepted" or event.event.title == "Offer made" or event.event.title == "Offer declined" or event.event.title == "Offer changed" or event.event.title == "Offer deferred" or event.event.title == "Offer reconfirmed" %}

          <div class="app-activity-log__box">
            {{appEventOffer({ offer: event.event.meta.offer })}}
          </div>

          {% if event.event.title == "Offer withdrawn" %}
            <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{event.application.id}}/feedback">
              View feedback
              <span class="govuk-visually-hidden">
                Candidate {{event.application.personalDetails.name}}
                Event date {{event.event.date | govukDateAtTime}}
              </span>
            </a></p>
          {% else %}
            <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{event.application.id}}/offer">
              View offer
              <span class="govuk-visually-hidden">
                Candidate {{event.application.personalDetails.name}}
                Event date {{event.event.date | govukDateAtTime}}
              </span>
            </a></p>
          {% endif %}

        {% endif %}

        {% if event.event.title == "Application submitted" or event.event.title == "Application withdrawn" or event.event.title == "Application rejected" %}

          <div class="app-activity-log__box">
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Training provider"
                },
                value: {
                  text: event.application.provider
                }
              },
              {
                key: {
                  text: "Course"
                },
                value: {
                  text: event.application.course
                }
              },
              {
                key: {
                  text: "Location"
                },
                value: {
                  text: event.application.location
                }
              },
              {
                key: {
                  text: "Accredited body"
                },
                value: {
                  text: event.application.accreditedBody
                }
              }
            ]
          }) }}
          </div>

          {% if event.application.rejectedReasons %}
            <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{event.application.id}}/feedback">
              View feedback
              <span class="govuk-visually-hidden">
                Candidate {{event.application.personalDetails.name}}
                Event date {{event.event.date | govukDateAtTime}}
              </span>
            </a></p>
          {% else %}
            <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{event.application.id}}">
              View application
              <span class="govuk-visually-hidden">
                Candidate {{event.application.personalDetails.name}}
                Event date {{event.event.date | govukDateAtTime}}
              </span>
            </a></p>
          {% endif %}
        {% endif %}
      </div>
    </div>

  {% endfor %}
</div>
