{% from "_components/icon/macro.njk" import appIcon %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}

<div class="app-interview-card">
{% if params.date %}
  <div class="app-interview-card__time">
    <p class="govuk-!-margin-bottom-1">
      <a href="{{params.link}}" class="govuk-link--no-visited-state">
      <time datetime="{{ params.date }}">
        {{ params.date | govukTime }}
      </time>
      <span class="govuk-visually-hidden"> on {{ params.date | govukDate }} with {{params.name}}</span>
      </a>
    </p>
  </div>
{% endif %}
  <div class="app-interview-card__candidate">
    <p class="govuk-!-margin-bottom-1">{% if params.date %}{{params.name}}{% else %}<a href="{{params.link}}" class="govuk-link--no-visited-state">{{params.name}}</a>{% endif %}</p>
    {% if params.hasInterviewPreferences %}<p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">Has interview preferences</p>{% endif %}
  </div>
  <div class="app-interview-card__course">
    <p class="govuk-!-margin-bottom-1">{{ params.course }} </p>
    <p class="govuk-caption-m govuk-!-margin-bottom-1">{{ params.provider }}</p>
  </div>
</div>
