{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% if application.status == "Rejected" %}
  {% set caption = content.giveFeedback.caption + ' - ' + name %}
  {% set heading = content.giveFeedback.checkAnswers.heading %}
  {% set buttonText = content.giveFeedback.checkAnswers.button %}
{% else %}
  {% set caption = content.rejectApplication.caption + ' - ' + name %}
  {% set heading = content.rejectApplication.checkAnswers.heading %}
  {% set buttonText = content.rejectApplication.checkAnswers.button %}
{% endif %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/reject/reasons"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>

      {% set rejectionReasons = data.rejection %}
      {% set showChangeLinks = true %}

      <p class="govuk-body">The candidate will be sent this email:</p>
      {% include "_includes/candidate-feedback.njk" %}


    {% if rejectionReasons.degreeCriteria == 'not-met' or rejectionReasons.englishCriteria == 'not-met' or rejectionReasons.mathsCriteria == 'not-met'  or rejectionReasons.scienceCriteria == 'not-met' %}

    {% else %}
      {{ govukRadios({
          name: "degree",
          fieldset: {
            legend: {
              text: "Would you recommend this candidate?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Candidates that meet the ITT criteria will be invited to join a shortlist where providers can contact them directly to offer places or interviews."
          },
          items: [
            {
              value: "england",
              text: "Yes, they should be invited"
            },
            {
              value: "scotland",
              text: "No",
              hint: {
                text: "Your answer will not be shown to the candidate"
              }
            }
          ]
        }) }}
      {% endif %}

      <form method="post">
        {{ govukButton({
          text: buttonText
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
