{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% if application.status == "Rejected" %}
  {% set caption = 'Give feedback' + ' - ' + name %}
  {% set title = "Check details and give feedback" %}
  {% set buttonText = "Give feedback" %}
{% else %}
  {% set caption = content.rejectApplication.caption + ' - ' + name %}
  {% set title = content.rejectApplication.checkAnswers.heading %}
  {% set buttonText = content.rejectApplication.checkAnswers.button %}
{% endif %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/reject"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% set rejectionReasons = data.rejection %}
      {% set showChangeLinks = true %}
      {% include "_includes/candidate-feedback.njk" %}

      {% if upcomingInterviews.length == 1 %}
         {{ govukWarningText({
          text: "The candidate will be sent emails with details of why you’ve rejected their application and to cancel their upcoming interview.",
          iconFallbackText: "Fallback text"
        }) }}
      {% elseif upcomingInterviews.length > 1 %}
        {{ govukWarningText({
          text: "The candidate will be sent emails with details of why you’ve rejected their application and to cancel their upcoming interviews.",
          iconFallbackText: "Fallback text"
        }) }}
      {% else %}
        {% if application.status == "Rejected" %}
          {{ govukWarningText({
          text: "The candidate will be sent an email with your feedback.",
          iconFallbackText: "Fallback text"
        }) }}
        {% else %}
          {{ govukWarningText({
          text: "The candidate will be sent an email with details of why you’ve rejected their application.",
          iconFallbackText: "Fallback text"
        }) }}
        {% endif %}

      {% endif %}

      <form method="post">
        {{ govukButton({
          text: buttonText
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
