{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% if application.status == "Rejected" %}
  {% set caption = content.giveFeedback.caption + ' - ' + name %}
  {% set heading = content.giveFeedback.checkAnswers.heading %}
  {% set buttonText = content.giveFeedback.checkAnswers.button %}
{% else %}
  {% set caption = content.rejectApplication.caption + ' - ' + name %}
  {% set heading = content.rejectApplication.checkAnswers.heading %}
  {% set buttonText = content.rejectApplication.checkAnswers.button %}
{% endif %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/reject"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>

      {% set rejectionReasons = data.rejection %}
      {% set showChangeLinks = true %}
      {% include "_includes/candidate-feedback.njk" %}

      {% if upcomingInterviews.length == 1 %}
         {{ govukWarningText({
          text: "The candidate will be sent emails to tell them why you rejected their application and that the upcoming interview has been cancelled."
        }) }}
      {% elseif upcomingInterviews.length > 1 %}
        {{ govukWarningText({
          text: "The candidate will be sent emails to tell them why you rejected their application and that the upcoming interviews have been cancelled."
        }) }}
      {% else %}
        {% if application.status == "Rejected" %}
          {{ govukWarningText({
          text: "The candidate will be sent an email to tell them why their application was rejected."
        }) }}
        {% else %}
          {{ govukWarningText({
          text: "The candidate will be sent an email to tell them why you rejected their application."
        }) }}
        {% endif %}

      {% endif %}

{{ govukRadios({
        name: "degree",
        fieldset: {
          legend: {
            text: "Would you recommend this candidate?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "These candidates will be invited to join a list of candidates who  providers can contact to directly offer places or interviews."
        },
        items: [
          {
            value: "england",
            text: "Yes, they should be invited"
          },
          {
            value: "scotland",
            text: "No",
            hint: {
              text: "Your answer will not be shown to the candidate"
            }
          }
        ]
      }) }}


      <form method="post">
        {{ govukButton({
          text: buttonText
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
