{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Update the status of conditions" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/decision"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <p>To mark a condition as not met, select ‘Continue’.</p>

      {{ govukButton({
        text: "Continue",
        href: '/applications/'+application.id+'/offer/edit-condition-statuses'
      }) }}

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
