{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Other reasons for rejecting this application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/reject/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

      {% set html %}
        <h3 class="govuk-notification-banner__heading">
          {{ application.course }} has been closed for new applications
        </h3>
      {% endset %}

      {{ govukNotificationBanner({
        html: html,
        type: 'success'
      }) }}

      <form method="post" action="/applications/{{ application.id }}/reject/other-reasons-for-rejection">
        {% set isOtherAdviceAnH1 = true %}
        {% include "_includes/reasons/other-advice.njk" %}

        <input type="hidden" name="rejectionReasons[course-full]" value="Yes">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
