{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% if application.status == "Rejected" %}
  {% set caption = content.giveFeedback.caption + ' - ' + name %}
  {% set heading = "Reasons the application was rejected" %}
{% else %}
  {% set caption = content.rejectApplication.caption + ' - ' + name %}
  {% set heading = "Reasons for rejecting the application" %}
{% endif %}
{% set title = heading + ' - ' + caption %}


{% set degrees = application.degree %}

{% block pageNavigation %}
  {% set backUrl = "/applications/" + application.id + "/decision" %}
  {% if application.status == "Rejected" %}
    {% set backUrl = "/applications/" + application.id %}
  {% endif %}

  {{ govukBackLink({
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">{{caption}}</span>
        {{heading}}
      {% endset %}

      <form method="post" action="/applications/{{ application.id }}/reject/maths">

      <h1 class="govuk-heading-l">Degree</h1>

      <p class="govuk-body">They must have degree comprising of 300 HE credit points, of which 60 must be at level 6 of the QCF. Applicants with a foundation degree will need to supplement this qualification with at least 60 credits at level 6 (HE level 3) in order to attain an equivalent single qualification.</p>


      <p class="govuk-body">{{ name }} added {% if degrees | length > 1 %}these qualifications{% else %}this qualification{% endif %}:</p>


{% for item in degrees %}


    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.type }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subject
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.subject }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Institution
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.institution }}
        </dd>
      </div>

      {% if item.predicted %}
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Have you completed this degree?
        </dt>
        <dd class="govuk-summary-list__value">
          No
        </dd>
      </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ 'Predicted grade' if item.predicted else 'Grade' }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.grade }}
        </dd>
      </div>

      {% if item.country != "United Kingdom" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country or territory
          </dt>
          <dd class="govuk-summary-list__value">
            {{ item.country }}
          </dd>
        </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start year
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.startYear }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Graduation year
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.graduationYear }}
        </dd>
      </div>

    </dl>
{% endfor %}

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "degree",
        fieldset: {
          legend: {
            text: "Do they meet the degree criteria?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: "If you are not sure, contact us."
        },
        items: [
          {
            value: "england",
            text: "Yes"
          },
          {
            value: "scotland",
            text: "No"
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
