{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% if application.status == "Rejected" %}
  {% set caption = content.giveFeedback.caption + ' - ' + name %}
  {% set heading = "Reasons the application was rejected" %}
{% else %}
  {% set caption = content.rejectApplication.caption + ' - ' + name %}
  {% set heading = "Reasons for rejecting the application" %}
{% endif %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {% set backUrl = "/applications/" + application.id + "/decision" %}
  {% if application.status == "Rejected" %}
    {% set backUrl = "/applications/" + application.id %}
  {% endif %}

  {{ govukBackLink({
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">{{caption}}</span>
        {{heading}}
      {% endset %}

      <form method="post" action="/applications/{{ application.id }}/reject/english-answer">

      <h1 class="govuk-heading-l">English GCSE equivalent</h1>

      <p class="govuk-body">Candidates must have achieved a standard equivalent to a grade 4 (C) in the GCSE examinations in English.</p>

      <p class="govuk-body">It is the standard, not the certificate, that matters. Candidates who are otherwise suitable but have not successfully achieved a GCSE grade 4 may be given an opportunity to show that they can meet the required standard either by taking an equivalence test or by offering other evidence of attainment, which should demonstrate a similar level and breadth.</p>

       <p class="govuk-body">Contact <a href="#">becomingateacher@digital.education.gov.uk</a> if you're not sure this candidate meets the criteria.</p>


      <p class="govuk-body">{{ name }} has said this:</p>

      {% set item = application.gcse.english %}

      {% set gradesHtml %}
        <ul class="govuk-list">
        {% for grade in item.grade %}
          <li>{{ grade.grade }}{% if grade.exam %} ({{ grade.exam }}){% endif %}</li>
        {% endfor %}
        </ul>
      {% endset %}

      <dl class="govuk-summary-list">
        {% if item.hasQualification == "Yes" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Qualification type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.type }}
            </dd>
          </div>

          {% if item.country != "United Kingdom" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Country or territory
              </dt>
              <dd class="govuk-summary-list__value">
                {{ item.country }}
              </dd>
            </div>
          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Grade
            </dt>
            <dd class="govuk-summary-list__value">
              {{ gradesHtml | safe }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Year awarded
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.year }}
            </dd>
          </div>

          {% if item.retake %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Are you currently studying to retake this qualification?
              </dt>
              <dd class="govuk-summary-list__value">
                {{ item.retake.isRetaking }}
              </dd>
            </div>
            {% if item.retake.isRetaking == "No" %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Evidence of having {{ item.subject if item.subject == 'English' else item.subject | lower }} skills at the required standard
                </dt>
                <dd class="govuk-summary-list__value">
                  {{ item.retake.evidence }}
                </dd>
              </div>
            {% endif %}
          {% endif %}

          {% if item.naric %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                UK ENIC reference number
              </dt>
              <dd class="govuk-summary-list__value">
                {{ item.naric.reference }}
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Comparable UK qualification
              </dt>
              <dd class="govuk-summary-list__value">
                {{ item.naric.comparable }}
              </dd>
            </div>
          {% else %}
            {% if application.personalDetails.isInternationalCandidate %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  Do you have a UK ENIC statement of comparability?
                </dt>
                <dd class="govuk-summary-list__value">
                  No
                </dd>
              </div>
            {% endif %}
          {% endif %}

        {% else %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              What type of {{ item.subject if item.subject == 'English' else item.subject | lower }} qualification do you have?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.missing.hasQualification }}
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Are you currently studying for this qualification?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.missing.isStudying }}
            </dd>
          </div>

          {% if item.missing.studyingDetails %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Details of the qualification you’re studying for
              </dt>
              <dd class="govuk-summary-list__value">
                {{ item.missing.studyingDetails }}
              </dd>
            </div>
          {% endif %}

          {% if item.missing.otherReason %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Other evidence of having {{ item.subject if item.subject == 'English' else item.subject | lower }} skills at the required standard
              </dt>
              <dd class="govuk-summary-list__value">
                {{ item.missing.otherReason }}
              </dd>
            </div>
          {% endif %}

        {% endif %}
      </dl>

      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        name: "rejection[englishCriteria]",
        fieldset: {
          legend: {
            text: "Do they meet the standard equivalent to a grade 4 (C) English GCSE?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "met-qualification",
            text: "Yes, they have an equivalent qualification",
            checked: (data.rejection.englishCriteria == 'met-qualification')
          },
          {
            value: "met-standard",
            text: "Yes, they’ve demonstrated they meet the standard in another way",
            checked: (data.rejection.englishCriteria == 'met-standard')
          },
          {
            value: "not-met",
            text: "They do not have an equivalent qualification and we’re not able to offer a GCSE equivalency test",
            checked: (data.rejection.englishCriteria == 'met-standard')
          }
        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
