{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% set title = "Reasons for rejecting this application" %}

{% block pageNavigation %}
  {% set backUrl = "/applications/" + application.id + "/decision" %}
  {% if application.status == "Rejected" %}
    {% set backUrl = "/applications/" + application.id %}
  {% endif %}

  {{ govukBackLink({
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">{{name}}</span>
        {{title}}
      {% endset %}

      <form method="post">

        {% set qualificationReasonsHtml %}
          {% include "_includes/reasons/qualifications.njk" %}
        {% endset %}

        {% set personalStatementReasonsHtml %}
          {% include "_includes/reasons/personal-statement.njk" %}
        {% endset %}

        {% set teachingKnowledgeReasonsHtml %}
          {% include "_includes/reasons/teaching-knowledge.njk" %}
        {% endset %}


        {% set referencesHtml %}
          {{appRejectionDetails({ category: 'references', reason: 'details', data: data })}}
        {% endset %}

        {% set communicationIssueReasonsHtml %}
          {% include "_includes/reasons/professionalism.njk" %}
        {% endset %}

        {% set sponsorshipHtml %}
          {{appRejectionDetails({ category: 'sponsorship', reason: 'details', data: data })}}
        {% endset %}

        {% set criminalHtml %}
          {{appRejectionDetails({ category: 'criminal', reason: 'details', data: data })}}
        {% endset %}

        {% set courseFullHtml %}
          {{appRejectionDetails({ category: 'course-full', reason: 'details', data: data })}}
        {% endset %}

        {% set otherDetailsHtml %}
          {{appRejectionDetails({ category: 'other', reason: 'details', data: data })}}
        {% endset %}

        {{ govukCheckboxes({
          idPrefix: "rejection-categories",
          name: "rejection[categories]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Qualifications",
              text: "Qualifications",
              checked: checked(data['rejection']['categories'], "Qualifications"),
              conditional: {
                html: qualificationReasonsHtml
              }
            },
            {
              value: "Personal statement",
              text: "Personal statement",
              checked: checked(data['rejection']['categories'], "Personal statement"),
              conditional: {
                html: personalStatementReasonsHtml
              }
            },
            {
              value: "Teaching knowledge and ability",
              text: "Teaching knowledge and ability",
              checked: checked(data['rejection']['categories'], "Teaching knowledge and ability"),
              conditional: {
                html: teachingKnowledgeReasonsHtml
              }
            },
            {
              value: "Communication issue",
              text: "Communication issue",
              checked: checked(data['rejection']['categories'], "Communication issue"),
              conditional: {
                html: communicationIssueReasonsHtml
              }
            },
            {
              value: "References",
              text: "References",
              checked: checked(data['rejection']['categories'], "References"),
              conditional: {
                html: referencesHtml
              }
            },
            {
              value: "Visa sponsorship",
              text: "Visa sponsorship",
              checked: checked(data['rejection']['categories'], "Visa sponsorship"),
              conditional: {
                html: sponsorshipHtml
              }
            },
            {
              value: "Criminal record or professional misconduct",
              text: "Criminal record or professional misconduct",
              checked: checked(data['rejection']['categories'], "Criminal record or professional misconduct"),
              conditional: {
                html: criminalHtml
              }
            },
            {
              value: "Course full",
              text: "Course full",
              checked: checked(data['rejection']['categories'], "Course full"),
              conditional: {
                html: courseFullHtml
              }
            },
            {
              value: "Other",
              text: "Other",
              checked: checked(data['rejection']['categories'], "Other"),
              conditional: {
                html: otherDetailsHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
