{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% if application.status == "Rejected" %}
  {% set caption = content.giveFeedback.caption + ' - ' + name %}
  {% set heading = "Reasons the application was rejected" %}
{% else %}
  {% set caption = content.rejectApplication.caption + ' - ' + name %}
  {% set heading = "Reasons for rejecting the application" %}
{% endif %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {% set backUrl = "/applications/" + application.id + "/decision" %}
  {% if application.status == "Rejected" %}
    {% set backUrl = "/applications/" + application.id %}
  {% endif %}

  {{ govukBackLink({
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">{{caption}}</span>
        {{heading}}
      {% endset %}

      <form method="post" action="/applications/{{ applicationId }}/reject/other">

      <h1 class="govuk-heading-l">ITT criteria</h1>

      <p class="govuk-body">Contact <a href="#" class="govuk-link">becomingateacher@digital.education.gov.uk</a> if you are unsure whether the candidate meets the criteria.</p>

      <h2 class="govuk-heading-m">Degree</h2>
      <p class="govuk-body">They must have degree comprising of 300 HE credit points, of which 60 must be at level 6 of the QCF. Applicants with a foundation degree will need to supplement this qualification with at least 60 credits at level 6 (HE level 3) in order to attain an equivalent single qualification.</p>

      <h2 class="govuk-heading-m">GCSE standard</h2>
      <p class="govuk-body">You can give candidates without a qualification the opportunity to show they meet the required standard by taking an equivalence test or giving other evidence they meet the standard.</p>


      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
      {{ govukCheckboxes({
        name: "waste",
        fieldset: {
          legend: {
            text: "Does " + name + " meet the criteria?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "carcasses",
            text: "They have a degree or equivalent"
          },
          {
            value: "mines",
            text: "They meet the maths standard of GCSE C/4"
          },
          {
            value: "farm",
            text: "They meet the science standard of GCSE C/4"
          },
          {
            value: "farm",
            text: "They meet the English standard of GCSE C/4"
          }

        ]
      }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}
