{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Reasons for closing this application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/decision"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <p>The candidate will be sent this feedback.</p>

      <form method="post">
        {% include "_includes/reasons/actions.njk" %}
        {% include "_includes/reasons/application-quality.njk" %}
        {% include "_includes/reasons/missing-qualifications.njk" %}
        {% include "_includes/reasons/interview-performance.njk" %}
        {% include "_includes/reasons/honesty.njk" %}
        {% include "_includes/reasons/safeguarding.njk" %}
        {% include "_includes/reasons/other-offer.njk" %}
        {% include "_includes/reasons/course-full.njk" %}
        {% include "_includes/reasons/asked.njk" %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
