{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Other reasons for rejection" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/reject/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      <p>The candidate will see this feedback.</p>

      <form method="post">
        {% include "_includes/reject-form-fields-3.njk" %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
