{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Other reasons for rejecting this application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/reject/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {% if noReasonsGivenYet %}
          <span class="govuk-caption-l">{{name}}</span>
          <h1 class="govuk-heading-l">{{title}}</h1>
          <p>The candidate will see this feedback.</p>

          {% include "_includes/reasons/why.njk" %}
          {% include "_includes/reasons/other-advice.njk" %}
        {% else %}

          {% set isOtherAdviceAnH1 = true %}
          {% include "_includes/reasons/other-advice.njk" %}

        {% endif %}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
