{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.updateOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = content.updateOffer.checkAnswers.heading %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
{{ govukBackLink({
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{heading}}
      </h1>

      {{ appOfferPanel({
        provider: {
          value: data['edit-offer'].provider or application.offer.provider,
          href: "/applications/" + application.id + "/offer/edit/provider?referrer=check" if 1 == 0
        },
        course: {
          value: course.name + " (" + course.code + ")",
          href: "/applications/" + application.id + "/offer/edit/course?referrer=check"
        },
        studyMode: {
          value: studyMode,
          href: "/applications/" + application.id + "/offer/edit/study-mode?referrer=check" if course.studyModes.length > 1
        },
        location: {
          value: appLocation(location),
          href: "/applications/" + application.id + "/offer/edit/location?referrer=check" if course.locations.length > 1
        },
        accreditedBody: {
          value: application.offer.accreditedBody
        } if application.offer.accreditedBody != (data['edit-offer'].provider or application.offer.provider),
        qualifications: {
          value: course.qualifications | arrayToList(', ',' with ')
        },
        fundingType: {
          value: application.offer.fundingType
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "/applications/" + application.id + "/offer/edit/conditions?referrer=check"
        }
      }) }}

      {{ govukWarningText({
        text: "The candidate will be sent an email with details of your offer.",
        iconFallbackText: "Fallback text"
      }) }}

      <form action="{{ actions.save }}" method="post" accept-charset="UTF-8" novalidate>
        {{ govukButton({
          text: content.updateOffer.checkAnswers.button
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
