{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = application.personalDetails.name %}
{% set title = "Check and send new offer" %}

{% block pageNavigation %}
{% if referrer == "location" %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer/edit/location"
  }) }}
{% else %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer/edit/conditions"
  }) }}
{% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ title }}
      </h1>

      {{ appOfferPanel({
        provider: {
          value: data['edit-offer']['provider'] or application.offer.provider,
          href: "/applications/" + application.id + "/offer/edit/provider?referrer=check" if 1 == 0
        },
        course: {
          value: course.name + " (" + course.code + ")",
          href: "/applications/" + application.id + "/offer/edit/course?referrer=check"
        },
        location: {
          value: location or (appLocation(application.location) if application.location.name else application.location),
          href: "/applications/" + application.id + "/offer/edit/location?referrer=check"
        },
        studyMode: {
          value: application.offer.studyMode,
          href: "/applications/" + application.id + "/offer/edit/study-mode?referrer=check"
        },
        accreditedBody: {
          value: application.offer.accreditedBody
        },
        fundingType: {
          value: application.offer.fundingType
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "/applications/" + application.id + "/offer/edit/conditions?referrer=check"
        }
      }) }}

      <form action="/applications/{{ application.id }}/offer/edit/check" method="post" accept-charset="UTF-8" novalidate>
        {{ govukButton({
          text: "Send new offer"
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="/applications/{{ application.id }}/offer/edit/cancel">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
