{% extends "_layout.njk" %}

{% set name = application.personalDetails.name %}

{% set title = "Check and send new offer" %}

{% block pageNavigation %}
  {% if referrer == 'location' %}
    {{ govukBackLink({
      href: '/applications/' + application.id + '/offer/edit/location'
    }) }}
  {% else %}
    {{ govukBackLink({
      href: '/applications/' + application.id + '/offer/edit/conditions'
    }) }}
  {% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{appOfferPanel({
        provider: {
          value: data['edit-offer']['provider'] or application.offer.provider,
          href: "/applications/" + application.id + "/offer/edit/provider?referrer=check"
        },
        course: {
          value: data['edit-offer']['course'] or application.offer.course,
          href: "/applications/" + application.id + "/offer/edit/course?referrer=check"
        },
        location: {
          value: data['edit-offer']['location'] or application.offer.location,
          href: "/applications/" + application.id + "/offer/edit/location?referrer=check"
        },
        studyMode: {
          value: "Full time",
          href: "#"
        },
        accreditedBody: {
          value: application.offer.accreditedBody
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "/applications/" + application.id + "/offer/edit/conditions?referrer=check"
        }
      })}}

      {# {% set currentProvider = application.offer.provider %}
      {% set newProvider = data['edit-offer']['provider'] %}
      {% if conditions.length %}
        <p>By sending this offer, you’re guaranteeing the candidate a place on the course as long as they meet the conditions.</p>
      {% else %}
        <p>By sending this offer, you’re guaranteeing the candidate a place on the course.</p>
      {% endif %} #}

      {# {% if newProvider and currentProvider != newProvider %}
        <p>Notifications will also be sent to users at:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{currentProvider}} to tell them that they can no longer view the application</li>
          <li>{{newProvider}} to tell them that they have a new application</li>
        </ul>
      {% endif %} #}

      <form method="post">
        {{ govukButton({
          text: "Send new offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>

{% endblock %}
