{% extends "_layout.njk" %}

{% set name = application.personalDetails.name %}
{% set title = "Select course" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer/edit-provider/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">{{name}}</span>
        {{title}}
      {% endset %}

      <form method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [{
            value: "Primary (X100)",
            text: "Primary (X100)",
            hint: {
              text: 'PGCE with QTS full time'
            },
            checked: checked(data.course, "Primary (X100)")
          }, {
            value: "Primary (X121)",
            text: "Primary (X121)",
            hint: {
              text: 'QTS full time'
            },
            checked: checked(data.course, "Primary (X121)")
          }]
        } | decorateAttributes(data, 'data["edit-offer"]["course"]') ) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>
{% endblock %}
