{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.updateOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = "Course" %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
{{ govukBackLink({
  href: actions.back
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      <span class="govuk-caption-l">{{ caption }}</span>
      {{heading}}
    {% endset %}

    <form action="{{ actions.save }}" method="post" accept-charset="UTF-8" novalidate>

      {{ govukRadios({
        idPrefix: "edit-course",
        name: "[edit-offer][course]",
        fieldset: {
          legend: {
            html: headingHtml,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: courses
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
