{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = application.personalDetails.name %}
{% set title = "Full time or part time" %}

{% block pageNavigation %}
{% if query.referrer == "location" %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id + "/offer/edit/location"
  }) }}
{% elif query.referrer == "check" %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id + "/offer/edit/check"
  }) }}
{% else %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id + "/offer"
  }) }}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    {% endset %}

    <form action="/applications/{{ application.id }}/offer/edit/funding-type" method="post" accept-charset="UTF-8" novalidate>

      {{ govukRadios({
        idPrefix: "edit-fundingType",
        name: "[edit-offer][fundingType]",
        fieldset: {
          legend: {
            html: headingHtml,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [{
          value: "Fee paying",
          text: "Fee paying",
          checked: checked("['edit-offer']['fundingType']", "Fee paying")
        }, {
          value: "Salaried",
          text: "Salaried",
          checked: checked("['edit-offer']['fundingType']", "Salaried")
        }]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/applications/{{ application.id }}/offer/edit/course/cancel">Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
