{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = application.personalDetails.name %}
{% set title = "Training provider" %}

{% block pageNavigation %}
{% if query.referrer == "check" %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer/edit/check"
  }) }}
{% else %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer"
  }) }}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    {% endset %}

    <form action="/applications/{{ application.id }}/offer/edit/provider" method="post" accept-charset="UTF-8" novalidate>

      {{ govukRadios({
        idPrefix: "edit-provider",
        name: "[edit-offer][provider]",
        fieldset: {
          legend: {
            html: headingHtml,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [{
          value: data.user.organisations[0].name,
          text: data.user.organisations[0].name
        }, {
          value: data.user.organisations[1].name,
          text: data.user.organisations[1].name
        }]
      } | decorateAttributes(data, 'data["edit-offer"]["provider"]')) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/applications/{{ application.id }}/offer/edit/course/cancel">Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
