{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set status = application.status %}
{% set name = application.personalDetails.name %}
{% set title = "Tell the candidate why you’re cancelling the interview" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/interviews"
  }) }}
{% endblock %}

{% block content %}

  {% set h1 %}
    <span class="govuk-caption-xl"> {{name}} </span>
    {{title}}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post">

        {{ govukTextarea({
          id: "cancelInterview[reason]",
          name: "cancelInterview[reason]",
          label: {
            html: h1,
            isPageHeading: true,
            classes: "govuk-label--xl"
          },
          value: data.cancelInterview.reason
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

        <p><a href="/application/{{application.id}}/interviews">Cancel</a></p>
      </form>


    </div>
  </div>
{% endblock %}
