{% extends "layout.html" %}

{% block pageTitle %}
  Previous and next navigation component – GOV.UK Prototype
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype",
    classes: "app-tag--prototype"
  },
  html: 'This is a prototype – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span>
        Previous and next navigation
      </h1>

      <p class="govuk-body-l">Displays links that allow users to navigate between a series of pages or elements.</p>

      <p class="govuk-body"><a class="govuk-link" href="https://components.publishing.service.gov.uk/component-guide/previous_and_next_navigation">GOV.UK component guide</a></p>

      <h2 class="govuk-heading-l">Examples</h2>

      <h3 class="govuk-heading-m">Example 1</h3>

      {{ appPreviousNextNavigation({
        previous: {
          href: '#',
          title: {
            text: 'Previous page'
          },
          label: {
            text: 'Lorem ipsum dolor sit amet'
          }
        },
        next: {
          href: '#',
          title: {
            text: 'Next page'
          },
          label: {
            text: 'Consectetur adipiscing elit'
          }
        }
      }) }}

      <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

      {{ appPreviousNextNavigation({
        previous: {
          href: '#',
          title: {
            text: 'Previous page'
          }
        },
        next: {
          href: '#',
          title: {
            text: 'Next page'
          }
        }
      }) }}

      <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 3</h3>

      {{ appPreviousNextNavigation({
        previous: {
          href: '#',
          title: {
            text: 'Previous page'
          },
          label: {
            text: '1970-01-01' | govDate
          }
        },
        next: {
          href: '#',
          title: {
            text: 'Next page'
          },
          label: {
            text: '1970-01-03' | govDate
          }
        }
      }) }}

    </div>
</div>

{% endblock %}
