{% extends "_layout.njk" %}

{% set org = relationship.org1.name %}
{% set partner = relationship.org2.name %}

{% set title = 'Change permissions - ' + org + ' and ' + partner %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/account/organisational-permissions/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Change permissions</span>
      <h1 class="govuk-heading-l">{{org}} and {{partner}}</h1>

      {% include "_includes/permissions-guidance.njk" %}

      <form novalidate method="post">
        {% include "_includes/permissions-checkboxes.njk" %}
        {{govukButton({
          text: "Save organisational permissions"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
