{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set title = "Organisational permissions" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Your account",
      href: "/account"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% for item in relationships %}
        {% set canManageOrgPermissions = (["managerOrgPermissions", ""] | random) == "managerOrgPermissions" %}

        {% if relationships.length > 1 %}
          <h2 class="govuk-heading-m">
            {{ item.org.name }}
          </h2>
        {% endif %}

        {% if not canManageOrgPermissions %}
          <p>You do not have permission to change these permissions.</p>
        {% endif %}

        {% for relationship in item.relationships %}

          {% set makeDecisionsHtml %}
            {% if relationship.orgPermissions.makeDecisions or relationship.partnerPermissions.makeDecisions %}
              <ul class="govuk-list">
                {% if relationship.orgPermissions.makeDecisions %}
                  <li>{{ relationship.org.name }}</li>
                {% endif %}
                {% if relationship.partnerPermissions.makeDecisions %}
                  <li>{{ relationship.partner.name }}</li>
                {% endif %}
              </ul>
            {% else %}
              <p class="govuk-!-margin-bottom-0">Permissions need to be set up</p>
            {% endif %}
          {% endset %}

          {% set viewSafeguardingHtml %}
           {% if relationship.orgPermissions.viewSafeguardingInformation or relationship.partnerPermissions.viewSafeguardingInformation %}
              <ul class="govuk-list">
                {% if relationship.orgPermissions.viewSafeguardingInformation %}
                  <li>{{ relationship.org.name }}</li>
                {% endif %}
                {% if relationship.partnerPermissions.viewSafeguardingInformation %}
                  <li>{{ relationship.partner.name }}</li>
                {% endif %}
              </ul>
            {% else %}
              <p class="govuk-!-margin-bottom-0">Permissions need to be set up</p>
            {% endif %}
          {% endset %}

          {% set viewDiversityHtml %}
            {% if relationship.orgPermissions.viewDiversityInformation or relationship.partnerPermissions.viewDiversityInformation %}
              <ul class="govuk-list">
                {% if relationship.orgPermissions.viewDiversityInformation %}
                  <li>{{ relationship.org.name }}</li>
                {% endif %}
                {% if relationship.partnerPermissions.viewDiversityInformation %}
                  <li>{{ relationship.partner.name }}</li>
                {% endif %}
              </ul>
            {% else %}
              <p class="govuk-!-margin-bottom-0">Permissions need to be set up</p>
            {% endif %}
          {% endset %}

          {% set cardHtml %}

            {% if relationship.org.isAccreditedBody %}

              {# <p class="govuk-!-margin-bottom-4">Only {{relationship.partner.name}} can change permissions because they run the courses. Contact them to change these settings.</p> #}

            {% endif %}

            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Make decisions and set up interviews"
                  },
                  value: {
                    html: makeDecisionsHtml
                  }
                },
                {
                  key: {
                    text: "View criminal convictions and professional misconduct"
                  },
                  value: {
                    html: viewSafeguardingHtml
                  }
                },
                {
                  key: {
                    text: "View equality and diversity information"
                  },
                  value: {
                    html: viewDiversityHtml
                  }
                }
              ]
            }) }}
          {% endset %}

          {{appSummaryCard({
            titleText: item.org.name + ' and ' + relationship.partner.name,
            classes: "govuk-!-margin-bottom-6",
            html: cardHtml,
            actions: {
              items: [{
                href: "/account/organisational-permissions/"+relationship.id+"/edit",
                text: "Change permissions"
              }]
            } if canManageOrgPermissions
          })}}

        {% endfor %}

      {% endfor %}

    </div>
  </div>

{% endblock %}
