{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set title = "Organisational permissions" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Your account",
      href: "/account"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

  {# account/
    organisations/

        # Organisational permissions

        ## Gorse SCITT

        ### Gorse SCITT and Wren
        Summary card

        ### Wren Academy and Kingston
        Summary card

        ## Wren

        ### Wren and Gorse SCITT
        Summary card

        ### Wren  and Kingston
        Summary card

        ### Wren  and Leicester
        Summary card #}





  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{title}}</h1>

      <p>Use this section to change permissions between your own organisations and your partner organisations.</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for org in data.user.organisations %}
          <li><a class="govuk-link govuk-link--no-visited-state" href="/account/organisational-permissions/{{org.id}}">{{ org.name }}</a></li>
        {% endfor %}
      </ul>

    </div>
  </div>

{% endblock %}
