{% extends "_layout.njk" %}

{% set name = application.personalDetails.name %}

{% set title = "Check and send new offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + '/offer/edit-location'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{appOfferPanel({
        provider: {
          value: application.provider,
          href: "#"
        },
        course: {
          value: application.course,
          href: "#"
        },
        location: {
          value: data["change-offer"]["location"],
          href: "/applications/" + application.id + "/offer/edit-location"
        },
        studyMode: {
          value: "Full time",
          href: "#"
        },
        accreditedBody: {
          value: application.offer.accreditedBody
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "#"
        }
      })}}

      {% set currentProvider = application.offer.provider %}
      {% set newProvider = data['change-offer']['provider'] %}
      {% include "_includes/offer/check-answers-content.njk" %}

      <form method="post">
        {{ govukButton({
          text: "Send new offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>

{% endblock %}
