{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set assignedUsersHtml %}
{% if params.assignedUsers.length %}
<ul class="govuk-list">
  {% for user in params.assignedUsers %}
    <li>{{ user.firstName + ' ' + user.lastName }}</li>
  {% endfor %}
</ul>
{% else %}
<p class="govuk-body">No users assigned</p>
{% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Assigned users"
      },
      value: {
        html: assignedUsersHtml
      }
    }
  ]
}) }}
