{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "references" %}
{% set name = application.personalDetails.name %}
{% set pageName = 'Application' %}
{% set title = pageName + ' - ' + application.personalDetails.name %}

{% set mainClasses = 'govuk-!-padding-top-1' %}

{% block afterHeader %}
  {% include "_includes/applications/identity-bar.njk" %}
{% endblock %}

{% block content %}
  {# {% set flash = 'boom' %} #}

  {{ govukNotificationBanner({
    classes: 'govuk-!-margin-top-4 govuk-!-margin-bottom-4',
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% include "_includes/applications/sub-nav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l govuk-!-font-size-36">References</h1>

      <!-- IF -->
      <p class="govuk-body">The candidate has not requested any references yet.</p>

      <p class="govuk-body">The candidate has received 2 references.</p>

      <p class="govuk-body">They have not yet received references from:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>1 professional reference requested on 3 June 2022</li>
        <li>1 character references requested on 4 June 2022</li>
        <li>1 character references requested on 5 June 2022</li>
      </ul>

      {% include "_includes/applications/references.njk" %}


    </div>
  </div>

{% endblock %}

{% block pageScripts %}

  {% include "_includes/applications/scripts.njk" %}

{% endblock %}
