{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set caption = content.withdrawOffer.caption + ' - ' + name %}
{% set heading = content.withdrawOffer.checkAnswers.heading %}
{% set title = heading + ' - ' + caption %}
{% set buttonText = content.withdrawOffer.checkAnswers.button %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer/withdraw/other-reasons-for-rejection/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>

      {% set rejectionReasons = data.rejection %}
      {% set showChangeLinks = true %}
      {% include "_includes/candidate-feedback.njk" %}

      {{ govukWarningText({
        text: "The candidate will be sent an email with details of why you withdrew your offer.",
        iconFallbackText: "Fallback text"
      }) }}

      <form method="post">
        {{ govukButton({
          text: buttonText
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>
{% endblock %}
