{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% set caption %}
{% if content.withdrawOffer.caption %}
{{ content.withdrawOffer.caption }} -
{% endif %}
{{ name }}
{% endset %}

{% set heading = "Select the reason for withdrawing the offer" %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>
      <p class="govuk-hint">Select all that apply. Your reasons will be shared with the candidate.</p>

      <form method="post">

        {% set fitnessHtml %}
          {{appRejectionDetails({ category: 'fitness', reason: 'details', data: data })}}
        {% endset %}

        {% set dbsHtml %}
          {{appRejectionDetails({ category: 'dbs', reason: 'details', data: data })}}
        {% endset %}

        {% set referencesHtml %}
          {{appRejectionDetails({ category: 'references', reason: 'details', data: data })}}
        {% endset %}

        {% set skeHtml %}
          {{appRejectionDetails({ category: 'ske', reason: 'details', data: data })}}
        {% endset %}

        {% set qualificationsHtml %}
          {{appRejectionDetails({ category: 'qualifications', reason: 'details', data: data })}}
        {% endset %}

        {% set errorHtml %}
          {{appRejectionDetails({ category: 'error', reason: 'details', data: data })}}
        {% endset %}

        {% set sponsorshipHtml %}
          {{appRejectionDetails({ category: 'sponsorship', reason: 'details', data: data })}}
        {% endset %}

        {% set fullHtml %}
          {{appRejectionDetails({ category: 'full', reason: 'details', data: data })}}
        {% endset %}

        {% set placementHtml %}
          {{appRejectionDetails({ category: 'placement', reason: 'details', data: data })}}
        {% endset %}

        {% set otherDetailsHtml %}
          {{appRejectionDetails({ category: 'other', reason: 'details', data: data })}}
        {% endset %}


      <h2 class="govuk-heading-m">The conditions of the offer were not met</h2>

        {{ govukCheckboxes({
          idPrefix: "rejection-categories",
          name: "rejection[categories]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Fitness to train to teach check",
              text: "Fitness to train to teach check",
              checked: checked("['rejection']['categories']", "Fitness to train to teach check"),
              conditional: {
                html: fitnessHtml
              }
            },
            {
              value: "Disclosure and Barring Service (DBS) check",
              text: "Disclosure and Barring Service (DBS) check",
              checked: checked("['rejection']['categories']", "Disclosure and Barring Service (DBS) check"),
              conditional: {
                html: dbsHtml
              }
            },
            {
              value: "References",
              text: "References",
              checked: checked("['rejection']['categories']", "References"),
              conditional: {
                html: referencesHtml
              }
            },
            {
              value: "Subject knowledge enhancement (SKE) course",
              text: "Subject knowledge enhancement (SKE) course",
              checked: checked("['rejection']['categories']", "Subject knowledge enhancement (SKE) course"),
              conditional: {
                html: skeHtml
              }
            },
            {
              value: "Other",
              text: "Other",
              checked: checked("['rejection']['categories']", "Other"),
              conditional: {
                html: otherDetailsHtml
              }
            }
          ]
        }) }}

      <h2 class="govuk-heading-m">Other reasons</h2>

        {{ govukCheckboxes({
          idPrefix: "rejection-categories2",
          name: "rejection[categories]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "We are unable to verify the qualifications",
              text: "We are unable to verify the qualifications",
              checked: checked("['rejection']['categories']", "We are unable to verify the qualifications"),
              conditional: {
                html: qualificationsHtml
              }
            },
            {
              value: "The offer was made in error",
              text: "The offer was made in error",
              checked: checked("['rejection']['categories']", "The offer was made in error"),
              conditional: {
                html: errorHtml
              }
            },
            {
              value: "Visa sponsorship",
              text: "Visa sponsorship",
              checked: checked("['rejection']['categories']", "Visa sponsorship"),
              conditional: {
                html: sponsorshipHtml
              }
            },
            {
              value: "The course is full",
              text: "The course is full",
              checked: checked("['rejection']['categories']", "The course is full"),
              conditional: {
                html: fullHtml
              }
            },
            {
              value: "No placement school is available",
              text: "No placement school is available",
              checked: checked("['rejection']['categories']", "No placement school is available"),
              conditional: {
                html: placementHtml
              }
            },
            {
              value: "Available placement schools are not suitable",
              text: "Available placement schools are not suitable",
              checked: checked("['rejection']['categories']", "Available placement schools are not suitable"),
              conditional: {
                html: placementHtml
              }
            },
            {
              value: "Other",
              text: "Other",
              checked: checked("['rejection']['categories']", "Other"),
              conditional: {
                html: otherDetailsHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a href="/applications/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>
{% endblock %}
