{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% set caption %}
{% if content.withdrawOffer.caption %}
{{ content.withdrawOffer.caption }} -
{% endif %}
{{ name }}
{% endset %}

{% set heading = "Tell the candidate why you want to withdraw the offer" %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>
      <p class="govuk-hint">Select all that apply</p>

      <form method="post">

        {% set qualificationReasonsHtml %}
          {% include "_includes/reasons/qualifications.njk" %}
        {% endset %}

        {% set personalStatementReasonsHtml %}
          {% include "_includes/reasons/personal-statement.njk" %}
        {% endset %}

        {% set teachingKnowledgeReasonsHtml %}
          {% include "_includes/reasons/teaching-knowledge.njk" %}
        {% endset %}

        {% set communicationReasonsHtml %}
          {% include "_includes/reasons/communication.njk" %}
        {% endset %}

        {% set fitnessHtml %}
          {{appRejectionDetails({ category: 'fitness', reason: 'details', data: data })}}
        {% endset %}

        {% set dbsHtml %}
          {{appRejectionDetails({ category: 'dbs', reason: 'details', data: data })}}
        {% endset %}

        {% set skeHtml %}
          {{appRejectionDetails({ category: 'ske', reason: 'details', data: data })}}
        {% endset %}

        {% set referencesHtml %}
          {{appRejectionDetails({ category: 'references', reason: 'details', data: data })}}
        {% endset %}

        {% set safeguardingHtml %}
          {{appRejectionDetails({ category: 'safeguarding', reason: 'details', data: data })}}
        {% endset %}

        {% set sponsorshipHtml %}
          {{appRejectionDetails({ category: 'sponsorship', reason: 'details', data: data })}}
        {% endset %}

        {% set conditionsHtml %}
          {{appRejectionDetails({ category: 'conditions', reason: 'details', data: data })}}
        {% endset %}

        {% set fundingHtml %}
          {{appRejectionDetails({ category: 'funding', reason: 'details', data: data })}}
        {% endset %}

        {% set otherDetailsHtml %}
          {{appRejectionDetails({ category: 'other', reason: 'details', data: data })}}
        {% endset %}


      <h2 class="govuk-heading-m">Offer conditions not met</h2>

        {{ govukCheckboxes({
          idPrefix: "rejection-categories",
          name: "rejection[categories]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Fitness to train to teach check",
              text: "Fitness to train to teach check",
              checked: checked("['rejection']['categories']", "Fitness"),
              conditional: {
                html: fitnessHtml
              }
            },
            {
              value: "Disclosure and Barring Service (DBS) check",
              text: "Disclosure and Barring Service (DBS) check",
              checked: checked("['rejection']['categories']", "dbs"),
              conditional: {
                html: dbsHtml
              }
            },
            {
              value: "References",
              text: "References",
              checked: checked("['rejection']['categories']", "References"),
              conditional: {
                html: referencesHtml
              }
            },
            {
              value: "Completion of subject knowledge enhancement (SKE) course",
              text: "Completion of subject knowledge enhancement (SKE) course",
              checked: checked("['rejection']['categories']", "ske"),
              conditional: {
                html: skeHtml
              }
            },
            {
              value: "Other",
              text: "Other",
              checked: checked("['rejection']['categories']", "Other"),
              conditional: {
                html: otherDetailsHtml
              }
            }
          ]
        }) }}

      <h2 class="govuk-heading-m">Other reasons</h2>

        {{ govukCheckboxes({
          idPrefix: "rejection-categories2",
          name: "rejection[categories]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Qualifications",
              text: "Qualifications",
              checked: checked("['rejection']['categories']", "Qualifications"),
              conditional: {
                html: qualificationReasonsHtml
              }
            },
            {
              value: "Personal statement",
              text: "Personal statement",
              checked: checked("['rejection']['categories']", "Personal statement"),
              conditional: {
                html: personalStatementReasonsHtml
              }
            },
            {
              value: "Teaching knowledge and ability",
              text: "Teaching knowledge and ability",
              checked: checked("['rejection']['categories']", "Teaching knowledge and ability"),
              conditional: {
                html: teachingKnowledgeReasonsHtml
              }
            },
            {
              value: "Communication, attendance and scheduling",
              text: "Communication, attendance and scheduling",
              checked: checked("['rejection']['categandies']", "Communication, attendance or scheduling"),
              conditional: {
                html: communicationReasonsHtml
              }
            },
            {
              value: "Safeguarding",
              text: "Safeguarding",
              checked: checked("['rejection']['categories']", "Safeguarding"),
              conditional: {
                html: safeguardingHtml
              }
            },
            {
              value: "Visa sponsorship",
              text: "Visa sponsorship",
              checked: checked("['rejection']['categories']", "Visa sponsorship"),
              conditional: {
                html: sponsorshipHtml
              }
            },
            {
              value: "Course full",
              text: "Course full",
              checked: checked("['rejection']['categories']", "Course full")
            },
            {
              value: "Funding",
              text: "Funding",
              checked: checked("['rejection']['categories']", "Funding"),
              conditional: {
                html: fundingHtml
              }
            } if data['withdrawal-reason'] == "withdraw-offer",
            {
              value: "Other",
              text: "Other",
              checked: checked("['rejection']['categories']", "Other"),
              conditional: {
                html: otherDetailsHtml
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a href="/applications/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>
{% endblock %}
