{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Other reasons for withdrawing your offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/withdraw/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>
      <p>When giving details or advice, bear in mind the candidate will see this feedback. </p>

      <form method="post">
        {% set whyLabel = "Why are you withdrawing your offer?" %}
        {% if noReasonsGivenYet %}
          {% include "_includes/reasons/why.njk" %}
        {% endif %}

        {% if data.safeguarding != "Yes" %}
          {% include "_includes/reasons/other-advice.njk" %}

          {% if data['other-offer'] != "Yes" %}
            {% include "_includes/reasons/future-applications.njk" %}
          {% endif %}
        {% endif %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
