{% extends "_layout.njk" %}

{% set primaryNavId = "reports" %}
{% set pageTitle = "Export data for Higher Education Statistics Agency (HESA)" %}

{% block pageTitle %}
{{ pageTitle + ((" - " + organisation.name) if organisation) }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/reports",
    text: "Reports"
  }, {
    text: pageTitle
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageTitle }}
      </h1>

      <p class="govuk-body">
        Sex, disability and ethnicity information will be marked as confidential if you do not have permission to view it.
      </p>

      <h2 class="govuk-heading-m">
        {{ data.currentCycle.shortDesc }} (current)
      </h2>

      <p class="govuk-body">
        The data will include all candidates who have accepted an offer since {{ data.currentCycle.findOpens | date('d MMMM yyyy') }}.
      </p>

      <p class="govuk-body">
        <a href="#" download>Export data for {{ data.currentCycle.shortDesc }} (CSV)</a>
      </p>

      <h2 class="govuk-heading-m">
        {{ data.previousCycle.shortDesc }}
      </h2>

      <p class="govuk-body">
        The data will include all candidates who accepted an offer from {{ data.previousCycle.findOpens | date('d MMMM yyyy') }} to {{ data.previousCycle.findCloses | date('d MMMM yyyy') }}.
      </p>

      <p class="govuk-body">
        <a href="#" download>Export data for {{ data.previousCycle.shortDesc }} (CSV)</a>
      </p>

    </div>
  </div>

{% endblock %}
