{% set backLinkDestination = "/application/" + application.id + "/offer/reconfirm/unavailable-location/check" %}
{% set cancelLinkDestination = backLinkDestination %}

{% include "_includes/offer/reconfirm/conditions.njk" %}
