{% extends "_layout.njk" %}

{% set sectionTitle = "Privacy notices" %}
{% set pageTitle = title %}

{% block pageTitle %}
{{ pageTitle }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: sectionTitle,
      href: "/privacy"
    }, {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ pageTitle }}
      </h1>

      <div class="app-markdown">
        {{ content | markdownToHtml | safe }}
      </div>

    </div>
  </div>
{% endblock %}
