{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set name = application.personalDetails.name %}
{% set pageName = 'Interviews' %}
{% set title = pageName + ' - ' + application.personalDetails.name %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% include "_includes/applications/h1.njk" %}
  {% include "_includes/applications/sub-nav.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Interviews</h2>

      {% if not query.transferred %}
        {% if application.status == "Interviewing" %}
          {{ govukButton({
            text: "Set up interview",
            href: "/applications/" + application.id + "/interviews/new",
            classes: "govuk-button--secondary"
          }) }}
        {% endif %}
      {% endif %}

      {% if not query.transferred %}
        {% if upcomingInterviews.length > 0 %}
          <h2 class="govuk-heading-m">
            Upcoming interviews
          </h2>
        {% endif %}

        {% for interview in upcomingInterviews %}

          {% set interviewSummaryListHtml %}
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Course"
                  },
                  value: {
                    text: application.course
                  }
                },
                {
                  key: {
                    text: "Funding type"
                  },
                  value: {
                    text: application.fundingType
                  }
                },
                {
                  key: {
                    text: "Interview preferences"
                  },
                  value: {
                    text: application.interviewNeeds.details
                  }
                } if application.interviewNeeds.details,
                {
                  key: {
                    text: "Organisation carrying out interview"
                  },
                  value: {
                    text: interview.organisation
                  }
                },
                {
                  key: {
                    text: "Address or online meeting details"
                  },
                  value: {
                    text: interview.location | nl2br
                  }
                },
                {
                  key: {
                    text: "Additional details"
                  },
                  value: {
                    text: interview.details | nl2br or 'None'
                  }
                }
              ]
            }) }}
          {% endset %}

          {{appSummaryCard({
            attributes: {
              id: "interview-" + interview.id
            },
            titleText: interview.date | govukDateAtTime,
            classes: "govuk-!-margin-bottom-6",
            actions: {
              items: [{
                href: '/applications/' + application.id + '/interviews/' + interview.id + '/edit',
                html: 'Change details <span class="govuk-visually-hidden">' + interview.date | govukDateAtTime + '</span>'
              } if application.status == "Received" or application.status == "Interviewing", {
                href: '/applications/' + application.id + '/interviews/' + interview.id + '/delete',
                html: 'Cancel interview <span class="govuk-visually-hidden">' + interview.date | govukDateAtTime + '</span>'
              } if application.status == "Received" or application.status == "Interviewing"]
            },
            html: interviewSummaryListHtml
          })}}

        {% endfor %}
      {% endif %}

      {% if pastInterviews.length > 0 %}
        <h2 class="govuk-heading-m">
          Past interviews
        </h2>
      {% endif %}

      {% for interview in pastInterviews %}

        {% set interviewSummaryListHtml %}
          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Course"
                },
                value: {
                  text: application.course
                }
              },
              {
                key: {
                  text: "Funding type"
                },
                value: {
                  text: application.fundingType
                }
              },
              {
                key: {
                  text: "Interview preferences"
                },
                value: {
                  text: application.interviewNeeds.details
                }
              } if application.interviewNeeds.details and not query.transferred,
              {
                key: {
                  text: "Organisation carrying out interview"
                },
                value: {
                  text: interview.organisation
                }
              },
              {
                key: {
                  text: "Address or online meeting details"
                },
                value: {
                  text: interview.location | nl2br
                }
              },
              {
                key: {
                  text: "Additional details"
                },
                value: {
                  text: interview.details | nl2br or 'None'
                }
              }
            ]
          }) }}
        {% endset %}

        {{appSummaryCard({
          attributes: {
            id: "interview-" + interview.id
          },
          titleText: interview.date | govukDateAtTime,
          classes: "govuk-!-margin-bottom-6",
          actions: {
            items: [{
              href: '/applications/' + application.id + '/interviews/' + interview.id + '/edit',
              html: 'Change details <span class="govuk-visually-hidden">' + interview.date | govukDateAtTime + '</span>'
            } if application.status == "Received" or application.status == "Interviewing", {
              href: '/applications/' + application.id + '/interviews/'+ interview.id + '/delete',
              html: 'Cancel interview <span class="govuk-visually-hidden">'+interview.date | govukDateAtTime+'</span>'
            } if application.status == "Received" or application.status == "Interviewing"]
          },
          html: interviewSummaryListHtml
        })}}

      {% endfor %}

    </div>
  </div>
{% endblock %}
