{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.updateCourse.caption + " - " + application.personalDetails.name %}
{% set heading = content.updateCourse.checkAnswers.heading %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ heading }}
      </h1>

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Training provider"
          },
          value: {
            text: provider
          },
          actions: {
            items: [
              {
                href: "/applications/" + application.id + "/course/edit/provider?referrer=check",
                text: "Change",
                visuallyHiddenText: "training provider"
              }
            ]
          } if 1 == 0
        }, {
          key: {
            text: "Course"
          },
          value: {
            html: course.name + " (" + course.code + ")"
          },
          actions: {
            items: [
              {
                href: "/applications/" + application.id + "/course/edit/course?referrer=check",
                text: "Change",
                visuallyHiddenText: "course"
              }
            ]
          }
        }, {
          key: {
            text: "Full time or part time"
          },
          value: {
            html: studyMode
          },
          actions: {
            items: [
              {
                href: "/applications/" + application.id + "/course/edit/study-mode?referrer=check",
                text: "Change",
                visuallyHiddenText: "full time or part time"
              }
            ]
          } if course.studyModes.length > 1
        }, {
          key: {
            text: "Location"
          },
          value: {
            html: appLocation(location)
          },
          actions: {
            items: [
              {
                href: "/applications/" + application.id + "/course/edit/location?referrer=check",
                text: "Change",
                visuallyHiddenText: "location"
              }
            ]
          } if course.locations.length > 1
        }, {
          key: {
            text: "Accredited body"
          },
          value: {
            html: course.accreditedBody.name or application.accreditedBody
          }
        } if (course.accreditedBody.name or application.accreditedBody) != (data['edit-course'].provider or application.provider), {
          key: {
            text: "Qualification"
          },
          value: {
            html: course.qualifications | arrayToList(', ',' with ')
          }
        }, {
          key: {
            text: "Funding type"
          },
          value: {
            html: course.fundingType or application.fundingType
          }
        }
        ]})
      }}

      <form action="{{ actions.save }}" method="post" accept-charset="UTF-8" novalidate>

        {% set warningText %}
          {% if upcomingInterviews.length %}
            {% if upcomingInterviews.length == 1 %}
              <p class="govuk-!-font-weight-bold">The upcoming interview{{'s' if upcomingInterviews.length > 1}} will be updated with the new course details.</p>
            {% endif %}
          {% endif %}

          {% if application.provider == provider %}
            {% if upcomingInterviews.length %}
              <p class="govuk-!-font-weight-bold">The candidate will be sent emails to tell them that the course and the upcoming interview{{'s' if upcomingInterviews.length > 1}} have been updated.</p>
            {% else %}
              <p class="govuk-!-font-weight-bold">The candidate will be sent an email to tell them that the course has been updated.</p>
            {% endif %}
          {% else %}
            <p class="govuk-!-font-weight-bold">Emails will be sent to:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-font-weight-bold">
              {% if upcomingInterviews.length%}
                <li>the candidate, to tell them that the course has been updated</li>
              {% else %}
                <li>the candidate, to tell them that the course and the upcoming interview{{'s' if upcomingInterviews.length > 1}} have been updated</li>
              {% endif %}
              <li>users at the new and old training providers, to tell them that the application has been transferred between organisations</li>
            </ul>

          {% endif %}

        {% endset %}

        {{ govukWarningText({
          html: warningText | safe
        }) }}

        {{ govukButton({
          text: content.updateCourse.checkAnswers.button
        }) }}

      </form>

      <p class="govuk-body">
        <a href="{{ actions.cancel }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
