{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = "Change course - " + application.personalDetails.name %}
{% set title = "Check and send new course details" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/applications/" + application.id + "/course/edit/location"
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ title }}
      </h1>

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Training provider"
          },
          value: {
            html: data['edit-course'].provider or application.provider
          },
          actions: {
            items: [
              {
                href: "/applications/" + application.id + "/course/edit/provider?referrer=check",
                text: "Change",
                visuallyHiddenText: "training provider"
              }
            ]
          } if 1 == 0
        }, {
          key: {
            text: "Course"
          },
          value: {
            html: course.name + " (" + course.code + ")"
          },
          actions: {
            items: [
              {
                href: "/applications/" + application.id + "/course/edit/course?referrer=check",
                text: "Change",
                visuallyHiddenText: "course"
              }
            ]
          }
        }, {
          key: {
            text: "Full time or part time"
          },
          value: {
            html: data['edit-course'].studyMode or application.studyMode
          },
          actions: {
            items: [
              {
                href: "/applications/" + application.id + "/course/edit/study-mode?referrer=check",
                text: "Change",
                visuallyHiddenText: "full time or part time"
              }
            ]
          }
        }, {
          key: {
            text: "Location"
          },
          value: {
            html: appLocation(location)
          },
          actions: {
            items: [
              {
                href: "/applications/" + application.id + "/course/edit/location?referrer=check",
                text: "Change",
                visuallyHiddenText: "location"
              }
            ]
          }
        }, {
          key: {
            text: "Accredited body"
          },
          value: {
            html: course.accreditedBody.name or application.accreditedBody
          }
        }, {
          key: {
            text: "Funding type"
          },
          value: {
            html: data['edit-course'].fundingType or application.fundingType
          }
        }
        ]})
      }}

      <form action="/applications/{{ application.id }}/course/edit/check" method="post" accept-charset="UTF-8" novalidate>

        {{ govukButton({
          text: "Send new course details"
        }) }}

      </form>

      <p class="govuk-body">
        <a href="/applications/{{ application.id }}/course/edit/cancel">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
