{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = "Change course - " + application.personalDetails.name %}
{% set title = "Course" %}

{% block beforeContent %}
{% if query.referrer == "check" %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id + "/course/edit/check"
  }) }}
{% else %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id + "/"
  }) }}
{% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ title }}
      {% endset %}

      <form action="/applications/{{ application.id }}/course/edit/course" method="post" accept-charset="UTF-8" novalidate>

        {{ govukRadios({
          idPrefix: "edit-course",
          name: "edit-course[course]",
          fieldset: {
            legend: {
              html: headingHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: courses
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a href="/applications/{{ application.id }}/course/edit/cancel">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
