{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = "Change course applied for - " + application.personalDetails.name %}
{% set title = "Select full time or part time" %}

{% block pageTitle %}
{{ pageTitle }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{% if referrer == "course" %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id + "/course/edit/course"
  }) }}
{% else %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id
  }) }}
{% endif %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set headingHtml %}
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ title }}
      {% endset %}

      <form action="/applications/{{ application.id }}/course/edit/study-mode" method="post" accept-charset="UTF-8" novalidate>

        {{ govukRadios({
          idPrefix: "edit-studyMode",
          name: "edit-course[studyMode]",
          fieldset: {
            legend: {
              html: headingHtml,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [{
            value: "Full time",
            text: "Full time",
            checked: checked("['edit-course']['studyMode']", "Full time")
          }, {
            value: "Part time",
            text: "Part time",
            checked: checked("['edit-course']['studyMode']", "Part time")
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a href="/applications/{{ application.id }}/course/edit/cancel">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
