{% extends "_layout.njk" %}

{% set title = "Notification settings" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/account/notifications"
  }) }}
{% endblock %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-xl">Change notification settings</span>
        Application submitted
      {% endset %}

      {% set applicationSubmittedFrequencyHtml %}
        {{ govukCheckboxes({
          idPrefix: "permission-frequency",
          name: "permission-frequency",
          fieldset: {
            legend: {
              text: "Frequency",
              classes: "govuk-visually-hidden"
            }
          },
          items: [
            {
              value: "Immediately",
              text: "Immediately",
              checked: true
            },
            {
              value: "Daily summary at 8am",
              text: "Daily summary at 8am"
            },
            {
              value: "Weekly summary on Monday at 8am",
              text: "Weekly summary on Monday at 8am"
            }
          ]
        }) }}
      {% endset %}

      <form>



        {{ govukCheckboxes({
          idPrefix: "application-submitted",
          name: "application-submitted",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "By email",
              html: "<strong>By email</strong>",
              checked: true,
              conditional: {
                html: applicationSubmittedFrequencyHtml
              }
            },
            {
              value: "From the notifications at the top of every page",
              html: "<strong>Notifications area</strong>",
              hint: { text: "You can access this at the top of every page" },
              checked: true
            }
          ]
        }) }}


        {{ govukButton({
          text: "Save"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
