{% extends "_layout-register.njk" %}

{% set title = "Register (v4)" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{- title -}}
      </h1>

      <p class="govuk-body">
        <a class="govuk-link govuk-link--no-visited-state" href="/register4/sign-in">DfE Sign in</a>
      </p>

      <ul class="govuk-list">
        {% for organisation in organisations %}
          <li>
            <a class="govuk-link govuk-link--no-visited-state" href="/register4/{{ organisation.id }}/start">
              {{- organisation.name -}}
            </a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
{% endblock %}
