{% extends "_layout-register.njk" %}

{% set title = "Invite training providers to " + serviceName | lower  %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      {% if trainingProvidersNotOnboarded | length %}

        <p class="govuk-body">You need to decide who should receive an invitation email at:</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for provider in trainingProvidersNotOnboarded %}
            <li>
              {{ provider.name }}
            </li>
          {% endfor %}
        </ul>

      {% else %}

        <!-- there's nothing for the HEI to do -->

      {% endif %}

      {% if trainingProvidersOnboarded | length %}

        <p class="govuk-body">These providers are already managing applications online and do not need to be invited:</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for provider in trainingProvidersOnboarded %}
            <li>
              {{ provider.name }}
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      {{ govukButton({
        text: "Continue",
        href: actions.next,
        classes: "govuk-!-margin-top-5"
      }) }}

    </div>
  </div>
{% endblock %}
