{% extends "_layout-register.njk" %}

{% set title = "Set up your account to " + serviceName | lower  %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

     <p class="govuk-body">To set up your account you need to:</p>

        <ol class="govuk-list govuk-list--number">
            <li>Create a DfE Sign-in account - if you have not done this already.</li>
            <li>Sign in using DfE Sign-in.</li>
            <li>Accept a data sharing agreement on behalf of {{ accreditingBody.name }}.</li>
            {% if trainingProvidersNotOnboarded | length %}
            <li>Invite training providers to set up their own accounts.</li>
            {% endif %}
        </ol>     

      {% if trainingProvidersNotOnboarded | length %}

        <p class="govuk-body">To invite training providers, you'll need to tell us who should receive an invitation email at:</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for provider in trainingProvidersNotOnboarded %}
            <li>
              {{ provider.name }}
            </li>
          {% endfor %}
        </ul>

        <!-- Assumption: if all providers have accounts, we don't need to show their names -->

      {% if trainingProvidersOnboarded | length %}

        <p class="govuk-body">You do not need to invite providers which already have accounts:</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for provider in trainingProvidersOnboarded %}
            <li>
              {{ provider.name }}
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      {% else %}

        <!-- HEI does not need to invite anyone -->

      {% endif %}

      {{ govukButton({
        text: "Create an account or sign in" if not data.isAuthenticated else "Continue",
        href: actions.next,
        classes: "govuk-!-margin-top-5"
      }) }}

    </div>
  </div>
{% endblock %}
