// GOV.UK Frontend settings
$govuk-assets-path: "/govuk/assets/";
$govuk-global-styles: true;
$govuk-grid-widths: (
  one-fifth: 20%,
  one-quarter: 25%,
  one-third: 33.3333%,
  one-half: 50%,
  two-thirds: 66.6666%,
  three-quarters: 75%,
  full: 100%
) !default;

// Import GOV.UK Frontend and any extension styles if configured
@import "lib/extensions/extensions";

// Components that aren't in Frontend
@import "components/autocomplete";
@import "components/card";
@import "components/caption";
@import "components/cookie-banner";
@import "components/heading";
@import "components/hidden-link";
@import "components/icon";
@import "components/related";
@import "components/search";
@import "components/summary";
@import "components/table";
@import "components/task-list";
@import "components/tag";
