// Import local component styles
@import "app/views/_components/all.scss";

// Styles that aren't in the GOV.UK Frontend or local components
@import "core/definition-list";
@import "core/filter-layout";
@import "core/flex-grid";
@import "core/hidden-link";
@import "core/inverted";
@import "core/list";
@import "core/markdown";
@import "core/status";
@import "core/table";
@import "core/tag";

// Utilities
@import "utilities/grid";
@import "utilities/hidden";
@import "utilities/overrides";

// App-specific styles

.app-checkboxes__hint {
  // https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
  // These are technically the same, but use both
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  // This is the dangerous one in WebKit, as it breaks things wherever
  word-break: break-all;
  // Instead use this non-standard one:
  word-break: break-word;
}

.app-experience__item {
  padding-bottom: govuk-spacing(3);
  padding-top: govuk-spacing(3);
  border-bottom: 1px solid govuk-colour('mid-grey');
  // border-right: 1px solid govuk-colour('mid-grey');
  // border-left: 1px solid govuk-colour('mid-grey');
  // @include govuk-responsive-padding($responsive-spacing-point: 2);
}

.app-experience__item--first {
  // border-top: 1px solid govuk-colour('mid-grey');
}

.app-experience__item--last {
  @include govuk-responsive-margin($responsive-spacing-point: 6, $direction: 'bottom');
}

h1 .govuk-tag {
  position: relative;
  max-width: none;
  top: -7px;
}

.app-notification-link {
  position: relative;
}

.app-notification-link__text {
  // text-decoration: underline;
  display: inline-block;
  margin-right: govuk-spacing(1);
  padding-right: 25px;
}

.app-notification-link__number {
  @include govuk-font($size: 16, $line-height: 25px);
  border-radius: 50%;
  background-color: govuk-colour('blue');
  color: govuk-colour('white');
  font-weight: bold;
  width: 25px;
  height: 25px;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  position: absolute;
  top: -0px;
  right: 0;
}

// .sortedby-label {
//   display: inline;
//   margin-right: .5em;
// }

.sortby-selector {
  // width: 180px;
}

.sortby-selector {
  margin-right: 0.5em;
}

.app-callout-card {
  // background-color: govuk-tint(govuk-colour('light-grey'), 0%);
  border: 1px solid govuk-colour('blue');
  border-left-width: 7px;
  @include govuk-responsive-padding(7);
}

.app-rejection-change-link {
  position: absolute;
  right: 0;
  top: 0;
}


.app-application-cards__heading:first-of-type {
  margin-top: 0;
}

.app-application-cards__heading {
  margin-top: 30px;
  margin-bottom: 10px;
}

.app-application-cards__heading + .app-application-card {
  border-top: none;
  padding-top: 0px;
}

.app-phase-banner {
  border-bottom: 0;
}

.app-qualification__value--grey {
  color: govuk-colour('dark-grey');
}

.app-remove-link {
  color: $govuk-error-colour !important;
  padding: 8px govuk-spacing(3) govuk-spacing(1); // from https://github.com/alphagov/govuk-frontend/blob/f57d338633ef8d9a5c077eeb4657e60ee741d486/src/govuk/components/checkboxes/_index.scss#L69
  position: absolute;
  top: 0;
  right: 0;
}

.app-checkbox-with-remove {
  position: relative;
}


.app-details--no-border {
  .govuk-details__text {
    border: none;
    padding-left: 0;
    padding-bottom: 0;
  }
}

.app-email-settings {
  // color: govuk-colour('dark-grey');
  @include govuk-font($size: 16);
}

.app-time {
  width: 150px;
}

.app-or {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 7px;
}

.app-summary-list--border-top {
  border-top: 1px solid $govuk-border-colour;
}


.app-box {
  border: 1px solid govuk-colour('mid-grey');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  p:last-child {
    margin-bottom: 0;
  }

  .govuk-summary-list:last-child {
    margin-bottom: 0;
  }

  // .govuk-summary-list__row:last-child,
  // .govuk-summary-list__row:last-child > * {
  //   border-bottom: 0;
  // }



}

.app-table__row--indent > td {
  padding-left: govuk-spacing(3);
}

.app-permission-text {
  color: govuk-colour("dark-grey");
}

.app-temp-offer-wrapper .app-offer-panel {
  border: 0;
  padding: 0;
}

.app-activity-log__item {
  border-bottom: 1px solid govuk-colour("mid-grey");
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.app-activity-log__box {
  // border-left: 10px solid govuk-colour("mid-grey");
  padding: 15px 20px 10px 20px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
}

.app-activity-log__description .govuk-summary-list {
  margin-bottom: 0;
}

.app-activity-log__description .govuk-summary-list .govuk-summary-list__row:last-child .govuk-summary-list__key,
.app-activity-log__description .govuk-summary-list .govuk-summary-list__row:last-child .govuk-summary-list__value {
  border-bottom: 0;
}

.app-log-card__note--link {
  margin-bottom: 0;
}

.app-permissions-hint-text {
  padding-top: govuk-spacing(1)
}

// .app-permissions-hint-text p,
// .app-permissions-hint-text ul, {
//   // color: govuk-colour('dark-grey') !important;
// }

.app-permission-item {
  margin-bottom: govuk-spacing(1);
}

.app-permission-item + .app-permission-item {
  margin-top: govuk-spacing(4);
}

.app-user-card {
  border-bottom: 1px solid govuk-colour('mid-grey');
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.app-user-card:first-of-type {
  border-top: 1px solid govuk-colour('mid-grey');
  padding-top: 10px;
}

.app-home-statuses {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @include govuk-media-query($from: tablet) {
    grid-template-columns: 1fr 1fr 1fr 1fr
  }
  gap: govuk-spacing(4);
  grid-auto-rows: 1fr;
}

.status-card {
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(2);
  text-decoration: none;

  @include govuk-font($size: 19);

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4);
  }

  &:focus, &:link:focus, &:visited:focus {
    color:  $govuk-text-colour;
    background:  $govuk-focus-colour;
  }

}

.status-card, .status-card:visited {
  color: inherit;
}

// Colours sourced from here: https://github.com/alphagov/govuk-frontend/blob/61aabca3d440edee6bdecdd20ea54a241c7bbdd5/src/govuk/components/tag/_index.scss#L42

$statuses: (
  "grey": (
    "colour":            govuk-shade(govuk-colour("dark-grey", $legacy: "grey-1"), 30),
    "background-colour": govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 90),
    "hover":             govuk-tint(govuk-colour("dark-grey", $legacy: "grey-1"), 80)
  ),
  "turquoise": (
    "colour":            govuk-shade(govuk-colour("turquoise"), 60),
    "background-colour": govuk-tint(govuk-colour("turquoise"), 70),
    "hover":             govuk-tint(govuk-colour("turquoise"), 57),
  ),
  "blue": (
    "colour":            govuk-shade(govuk-colour("blue"), 30),
    "background-colour": govuk-tint(govuk-colour("blue"), 80),
    "hover":             govuk-tint(govuk-colour("blue"), 70)
  ),
  "yellow": (
    "colour":            govuk-shade(govuk-colour("yellow"), 65),
    "background-colour": govuk-tint(govuk-colour("yellow"), 75),
    "hover":             govuk-tint(govuk-colour("yellow"), 60)
  ),
  "red": (
    "colour":            govuk-shade(govuk-colour("red"), 30),
    "background-colour": govuk-tint(govuk-colour("red"), 80),
    "hover":             govuk-tint(govuk-colour("red"), 70)
  ),
  "purple": (
    "colour":            govuk-shade(govuk-colour("purple"), 20),
    "background-colour": govuk-tint(govuk-colour("purple"), 80),
    "hover":             govuk-tint(govuk-colour("purple"), 70)
  ),
  "orange": (
    "colour":            govuk-shade(govuk-colour("orange"), 55),
    "background-colour": govuk-tint(govuk-colour("orange"), 70),
    "hover":             govuk-tint(govuk-colour("orange"), 55)
  ),
  "green": (
    "colour":            govuk-shade(govuk-colour("green"), 20),
    "background-colour": govuk-tint(govuk-colour("green"), 80),
    "hover":             govuk-tint(govuk-colour("green"), 70)
  ),
  "pink": (
    "colour":            govuk-shade(govuk-colour("pink"), 30),
    "background-colour": govuk-tint(govuk-colour("pink"), 80),
    "hover":             govuk-tint(govuk-colour("pink"), 70)
  ),
);

@each $status, $data in $statuses
{
  .status-card--#{$status} {
    &, &:link, &:visited {
      color: map-get($data, "colour");
      background: map-get($data, "background-colour");
    }
    &:hover {
      background: map-get($data, "hover");
    }
  }
}

.status-card__count {
  &, &:link, &:visited {
    @include govuk-font($size: 36, $weight: bold, $tabular: true);
  }
  display: block;
}

.status-card__status {
  // text-decoration: underline;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: none;
}



.app-sort {

  form {
    display: flex;
    // align-items: flex-end;
  }

  .govuk-form-group {
    margin-bottom: 0;
    vertical-align: top;
  }

  .govuk-button {
    display: inline-block;
    margin-top: 0;
    margin-left: 10px;
    position: relative;
    vertical-align: bottom;
    width: auto;
    margin-bottom: govuk-spacing(6);
  }
}

.app-no-spacing-after-last-paragraph p {
  margin: 0 0 govuk-spacing(2) 9;
}

.app-no-spacing-after-last-paragraph p:last-child {
  margin-bottom: 0;
}

.app-email-preview {
  margin-top: 20px;
  border: 5px solid #b1b4b6;
  padding: 20px;
  margin-bottom: 30px;
}

.app-status-header {
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
}

.app-status-header a {
  background-color: govuk-colour("light-grey");
  border-bottom-color: $govuk-secondary-text-colour;
  color: $govuk-secondary-text-colour;
  width: 100%;
}

.app-status-header a:hover {
  background-color: govuk-tint( govuk-colour("mid-grey"), 65%);
}

.app-status-blocks {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.app-status-blocks a, .app-status-header a {
  display: block;
  padding: 10px;
  padding-bottom: 16px;
}

.app-status-blocks a.selected, .app-status-blocks a:hover, .app-status-header a.selected, .app-status-header a:hover {
  border-bottom-style: solid;
  border-bottom-width: 6px;
  padding-bottom: 10px;
}

.app-status-blocks a.selected, .app-status-header a.selected {
  font-weight: bold;
}

.app-status-blocks a:focus, .app-status-header a:focus {
  box-shadow: none;
  border-bottom-style: solid;
  border-bottom-width: 6px;
  padding-bottom: 10px;
}
.app-status-blocks a, .app-status-header a {
  text-decoration: none;
}

.app-status-blocks a:hover, .app-status-header a:hover {
  text-decoration: underline;
}

$app-colour-new: govuk-colour("blue");
$app-colour-progress: govuk-colour("yellow");
$app-colour-success: govuk-colour("green");
$app-colour-waiting: govuk-colour("orange");
$app-colour-failed: govuk-colour("red");

.app-status-blocks a.new {
  border-bottom-color: govuk-shade($app-colour-new, 60%);
  background-color: govuk-tint($app-colour-new, 70%);
  color: govuk-shade($app-colour-new, 60%);
}
.app-status-blocks a.new:hover {
  background-color: govuk-tint($app-colour-new, 65%);
}

.app-status-blocks a.progress {
  border-bottom-color: govuk-shade($app-colour-progress, 65%);
  background-color: govuk-tint($app-colour-progress, 75%);
  color: govuk-shade($app-colour-progress, 65%);
}

.app-status-blocks a.progress:hover {
  background-color: govuk-tint($app-colour-progress, 65%);
}

.app-status-blocks a.success {
  border-bottom-color: govuk-shade($app-colour-success, 20%);
  background-color: govuk-tint($app-colour-success, 80%);
  color: govuk-shade($app-colour-success, 20%);
}
.app-status-blocks a.success:hover {
  background-color: govuk-tint($app-colour-success, 65%);
}

.app-status-blocks a.waiting {
  border-bottom-color: govuk-shade($app-colour-waiting, 20%);
  background-color: govuk-tint($app-colour-waiting, 80%);
  color: govuk-shade($app-colour-waiting, 20%);
}
.app-status-blocks a.waiting:hover {
  background-color: govuk-tint($app-colour-waiting, 65%);
}

.app-status-blocks a.failed {
  border-bottom-color: govuk-shade($app-colour-failed, 20%);
  background-color: govuk-tint($app-colour-failed, 80%);
  color: govuk-shade($app-colour-failed, 20%);
}
.app-status-blocks a.failed:hover {
  background-color: govuk-tint($app-colour-failed, 65%);
}

.app-status-blocks a strong, .app-status-header a strong {
    display: block;
    font-size: x-large;
}

.app-application-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 32px;
}

.app-application-header h1, .app-application-header a {
  margin-bottom: 0;
}

.app-status-indicator--red {
  color: $govuk-error-colour;
}
