{% extends "_layout.njk" %}

{% set name = application.personalDetails.name %}
{% set caption = content.confirmDeferredOffer.caption + ' - ' + name %}
{% set heading = "Course" %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {% if referrer == 'check' %}
    {{ govukBackLink({
      href: '/applications/' + application.id + '/offer/confirm-deferred-offer/check'
    }) }}
  {% else %}
    {{ govukBackLink({
      href: '/applications/' + application.id + '/offer/confirm-deferred-offer/provider'
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">{{caption}}</span>
        {{heading}}
      {% endset %}

      <form method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [{
            value: "Primary (X100)",
            text: "Primary (X100)",
            hint: {
              text: 'PGCE with QTS full time - ratified by Kingston University'
            },
            checked: checked("course", "Primary (X100)")
          }, {
            value: "Primary (X121)",
            text: "Primary (X121)",
            hint: {
              text: 'QTS full time - Springbank SCITT'
            },
            checked: checked("course", "Primary (X121)")
          }]
        } | decorateAttributes(data, 'data["confirm-deferred-offer"]["course"]') ) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
