{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set caption = content.confirmDeferredOffer.caption + ' - ' + name %}
{% set heading = "Status of conditions" %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: backLinkDestination
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>

      <form method="post">
        {# <div class="app-box govuk-!-margin-bottom-7">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1">
            Current status of conditions
          </h2>
          <dl class="govuk-summary-list app-conditions-list govuk-!-margin-bottom-0">
            {% for condition in conditions %}
              <div class="govuk-summary-list__row {% if loop.last %}govuk-summary-list__row--no-border{% endif %}">
                <dt class="govuk-summary-list__key">
                  {{condition.description}}
                </dt>
                <dd class="govuk-summary-list__value app-conditions-list__tag">
                  {% if condition.status == "Pending" %}
                      {% set statusClass = "app-tag--grey" %}
                    {% elseif condition.status == "Met" %}
                      {% set statusClass = "app-tag--green" %}
                    {% elseif condition.status == "Not met" %}
                      {% set statusClass = "app-tag--red" %}
                  {% endif %}
                  {{govukTag({ text: condition.status, classes: statusClass })}}
                </dd>
              </div>
            {% endfor %}
          </dl>
        </div> #}

        {% for condition in conditions %}
          {{ govukRadios({
              idPrefix: "[confirm-deferred-offer][conditions]["+ condition.id +"]",
              name: "[confirm-deferred-offer][conditions]["+ condition.id +"]",
              fieldset: {
                legend: {
                  text: "Status of ‘" + condition.description + "’",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "Pending",
                  text: "Pending",
                  checked: condition.status == "Pending"
                },
                {
                  value: "Met",
                  text: "Met",
                  checked: condition.status == "Met"
                }
              ]
            }) }}

          {% endfor %}

          {{ govukButton({
            text: "Continue"
          }) }}
        </form>

      <p class="govuk-body"><a href="/applications/{{application.id}}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
