{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% if application.deferredOfferUnavailable.course  %}
  {% set title = "Course unavailable" %}
{% elseif application.deferredOfferUnavailable.location %}
  {% set title = "Location unavailable" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <span class="govuk-caption-l">Confirm deferred offer - {{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% if application.deferredOfferUnavailable.course  %}
        <p>The course you offered is no longer available in this recruitment cycle.</p>
      {% elseif application.deferredOfferUnavailable.location %}
        <p>The location you offered is no longer available in this recruitment cycle.</p>
      {% endif %}

      {{appOfferPanel({
        provider: {
          value: application.offer.provider,
          href: "#" if 1 == 2
        },
        course: {
          value: application.offer.course,
          href: "#" if 1 == 2
        },
        location: {
          value: appLocation(application.location) if application.location.name else application.offer.location,
          value: data['confirm-deferred-offer']['location'] or (appLocation(application.offer.location) if application.offer.location.name else application.offer.location),
          href: "#" if 1 == 2
        },
        studyMode: {
          value: "Full time",
          href: "#" if 1 == 2
        },
        accreditedBody: {
          value: application.offer.accreditedBody
        },
        conditions: {
          items: conditions
        }
      })}}


      {{ govukRadios({
        idPrefix: "[confirm-deferred-offer]",
        name: "[confirm-deferred-offer]",
        fieldset: {
          legend: {
            text: "Select what you want to change",
            classes: "govuk-fieldset__legend--m"
          }
        },
        items: [
          {
            value: "Change training provider",
            text: "Change training provider"
          } if 1==1,
          {
            value: "Change course",
            text: "Change course"
          },
          {
            value: "Change location",
            text: "Change location"
          },
          {
            value: "Change full time or part time",
            text: "Change full time or part time"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Continue",
        href: ""
      }) }}
      <p class="govuk-body"><a href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
