{% from "govuk/components/tag/macro.njk" import govukTag %}

<dl class="govuk-summary-list app-conditions-list">
  {% for condition in params.conditions %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key app-no-spacing-after-last-paragraph">
        {{condition.description | markdownToHtml | safe }}
      </dt>
      <dd class="govuk-summary-list__value app-conditions-list__tag">
        {% if params.changeStatus %}
          {% if condition.status == "Met" %}
            {% set statusClass = "app-tag--green" %}
          {% elseif condition.status == "Not met" %}
            {% set statusClass = "app-tag--red" %}
          {% else %}
            {% set statusClass = "app-tag--grey" %}
          {% endif %}
          {{govukTag({ text: condition.status, classes: statusClass})}}
        {% elif params.changeConditions %}
          <a href="#" class="govuk-link">Change</a>
        {% endif %}
      </dd>
    </div>
  {% endfor %}
</dl>
