{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Training provider"
      },
      value: {
        text: params.application.provider
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: params.application.course
      }
    },
    {
      key: {
        text: "Full time or part time"
      },
      value: {
        text: params.application.studyMode
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        text: params.application.location
      }
    },
    {
      key: {
        text: "Accredited body"
      },
      value: {
        text: params.application.accreditedBody
      }
    }
  ]
}) }}
