{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "_components/location/macro.njk" import appLocation %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Training provider"
      },
      value: {
        text: params.application.provider
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: params.application.course
      }
    },
    {
      key: {
        text: "Full time or part time"
      },
      value: {
        text: params.application.studyMode
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: appLocation(params.application.location) if params.application.location.name else params.application.location
      }
    },
    {
      key: {
        text: "Accredited body"
      },
      value: {
        text: params.application.accreditedBody
      }
    },
    {
      key: {
        text: "Qualification"
      },
      value: {
        text: params.application.qualifications | formatList
      }
    },
    {
      key: {
        text: "Funding type"
      },
      value: {
        text: params.application.fundingType
      }
    }
  ]
}) }}
