{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set locationHtml %}
  <p class="govuk-body">
    {% if params.application.location.name %}
      {{ params.application.location.name }}<br>
      {% if params.application.location.address.address1.length %}
        {{ params.application.location.address.address1 }}<br>
      {% endif %}
      {% if params.application.location.address.address2.length %}
        {{ params.application.location.address.address2 }}<br>
      {% endif %}
      {% if params.application.location.address.address3.length %}
        {{ params.application.location.address.address3 }}<br>
      {% endif %}
      {% if params.application.location.address.town.length %}
        {{ params.application.location.address.town }}<br>
      {% endif %}
      {% if params.application.location.address.postcode.length %}
        {{ params.application.location.address.postcode }}<br>
      {% endif %}
    {% else %}
      {{ params.application.location }}
    {% endif %}
  </p>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Training provider"
      },
      value: {
        text: params.application.provider
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: params.application.course
      }
    },
    {
      key: {
        text: "Full time or part time"
      },
      value: {
        text: params.application.studyMode
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: locationHtml
      }
    },
    {
      key: {
        text: "Accredited body"
      },
      value: {
        text: params.application.accreditedBody
      }
    }
  ]
}) }}
