{% extends "_layout.njk" %}

{% set title = "Data sharing agreement signed" %}
{% set canManageOrgPermissions = [true, false] | random %}
{% set canManageUsers = [true, false] | random %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Data sharing agreement signed"
      }) }}

      {% if canManageOrgPermissions %}

        <h2 class="govuk-heading-m">
          Next steps
        </h2>

        <p class="govuk-body">
          You need to set up permissions for your organisation before you can use this service.
        <p>

        {{ govukButton({
          text: "Set up organisational permissions",
          href: "/onboard"
        }) }}

      {% else %}

        <h2 class="govuk-heading-m">
          Next steps
        </h2>

        {% if canManageUsers %}
          <p class="govuk-body">
          You can now:
          <p>

          <ul class="govuk-list govuk-list--bullet">
            <li>
              <a href="/">view applications</a>
            </li>
            <li>
              <a href="/account/users">invite or manage users</a>
            </li>
          </ul>

        {% else %}
          <p class="govuk-body">
            You can now <a href="/">view applications</a>.
          <p>
        {% endif %}


      {% endif %}



    </div>
  </div>
{% endblock %}
