{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Conditions of offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: '/application/' + application.id + '/offer'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% include "_includes/offer/details-of-offer-without-conditions.njk" %}

      <form method="post">
        {{ govukCheckboxes({
          idPrefix: "[edit-conditions][standard-conditions]",
          name: "[edit-conditions][standard-conditions]",
          fieldset: {
            legend: {
              text: "Standard conditions",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "Fitness to teach check",
            text: "Fitness to teach check",
            checked: checked(data['edit-conditions']['standard-conditions'], "Fitness to teach check") or checked(standardConditions,"Fitness to teach check")
          }, {
            value: "Disclosure and barring service check",
            text: "Disclosure and barring service check",
            hint: {
              text: "We’ll email the candidate to tell them that they’ll need to provide ID"
            },
            checked: checked(data['edit-conditions']['standard-conditions'], "Disclosure and barring service check") or checked(standardConditions,"Disclosure and barring service check")
          }]
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Further conditions (optional)</h2>
        <p class="govuk-body">For example, studying a subject knowledge enhancement course.</p>
        {{ govukTextarea({
          id: "condition-1",
          name: "[edit-conditions][condition-1]",
          rows: 3,
          label: {
            text: "First condition",
            classes: "govuk-label--s"
          },
          value: data["edit-conditions"]["condition-1"] or application.offer.conditions[0].description
        }) }}

        {{ govukTextarea({
          id: "condition-2",
          name: "[edit-conditions][condition-2]",
          rows: 3,
          label: {
            text: "Second condition",
            classes: "govuk-label--s"
          },
          value: data["edit-conditions"]["condition-2"] or application.offer.conditions[1].description
        }) }}

        {{ govukTextarea({
          id: "condition-3",
          name: "[edit-conditions][condition-3]",
          rows: 3,
          label: {
            text: "Third condition",
            classes: "govuk-label--s"
          },
          value: data["edit-conditions"]["condition-3"] or application.offer.conditions[2].description
        }) }}

        {{ govukTextarea({
          id: "condition-4",
          name: "[edit-conditions][condition-4]",
          rows: 3,
          label: {
            text: "Further conditions",
            classes: "govuk-label--s"
          },
          value: data["edit-conditions"]["condition-4"] or application.offer.conditions[3].description
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
