{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% set title = "Check and confirm withdrawal" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>

      <form method="post" action="/applications/{{application.id}}/check">

      <h1 class="govuk-heading-l">Check and confirm withdrawal request</h1>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
                  {
            key: {
              text: "Full name"
            },
            value: {
              text: name
            }
          },
          {
            key: {
              text: "Course"
            },
            value: {
              text: application.course
            }
          },
          {
            key: {
              text: "Starting"
            },
            value: {
              text: '2025'
            }
          },
          {
            key: {
              text: "Preferred location"
            },
            value: {
              html: appLocation(application.location) if application.location.name else application.location
            }
          },
          {
            key: {
              text: "Reason for withdrawal"
            },
            value: {
              text: ( "The candidate has not responded to communications" if application.withdrawalReason == 'no-response' else "The candidate has asked us to withdraw their application" )
            },
            actions: {
              items: [
                {
                  href: "/applications/" + application.id + "/withdraw",
                  text: "Change",
                  visuallyHiddenText: "why you want to withdraw the offer"
                }
              ]
            }
          } if application.withdrawalReason
        ]
      }) }}

      <p class="govuk-body">We will contact the candidate to confirm they want to withdraw. If they do not respond within 30 working days, their application will be withdrawn automatically.</p>

        {{ govukButton({
          text: "Send withdrawal request"
        }) }}









      </form>
      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
