{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set caption = content.withdrawApplication.caption + ' - ' + name %}
{% set title = content.withdrawApplication.checkAnswers.heading %}
{% set buttonText = content.withdrawApplication.checkAnswers.button %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>


      {% if upcomingInterviews.length == 1 %}
        {{ govukWarningText({
          text: "The candidate will be sent emails to tell them that their application has been withdrawn and to cancel their upcoming interview.",
          iconFallbackText: "Fallback text"
        }) }}
      {% elseif 1 == 1 or upcomingInterviews.length > 1 %}
        {{ govukWarningText({
          text: "The candidate will be sent emails to tell them that their application has been withdrawn and to cancel their upcoming interviews.",
          iconFallbackText: "Fallback text"
        }) }}
      {% else %}
        {{ govukWarningText({
          text: "The candidate will be sent an email to tell them that their application has been withdrawn at their request.",
          iconFallbackText: "Fallback text"
        }) }}
      {% endif %}

      <form method="post">
        {{ govukButton({
          text: buttonText
        }) }}
      </form>
      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
