{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set caption = content.withdrawApplication.caption + ' - ' + name %}
{% set heading = content.withdrawApplication.checkAnswers.heading %}
{% set title = heading + ' - ' + caption %}
{% set buttonText = content.withdrawApplication.checkAnswers.button %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>

      {% if application.status == 'Received' or application.status == 'Interviewing' %}
        <p>You should only withdraw the application if the candidate asked you to, otherwise you should <a href="/applications/{{application.id}}/reject">reject the application</a>.</p>
      {% endif %}

      {% set warningText %}
        {% if upcomingInterviews.length == 1 %}
          The candidate will be sent emails to tell them that their application has been withdrawn and the upcoming interview has been cancelled.
        {% elseif upcomingInterviews.length > 1 %}
          The candidate will be sent emails to tell them that their application has been withdrawn and the upcoming interviews have been cancelled.
        {% else %}
          The candidate will be sent an email to tell them that their application has been withdrawn.
        {% endif %}
      {% endset %}

      {{ govukWarningText({
        text: warningText | safe
      }) }}

      <form method="post">
        {{ govukButton({
          text: buttonText
        }) }}
      </form>
      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
