{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% set caption = content.withdrawApplication.caption + ' - ' + name %}
{% set heading = "You cannot withdraw the application" %}
{% set heading = "You need to reject the application" %}

{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {% set backUrl = "/applications/" + application.id + "/withdraw" %}

  {{ govukBackLink({
    href: backUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>

      <p>You can only withdraw an application before making an offer if the candidate asks you to.</p>

      <p>You need to reject the application instead.</p>

      {{ govukButton({
        text: "Continue",
        href: "/applications/" + application.id + "/reject"
      }) }}
    </div>
  </div>
{% endblock %}
