{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% set title = "Reason candidate is withdrawing (if they told you)" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">{{name}}</span>
        {{title}}
      {% endset %}
      <form method="post">
        {{ govukCharacterCount({
          maxwords: 100,
          label: {
            html: h1,
            isPageHeading: true,
            classes: "govuk-label--l"
          },
          hint: {
            text: "The candidate will see this."
          },
          id: "rejection-asked-reasons",
          name: "rejectionReasons[asked-reasons]",
          value: data['rejectionReasons']["asked-reasons"]
        }) }}

        <input type="hidden" name="rejectionReasons[asked]" value="Yes">

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
