{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% set title = "Do you know why the candidate is withdrawing their application?" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">{{name}}</span>
        {{title}}
      {% endset %}
      <form method="post">

        {% set reasonHtml %}
          {{ govukCharacterCount({
            maxwords: 100,
            label: {
              text: "Reason candidate is withdrawing",
              classes: "govuk-label--m"
            },
            hint: {
              text: "This feedback will be sent to the candidate"
            }
          } | decorateAttributes(data, 'data["withdraw"]["reason"]') ) }}
        {% endset %}

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: reasonHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        } | decorateAttributes(data, 'data["withdraw"]["has-reason"]') ) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
