{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Other advice for candidate" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/withdraw/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">
        {% set isOtherAdviceAnH1 = true %}
        {% include "_includes/reasons/other-advice.njk" %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a class="govuk-link--no-visited-state" href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
