{%- from "govuk/components/inset-text/macro.njk" import govukInsetText -%}

{%- if params.interview %}
  {% set panelHtml %}
    <p class="app-log-card__note--title">{{params.interview.date | govukDateAtTime }}</p>
    <p class="app-log-card__note--title">{{params.application.course}} at {{params.application.location}}</p>
    <p class="app-log-card__note--content">{{ params.application.provider }} – ratified by {{params.application.accreditedBody}}</p>
    <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{ params.id }}/interviews">View interview</a></p>
  {% endset %}
{% elseif params.application %}
  {% set panelHtml %}
    <p class="app-log-card__note--title">{{params.application.course}} at {{params.application.location}}</p>
    <p class="app-log-card__note--content">{{ params.application.provider }} – ratified by {{params.application.accreditedBody}}</p>
    {% if params.application.rejectedReasons %}
      <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{ params.id }}">View feedback</a></p>
    {% else %}
      <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{ params.id }}">View application</a></p>

    {% endif %}
  {% endset %}
{% elseif params.offer %}
  {% set panelHtml %}
    <p class="app-log-card__note--title">{{params.offer.course}} at {{params.offer.location}}</p>
    <p class="app-log-card__note--content">{{ params.offer.provider }} – ratified by {{params.offer.accreditedBody}}</p>
    <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{ params.id }}/offer">View offer</a></p>
  {% endset %}
{% elseif params.note %}
  {% set panelHtml %}
    <p class="app-log-card__note--title">{{params.note.subject}}</p>
    <p class="app-log-card__note--content">{{params.note.body}}</p>
    <p class="app-log-card__note--link"><a class="govuk-link" href="/applications/{{ params.id }}/notes">View note</a>
  {% endset %}
{% endif -%}

<div class="app-log-card {{- ' ' + params.classes if params.classes }}">
  <div class="app-log-card__note">
    {{ panelHtml | safe }}
  </div>
</div>
