.app-feedback__section {
  position: relative;
  padding-right: 70px;
  margin-bottom: 20px;

  p {
    margin-bottom: 0;
  }

  ul:last-of-type {
    margin-bottom: 0 !important;
  }

  li:last-of-type {
    margin-bottom: 0 !important;
  }

  &:last-of-type {
    margin-bottom: 0 !important;
  }
}
