{% extends "_layout.njk" %}

{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}

{% set title = "Check and confirm changes to offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/offer/change-course/location'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <h2 class="govuk-heading-l">Your existing offer</h2>

      {% include "_includes/offer-summary.njk" %}

      <h2 class="govuk-heading-l">Your new offer</h2>

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Provider"
          },
          value: {
            html: application.provider
          }
        }, {
          key: {
            text: "Course"
          },
          value: {
            html: data.course
          },
          actions: {
            items: [
              {
                href: "/application/" + application.id + "/offer/change-course",
                text: "Change",
                visuallyHiddenText: "location"
              }
            ]
          }
        }, {
          key: {
            text: "Location"
          },
          value: {
            html: data.location
          },
          actions: {
            items: [
              {
                href: "/application/" + application.id + "/offer/change-course/location",
                text: "Change",
                visuallyHiddenText: "location"
              }
            ]
          }
        }
      ]}) }}

      <form method="post">
        {{ govukButton({
          text: "Change offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>

{% endblock %}
