{% extends "_layout.njk" %}

{% set primaryNavId = 'interviews' %}
{% set title = "Interviews" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>

  <h2 class="govuk-heading-m govuk-!-font-size-27">
    Upcoming interviews
  </h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Candidate</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date and time</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Location</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for interview in futureInterviews %}
        <tr class="govuk-table__row">
          <th class="govuk-table__cell">
            <a href="/application/{{interview.app.id}}/interviews">
              {{interview.app.personalDetails.givenName}} {{interview.app.personalDetails.familyName}}
            </a>
            {% if interview.app.interviewNeeds.length %}
              <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-1">
              {{ appIcon({
                icon: "alert",
                hidden: true
              }) }}
              Has interview preferences</p>
            {% endif %}
          </th>
          <td class="govuk-table__cell">
            {{interview.interview.date | govukDateAtTime }}
          </td>
          <td class="govuk-table__cell">
            {# {{interview.interview.details }}<br><br> #}
            The Royal Borough Teaching School Alliance, {{interview.interview.location}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">
    Past interviews
  </h2>

  <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Candidate</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Date and time</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Location</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for interview in pastInterviews %}
        <tr class="govuk-table__row">
          <th class="govuk-table__cell">
            <a href="/application/{{interview.app.id}}/interviews">
              {{interview.app.personalDetails.givenName}} {{interview.app.personalDetails.familyName}}
            </a>
            {% if interview.app.interviewNeeds.length %}
              <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-top-1">{{ appIcon({
                icon: "alert",
                hidden: true
              }) }} Interview preferences</p>
            {% endif %}
          </th>
          <td class="govuk-table__cell">
            {{interview.interview.date | govukDateAtTime }}
          </td>
          <td class="govuk-table__cell">
            {# {{interview.interview.details }}<br><br> #}
            The Royal Borough Teaching School Alliance, {{interview.interview.location}}

          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ appPagination({
      results: {
        from: 1,
        to: 15,
        count: 30
      },
        next: {
        text: 'Next',
        href: ''
      },
        items: [{
        text: '1',
        href: '/page=1',
        selected: true
      }, {
        text: '2',
        href: '/page=2'
      }]
    }) }}



{% endblock %}
