{% extends "_layout.njk" %}

{% set primaryNavId = 'interviews' %}
{% set title = "Interview schedule" %}

{% block content %}

  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{ appSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Interviews managed outside this service',
          href: '/interviews',
          active: true
        }, {
          text: 'Upcoming interviews',
          href: '/interviews/upcoming'
        }, {
          text: 'Past interviews',
          href: '/interviews/past'
        }]
      }) }}

      {% if not interviews %}
        <p>No externally scheduled interviews.</p>
      {% else %}
        <div class="app-interviews">
            {% for interview in interviews %}
              {{appInterviewCard({
                link: '/applications/'+interview.app.id+'/interviews#interview-'+interview.interview.id,
                date: interview.interview.date,
                name: interview.app.personalDetails.givenName + ' ' + interview.app.personalDetails.familyName,
                course: interview.app.course,
                provider: interview.app.provider,
                hasInterviewPreferences: interview.app.interviewNeeds.details
              })}}
            {% endfor %}
        </div>
        {% include "_includes/pagination.njk" %}
      {% endif %}
    </div>
  </div>

{% endblock %}
