{% extends "_layout.njk" %}

{% set primaryNavId = 'interviews' %}
{% set title = "Interviews" %}

{% block content %}

  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{ appSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Upcoming interviews',
          href: '/interviews'
        }, {
          text: 'Previous interviews',
          href: '/application/past',
          active: true
        }]
      }) }}

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row govuk-visually-hidden">
            <th scope="col" class="govuk-table__header">Date and time</th>
            <th scope="col" class="govuk-table__header">Candidate name</th>
            <th scope="col" class="govuk-table__header">Course</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for day, interviews in interviews %}
            <tr class="govuk-table__row">
              <th colspan="4" class="govuk-table__header govuk-!-font-weight-regula govuk-!-padding-top-6">
                {{day | govukDate  }}
              </th>
            </tr>

            {% for interview in interviews %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
                  <a href="/application/{{interview.app.id}}/interviews" class="govuk-link--no-visited-state">{{interview.interview.date | time }}</a>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-!-margin-bottom-1">{{ interview.app.course }} </p>
                  <p class="govuk-caption-m govuk-!-margin-bottom-0">{{ interview.app.provider }}</p>
                </td>
                <td class="govuk-table__cell">
                  <p class="govuk-!-margin-bottom-1">{{interview.app.personalDetails.givenName}} {{interview.app.personalDetails.familyName}}</p>
                  {% if interview.app.interviewNeeds.length %}
                    <p class="govuk-!-margin-bottom-0 govuk-!-font-weight-bold">
                      {{ appIcon({
                        classes: "govuk-!-margin-right-1",
                        icon: "tick",
                        hidden: true
                      }) }}
                      Has interview preferences
                    </p>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock %}
