{% extends "_layout.njk" %}

{% set primaryNavId = 'interviews' %}
{% set title = "Interview schedule" %}

{% block content %}

  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{ appSubNavigation({
        label: 'Sub navigation',
        items: [{
          text: 'Upcoming interviews',
          href: '/interviews'
        }, {
          text: 'Past interviews',
          href: '/interviews/past',
          active: true
        }]
      }) }}

      {% if not interviews %}
        <p>No past interviews.</p>
      {% else %}
        <div class="app-interviews">
          {% for day, interviews in interviews %}

            <h2 class="govuk-heading-s govuk-!-margin-top-7 govuk-!-margin-bottom-3">
              {{ day | govukDate }}
            </h2>

            {% for interview in interviews %}
              {{appInterviewCard({
                link: '/application/'+interview.app.id+'/interviews#interview-'+interview.interview.id,
                date: interview.interview.date,
                name: interview.app.personalDetails.givenName + ' ' + interview.app.personalDetails.familyName,
                course: interview.app.course,
                provider: interview.app.provider,
                hasInterviewPreferences: interview.app.interviewNeeds.details
              })}}
            {% endfor %}
          {% endfor %}
        </div>
        {% include "_includes/pagination.njk" %}
      {% endif %}
    </div>
  </div>

{% endblock %}
