{% extends "_layout.njk" %}

{% set primaryNavId = 'account' %}

{% set title = "Notification settings" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Your account",
      href: "/account"
    }, {
      text: "Notification settings"
    }]
  }) }}
{% endblock %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <h2 class="govuk-heading-m">
        For courses run by {{ data.user.organisations[1].name }} and ratified by {{ data.accreditedBodies[0].name }}
      </h2>

      {% set emailAndOnline %}
        <p class="govuk-!-margin-bottom-2">By email – immediately</p>
        <p class="govuk-!-margin-bottom-0">Notifications area</p>
      {% endset %}

      {% set emailAndOnline2 %}
        <p class="govuk-!-margin-bottom-2">By email – once a day at 8am</p>
        <p class="govuk-!-margin-bottom-0">Notifications area</p>
      {% endset %}

      {% set noNotifications %}
        None
      {% endset %}

      {% set emailOnceADay %}
        By email – once a day at 8am
      {% endset %}

      {% set notificationsAreaOnly %}
        Notifications area
      {% endset %}

      {% set emailImmediately %}
        By email – immediately
      {% endset %}


      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Application submitted"
            },
            value: {
              html: emailAndOnline
            },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application submitted with safeguarding issue disclosed"
            },
            value: {
              html: emailAndOnline2
            },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application submitted over 5 days ago, no response sent"
            },
            value: {
              text: noNotifications
            },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application rejected by default"
            },
            value: {
              text: noNotifications
            },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Application withdrawn" },
            value: {text: emailOnceADay },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer accepted" },
            value: {text: emailOnceADay },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer declined" },
            value: {text: notificationsAreaOnly },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer declined by default" },
            value: {text: noNotifications },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Note added to application" },
            value: {text: emailImmediately },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        For courses run by {{ data.user.organisations[1].name }} and ratified by Teaching Brilliance University
      </h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Application submitted"
            },
            value: {
              html: emailAndOnline
            },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application submitted with safeguarding issue disclosed"
            },
            value: {
              html: emailAndOnline2
            },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application submitted over 5 days ago, no response sent"
            },
            value: {
              text: emailOnceADay
            },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application rejected by default"
            },
            value: {
              text: emailOnceADay
            },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Application withdrawn" },
            value: {text: emailOnceADay },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer accepted" },
            value: {text: emailOnceADay },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer declined" },
            value: {text: notificationsAreaOnly },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer declined by default" },
            value: {text: notificationsAreaOnly },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Note added to application" },
            value: {text: emailImmediately },
            actions: {
              items: [
                {
                  href: "/account/notifications/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
