<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-7 govuk-!-margin-bottom-2 ">Application details</h2>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Application number"
      },
      value: {
        text: application.id
      }
    },
    {
      key: {
        text: "Submitted"
      },
      value: {
        text: application.submittedDate | govukDateAtTime
      }
    },
    {
      key: {
        text: "Recruitment cycle"
      },
      value: {
        text: application.cycle | cycleLabel
      }
    }
  ]
}) }}
