<div class="app-box govuk-!-margin-top-4">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-27">Application details</h2>

  <p class="govuk-body"><a class="govuk-link" href="#" download>Download application (PDF)</a></p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Reference</h3>
  <p class="govuk-body">{{ application.id }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Submitted</h3>
  <p class="govuk-body">{{ application.submittedDate | govukDateAtTime }}</p>

  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Year received</h3>
  <p class="govuk-body">{{ application.cycle | cycleLabel }}</p>

  <p class="govuk-body">
    {% if application.status in ["Received", "Interviewing"] %}
      <a class="govuk-link" href="/applications/{{ application.id }}/reject">Reject or withdraw application</a>
    {% else %}
      <a class="govuk-link" href="/applications/{{ application.id }}/reject">Withdraw application</a>
    {% endif %}
  </p>
</div>
