<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-7 govuk-!-margin-bottom-2 ">
  Contact information
</h2>

{% set contactAddress %}
  {{ application.contactDetails.address.line1 }}<br>
  {{ application.contactDetails.address.line2 }}<br>
  {{ application.contactDetails.address.level2 }}<br>
  {{ application.contactDetails.address.level1 }}<br>
  {{ application.contactDetails.address.postcode }}
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Phone number"
    },
    value: {
      html: application.contactDetails.tel
    }
  },
  {
    key: {
      text: "Email address"
    },
    value: {
      html: "<a href=\"mailto:" + application.contactDetails.email + "\">" + application.contactDetails.email + "</a>"
    }
  },
  {
    key: {
      text: "Address"
    },
    value: {
      html: contactAddress
    }
  }]
}) }}
