<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-7 govuk-!-margin-bottom-2 ">Course applied for</h2>

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Training provider"
    },
    value: {
      text: application["provider"]
    },
    actions: {
      items: [
        {
          href: "/applications/" + application.id + "/course/edit/provider?referrer=details",
          text: "Change",
          visuallyHiddenText: "training provider"
        }
      ]
    } if application.status in ["Received","Interviewing"] and 1 == 0
  }, {
    key: {
      text: "Course"
    },
    value: {
      text: application.course
    },
    actions: {
      items: [
        {
          href: "/applications/" + application.id + "/course/edit/course?referrer=details",
          text: "Change",
          visuallyHiddenText: "course"
        }
      ]
    } if application.status in ["Received","Interviewing"]
  }, {
    key: {
      text: "Full time or part time"
    },
    value: {
      text: application.studyMode
    },
    actions: {
      items: [
        {
          href: "/applications/" + application.id + "/course/edit/study-mode?referrer=details",
          text: "Change",
          visuallyHiddenText: "full time or part time"
        }
      ]
    } if application.status in ["Received","Interviewing"] and course.studyModes.length > 1
  }, {
    key: {
      text: "Location"
    },
    value: {
      html: appLocation(application.location) if application.location.name else application.location
    },
    actions: {
      items: [
        {
          href: "/applications/" + application.id + "/course/edit/location?referrer=details",
          text: "Change",
          visuallyHiddenText: "location"
        }
      ]
    } if application.status in ["Received","Interviewing"] and course.locations.length > 1
  }, {
    key: {
      text: "Accredited body"
    },
    value: {
      html: application.accreditedBody
    },
    actions: {
      items: [
        {
          href: "#",
          text: "Change",
          visuallyHiddenText: "accredited body"
        }
      ]
    } if application.status in ["Received","Interviewing"] and 1 == 0
  } if application.accreditedBody != application.provider, {
    key: {
      text: "Qualification"
    },
    value: {
      text: application.qualifications | arrayToList(', ',' with ')
    },
    actions: {
      items: [
        {
          href: "/applications/" + application.id + "/course/edit/qualifications?referrer=details",
          text: "Change",
          visuallyHiddenText: "qualification"
        }
      ]
    } if application.status in ["Received","Interviewing"] and 1 == 0
  }, {
    key: {
      text: "Funding type"
    },
    value: {
      text: application.fundingType
    },
    actions: {
      items: [
        {
          href: "/applications/" + application.id + "/course/edit/funding-type?referrer=details",
          text: "Change",
          visuallyHiddenText: "funding type"
        }
      ]
    } if application.status in ["Received","Interviewing"] and 1 == 0
  }]
}) }}
