{% if application.status == 'Deferred' %}

  {% if data.settings == 'new-cycle' %}
    {% set promptHtml %}
      {% if canMakeOffersAndRejectApplications %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
          Confirm deferred offer
        </h2>
        <p>You need to confirm your deferred offer.</p>
      {% else %}
        <p>The deferred offer needs to be confirmed.</p>
      {% endif %}

      {% if application.deferredOfferUnavailable.course or application.deferredOfferUnavailable.location %}
        {{ govukButton({
          text: "Confirm deferred offer",
          classes: "govuk-!-margin-bottom-0",
          href: "/applications/" + application.id + "/offer/confirm-deferred-offer/unavailable"
        }) }}
      {% else %}
        {% if canMakeOffersAndRejectApplications %}
          {{ govukButton({
            text: "Confirm deferred offer",
            classes: "govuk-!-margin-bottom-0",
            href: "/applications/" + application.id + "/offer/confirm-deferred-offer/check"
          }) }}
        {% endif %}
      {% endif %}
    {% endset %}
  {% else %}
    {% set promptHtml %}
      <p class="govuk-body">Your offer will need to be confirmed at the start of the next recruitment cycle.</p>
    {% endset %}
  {% endif %}

  {{govukInsetText({
    html: promptHtml,
    classes: 'govuk-!-margin-top-0'
  })}}
{% endif %}
