{% if application.status == 'Deferred' %}

  {% if data.settings == 'new-cycle' %}
    {% set promptHtml %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Confirm deferred offer
      </h2>

      {% if application.offerCanNotBeReconfirmed.reason == "course" %}
        {# <p>{{application.course}} at {{application.provider}} is no longer available. You need to choose a different course.</p> #}
        {# <p>The course you offered the candidate in the previous cycle is not available in the current cycle.</p> #}
      {% elseif application.offerCanNotBeReconfirmed.reason == "location" %}
        {# <p>{{application.course}} is not available at Alliance Academy, Edgeware, Road Name, SW1 1AA. You need to choose another location or course.</p> #}
        {# <p>The course you offered the candidate in the previous cycle is not available in the current cycle.</p> #}
      {% else %}
        {# <p>The course offered to the candidate in the previous cycle is available in the current cycle.</p> #}
        <p>You need to confirm the deferred offer for this recruitment cycle.</p>
        {{ govukButton({
          text: "Confirm deferred offer",
          classes: "govuk-!-margin-bottom-0",
          href: "/applications/" + application.id + "/offer/reconfirm/check"
        }) }}
      {% endif %}
    {% endset %}
  {% else %}
    {% set promptHtml %}
      <p class="govuk-body">This offer will need to be confirmed at the start of the next recruitment cycle.</p>
    {% endset %}
  {% endif %}

  {{govukInsetText({
    html: promptHtml,
    classes: 'govuk-!-margin-top-0'
  })}}
{% endif %}
