{% if application.status == 'Deferred' %}

  {% if data.settings == 'new-cycle' %}
    {% set promptHtml %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
      Review and confirm the deferred offer
      </h2>

      {% if application.offerCanNotBeReconfirmed.reason == "course" %}
        {# <p>{{application.course}} at {{application.provider}} is no longer available. You need to choose a different course.</p> #}
        <p>The course you offered the candidate in the previous cycle is not available in the current cycle.</p>
      {% elseif application.offerCanNotBeReconfirmed.reason == "location" %}
        {# <p>{{application.course}} is not available at Alliance Academy, Edgeware, Road Name, SW1 1AA. You need to choose another location or course.</p> #}
        <p>The course you offered the candidate in the previous cycle is not available in the current cycle.</p>
      {% else %}
        <p>The course offered to the candidate in the previous cycle is available in the current cycle.</p>
      {% endif %}
      {{ govukButton({
        text: "Review deferred offer",
        classes: "govuk-!-margin-bottom-0",
        href: "/applications/" + application.id + "/offer/reconfirm"
      }) }}
    {% endset %}
  {% else %}
    {% set promptHtml %}
      <p class="govuk-body">You’ll be able to confirm this offer at the start of the next recruitment cycle on {{data.nextCycle.findOpens | govukDate}}.</p>
    {% endset %}
  {% endif %}

  {{govukInsetText({
    html: promptHtml,
    classes: 'govuk-!-margin-top-0'
  })}}
{% endif %}
