{% set degrees = application.degree %}

{% macro _degree(params) %}

<!-- <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">
  Degree: {{ params.type }} {{ params.subject }}
</h3> -->

<dl class="govuk-summary-list">

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Degree type
    </dt>
    <dd class="govuk-summary-list__value">
      {{ params.type }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Subject
    </dt>
    <dd class="govuk-summary-list__value">
      {{ params.subject }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Institution
    </dt>
    <dd class="govuk-summary-list__value">
      {{ params.org }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      {{ 'Predicted grade' if params.predicted else 'Grade' }}
    </dt>
    <dd class="govuk-summary-list__value">
      {{ params.grade }}
    </dd>
  </div>

  {% if params.country != "United Kingdom" %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Country
      </dt>
      <dd class="govuk-summary-list__value">
        {{ params.country }}
      </dd>
    </div>
  {% endif %}

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Start year
    </dt>
    <dd class="govuk-summary-list__value">
      {{ params.startDate }}
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      Graduation year
    </dt>
    <dd class="govuk-summary-list__value">
      {{ params.endDate }}
    </dd>
  </div>

  {% if params.naric %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Comparability
      </dt>
      <dd class="govuk-summary-list__value">
        UK ENIC or NARIC statement #{{ params.naric.reference }} says this is comparable to a {{ params.naric.comparable }}.
      </dd>
    </div>
  {% endif %}

</dl>
{% endmacro %}

<!-- <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">
  Degree{{ 's' if degrees.length > 1 }}
</h3> -->

{% for item in degrees %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if degrees.length > 1 %}
      <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">
        {{ loop.revindex | ordinal | capitalize }} degree
        <!-- {{ item.type }} {{ item.subject }} -->
      </h3>
    {% endif %}

    {{ _degree(item) }}

  </div>
</div>

{% endfor %}
