{% set degrees = application.degree %}

{% for item in degrees %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">
      {% if degrees.length > 1 %}
        {{ loop.index | ordinal | capitalize }} degree
      {% else %}
        Degree
      {% endif %}
    </h3>

    <dl class="govuk-summary-list">

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Degree type
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.type }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Subject
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.subject }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Institution
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.institution }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          {{ 'Predicted grade' if item.predicted else 'Grade' }}
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.grade }}
        </dd>
      </div>

      {% if item.country != "United Kingdom" %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Country
          </dt>
          <dd class="govuk-summary-list__value">
            {{ item.country }}
          </dd>
        </div>
      {% endif %}

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Start year
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.startYear }}
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Graduation year
        </dt>
        <dd class="govuk-summary-list__value">
          {{ item.graduationYear }}
        </dd>
      </div>

      {% if item.naric %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Comparability
          </dt>
          <dd class="govuk-summary-list__value">
            UK ENIC or NARIC statement #{{ item.naric.reference }} says this is comparable to a {{ item.naric.comparable }}.
          </dd>
        </div>
      {% endif %}

    </dl>

  </div>
</div>

{% endfor %}
