{% set offerAccepted = (application.status == "Conditions pending" or application.status == "Recruited") %}

{% set disabilitiesList %}
  {% if application.personalDetails.disabilities and application.personalDetails.disabilities.length %}
    <ul class="govuk-list">
      {% for disability in application.personalDetails.disabilities %}
        <li>{{disability}}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{% set sexValue = application.personalDetails.sex %}
{% if sexValue and not offerAccepted %}
  {% if not canViewSexDisabilityEthnicityInformation %}
    {% set sexValue = 'You cannot view this because you do not have permission to view sex, disability and ethnicity information.' %}
  {% else %}
    {% set sexValue = 'You’ll be able to view this if the candidate accepts an offer for this application.' %}
  {% endif %}
{% elseif sexValue and offerAccepted and not canViewSexDisabilityEthnicityInformation %}
  {% set sexValue = 'You cannot view this because you do not have permission to view sex, disability and ethnicity information.' %}
{% endif %}

{% set disabledValue = application.personalDetails.disabled %}
{% if disabledValue and not offerAccepted %}
  {% if not canViewSexDisabilityEthnicityInformation %}
    {% set disabledValue = 'You cannot view this because you do not have permission to view sex, disability and ethnicity information.' %}
  {% else %}
    {% set disabledValue = 'You’ll be able to view this if the candidate accepts an offer for this application.' %}
  {% endif %}
{% elseif disabledValue and offerAccepted and not canViewSexDisabilityEthnicityInformation %}
  {% set disabledValue = 'You cannot view this because you do not have permission to view sex, disability and ethnicity information.' %}
{% endif %}

{% set ethnicValue = application.personalDetails.ethnicGroup %}
{% if ethnicValue and not offerAccepted %}
  {% if not canViewSexDisabilityEthnicityInformation %}
    {% set ethnicValue = 'You cannot view this because you do not have permission to view sex, disability and ethnicity information.' %}
  {% else %}
    {% set ethnicValue = 'You’ll be able to view this if the candidate accepts an offer for this application.' %}
  {% endif %}
{% elseif ethnicValue and offerAccepted and not canViewSexDisabilityEthnicityInformation %}
  {% set ethnicValue = 'You cannot view this because you do not have permission to view sex, disability and ethnicity information.' %}
{% endif %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Do you want to answer a few questions about your sex, disability and ethnicity?"
      },
      value: {
        text: application.personalDetails.diversityQuestionnaireAnswered
      }
    },
    {
      key: {
        text: "What is your sex?"
      },
      value: {
        html: sexValue
      }
    } if sexValue,
    {
      key: {
        text: "Are you disabled?"
      },
      value: {
        html: disabledValue
      }
    } if disabledValue,
    {
      key: {
        text: "What disabilities do you have?"
      },
      value: {
        html: disabilitiesList
      }
    } if application.personalDetails.disabilities and canViewSexDisabilityEthnicityInformation and offerAccepted,
    {
      key: {
        text: "What is your ethnic group?"
      },
      value: {
        html: ethnicValue
      }
    } if ethnicValue,
    {
      key: {
        text: "Which of the following best describes your " + application.personalDetails.ethnicGroup + " background?"
      },
      value: {
        text: application.personalDetails.ethnicBackground
      }
    } if application.personalDetails.ethnicBackground and canViewSexDisabilityEthnicityInformation and offerAccepted
  ]
}) }}
