{% set providerHasViewDiversityInformationPermission = [true, false] | random %}

{# Whether candidate has completed diversity questionnaire #}
{% set diversityQuestionnaireCompleted = application.personalDetails.diversityQuestionnaireAnswered %}

{% set applicationAccepted = (application.status == "Conditions pending" or application.status == "Conditions met") %}

{% set offerContext = 'your' if application.status=='Offered' else 'an' %}


{% set diversityInformationSummaryList %}

  {% set isDisabled = true if application.personalDetails.disabledAnswer == "Yes" %}

  {% set disabledText %}
    {% if isDisabled %}
      {% set disabilities =application.personalDetails.disabilities %}
        {# Don't think 0 is possible with current survey questions #}
        {% if (disabilities | length == 0) %}
          No disabilities disclosed
        {% else %}
        <p class="govuk-body">
          The candidate disclosed the following {{ 'disability' | pluralise(disabilities | length) }}:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          {% for disability in disabilities %}
            <li>{{disability}}</li>
          {% endfor %}
        </ul>
        {% endif %}

    {% else %}
      No
    {% endif %}


  {%  endset %}

  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Sex"
      },
      value: {
        html: application.personalDetails.sex
      }
    }, {
      key: {
        text: "Disabled"
      },
      value: {
        html: application.personalDetails.disabledAnswer
      }
    }, {
      key: {
        text: "Disabilities"
      },
      value: {
        html: disabledText
      }
    } if isDisabled,
    {
      key: {
        text: "Ethnic group"
      },
      value: {
        html: application.personalDetails.ethnicGroup
      }
    }]
  }) }}
{% endset %}

{# {% set diversityInformationGuidanceHtml %}
  <h2 class="govuk-heading-m">Equality and diversity</h2>
  <p class="govuk-body">
    The equality and diversity questionnaire is optional and has no impact on the progress of your application.
  </p>
  <p class="govuk-body">
    We collect this data to reduce discrimination on the basis of sex, disability and ethnicity.
  </p>
  <p class="govuk-body">
    Your data will only be shared with training providers when you are enrolled on a course.
  </p>
{% endset %}

{{ govukDetails({
  summaryText: "View guidance given to candidate",
  html: diversityInformationGuidanceHtml
}) }} #}


{% if diversityQuestionnaireCompleted %}

  {% if providerHasViewDiversityInformationPermission %}

    {# {% if applicationAccepted %}
      {{ diversityInformationSummaryList | safe}}
    {% else %}
      <p class="govuk-body">The candidate disclosed information in the equality and diversity questionnaire.</p>
      <p class="govuk-body">You’ll be able to view this when {{offerContext}} offer has been accepted.</p>
    {% endif %} #}

  {% else %}

     {# <p class="govuk-body">The candidate disclosed information in the equality and diversity questionnaire.</p>
     {% if applicationAccepted %}
        <p class="govuk-body">This section is only available to users with permission to ‘view sex, disability and ethnicity information’.</p>
      {% else %}
        <p class="govuk-body">This will become available to users with permission to ‘view sex, disability and ethnicity information’ when {{offerContext}} offer has been accepted.</p>
    {% endif %} #}

  {% endif %}

{% else %}
  {# <p class="govuk-body">{{appNoInformationShared()}}</p> #}
{% endif %}

{% set providedInformation = "No" %}
{% if application.personalDetails.diversityQuestionnaireAnswered%}
  {% set providedInformation = "Yes" %}
{% endif %}

{% set sexInformation = "Unavailable: you cannot view this" %}
{% if providedInformation and applicationAccepted %}
  {% set sexInformation = application.personalDetails.sex %}
{% endif %}

{% set isDisabled = true if application.personalDetails.disabledAnswer == "Yes" %}
{% set disablitiesInformation = "Unavailable: you cannot view this" %}
{% if providedInformation and applicationAccepted and isDisabled and application.personalDetails.disabilities.length %}
  {% set disablitiesInformation %}
      <ul class="govuk-list govuk-list--bullet">
      {% for disability in disabilities %}
        <li>{{disability}}</li>
      {% endfor %}
    </ul>
  {% endset %}
{% endif %}

{{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you want to complete our questionnaire about equality and diversity?"
      },
      value: {
        html: providedInformation
      }
    },{
      key: {
        text: "What is your sex?"
      },
      value: {
        html: sexInformation
      }
    } if providedInformation, {
      key: {
        text: "Are you disabled?"
      },
      value: {
        html: application.personalDetails.disabledAnswer
      }
    } if providedInformation and applicationAccepted, {
      key: {
        text: "Disabilities"
      },
      value: {
        html: disablitiesInformation
      }
    } if isDisabled and providedInformation and applicationAccepted,
    {
      key: {
        text: "Ethnic group"
      },
      value: {
        html: application.personalDetails.ethnicGroup
      }
    } if providedInformation and applicationAccepted]
  }) }}






