{% set offerAccepted = (application.status == "Conditions pending" or application.status == "Recruited") %}

{% set disabilitiesList %}
  {% if application.personalDetails.disabilities and application.personalDetails.disabilities.length %}
    <ul class="govuk-list">
      {% for disability in application.personalDetails.disabilities %}
        <li>{{disability}}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endset %}

{% set sexValue = application.personalDetails.sex %}
{% if sexValue and not offerAccepted %}
  {% set sexValue = '<span class="app-permission-text">Unavailable: you can only view this information once the candidate has accepted your offer and you have permission to view sex, disability and ethnicity information</span>' %}
{% elseif sexValue and offerAccepted and not canViewSexDisabilityEthnicityInformation %}
  {% set sexValue = '<span class="app-permission-text">Unavailable: you can only view this information if you have permission to view sex, disability and ethnicity information</span>' %}
{% endif %}

{% set disabledValue = application.personalDetails.disabled %}
{% if disabledValue and not offerAccepted %}
  {% set disabledValue = '<span class="app-permission-text">Unavailable: you can only view this information once the candidate has accepted your offer and you have permission to view sex, disability and ethnicity information</span>' %}
{% elseif disabledValue and offerAccepted and not canViewSexDisabilityEthnicityInformation %}
  {% set disabledValue = '<span class="app-permission-text">Unavailable: you can only view this information if you have permission to view sex, disability and ethnicity information</span>' %}
{% endif %}

{% set ethnicValue = application.personalDetails.ethnicGroup %}
{% if ethnicValue and not offerAccepted %}
  {% set ethnicValue = '<span class="app-permission-text">Unavailable: you can only view this information once the candidate has accepted your offer and you have permission to view sex, disability and ethnicity information</span>' %}
{% elseif ethnicValue and offerAccepted and not canViewSexDisabilityEthnicityInformation %}
  {% set ethnicValue = '<span class="app-permission-text">Unavailable: you can only view this information if you have permission to view sex, disability and ethnicity information</span>' %}
{% endif %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Do you want to complete our questionnaire about equality and diversity?"
      },
      value: {
        text: application.personalDetails.diversityQuestionnaireAnswered
      }
    },
    {
      key: {
        text: "What is your sex?"
      },
      value: {
        html: sexValue
      }
    } if sexValue,
    {
      key: {
        text: "Are you disabled?"
      },
      value: {
        html: disabledValue
      }
    } if disabledValue,
    {
      key: {
        text: "Which disabilities do you have?"
      },
      value: {
        html: disabilitiesList
      }
    } if application.personalDetails.disabilities and canViewSexDisabilityEthnicityInformation and offerAccepted,
    {
      key: {
        text: "What is your ethnic group?"
      },
      value: {
        html: ethnicValue
      }
    } if ethnicValue,
    {
      key: {
        text: "Which of the following best describes your " + application.personalDetails.ethnicGroup + " background?"
      },
      value: {
        text: application.personalDetails.ethnicGroupDescription
      }
    } if application.personalDetails.ethnicGroupDescription and canViewSexDisabilityEthnicityInformation and offerAccepted
  ]
}) }}
