{% set item = application.englishLanguageQualification %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h2 class="govuk-heading-m govuk-!-margin-top-5">English as a foreign language</h2>

    <dl class="govuk-summary-list">

      {% if item.hasQualification == "Yes" %}

        {% if item.type != 'Other' %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assessment type
            </dt>
            <dd class="govuk-summary-list__value">
              {% if item.type == 'IELTS' %}
                International English Language Testing System (IELTS)
              {% elif item.type == 'TOEFL' %}
                Test of English as a Foreign Language (TOEFL)
              {% else %}
                Other
              {% endif %}
            </dd>
          </div>

          {% if item.reference %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ item.referenceLabel }}
              </dt>
              <dd class="govuk-summary-list__value">
                {{ item.reference }}
              </dd>
            </div>
          {% endif %}

        {% else %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Assessment type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.reference }}
            </dd>
          </div>

        {% endif %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ item.gradeLabel }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ item.grade }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year completed
          </dt>
          <dd class="govuk-summary-list__value">
            {{ item.year | date('y') }}
          </dd>
        </div>

      {% else %}

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Have you done an English as a foreign language assessment?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ item.status }}
          </dd>
        </div>

        {% if item.reason %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              If you’re planning on doing an assessment, give details
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.reason }}
            </dd>
          </div>
        {% endif %}

      {% endif %}
    </dl>

  </div>
</div>
