{% set item = application.englishLanguageQualification %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h2 class="govuk-heading-m govuk-!-margin-top-5">English as a foreign language</h2>

    <p class="govuk-body">{{ item.status }}.</p>

    {% if item.hasQualification == "Yes" %}

      <dl class="govuk-summary-list">

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ item.type }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Year awarded
          </dt>
          <dd class="govuk-summary-list__value">
            {{ item.year }}
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ item.gradeLabel }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ item.grade }}
          </dd>
        </div>

        {% if item.reference %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{ item.referenceLabel }}
            </dt>
            <dd class="govuk-summary-list__value">
              {{ item.reference }}
            </dd>
          </div>
        {% endif %}
      </dl>

    {% elif item.reason %}

      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Reason given</h3>
      <p class="govuk-body">{{ item.reason }}</p>

    {% endif %}

  </div>
</div>
