<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-7 govuk-!-margin-bottom-2 ">Personal details</h2>

{{ govukSummaryList({
  rows: [{
    key: {
      text: "First name"
    },
    value: {
      text: "David"
    }
  }, {
    key: {
      text: "Last name"
    },
    value: {
      text: "Schmeichel"
    }
  },  {
    key: {
      text: "Date of birth"
    },
    value: {
      text: "2 November 1986"
    }
  },{
    key: {
      text: "Nationality"
    },
    value: {
      text: "Swiss"
    }
  },{
    key: {
      text: "Do you have the right to work or study in the UK?"
    },
    value: {
      text: "Yes"
    }
  },{
    key: {
      text: "Immigration status"
    },
    value: {
      text: "EU pre-settled status"
    }
  }, {
    key: {
      text: "Date entered the UK"
    },
    value: {
      text: "1 August 2018"
    }
  }, {
    key: {
      text: "Contact address"
    },
    value: {
      text: "Chutzenstrasse 38, 3007 Bern, Switzerland"
    }
  }, {
    key: {
      text: "Permanent address"
    },
    value: {
      html: "85 Beresford St, Manchester M14 4RZ"
    }
  }]
}) }}
