<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {% if not query.transferred %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        {{name}}
        <span class="govuk-visually-hidden">{{pageName}}</span>
        {{ govukTag({ classes: application.status | statusClass, text: application.status }) }}
      </h1>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds govuk-!-padding-right-0">
          {% include "_includes/applications/prompts.njk" %}
        </div>
      </div>
    {% else %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        {{name}} -
        application transferred to another organisation
        <span class="govuk-visually-hidden">{{pageName}}</span>
      </h1>
    {% endif %}
  </div>
</div>
