<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
    {% if not query.transferred %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        {{name}}
        <span class="govuk-visually-hidden">{{pageName}}</span>
        {{ govukTag({ classes: statusText | statusClass, text: statusText }) }}
      </h1>
      {% include "_includes/applications/prompts.njk" %}
    {% else %}
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
        {{name}} -
        this application has been transferred to another organisation
        {# this application is no longer being made to {{application.offer.provider}} #}
        {# this application is no longer being made to your organisation #}
        {# this application is no longer being made to a course provided by your organisation #}
        {# no longer applying to your organisation #}
        {# you can no longer see all of the details of this application because it’s been transferred to another organisation #}
        <span class="govuk-visually-hidden">{{pageName}}</span>
      </h1>
    {% endif %}
  </div>
</div>
