{% if application.status == 'Offered' %}
  {% set promptHtml %}
    {# <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Waiting for candidate’s response</h2> #}
      <p> You made this offer {{ application.offer.madeDate | daysAgo }} days ago. Most candidates respond to offers within 15 working days. The candidate will receive reminders to respond.</p>
  {% endset %}

  {{govukInsetText({
    html: promptHtml,
    classes: 'govuk-!-margin-top-0'
  })}}
{% endif %}


