{% if statusText == 'Offered' %}
  {% set promptHtml %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Waiting on candidate’s decision</h2>
    {% if application.offer.daysToDecline == 0 %}
      <p>{{application.personalDetails.name}} has less than a day to make a decision - this offer will be automatically declined on {{application.offer.declineByDate | govukDateAtTime }}.</p>
    {% else %}
      <p>{{application.personalDetails.name}} has {{application.offer.daysToDecline}} day{{'s' if application.offer.daysToDecline > 1}} to make a decision – this offer will be automatically declined on {{application.offer.declineByDate | govukDateAtTime }}.</p>
    {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{govukInsetText({
        html: promptHtml,
        classes: 'govuk-!-margin-top-0'
      })}}
    </div>
  </div>
{% endif %}


