{% set otherQualifications = application.otherQualifications
  | toArray
%}
{% if otherQualifications.length >= 1 %}
  <h3 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-margin-bottom-2">Other qualifications</h3>
  {% set rowData = [] %}
  {% for item in otherQualifications %}
    {% set institution = item.org if item.provenance == "domestic" else [item.org, item.country] | join(", ") %}
    {% set qualificationHtml %}
      {{ item.type }}
      {# {% if item.provenance != "international" %}
      <span class="govuk-caption-m govuk-!-font-size-16">
      {{ item.country }}
      </span>
      {% endif %} #}
    {% endset %}
    {% set rows = rowData.push([{
      html: qualificationHtml
    }, {
      html: item.subject
    },{
      html: item.country
    }, {
      html: item.year
    }, {
      html: item.grade
    }]) %}
  {% endfor %}
  {{ govukTable({
    head: [{
      text: "Qualification"
    }, {
      text: "Subject"
    }, {
      text: "Country"
    }, {
      text: "Awarded"
    }, {
      text: "Grade"
    }],
    rows: rowData
  }) }}
{% endif %}
