<h3 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-margin-bottom-2">A levels and other qualifications</h3>

{% if not application.otherQualifications %}
  <p>The candidate did not add A levels or other qualifications.</p>
{% endif %}

{% if application.otherQualifications %}

  {% set rowData = [] %}
  {% for item in application.otherQualifications %}
    {% set rows = rowData.push([{
      html: item.type
    }, {
      html: item.subject
    },{
      html: item.country
    } if hasOtherNonUkQualifications, {
      html: item.year
    }, {
      html: item.grade
    }]) %}
  {% endfor %}
  {{ govukTable({
    classes: "govuk-!-margin-top-" if application.otherQualifications,
    head: [{
      text: "Qualification"
    }, {
      text: "Subject"
    }, {
      text: "Country"
    } if hasOtherNonUkQualifications, {
      text: "Date awarded"
    }, {
      text: "Grade"
    }],
    rows: rowData
  }) }}
{% endif %}
