<h3 class="govuk-heading-m govuk-!-margin-top-3 govuk-!-margin-bottom-2">A levels and other qualifications</h3>

{% if not application.otherQualifications %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Do you want to add A levels and other qualifications?"
          },
          value: {
            text: "Yes" if application.otherQualifications else "No"
          }
        }
      ]
    }) }}
  </div>
</div>
{% endif %}

{% if application.otherQualifications %}
  {% set rowData = [] %}

  {% for item in application.otherQualifications %}
    {% set rows = rowData.push([{
      html: item.type
    }, {
      html: item.subject
    },{
      html: item.country
    } if hasOtherNonUkQualifications, {
      html: item.year
    }, {
      html: item.grade
    }]) %}
  {% endfor %}

  {{ govukTable({
    classes: "govuk-!-margin-top-" if application.otherQualifications,
    head: [{
      text: "Qualification"
    }, {
      text: "Subject"
    }, {
      text: "Country or territory"
    } if hasOtherNonUkQualifications, {
      text: "Year awarded"
    }, {
      text: "Grade"
    }],
    rows: rowData
  }) }}
{% endif %}
