<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-3 govuk-!-margin-bottom-2">Personal statement</h2>
        <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">Why do you want to teach?</h3>
        <p>{{ application.personalStatement.vocation | safe | nl2br or "—" }}</p>
        <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">Why are you suited to teach your subjects or age group?</h3>
        <p>{{ application.personalStatement.subjectKnowledge | safe | nl2br or "—" }}</p>
