{% set vocationKeyHtml %}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Vocation</h3>
  <p class="govuk-hint">Question to candidate: “Why do you want to be a teacher?”</p>
{% endset %}

{% set subjectKnowledgeKeyHtml %}
  <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Subject knowledge</h3>
  <p class="govuk-hint">Question to candidate: “Your knowledge about the subject you want to teach”</p>
{% endset %}

{{ govukSummaryList({
  rows: [{
    key: {
      html: vocationKeyHtml
    },
    value: {
      html: application.personalStatement.vocation | nl2br or "—"
    }
  }, {
    key: {
      html: subjectKnowledgeKeyHtml
    },
    value: {
      html: application.personalStatement.subjectKnowledge | nl2br or "—"
    }
  }]
}) }}
