{% set nationalityText %}
  {% set nationalities = application.personalDetails.nationality %}
  {%- for nationality in nationalities -%}
    {{ (" and " if loop.last else ", ") if not loop.first }}{{ nationality }}
  {%- endfor -%}
{% endset %}

<h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-7 govuk-!-margin-bottom-2 ">
  Personal information
</h2>

{% set rightToWorkStudyHowHTML %}
<p class="govuk-body">{{ application.personalDetails.rightToWorkStudyHow }}</p>
<p class="govuk-body">{{ application.personalDetails.rightToWorkStudyHowDetails }}</p>
{% endset %}

{% set immigrationStatusHTML %}
<p class="govuk-body">{{application.personalDetails.immigrationStatus}}</p>
<p class="govuk-body">{{application.personalDetails.immigrationStatusDetails}}</p>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "First name"
      },
      value: {
        text: application.personalDetails.givenName
      }
    },
    {
      key: {
        text: "Last name"
      },
      value: {
        text: application.personalDetails.familyName
      }
    },
    {
      key: {
        text: "Date of birth"
      },
      value: {
        text: application.personalDetails.dateOfBirth | govukDate
      }
    },
    {
      key: {
        text: "Nationality"
      },
      value: {
        text: nationalityText
      }
    },
    {
      key: {
        text: "Will you have lived in the UK in the 3 years before your teacher training starts?"
      },
      value: {
        text: application.personalDetails.lengthOfStay
      }
    } if application.personalDetails.lengthOfStay.length,
    {
      key: {
        text: "Do you have the right to work or study in the UK for the length of the teacher training course?"
      },
      value: {
        text: application.personalDetails.rightToWorkStudy
      }
    } if application.personalDetails.rightToWorkStudy.length,
    {
      key: {
        text: "How will you get the right to work or study in the UK?"
      },
      value: {
        text: application.personalDetails.rightToWorkStudyHowDetails if application.personalDetails.rightToWorkStudyHowDetails.length else application.personalDetails.rightToWorkStudyHow
      }
    } if application.personalDetails.rightToWorkStudyHow.length,
    {
      key: {
        text: "What is your immigration status?"
      },
      value: {
        text: application.personalDetails.immigrationStatusDetails if application.personalDetails.immigrationStatusDetails.length else application.personalDetails.immigrationStatus
      }
    } if application.personalDetails.immigrationStatus.length,
    {
      key: {
        text: "When did you enter the UK?"
      },
      value: {
        text: application.personalDetails.dateEnteredUK | govukDate
      }
    } if application.personalDetails.dateEnteredUK.length
  ]
}) }}
