{% include "_includes/applications/received-prompt.njk" %}
{% include "_includes/applications/shortlisted-prompt.njk" %}
{% include "_includes/applications/interview-prompt.njk" %}
{% include "_includes/applications/offer-prompt.njk" %}
{% include "_includes/applications/deferred-prompt.njk" %}
{% include "_includes/applications/feedback-prompt.njk" %}
