
{% if application["references"]["first"] %}
  <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">{{ application["references"]["first"].type }} reference from {{ application["references"]["first"].name }}</h2>
  {% set referenceId = "first" %}
  {% include "_includes/applications/reference.njk" %}
{% endif %}

{% if application["references"]["second"] %}
  <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">{{ application["references"]["second"].type }} reference from {{ application["references"]["second"].name }}</h2>
  {% set referenceId = "second" %}
  {% include "_includes/applications/reference.njk" %}
{% endif %}

{% if application["references"]["third"] %}
  <h2 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">{{ application["references"]["third"].type }} reference from {{ application["references"]["third"].name }}</h2>
  {% set referenceId = "third" %}
  {% include "_includes/applications/reference.njk" %}
{% endif %}
