  {# <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-27">Rejection details</h2> #}

  {# {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Automatically rejected"
      },
      value: {
        text: rejectedDate | govukDate
      }
    },
    {
      key: {
        text: "Feedback sent"
      },
      value: {
        text: rejectedDate | govukDate
      }
    },
    {
      key: {
        text: "Feedback for candidate"
      },
      value: {
        text: rejectionReasons['why']
      }
    }
  ]}) }} #}

  {# {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Rejected"
        },
        value: {
          text: rejectedDate | govukDate
        }
      },
      {
        key: {
          text: "Feedback for candidate"
        },
        value: {
          text: rejectionReasons['why']
        }
      }
    ]
  }) }} #}
