{% if application.status == "Rejected"  and application.rejectedReasons%}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-27">Rejection details</h2>

  {% if application.rejectedDate == application.rejectedFeedbackDate %}
    <p>This application was rejected on  {{ application.rejectedDate | govukDate }}. The following feedback was sent to the candidate.</p>
  {% else %}
    <p>This application was automatically rejected on {{ application.rejectedDate | govukDate }}. Feedback was sent on {{ application.rejectedFeedbackDate | govukDate }}.</p>
  {% endif %}
  {% set rejectionReasons = application.rejectedReasons %}
  {% include "_includes/candidate-feedback.njk" %}
{% endif %}

  {# <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-27">Rejection details</h2> #}

  {# {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Automatically rejected"
      },
      value: {
        text: rejectedDate | govukDate
      }
    },
    {
      key: {
        text: "Feedback sent"
      },
      value: {
        text: rejectedDate | govukDate
      }
    },
    {
      key: {
        text: "Feedback for candidate"
      },
      value: {
        text: rejectionReasons['why']
      }
    }
  ]}) }} #}

  {# {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Rejected"
        },
        value: {
          text: rejectedDate | govukDate
        }
      },
      {
        key: {
          text: "Feedback for candidate"
        },
        value: {
          text: rejectionReasons['why']
        }
      }
    ]
  }) }} #}
