{% if application.statusText == "Closed" and application.status != "Offer withdrawn" %}
  <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-font-size-27">Why this application was closed</h2>
{% endif %}

{% if application.status == "Application withdrawn" %}
  <p>The candidate withdrew their application.</p>
{% elseif application.status == "Offer withdrawn" %}
  {# <p>We withdrew their application.</p> #}
{% elseif application.status == "Conditions not met" %}
  <p>The candidate failed to meet one or more conditions.</p>
{% elseif application.status == "Declined" %}
  <p>The candidate declined your offer.</p>
{% elseif application.rejectedReasons %}
  {% set rejectedDate = application.rejectedDate %}
  {% set rejectionReasons = application.rejectedReasons %}
  {% set showRejectedDate = true %}

  {# <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-27">Rejection details</h2> #}

  {# {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Automatically rejected"
      },
      value: {
        text: rejectedDate | govukDate
      }
    },
    {
      key: {
        text: "Feedback sent"
      },
      value: {
        text: rejectedDate | govukDate
      }
    },
    {
      key: {
        text: "Feedback for candidate"
      },
      value: {
        text: rejectionReasons['why']
      }
    }
  ]}) }} #}

  {# {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Rejected"
        },
        value: {
          text: rejectedDate | govukDate
        }
      },
      {
        key: {
          text: "Feedback for candidate"
        },
        value: {
          text: rejectionReasons['why']
        }
      }
    ]
  }) }} #}

  {# <p>This application was automatically rejected on {{ rejectedDate | govukDate }}. Feedback was sent on {{ rejectedDate | govukDate }}.</p> #}



  <p>This application was closed on  {{ rejectedDate | govukDate }}. The following feedback was sent to the candidate.</p>
  {% include "_includes/candidate-feedback.njk" %}
{% endif %}
