{% if application.status == 'Received' %}
  {% set promptHtml %}

    {% if canSetupInterviews and canMakeDecisions %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Set up an interview or make a decision</h2>
    {% elseif canSetupInterviews %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Set up an interview</h2>
    {% elseif canMakeDecisions %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Make a decision</h2>
    {% endif %}
    {% if application.daysToRespond == 0 %}
      <p>This application will be automatically rejected if a decision has not been made by the end of today ({{application.respondByDate | govukDate }} at 11:59pm).</p>
    {% elseif application.daysToRespond == 1 %}
      <p>This application will be automatically rejected if a decision has not been made by the end of tomorrow ({{application.respondByDate | govukDate }} at 11:59pm).</p>
    {% else %}
      <p>This application will be automatically rejected if a decision has not been made within {{application.daysToRespond}} days ({{application.respondByDate | govukDate }} at 11:59pm).</p>
    {% endif %}
    {% if canSetupInterviews %}
      {{ govukButton({
        text: "Set up interview",
        classes: "govuk-!-margin-bottom-0 govuk-!-margin-right-2",
        href: "/applications/" + application.id + "/interviews/new"
      }) }}
    {% endif %}
    {% if canMakeDecisions %}
      {% set secondaryClass = "" %}
      {% if canSetupInterviews %}
        {% set secondaryClass = "govuk-button--secondary" %}
      {% endif %}
      {{ govukButton({
        text: "Make decision",
        classes: "govuk-!-margin-bottom-0 " + secondaryClass,
        href: "/applications/" + application.id + "/decision"
      }) }}
    {% endif %}
  {% endset %}

  {{govukInsetText({
    html: promptHtml,
    classes: 'govuk-!-margin-top-0'
  })}}
{% endif %}


