{% if application.status == 'Received' %}
  {% set promptHtml %}

    {% if canManageInterviews and canMakeOffersAndRejectApplications %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Set up an interview or make a decision</h2>
    {% elseif canManageInterviews %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Set up an interview</h2>
    {% elseif canMakeOffersAndRejectApplications %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Make a decision</h2>
    {% endif %}
      <p>This application was received {{ application.submittedDate | daysAgo }} days ago. You should try and respond to the candidate within 30 days.</p>
    {% if canManageInterviews %}
      {{ govukButton({
        text: "Set up interview",
        classes: "govuk-!-margin-bottom-0 govuk-!-margin-right-2",
        href: "/applications/" + application.id + "/interviews/new"
      }) }}
    {% endif %}
    {% if canMakeOffersAndRejectApplications %}
      {% set secondaryClass = "" %}
      {% if canManageInterviews %}
        {% set secondaryClass = "govuk-button--secondary" %}
      {% endif %}
      {{ govukButton({
        text: "Make decision",
        classes: "govuk-!-margin-bottom-0 " + secondaryClass,
        href: "/applications/" + application.id + "/decision"
      }) }}
    {% endif %}
  {% endset %}

  {{govukInsetText({
    html: promptHtml,
    classes: 'govuk-!-margin-top-0'
  })}}
{% endif %}


