{% if statusText == 'Received' %}
  {% set promptHtml %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Set up an interview or make a decision</h2>
    {% if application.daysToRespond == 0 %}
      <p>This application will be automatically rejected tonight at 11:59pm.</p>
    {% else %}
      <p>You have {{application.daysToRespond}} day{{'s' if application.daysToRespond > 1}} to make a decision. This application will be automatically rejected on {{application.respondByDate | govukDate }} at 11:59pm.</p>
    {% endif %}
    {{ govukButton({
      text: "Set up interview",
      classes: "govuk-!-margin-bottom-0 govuk-!-margin-right-2",
      href: "/applications/" + application.id + "/interviews/new"
    }) }}
    {{ govukButton({
      text: "Make decision",
      classes: "govuk-!-margin-bottom-0 govuk-!-margin-right-2 govuk-button--secondary",
      href: "/applications/" + application.id + "/decision"
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{govukInsetText({
        html: promptHtml,
        classes: 'govuk-!-margin-top-0'
      })}}
    </div>
  </div>
{% endif %}


