{% set schoolExperience = application.schoolExperience
  | toArray
  | sort(attribute="startDate") | reverse
%}

{% if schoolExperience.length >= 1 %}
  {% set rowData = [] %}
  {% for item in schoolExperience %}
    {% set startDate = item.startDate | date("LLLL yyyy") %}
    {% set endDate = item.endDate | date("LLLL yyyy") if item.endDate else "Present" %}

    <div class="app-experience__item {% if loop.last %}app-experience__item--last{% endif%}">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ item.role }}</h3>
      <p class="govuk-body govuk-!-margin-bottom-0">{{item.org}}</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-0">{{[startDate, endDate] | join(" to ")}}</p>
      <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-1">{{ item.timeCommitment or "—" }}</p>
      {%- if item.workedWithChildren == "Yes" %}
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-2">{{ appIcon({
          icon: "check",
          hidden: true
        }) }} Worked with children</p>
      {%- endif %}
    </div>
  {% endfor %}
{% else %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you have any experience to add?"
      },
      value: {
        html: "No"
      }
    }]
  }) }}
{% endif %}
