
{{ appSubNavigation({
  navigationLabel: 'Application menu',
  items: [{
    html: 'Application' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/applications/'+application.id,
    active: (subNavId == "application")
  }, {
    html: 'Interviews' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/applications/'+application.id+'/interviews',
    active: (subNavId == "interviews")
  } if application.interviews.items.length, {
    html: 'Offer' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/applications/'+application.id+'/offer',
    active: (subNavId == "offer")
  } if application.offer, {
    html: 'References' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/applications/'+application.id+'/references',
    active: (subNavId == "references")
  }, {
    html: 'Notes' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/applications/'+application.id+'/notes',
    active: (subNavId == "notes")
  }, {
    html: 'Timeline' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/applications/'+application.id+'/timeline',
    active: (subNavId == "timeline")
  }, {
    html: 'Feedback' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/applications/'+application.id+'/feedback',
    active: (subNavId == "feedback")
  } if (application.status == "Rejected" and application.rejectedReasons) or (application.status == "Offer withdrawn") or (application.status == "Application withdrawn"), {
    html: 'Other applications' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/applications/'+application.id+'/other-applications',
    active: (subNavId == "other-applications")
  } if otherApplications.length > 0]
}) }}
