{% set workHistoryItems = application.workHistory.items
  | sort(attribute="startDate") | reverse
%}

{% if workHistoryItems.length >= 1 %}
  {% set rowData = [] %}
  {% for item in workHistoryItems %}
    {% set org = item.org if item.category == "job" %}
    <div class="app-experience__item">
      {% if item.category == "break" %}
        <div class="govuk-inset-text govuk-!-margin-bottom-0 govuk-!-margin-top-0 govuk-!-padding-bottom-0 govuk-!-padding-top-0">
      {% endif %}
      {% if item.category == "job" %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-0">
          {{ item.role }}
          {% if item.type == "Part time" %}
            (part time)
          {% endif %}
        </h3>
      {% elseif item.category == "break" %}
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0 govuk-!-margin-top-0">Break ({{item.duration}})</h3>
      {% endif %}
      <p class="govuk-body govuk-!-margin-bottom-0">{{org}}</p>
      <p class="govuk-caption-m govuk-!-margin-bottom-0">
        {{item.startDate | date("LLLL yyyy")}}
        {% if item.isStartDateApproximate and item.category != "break" %}
          (approximate)
        {% endif %}
        to
        {% if item.endDate  %}
          {{item.endDate | date("LLLL yyyy")}}
          {% if item.isEndDateApproximate and item.category != "break" %}
            (approximate)
          {% endif %}
        {% else %}
          Present
        {% endif %}
      </p>
      {% if item.category == "break" %}<p class="govuk-body govuk-!-margin-bottom-0 govuk-!-margin-top-2">{{ item.description }}</p>{% endif %}
      {%- if item.relevantToTeaching == "Yes" %}
        <p class="govuk-body govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-2">{{ appIcon({
          icon: "check",
          hidden: true
        }) }} This role used skills relevant to teaching</p>
      {%- endif %}

      {% if item.category == "break" %}
        </div>
      {% endif %}

    </div>
  {% endfor %}
{% else %}

  {% set answer %}
    {% if application.workHistory.answer == 'no--in-full-time-education' %}
      No, I have always been in full time education
    {% else %}
      No, I do not have any work history
    {% endif %}
  {% endset %}


  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Do you have any work history?"
      },
      value: {
        html: answer
      }
    }, {
      key: {
        text: "Tell us why you’ve been out of the workplace"
      },
      value: {
        html: workHistory.reason
      }
    } if workHistory.reason]
    }) }}
{% endif %}
