ed{% extends "_layout.njk" %}

{% set primaryNavId = 'organisation-settings' %}
{% set title = "Interview scheduling" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Organisation settings",
      href: "/organisation-settings"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/organisation-settings/{{ org.id }}/interview-preferences">

        {{ govukRadios({
          name: "interviewPref",
          fieldset: {
            legend: {
              text: "How will you schedule interviews?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "manage",
              text: "Using this service",
              hint: {
                text: 'Enter the interview details and we will email them to the candidate'
              },
              checked: ( data.user.organisation['interviewPref'] == 'manage' )
            },
            {
              value: "external",
              text: "Using our own scheduling systems",
              hint: {
                text: 'Arrange the interviews yourself and just let us know you are interviewing the candidate'
              },
              checked: ( data.user.organisation['interviewPref'] == 'external' )
            },
            {
              value: "",
              text: "A mixture of both",
              hint: {
                text: 'We will ask you each time you move a candidate into Interviewing'
              },
              checked: ( data.user.organisation['interviewPref'] == null )
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
