ed{% extends "_layout.njk" %}

{% set primaryNavId = 'organisation-settings' %}
{% set title = "Interview scheduling" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Organisation settings",
      href: "/organisation-settings"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/organisation-settings/{{ org.id }}/interview-preferences">

        {{ govukRadios({
          name: "interviewPref",
          fieldset: {
            legend: {
              text: "How do you want to arrange interviews?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "manage",
              text: "Use this service to schedule the interview",
              hint: {
                text: 'You\’ll be able to enter the date and time. This service will email the details to the candidate'
              },
              checked: ( data.user.organisation['interviewPref'] == 'manage' )
            },
            {
              value: "external",
              text: "I'll arrange the interview on a different system",
              hint: {
                text: 'This will log the candidate as \'interviewing\'. You\’ll need to contact the candidate yourself to organise the date and time with them'
              },
              checked: ( data.user.organisation['interviewPref'] == 'external' )
            },
            {
              value: "",
              text: "A mixture of both",
              hint: {
                text: 'We will ask you each time you move a candidate to \'interviewing\''
              },
              checked: ( data.user.organisation['interviewPref'] != 'manage' and data.user.organisation['interviewPref'] != 'external' )
            }
          ]
        }) }}

        {{ govukButton({
          text: "Save"
        }) }}

      </form>
    </div>
  </div>

{% endblock %}
