{% extends "_layout.njk" %}

{% set primaryNavId = 'organisation-settings' %}
{% set title = "Interview scheduling" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Organisation settings",
      href: "/organisation-settings"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

  {% if showBanner %}

    {{ govukNotificationBanner({
      type: 'success',
      html: '<p class="govuk-notification-banner__heading">Interview scheduling preferences updated</p>'
    }) }}
  {% endif %}

  {% if data.user.organisation['interviewPref'] == 'manage' %}
    {% set interviewPref = 'Using Manage' %}
  {% elseif data.user.organisation['interviewPref'] == 'external' %}
    {% set interviewPref = 'Using our own system' %}
  {% else %}
    {% set interviewPref = 'Using Manage or our own systems' %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{org.name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "How will you schedule interviews?"
              },
              value: {
                text: interviewPref
              },
              actions: {
                items: [
                  {
                    href: "interview-preferences/edit",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}
    </div>
  </div>

{% endblock %}