{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "timeline" %}
{% set name = application.personalDetails.name %}
{% set title = 'Timeline - ' + application.personalDetails.name %}

{% block content %}

  {% set rbd = application.submittedDate | addDays(40) %}
  {% set remaining = rbd | daysFromNow(rbd) %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    {{name}}
    <span class="govuk-visually-hidden">Timeline</span>
    {{ govukTag({ classes: statusText | statusClass, text: statusText }) }}
  </h1>

  {% include "_includes/applications/respond-prompt.njk" %}
  {% include "_includes/applications/interview-prompt.njk" %}
  {% include "_includes/applications/defer-prompt.njk" %}
  {% include "_includes/applications/feedback-prompt.njk" %}
  {% include "_includes/applications/close-option.njk" %}

  {% include "_includes/applications/sub-nav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appTimeline({items: timeline}) }}
    </div>
  </div>
{% endblock %}
