{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "timeline" %}
{% set name = application.personalDetails.name %}
{% set title = 'Timeline - ' + application.personalDetails.name %}

{% block content %}

  {% if not query.transferred %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{name}}
      <span class="govuk-visually-hidden">Timeline</span>
      {{ govukTag({ classes: statusText | statusClass, text: statusText }) }}
    </h1>
    {% include "_includes/applications/prompts.njk" %}
  {% else %}
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
      {{name}} – transferred to an organisation you do not belong to
      <span class="govuk-visually-hidden">Timeline</span>
    </h1>
  {% endif %}

  {% include "_includes/applications/sub-nav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Timeline</h2>

      <div class="app-activity-log">
        {%- for event in events | reverse %}
          <div class="app-activity-log__item">
            <div class="app-activity-log__header">
              <h2 class="app-activity-log__title govuk-heading-s govuk-!-margin-bottom-1">
                {{ event.title }}
              </h2>
              <p class="app-activity-log__byline">
                {{event.user}},
                <time datetime="{{ event.date | formatDate }}">
                  {{- event.date | govukDateAtTime -}}
                </time>
              </p>
            </div>
            <div class="app-activity-log__description">
              {% if event.title == "Application submitted" %}
                <div class="app-activity-log__box">
                  {{appEventApplication({ application: application })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}">View application</a></p>
              {% elseif event.title == "Interview set up" %}

                <div class="app-activity-log__box">
                  {{appEventInterview({ interview: event.meta.interview })}}
                </div>

                {% if event.meta.interview.exists %}
                  <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/interviews/#interview{{event.meta.interview.id}}">View interview <span class="govuk-visually-hidden">{{event.meta.interview.date | govukDateAtTime}}</span></a></p>
                {% endif %}
              {% elseif event.title == "Interview changed" %}

                <div class="app-activity-log__box">
                  {{appEventInterview({ interview: event.meta.interview })}}
                </div>

                {% if event.meta.interview.exists %}
                  <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/interviews/#interview{{event.meta.interview.id}}">View interview <span class="govuk-visually-hidden">{{event.meta.interview.date | govukDateAtTime}}</span></a></p>
                {% endif %}
              {% elseif event.title == "Interview cancelled" %}
                <div class="app-activity-log__box">
                  {{appEventInterview({ interview: event.meta.interview, cancellationReason: event.meta.cancellationReason })}}
                </div>
              {% elseif event.title == "Offer made" %}
                <div class="app-activity-log__box">
                {{appEventOffer({ offer: event.meta.offer })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View offer</a></p>
              {% elseif event.title == "Offer changed" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ offer: event.meta.offer })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View offer</a></p>
              {% elseif event.title == "Offer accepted" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ application: application })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View offer</a></p>
              {% elseif event.title == "Offer declined" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ application: application })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View offer</a></p>
              {% elseif event.title == "Offer withdrawn" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ application: application })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/feedback">View feedback</a></p>
              {% elseif event.title == "Offer deferred" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ offer: event.meta.offer })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View offer</a></p>
              {% elseif event.title == "Offer reconfirmed" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ offer: event.meta.offer })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View offer</a></p>
              {% elseif event.title == "Conditions met" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ application: application })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View conditions</a></p>
              {% elseif event.title == "Conditions not met" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ application: application })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View conditions</a></p>
              {% elseif event.title == "Application rejected" and application.rejectedDate == application.rejectedFeedbackDate %}
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/feedback">View feedback</a></p>
              {% elseif event.title == "Feedback sent" %}
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/feedback">View feedback</a></p>
              {% elseif event.title == "Application withdrawn" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ application: application })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/feedback">View feedback</a></p>
              {% elseif event.title == "Status of conditions updated" %}
                <div class="app-activity-log__box">
                  {{appEventOffer({ application: application })}}
                </div>
                <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/offer">View conditions</a></p>
              {% elseif event.title == "Note added" and event.meta.note %}
                <div class="app-activity-log__box">
                {{appEventNote({ note: event.meta.note })}}
                </div>
                {% if event.meta.note.exists %}
                  <p class="app-log-card__note--link"><a href="/applications/{{application.id}}/notes/{{event.meta.note.id}}">View note <span class="govuk-visually-hidden">{{event.meta.note.date | govukDateAtTime}}</span></a></p>
                {% endif %}
              {% endif %}

            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
{% endblock %}

