{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "_components/location/macro.njk" import appLocation %}

{% set conditionsHtml %}
  {% if params.offer.conditions.length %}
    <ul class="govuk-list govuk-list--bullet">
      {% for condition in params.offer.conditions %}
        <li>
          {{condition.description}}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No conditions have been set for this offer.</p>
  {% endif %}
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Training provider"
      },
      value: {
        text: params.offer.provider
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: params.offer.course
      }
    },
    {
      key: {
        text: "Full time or part time"
      },
      value: {
        text: params.offer.studyMode
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: appLocation(params.offer.location) if params.offer.location.name else params.offer.location
      }
    },
    {
      key: {
        text: "Accredited body"
      },
      value: {
        text: params.offer.accreditedBody
      }
    },
    {
      key: {
        text: "Qualification"
      },
      value: {
        text: params.offer.qualifications | arrayToList(', ',' with ')
      }
    },
    {
      key: {
        text: "Funding type"
      },
      value: {
        text: params.offer.fundingType
      }
    },
    {
      key: {
        text: "Conditions"
      },
      value: {
        html: conditionsHtml
      }
    }
  ]
}) }}
