{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Training provider"
      },
      value: {
        text: params.offer.provider
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: params.offer.course
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        text: params.offer.location
      }
    },
    {
      key: {
        text: "Accredited body"
      },
      value: {
        text: params.offer.accreditedBody
      }
    }
  ]
}) }}
