{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set conditionsHtml %}
  {% if params.offer.conditions.length %}
    <ul class="govuk-list govuk-list--bullet">
      {% for condition in params.offer.conditions %}
        <li>
          {{condition.description}}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No conditions have been set for this offer.</p>
  {% endif %}
{% endset %}

{% set locationHtml %}
  <p class="govuk-body">
    {% if params.offer.location.name %}
      {{ params.offer.location.name }}<br>
      {% if params.offer.location.address.address1.length %}
        {{ params.offer.location.address.address1 }}<br>
      {% endif %}
      {% if params.offer.location.address.address2.length %}
        {{ params.offer.location.address.address2 }}<br>
      {% endif %}
      {% if params.offer.location.address.address3.length %}
        {{ params.offer.location.address.address3 }}<br>
      {% endif %}
      {% if params.offer.location.address.town.length %}
        {{ params.offer.location.address.town }}<br>
      {% endif %}
      {% if params.offer.location.address.postcode.length %}
        {{ params.offer.location.address.postcode }}<br>
      {% endif %}
    {% else %}
      {{ params.offer.location }}
    {% endif %}
  </p>
{% endset %}

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Training provider"
      },
      value: {
        text: params.offer.provider
      }
    },
    {
      key: {
        text: "Course"
      },
      value: {
        text: params.offer.course
      }
    },
    {
      key: {
        text: "Full time or part time"
      },
      value: {
        text: params.offer.studyMode
      }
    },
    {
      key: {
        text: "Location"
      },
      value: {
        html: locationHtml
      }
    },
    {
      key: {
        text: "Accredited body"
      },
      value: {
        text: params.offer.accreditedBody
      }
    },
    {
      key: {
        text: "Conditions"
      },
      value: {
        html: conditionsHtml
      }
    }
  ]
}) }}
