{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}

{% set title = 'Additional permissions - Invite user' %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/account/users/new/permissions/"+org.org.id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set runOrRatified %}
        {% if org.org.isAccreditedBody %}
          run
        {% else %}
          ratified
        {% endif %}
      {% endset %}

      {% set makeDecisionsHint %}
        {{appPermissions({
          runOrRatified: runOrRatified,
          permissionDescription: "make decisions and set up interviews",
          applicableOrgs: org.permissions.applicableOrgs.makeDecisions,
          nonApplicableOrgs: org.permissions.nonApplicableOrgs.makeDecisions
        })}}
      {% endset %}

      {% set safeguardingHint %}
        {{appPermissions({
          runOrRatified: runOrRatified,
          permissionDescription: "view criminal convictions and professional misconduct",
          applicableOrgs: org.permissions.applicableOrgs.viewSafeguardingInformation,
          nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewSafeguardingInformation
        })}}
      {% endset %}

      {% set diversityHint %}
        {{appPermissions({
          runOrRatified: runOrRatified,
          permissionDescription: "view equality and diversity information",
          applicableOrgs: org.permissions.applicableOrgs.viewDiversityInformation,
          nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewDiversityInformation
        })}}
      {% endset %}

      {% set makeDecisionsFlippy %}

        {% if org.permissions.applicableOrgs.makeDecisions %}
          <div class="govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">

            <p class="govuk-!-margin-bottom-1">Due to your organisational permissions, this user will be able to make decisions and set up interviews for courses {{runOrRatified}} by:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.applicableOrgs.makeDecisions %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.makeDecisions %}
          <div class="govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if not org.permissions.applicableOrgs.makeDecisions or org.permissions.applicableOrgs.makeDecisions.length == 0 %}
              <p class="govuk-!-margin-bottom-1">Due to your organisational permissions, this user will not be able to make decisions or set up interviews for courses {{runOrRatfied}} by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">They’ll not be able to make decisions and set up interviews for courses {{runOrRatified}} by:</p>
            {% endif %}

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.nonApplicableOrgs.makeDecisions %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

      {% set safeguardingFlippy %}
        {% if org.permissions.applicableOrgs.viewSafeguardingInformation %}
          <div class="govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">

            <p class="govuk-!-margin-bottom-1">Due to your organisational permissions, this user will be able to view criminal convictions and professional misconduct for courses {{runOrRatified}} by:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.applicableOrgs.viewSafeguardingInformation %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.viewSafeguardingInformation %}
          <div class="govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if not org.permissions.applicableOrgs.viewSafeguardingInformation or org.permissions.applicableOrgs.viewSafeguardingInformation.length == 0 %}
              <p class="govuk-!-margin-bottom-1">Due to your organisational permissions, this user will not be able to view criminal convictions and professional misconduct for courses {{runOrRatfied}} by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">They’ll not be able to make decisions and set up interviews for courses {{runOrRatified}} by:</p>
            {% endif %}

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.nonApplicableOrgs.viewSafeguardingInformation %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

      {% set diversityFlippy %}
        {% if org.permissions.applicableOrgs.viewDiversityInformation %}
          <div class="govuk-!-padding-bottom-0 govuk-!-padding-top-1 app-permissions-hint-text">

            <p class="govuk-!-margin-bottom-1">Due to your organisational permissions, this user will be able to view equality and diversity information for courses {{runOrRatified}} by:</p>

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.applicableOrgs.viewDiversityInformation %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.viewDiversityInformation %}
          <div class="govuk-!-padding-bottom-0 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if not org.permissions.applicableOrgs.viewDiversityInformation or org.permissions.applicableOrgs.viewDiversityInformation.length == 0 %}
              <p class="govuk-!-margin-bottom-1">Due to your organisational permissions, this user will not be able to view equality and diversity information for courses {{runOrRatfied}} by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">They’ll not be able to make decisions and set up interviews for courses {{runOrRatified}} by:</p>
            {% endif %}

            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.nonApplicableOrgs.viewDiversityInformation %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

      {% set flippyHtml%}
        <h2 class="govuk-heading-s">Make decisions and set up interviews</h2>

        {{makeDecisionsFlippy | safe}}

        <h2 class="govuk-heading-s">View criminal convictions and professional misconduct</h2>

        {{safeguardingFlippy | safe}}

        <h2 class="govuk-heading-s">View equality and diversity information</h2>

        {{diversityFlippy | safe}}

      {% endset %}

      {% set h1 %}
        <span class="govuk-caption-l">Invite user</span>
        Additional user permissions for {{org.org.name}}
      {% endset %}

      {# <p>Some additional permissions may only apply to courses ratified by certain organisations. This depends on your organisational permissions.</p>

      {{ govukDetails({
        summaryText: "Details of your organisational permissions",
        html: flippyHtml
      }) }} #}




      <form novalidate method="post">

          {{ govukCheckboxes({
            fieldset: {
              legend: {
                html: h1,
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "manageOrganisations",
                text: "Manage organisational permissions",
                label: {
                  classes: "govuk-label--"
                }
              },
              {
                value: "manageUsers",
                text: "Manage users",
                label: {
                  classes: "govuk-label--"
                }
              },
              {
                value: "makeDecisions",
                html: "Make decisions and set up interviews",
                label: {
                  classes: "govuk-label--"
                },
                hint: {
                  html: makeDecisionsHint
                }
              },
              {
                value: "viewSafeguardingInformation",
                text: "View criminal convictions and professional misconduct",
                label: {
                  classes: "govuk-label--"
                },
                hint: {
                  html: safeguardingHint
                }
              },
              {
                value: "viewDiversityInformation",
                text: "View equality and diversity information",
                label: {
                  classes: "govuk-label--"
                },
                hint: {
                  html: diversityHint
                }
              }
            ]
          } | decorateAttributes(data, 'data.newuser.permissions.'+org.org.id)) }}


        {{govukButton({
          text: "Continue"
        })}}
      </form>
      <p class="govuk-body"><a href="/account/users">Cancel</a></p>
    </div>
  </div>

{% endblock %}
