{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Check permissions and invite user" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/account/users/new"
  }) }}
{% endblock %}

{% block content %}

  {{orgs | log}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Invite user</span>
        {{title}}
      </h1>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['first-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/account/users/new">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['last-name']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/account/users/new">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{data.newuser['email-address']}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/account/users/{{user.id}}/email-address/edit">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        {% if data.user.organisations.length > 1 %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisations this user has access to
            </dt>
            <dd class="govuk-summary-list__value">
              {% for org in orgs %}
                <p>{{org.org.name}}</p>
              {% endfor %}
            </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/account/users/new/organisations">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
          </div>
        {% endif %}

        {% for org in orgs %}

          {% set runOrRatified %}
            {% if org.org.isAccreditedBody %}
              run
            {% else %}
              ratified
            {% endif %}
          {% endset %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Permissions for {{org.org.name}}
            </dt>
            <dd class="govuk-summary-list__value">
              {{"View applications (excluding sensitive information)" if data.newuser.access[org.org.id] == "View applications"}}

              {{"Additional permissions, such as making decisions or viewing sensitive information" if data.newuser.access[org.org.id] == "Additional permissions"}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/account/users/new/permissions/{{org.org.id}}">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          {% if data.newuser.access[org.org.id] == "Additional permissions" %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional permissions for {{org.org.name}}
              </dt>
              <dd class="govuk-summary-list__value">
                {% if org.permissions.manageOrganisations %}
                  <p class="govuk-!-font-weight-bol">
                    Manage organisational permissions
                  </p>
                {% endif %}
                {% if org.permissions.manageUsers %}
                  <p class="govuk-!-font-weight-bol">
                    Manage users
                  </p>
                {% endif %}
                {% if org.permissions.makeDecisions %}
                  <p class="govuk-!-font-weight-bol">
                    Make decisions and set up interviews
                  </p>

                  {# {{appPermissions({
                    runOrRatified: runOrRatified,
                    permissionDescription: "make decisions and set up interviews",
                    applicableOrgs: org.permissions.applicableOrgs.makeDecisions,
                    nonApplicableOrgs: org.permissions.nonApplicableOrgs.makeDecisions
                  })}} #}

                {% endif %}
                {% if org.permissions.viewSafeguardingInformation %}
                  <p class="govuk-!-font-weight-bol">
                    View criminal convictions and professional misconduct
                  </p>
                  {# {{appPermissions({
                    runOrRatified: runOrRatified,
                    permissionDescription: "view criminal convictions and professional misconduct",
                    applicableOrgs: org.permissions.applicableOrgs.viewSafeguardingInformation,
                    nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewSafeguardingInformation
                  })}} #}
                {% endif %}

                {% if org.permissions.viewDiversityInformation %}
                  <p class="govuk-!-font-weight-bol">
                    View equality and diversity information
                  </p>
                  {# {{appPermissions({
                    runOrRatified: runOrRatified,
                    permissionDescription: "view equality and diversity information",
                    applicableOrgs: org.permissions.applicableOrgs.viewDiversityInformation,
                    nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewDiversityInformation
                  })}} #}
                {% endif %}

              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/account/users/new/additional-permissions/{{org.org.id}}">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
          {% endif %}
        {% endfor %}
      </dl>

      <form novalidate method="post">
        {{govukButton({
          text: "Invite user"
        })}}
      </form>
      <p class="govuk-body"><a href="/account/users">Cancel</a></p>
    </div>
  </div>

{% endblock %}
