{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}

{% set title = 'Select organisations this user will have access to - Invite user' %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/account/users/new/organisations"
  }) }}
{% endblock %}

{% block content %}

  {{params.orgId}}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">Invite user</span>
        Permissions
      {% endset %}

      <form novalidate method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "View applications",
              text: "View applications (excluding sensitive information)"
            },
            {
              value: "Additional permissions",
              text: "Additional permissions, such as making decisions or viewing sensitive information"
            }
          ]
        } | decorateAttributes(data, 'data.newuser.access.'+org.org.id)) }}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
      <p class="govuk-body"><a href="/account/users">Cancel</a></p>
    </div>
  </div>

{% endblock %}
