{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}

{% set title = 'Select organisations this user will have access to - Invite user' %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/account/users/new/organisations"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">Invite user</span>
        Set permissions: {{ org.org.name }}
      {% endset %}

      {% set makeDecisionsHintHtml %}
        <p class="govuk-!-margin-bottom-1">Make offers, amend offers and reject applications</p>

        {% if org.permissions.applicableOrgs.makeDecisions %}
          <div class="govuk-!-margin-left-5">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list">
              {% for item in org.permissions.applicableOrgs.makeDecisions %}
                <li>{{ appIcon({
                    icon: "check",
                    hidden: true
                  }) }} {{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.makeDecisions %}
          <div class="govuk-!-margin-left-5">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list">
              {% for item in org.permissions.nonApplicableOrgs.makeDecisions %}
                <li>{{ appIcon({
                    icon: "cross",
                    hidden: true
                  }) }} {{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

      {% set safeguardingInformationHintHtml %}
        <p class="govuk-!-margin-bottom-1">View sensitive material about the candidate</p>
        {% if org.permissions.applicableOrgs.viewSafeguardingInformation %}
          <div class="govuk-!-margin-left-5">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list">
              {% for item in org.permissions.applicableOrgs.viewSafeguardingInformation %}
                <li>{{ appIcon({
                    icon: "check",
                    hidden: true
                  }) }} {{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.viewSafeguardingInformation %}
          <div class="govuk-!-margin-left-5">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list">
              {% for item in org.permissions.nonApplicableOrgs.makeDecisions %}
                <li>{{ appIcon({
                    icon: "cross",
                    hidden: true
                  }) }} {{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

      {% set diversityInformationHintHtml %}
        <p class="govuk-!-margin-bottom-1">View diversity information about the candidate</p>
        {% if org.permissions.applicableOrgs.viewDiversityInformation %}
          <div class="govuk-!-margin-left-5">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list">
              {% for item in org.permissions.applicableOrgs.viewDiversityInformation %}
                <li>{{ appIcon({
                    icon: "check",
                    hidden: true
                  }) }} {{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.viewDiversityInformation %}
          <div class="govuk-!-margin-left-5">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list">
              {% for item in org.permissions.nonApplicableOrgs.viewDiversityInformation %}
                <li>{{ appIcon({
                    icon: "cross",
                    hidden: true
                  }) }} {{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}


      <form novalidate method="post" >

        {% set permissionsHtml %}

          {{ govukCheckboxes({
              fieldset: {
                legend: {
                  html: "Select permissions",
                  classes: "govuk-fieldset__legend--m"
                }
              },
              items: [
                {
                  value: "manageOrganisations",
                  text: "Manage organisational permissions",
                  label: {
                    classes: "govuk-label--s"
                  },
                  hint: {
                    html: "<p>Change permissions between organisations</p>"
                  }
                },
                {
                  value: "manageUsers",
                  text: "Manage users",
                  label: {
                    classes: "govuk-label--s"
                  },
                  hint: {
                    html: "<p>Invite or delete users and set their permissions</p>"
                  }
                },
                {
                  value: "makeDecisions",
                  html: "Make decisions and set up interviews",
                  label: {
                    classes: "govuk-label--s"
                  },
                  hint: {
                    html: makeDecisionsHintHtml
                  }
                },
                {
                  value: "viewSafeguardingInformation",
                  text: "Access safeguarding information",
                  label: {
                    classes: "govuk-label--s"
                  },
                  hint: {
                    html: safeguardingInformationHintHtml
                  }
                },
                {
                  value: "viewDiversityInformation",
                  text: "Access diversity information",
                  label: {
                    classes: "govuk-label--s"
                  },
                  hint: {
                    html: diversityInformationHintHtml
                  }
                }
              ]
            } | decorateAttributes(data, 'data.newuser.permissions.'+org.org.id)) }}
        {% endset %}

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              text: "View applications only",
              hint: {
                text: "The user will be able to view all sections of the application, except sensitive candidate content"
              }
            },
            {
              text: "Extra permissions",
              hint: {
                text: "For example, being able to make offers and access sensitive content"
              },
              conditional: {
                html: permissionsHtml
              }
            }
          ]
        } | decorateAttributes(data, 'data.newuser.access.'+org.org.id)) }}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
