{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}

{% set title = 'Select organisations this user will have access to - Invite user' %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/account/users/new/organisations"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">
        Invite user
      </span>
      <h1 class="govuk-heading-l">
        Permissions
      </h1>



      <h2 class="govuk-heading-m">
        Administrative permissions
      </h2>

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "blah1",
        name: "blah1",
        fieldset: {
          legend: {
            text: "Manage organisations",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "On",
            text: "On"
          },
          {
            value: "Off",
            text: "Off",
            checked: true
          }
        ]
      }) }}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "blah2",
        name: "blah2",
        fieldset: {
          legend: {
            text: "Manage users and their permissions",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "On",
            text: "On"
          },
          {
            value: "Off",
            text: "Off",
            checked: true
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        Application permissions
      </h2>

      <p>This user will be able to view all applications to courses you run.</p>

  {% set makeDecisionsHintHtml %}
        {% if org.permissions.applicableOrgs.makeDecisions %}
          <div class="govuk-!-margin-left- govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.applicableOrgs.makeDecisions %}
                <li>{{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.makeDecisions %}
          <div class="govuk-!-margin-left- govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.nonApplicableOrgs.makeDecisions %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "blah3",
        name: "blah3",
        fieldset: {
          legend: {
            text: "Make decisions and set up interviews",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          html: makeDecisionsHintHtml
        },
        items: [
          {
            value: "On",
            text: "On"
          },
          {
            value: "Off",
            text: "Off",
            checked: true
          }
        ]
      }) }}

{% set safeguardingInformationHintHtml %}
        {% if org.permissions.applicableOrgs.viewSafeguardingInformation %}
          <div class="govuk-!-margin-left- govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.applicableOrgs.viewSafeguardingInformation %}
                <li>{{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.viewSafeguardingInformation %}
          <div class="govuk-!-margin-left- govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.nonApplicableOrgs.makeDecisions %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

  {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "blah4",
        name: "blah4",
        fieldset: {
          legend: {
            text: "View criminal convictions and professional misconduct",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          html: safeguardingInformationHintHtml
        },
        items: [
          {
            value: "On",
            text: "On"
          },
          {
            value: "Off",
            text: "Off",
            checked: true
          }
        ]
      }) }}

      {% set diversityInformationHintHtml %}
        {% if org.permissions.applicableOrgs.viewDiversityInformation %}
          <div class="govuk-!-margin-left- govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.applicableOrgs.viewDiversityInformation %}
                <li>{{ item.name }}
                </li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}

        {% if org.permissions.nonApplicableOrgs.viewDiversityInformation %}
          <div class="govuk-!-margin-left- govuk-!-padding-bottom-2 govuk-!-padding-top-1 app-permissions-hint-text">
            {% if org.org.isAccreditedBody %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses run by:</p>
            {% else %}
              <p class="govuk-!-margin-bottom-1">Does not apply to courses ratified by:</p>
            {% endif %}
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0">
              {% for item in org.permissions.nonApplicableOrgs.viewDiversityInformation %}
                <li>{{ item.name }}</li>
              {% endfor %}
            </ul>
          </div>
        {% endif %}
      {% endset %}

      {{ govukRadios({
        classes: "govuk-radios--inline",
        idPrefix: "blah5",
        name: "blah5",
        fieldset: {
          legend: {
            text: "View equality and diversity information",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        hint: {
          html: diversityInformationHintHtml
        },
        items: [
          {
            value: "On",
            text: "On"
          },
          {
            value: "Off",
            text: "Off",
            checked: true
          }
        ]
      }) }}

{#
      {% set h1 %}
        <span class="govuk-caption-l">Invite user</span>
        Set permissions
      {% endset %}








      <form novalidate method="post" >

        {% set permissionsHtml %}

          {{ govukCheckboxes({
              fieldset: {
                legend: {
                  html: "Select permissions",
                  classes: "govuk-fieldset__legend--s"
                }
              },
              items: [
                {
                  value: "manageOrganisations",
                  text: "Manage organisational permissions",
                  label: {
                    classes: "govuk-label--"
                  }
                },
                {
                  value: "manageUsers",
                  text: "Manage users and their permissions",
                  label: {
                    classes: "govuk-label--"
                  }
                },
                {
                  value: "makeDecisions",
                  html: "Make decisions and set up interviews",
                  label: {
                    classes: "govuk-label--"
                  },
                  hint: {
                    html: makeDecisionsHintHtml
                  }
                },
                {
                  value: "viewSafeguardingInformation",
                  text: "View criminal convictions and professional misconduct",
                  label: {
                    classes: "govuk-label--"
                  },
                  hint: {
                    html: safeguardingInformationHintHtml
                  }
                },
                {
                  value: "viewDiversityInformation",
                  text: "View equality and diversity information",
                  label: {
                    classes: "govuk-label--"
                  },
                  hint: {
                    html: diversityInformationHintHtml
                  }
                }
              ]
            } | decorateAttributes(data, 'data.newuser.permissions.'+org.org.id)) }}
        {% endset %}

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              text: "View applications only",
              hint: {
                text: "The user will be able to view all sections of the application, except sensitive candidate content"
              }
            },
            {
              text: "Extra permissions",
              hint: {
                text: "For example, being able to make offers and access sensitive content"
              },
              conditional: {
                html: permissionsHtml
              }
            }
          ]
        } | decorateAttributes(data, 'data.newuser.access.'+org.org.id)) }} #}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
