{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}

{% set title = "Review deferred offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/"
  }) }}
{% endblock %}

{% block content %}
  {% set conditionsHtml %}
    {% if conditions.length %}
      <ul class="govuk-list govuk-list--bullet">
        {% for condition in conditions %}
          <li>
            {{ condition.description }}
            {% if condition.status == "Pending" %}
                {% set statusClass = "app-tag--grey" %}
              {% elseif condition.status == "Met" %}
                {% set statusClass = "app-tag--green" %}
              {% elseif condition.status == "Not met" %}
                {% set statusClass = "app-tag--red" %}
              {% endif %}
              {{govukTag({ text: condition.status, classes: statusClass })}}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="govuk-body">None specified</p>
    {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {% set courseDetails %}
        <div class="govuk-!-margin-bottom-0">

          <h2 class="govuk-heading-m">
            Course details
          </h2>
          {{ govukSummaryList({
              rows: [{
                key: {
                  text: "Provider"
                },
                value: {
                  html: application.provider
                }
              }, {
                key: {
                  text: "Course"
                },
                value: {
                  html: application.course
                }
              }, {
                key: {
                  text: "Location"
                },
                value: {
                  html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
                }
              }, {
                key: {
                  text: "Full time or part time"
                },
                value: {
                  html: "Full time"
                }
              }
            ]})
          }}

          <h2 class="govuk-heading-m">
            Conditions of offer
          </h2>

          <dl class="govuk-summary-list app-conditions-list govuk-!-margin-bottom-0">
            {% for condition in conditions %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{condition.description}}
                  {% if application.status == "Accepted" %}
                      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/application/{{application.id}}/condition/{{condition.id}}/change-status">Update status</a></p>
                    {% endif %}
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if condition.status == "Pending" %}
                      {% set statusClass = "app-tag--grey" %}
                    {% elseif condition.status == "Met" %}
                      {% set statusClass = "app-tag--green" %}
                    {% elseif condition.status == "Not met" %}
                      {% set statusClass = "app-tag--red" %}
                    {% endif %}
                    {{govukTag({ text: condition.status, classes: statusClass })}}
                </dd>
              </div>
            {% endfor %}
          </dl>
        </div>
      {% endset %}

      <div class="app-offer-pane govuk-!-margin-bottom-7">
        <p>{{application.course}} is not available at Alliance Academy, Edgeware, Road Name, SW1 1AA. You need to choose another location or course.</p>

        {{ govukDetails({
          summaryText: "Details of deferred offer",
          html: courseDetails,
          classes: "govuk-!-margin-bottom-0 app-details--no-boder"
        }) }}
      </div>



      <form method="post">

        {{ govukRadios({
          idPrefix: "action",
          name: "action",
          fieldset: {
            legend: {
              text: "What do you want to do?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Choose a different location",
              text: "Choose a different location"
            },
            {
              value: "Choose a different course",
              text: "Choose a different course"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>





    </div>
  </div>
{% endblock %}
