{% set backLinkDestination = "/application/" + application.id + "/offer/reconfirm/unavailable-location/location" %}
{% set cancelLinkDestination = backLinkDestination %}

{% include "_includes/offer/reconfirm/statuses.njk" %}
