{% set backLinkDestination = "/application/" + application.id + '/offer/reconfirm/unavailable-course/check' %}
{% set cancelLinkDestination = backLinkDestination %}

{% include "_includes/offer/change-condition-status/status.njk" %}
