{% extends "_layout-register.njk" %}

{% set title = "You have sent invitations to training providers" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: title
      }) }}

      <h2 class="govuk-heading-m">What happens next</h2>

      <p class="govuk-body">Once the training provider {{- 's' if trainingProviderInviteCount > 1 }} have set up an account, their courses will be available through GOV.UK.</p>

      <p class="govuk-body">We’ll send you an email that will help you finish setting up your account.</p>

    </div>
  </div>
{% endblock %}
