{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}

{% set application = data.applications[applicationId] %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        {{ govukRadios({
          idPrefix: "applicatoncycle",
          name: "applicatoncycle",
          fieldset: {
            legend: {
              text: "Change cycle",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "Current cycle (2020-2021)",
              text: "Current cycle (2020-2021)",
              checked: checked("cycle", "Current cycle (2020-2021)", application)
            },
            {
              value: "Next cycle (2021-2022)",
              text: "Next cycle (2021-2022)",
              checked: checked("cycle", "Next cycle (2021-2022)", application)
            }
          ]
        }) }}

        {{ govukButton({
          text: "Confirm change of cycle"
        }) }}
      </form>

    </div>
  </div>



{% endblock %}
