{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set name = application.personalDetails.name %}
{% set title = "Make offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ name }}</span>
        {{ title }}
      </h1>

      <div class="app-box govuk-!-margin-bottom-7">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
          Course applied for
        </h2>

        {{ govukSummaryList({
          rows: [{
            key: {
              text: "Training provider"
            },
            value: {
              html: application.provider
            }
          }, {
            key: {
              text: "Course"
            },
            value: {
              html: application.course
            }
          }, {
            key: {
              text: "Full time or part time"
            },
            value: {
              html: application.studyMode
            }
          }, {
            key: {
              text: "Location"
            },
            value: {
              html: appLocation(application.location) if application.location.name else application.location
            }
          }, {
            key: {
              text: "Accredited body"
            },
            value: {
              html: application.accreditedBody
            }
          } if application.accreditedBody != application.provider, {
            key: {
              text: "Qualification"
            },
            value: {
              html: application.qualifications | arrayToList(', ',' with ')
            }
          }, {
            key: {
              text: "Funding type"
            },
            value: {
              html: application.fundingType
            },
            classes: 'govuk-summary-list__row--no-border'
          }
          ]})
        }}
      </div>

      <form action="/applications/{{ application.id }}/decision" method="post" accept-charset="UTF-8" novalidate>

        {{ govukRadios({
          idPrefix: "decision",
          name: "decision",
          fieldset: {
            legend: {
              text: "Do you want to make an offer for this course?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "1",
            text: "Yes"
          }, {
            value: "2",
            text: "No, change course details and make offer"
          }, {
            value: "3",
            text: "Reject application"
          } if 1 == 2]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="/applications/{{ application.id }}">Cancel</a>
      </p>

    </div>
  </div>

{% endblock %}
