{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Make a decision" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{name}}</span>
        {{title}}
      </h1>

      {% include "_includes/offer/course-details.njk" %}

      <form method="post">
        {{ govukRadios({
          fieldset: {
            legend: {
              text: "Select decision",
              classes: "govuk-fieldset__legend--m"
            }
          },
          idPrefix: "decision",
          name: "decision",
          items: [{
            value: "1",
            text: "Make an offer"
          },
          {
            value: "2",
            text: "Change course details and make an offer"
          },
          {
            value: "3",
            text: "Reject or withdraw application"
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}">Cancel</a></p>

    </div>
  </div>

{% endblock %}
