{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}

{% set title = "Applications (" + allApplications.length + ")" %}

{% block content %}

  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "_includes/search-panel.njk" %}

      {%- if applications.length %}

      <div class="govuk-tabs">
        <h2 class="govuk-tabs__title">
          Contents
        </h2>
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item{% if not statusTab or statusTab == 'action' %} govuk-tabs__list-item--selected{% endif %}">
            <a class="govuk-tabs__tab" href="applications?statusTab=action">
              Priority
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if statusTab == 'New' or statusTab == 'In review' or statusTab == 'Shortlisted' or statusTab == 'Received' %} govuk-tabs__list-item--selected{% endif %}">
            <a class="govuk-tabs__tab" href="applications?statusTab=New">
              Received
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if statusTab == 'In progress' or statusTab == 'Interviewing' or statusTab == 'Offered' or statusTab == 'Conditions pending' %} govuk-tabs__list-item--selected{% endif %}">
            <a class="govuk-tabs__tab" href="applications?statusTab=In progress">
              In progress
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if statusTab == 'Complete' or statusTab == 'Recruited' or statusTab == 'Unsuccessful' or statusTab == 'Deferred' %} govuk-tabs__list-item--selected{% endif %}">
            <a class="govuk-tabs__tab" href="applications?statusTab=Complete">
              Complete
            </a>
          </li>
          <li class="govuk-tabs__list-item{% if statusTab == 'all' %} govuk-tabs__list-item--selected{% endif %}">
            <a class="govuk-tabs__tab" href="applications?statusTab=all">
              All
            </a>
          </li>
        </ul>
        <div class="govuk-tabs__panel">

          {% if not selectedFilters.length and ( not statusTab or statusTab == 'action' ) %}

            {% set bannerHtml %}
              <p class="govuk-notification-banner__heading">Make a decision about these {{applications.length}} applications</p>
              <p class="govuk-body">They were submitted over 30 working days ago. 80% of providers respond within 8 days. Candidates could withdraw their application and apply to another provider if you do not respond soon.</p>
            {% endset %}

            {{ govukNotificationBanner({
              html: bannerHtml
            }) }}

          {% elseif statusTab == 'New' or statusTab == 'In review' or statusTab == 'Shortlisted' or statusTab == 'Received' %}
            <div class="app-status-header"><a href="applications?statusTab=Received" {% if statusTab == 'Received' %}class="selected"{% endif %}><strong>{{ appsNewCount + appsReviewCount + appsShortlistedCount }}</strong> total applications received</a></div>
            <div class="app-status-blocks">
              <p><a href="applications?statusTab=New" class="new{% if statusTab == 'New' %} selected{% endif %}"><strong>{{appsNewCount}}</strong> new applications</a></p>
              <p><a href="applications?statusTab=In review" class="progress{% if statusTab == 'In review' %} selected{% endif %}"><strong>{{appsReviewCount}}</strong> applications in review</a></p>
              <p><a href="applications?statusTab=Shortlisted" class="success{% if statusTab == 'Shortlisted' %} selected{% endif %}"><strong>{{appsShortlistedCount}}</strong> shortlisted applications</a></p>
            </div>

              {% if statusTab == 'Received' %}
              <h1 class="govuk-heading-s">
                Applications received ({{ appsNewCount + appsReviewCount + appsShortlistedCount }})
              </h1>

              {% elseif statusTab == 'New' %}
              <div class="app-application-header">
                <h1 class="govuk-heading-s">
                  New applications ({{allApplications.length}})
                </h1>
                {{ govukButton({
                  text: "Export new applications",
                  href: "/reports/export?status=new",
                  classes: "govuk-button--secondary"
                }) }}
              </div>
              {% elseif statusTab == 'In review' %}
              <h1 class="govuk-heading-s">
                Applications in review ({{allApplications.length}})
              </h1>

              {% elseif statusTab == 'Shortlisted' %}
              <h1 class="govuk-heading-s">
                Shortlisted applications ({{allApplications.length}})
              </h1>

              {% endif %}

          {% elseif statusTab == 'In progress' or statusTab == 'Interviewing' or statusTab == 'Offered' or statusTab == 'Conditions pending' %}
            <div class="app-status-header"><a href="applications?statusTab=In progress" {% if statusTab == 'In progress' %}class="selected"{% endif %}><strong>{{ appsInterviewingCount + appsOfferedCount + appsConditionsCount }}</strong> total applications in progress</a></div>
            <div class="app-status-blocks">
              <p><a href="applications?statusTab=Interviewing" class="progress{% if statusTab == 'Interviewing' %} selected{% endif %}"><strong>{{appsInterviewingCount}}</strong> applications at interview stage</a></p>
              <p><a href="applications?statusTab=Offered" class="success{% if statusTab == 'Offered' %} selected{% endif %}"><strong>{{appsOfferedCount}}</strong> applications with offers made</a></p>
              <p><a href="applications?statusTab=Conditions pending" class="waiting{% if statusTab == 'Conditions pending' %} selected{% endif %}"><strong>{{appsConditionsCount}}</strong> applications with pending conditions</a></p>
            </div>

            {% if statusTab == 'In progress' %}
            <h1 class="govuk-heading-s">
              Applications in progress ({{ appsInterviewingCount + appsOfferedCount + appsConditionsCount }})
            </h1>

            {% elseif statusTab == 'Interviewing' %}
            <h1 class="govuk-heading-s">
              Applications in interview ({{allApplications.length}})
            </h1>

            {% elseif statusTab == 'Offered' %}
            <h1 class="govuk-heading-s">
              Places offered ({{allApplications.length}})
            </h1>

            {% elseif statusTab == 'Conditions pending' %}
            <h1 class="govuk-heading-s">
              Applications with conditions pending ({{allApplications.length}})
            </h1>

          {% endif %}

          {% elseif statusTab == 'Complete' or statusTab == 'Recruited' or statusTab == 'Unsuccessful' or statusTab == 'Deferred' %}
            <div class="app-status-header"><a href="applications?statusTab=Complete" {% if statusTab == 'Complete' %}class="selected"{% endif %}><strong>{{ appsRecruitedCount + appsUnsuccessfulCount + appsDeferredCount }}</strong> total applications completed</a></div>
            <div class="app-status-blocks">
              <p><a href="applications?statusTab=Recruited" class="success{% if statusTab == 'Recruited' %} selected{% endif %}"><strong>{{appsRecruitedCount}}</strong> recruited applications</a></p>
              <p><a href="applications?statusTab=Unsuccessful" class="failed{% if statusTab == 'Unsuccessful' %} selected{% endif %}"><strong>{{appsUnsuccessfulCount}}</strong> unsuccessful applications</a></p>
              <p><a href="applications?statusTab=Deferred" class="waiting{% if statusTab == 'Deferred' %} selected{% endif %}"><strong>{{appsDeferredCount}}</strong> deferred applications</a></p>
            </div>

            {% if statusTab == 'Complete' %}
            <h1 class="govuk-heading-s">
              Applications completed ({{ appsRecruitedCount + appsUnsuccessfulCount + appsDeferredCount }})
            </h1>

            {% elseif statusTab == 'Recruited' %}
            <h1 class="govuk-heading-s">
              Candidates recruited ({{allApplications.length}})
            </h1>

            {% elseif statusTab == 'Unsuccessful' %}
            <h1 class="govuk-heading-s">
              Unsuccessful applications ({{allApplications.length}})
            </h1>

            {% elseif statusTab == 'Deferred' %}
            <h1 class="govuk-heading-s">
              Candidates deferred ({{allApplications.length}})
            </h1>

          {% endif %}


          {% elseif statusTab == 'all' and ( selectedFilters or hasSearch ) %}
          <h1 class="govuk-heading-s">
            All matching applications ({{allApplications.length}})
          </h1>

          {% elseif statusTab == 'all' %}
          <h1 class="govuk-heading-m">
            All applications ({{allApplications.length}})
          </h1>
          {% endif %}

          <div>

              <div class="app-application-cards">
                {%- for a in applications %}

                  {% if a.heading %}
                    <h2 class="govuk-heading-s app-application-cards__heading">{{a.heading}}</h2>
                  {% else %}
                    {% include "_includes/application-card.njk" %}
                  {% endif %}
                {% endfor -%}
              </div>

          </div>

        </div>
      </div>

    {% endif %}


      {% if applications.length and pagination %}
        {% include "_includes/pagination.njk" %}
      {% endif %}

      {%- if not applications.length %}

        <p class="govuk-body">

          {%- if data.keywords -%}

            {%- if hasFilters -%}

              {%- if selectedFilters.categories.length > 1 or selectedFilters.categories[0].items.length > 1 -%}

                There are no results for ‘{{ data.keywords }}’ and the selected filters.

              {%- else -%}

                There are no results for ‘{{ data.keywords }}’ and the selected filter.

              {%- endif -%}

            {%- else -%}

              There are no results for ‘{{ data.keywords }}’.

            {%- endif -%}

          {%- else -%}

            {%- if hasFilters -%}

              {%- if selectedFilters.categories.length > 1 or selectedFilters.categories[0].items.length > 1 -%}

                There are no results for the selected filters.

              {%- else -%}

                There are no results for the selected filter.

              {%- endif -%}

            {%- else -%}

              There are no results

            {%- endif -%}

          {%- endif -%}

        </p>

      {% endif -%}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script type="module" src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script> type="module"
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>

  {% if userItems.length >= userItemsDisplayLimit %}
    <script type="module" src="/public/javascripts/components/checkbox-filter/checkbox-filter.js"></script>
    <script type="module">
      new AppFrontend.CheckboxFilter({
        container: $('#assignedUser'),
        textBox: {
          label: 'Search for user'
        }
      })
    </script>
  {% endif %}

  {% if subjectItems.length >= subjectItemsDisplayLimit %}
    <script type="module" src="/public/javascripts/components/checkbox-filter/checkbox-filter.js"></script>
    <script type="module">
      new AppFrontend.CheckboxFilter({
        container: $('#subject'),
        textBox: {
          label: 'Search for subject'
        }
      })
    </script>
  {% endif %}

{% endblock %}
