{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "application" %}
{% set name = application.personalDetails.name %}
{% set pageName = 'Application' %}
{% set title = pageName + ' - ' + application.personalDetails.name %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% include "_includes/applications/h1.njk" %}
  {% include "_includes/applications/sub-nav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Application</h2>

      {% if not query.transferred %}
        <p>
          {% if application.status != "Rejected" and application.status != "Declined" and application.status != "Offer withdrawn" and application.status != "Application withdrawn" and application.status != "Conditions not met" %}
            <a class="govuk-!-margin-right-2" href="/applications/{{application.id}}/withdraw">Withdraw at candidate’s request</a>
          {% endif %}
          <a href="#" download>Download application (PDF)</a>
        </p>
      {% endif %}

      {% include "_includes/applications/application-details.njk" %}
      {% if not query.transferred %}
        {% include "_includes/applications/personal-details.njk" %}
      {% endif %}
      {% include "_includes/applications/course-details.njk" %}

      {% if not query.transferred %}
        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2 govuk-!-font-size-27">Criminal record and professional misconduct</h2>

        {% set safeguardingValueHtml %}
          {% if application.safeguarding.response %}
            {% if (["canViewSafeguardingInformation", ""] | random) == "canViewSafeguardingInformation" %}
              <p>{{ application.safeguarding.details | nl2br }}</p>
            {% else %}
              <span class="app-permission-text">Unavailable: you cannot view this because you or your organisation can not view criminal conviction and professional misconduct information.</span>
            {% endif %}
          {% endif %}
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Do you want to declare any safeguarding issues such as a criminal record or professional misconduct?"
              },
              value: {
                text: "Yes, I want to declare something" if application.safeguarding.response else "No"
              }
            },
            {
              key: {
                text: "Give any relevant information"
              },
              value: {
                html: safeguardingValueHtml
              }
            } if application.safeguarding.details
          ]
        }) }}

        <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-7 govuk-!-margin-bottom-2">Work history and unpaid experience</h2>
        {% include "_includes/applications/experience.njk" %}
      {% endif %}
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      {% if not query.transferred %}
        <h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-font-size-27">Qualifications</h2>
        {% include "_includes/applications/degrees.njk" %}
        {% include "_includes/applications/gcses.njk" %}
        {% if application.personalDetails.isInternationalCandidate %}
          {% include "_includes/applications/english-language-qualification.njk" %}
        {% endif %}
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if not query.transferred %}
        {% include "_includes/applications/other-qualifications.njk" %}

        <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-3 govuk-!-margin-bottom-2">Personal statement</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">Why do you want to become a teacher?</h3>
        <p>{{ application.personalStatement.vocation | safe | nl2br or "—" }}</p>

        <h3 class="govuk-heading-m govuk-!-margin-top-5 govuk-!-margin-bottom-2">What do you know about the subject you want to teach?</h3>
        <p>{{ application.personalStatement.subjectKnowledge | safe | nl2br or "—" }}</p>

        <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-7">References</h2>

        <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">First referee</h2>
        {% set referenceId = "first" %}
        {% include "_includes/applications/reference.njk" %}

        <h3 class="govuk-heading-m govuk-!-margin-top-4 govuk-!-margin-bottom-2">Second referee</h2>
        {% set referenceId = "second" %}
        {% include "_includes/applications/reference.njk" %}

        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2 govuk-!-font-size-27">Disability support</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Do you want to ask for help to become a teacher?"
              },
              value: {
              text: "Yes, I want to share information about myself so my provider can take steps to support me" if application.disability.response else "No"
              }
            },
            {
              key: {
                text: "Give any relevant information"
              },
              value: {
                html: application.disability.details
              }
            } if application.disability.details
          ]
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2 govuk-!-font-size-27">Interview needs</h2>

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "Do you have any interview needs?"
              },
              value: {
                text: "Yes" if application.interviewNeeds.response else "No"
              }
            },
            {
              key: {
                text: "What are your interview needs?"
              },
              value: {
                html: application.interviewNeeds.details
              }
            } if application.interviewNeeds.details
          ]
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-7 govuk-!-margin-bottom-2">Sex, disability and ethnicity information</h2>
        {% include "_includes/applications/diversity-information.njk" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
