{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "application" %}
{% set name = application.personalDetails.name %}
{% set pageName = 'Application' %}
{% set title = pageName + ' - ' + application.personalDetails.name %}

{% block content %}

  {% if showBanner %}

    {% if showBanner == 'withdraw' %}
      {% set showBannerHeading = 'Application withdrawn' %}
    {% elseif showBanner == 'review' %}
     {% set showBannerHeading = 'Application marked as In review' %}
    {% elseif showBanner == 'shortlist' %}
      {% set showBannerHeading = 'Application shortlisted' %}
    {% elseif showBanner == 'withdraw-request' %}
      {% set showBannerHeading = 'We have emailed the candidate' %}
      {% set showBannerText%}They will confirm that they want you to withdraw their offer. If they do not respond by {{ application.pendingWithdrawalDate | govukDateTime("on") }}, their offer will be withdrawn automatically.{% endset %}
    {% endif %}

    {% set showBannerHtml %}
      <h3 class="govuk-notification-banner__heading">{{ showBannerHeading }}</h3>
      {% if showBannerText %}<p class="govuk-body">{{ showBannerText }}</p>{% endif %}
      <p class="govuk-body"><a class="govuk-notification-banner__link" href="/applications/{{application.id}}/notes/new">Add a note</a></p>
    {% endset %}

    {{ govukNotificationBanner({
      html: showBannerHtml,
      type: 'success'
    }) }}
  {% endif %}

  {% if application.personalDetails.name == 'Peter Essien'%}
    {% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}

    {% set html %}
    <p class="govuk-notification-banner__heading">
      {{name}}
      updated their application on 20 July 2023 at 11:46am<br><br>
      <a class="govuk-notification-banner__link" href="/applications/{{application.id}}/timeline">View the timeline to see their updates</a>.
    </p>
    {% endset %}

    {{ govukNotificationBanner({
    html: html
    }) }}

{% endif %}


  {% include "_includes/applications/h1.njk" %}
  {% include "_includes/applications/sub-nav.njk" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Application</h2>


      {% if application.pendingWithdrawal and showBanner != 'withdraw-request' %}
        <div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
          <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
              Important
            </h2>
          </div>
          <div class="govuk-notification-banner__content">
            <p class="govuk-body">
              This application is pending withdrawal. The candidate has until {{ application.pendingWithdrawalDate | govukDateTime("on") }} to confirm, or their application will be withdrawn.
            </p>
          </div>
        </div>
      {% endif %}

      {% if not query.transferred %}
        {% if application.status not in["Rejected", "Declined", "Offer withdrawn", "Application withdrawn", "Conditions not met"] %}
          <p class="govuk-body">{{name}}
            will be able to edit some sections of their application. You'll get a notification if they add any new information.</p>
          <p class="govuk-body">
            {% if not application.pendingWithdrawal and not application.offer %}
              <a class="govuk-link govuk-!-margin-right-2" href="/applications/{{application.id}}/withdraw/request">Withdraw at candidate's request</a>
            {% endif %}
          {% endif %}
          <a class="govuk-link" href="#" download>Download application (PDF)</a>
        </p>
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/applications/application-details.njk" %}
    </div>
  </div>

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/applications/personal-details.njk" %}
      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/applications/contact-details.njk" %}
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/applications/course-details.njk" %}
    </div>
  </div>

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/applications/criminal-record-and-professional-misconduct.njk" %}
      </div>
    </div>
  {% endif %}

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/applications/experience.njk" %}
      </div>
    </div>
  {% endif %}

  {% if not query.transferred %}
    <h2 class="govuk-heading-m govuk-!-margin-top-2 govuk-!-font-size-27">Qualifications</h2>
  {% endif %}

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "_includes/applications/degrees.njk" %}
      </div>
    </div>
  {% endif %}

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "_includes/applications/gcses.njk" %}
      </div>
    </div>
  {% endif %}

  {% if not query.transferred %}
    {% if application.personalDetails.isInternationalCandidate %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
          {% include "_includes/applications/english-language-qualification.njk" %}
        </div>
      </div>
    {% endif %}
  {% endif %}

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {% include "_includes/applications/other-qualifications.njk" %}
      </div>
    </div>
  {% endif %}

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/applications/personal-statement.njk" %}
      </div>
    </div>
  {% endif %}

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/applications/interview-needs.njk" %}
      </div>
    </div>
  {% endif %}

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/applications/disability-support.njk" %}
      </div>
    </div>
  {% endif %}

  {% if not query.transferred %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/applications/diversity-information.njk" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
