{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "notes" %}
{% set name = application.personalDetails.name %}
{% set title = 'Notes - ' + name %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% set rbd = application.submittedDate | addDays(40) %}
  {% set remaining = rbd | daysFromNow(rbd) %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    {{name}}
    <span class="govuk-visually-hidden">Notes</span>
    {{ govukTag({ classes: statusText | statusClass, text: statusText }) }}
  </h1>

  {% include "_includes/application/respond-prompt.njk" %}
  {% include "_includes/application/defer-prompt.njk" %}
  {% include "_includes/application/feedback-prompt.njk" %}

  {% include "_includes/application/sub-nav.njk" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">



      {% if application.notes %}

        {{govukButton({
          text: "Add note",
          href: "/application/" + application.id + "/notes/first-time",
          classes: "govuk-button--secondary"
        })}}

        <div class="app-notes">
          {% for note in application.notes.items %}
            <div class="app-notes__note">
              <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/application/{{application.id}}/notes/{{note.id}}">{{note.subject}}</a></h2>
              <p class="govuk-!-margin-bottom-1">{{note.body | nl2br or "No information shared"}}</p>
              <p class="app-notes__meta">{{note.sender}}, {{note.date | govukDateAtTime }}</p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>Notes are only seen by you and colleagues. We'll guide you through note creation.</p>

        {{govukButton({
          text: "Add note",
          href: "/application/" + application.id + "/notes/first-time",
          classes: "govuk-button--secondary"
        })}}
      {% endif %}

    </div>
  </div>
{% endblock %}
