{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set application = data.applications[applicationId] %}
{% set subNavId = "notes" %}
{% set status = application.status %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = name %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Applications",
      href: "/"
    }, {
      text: name,
      href: "/application/" + application.id
    }, {
      text: "Notes",
      href: "/application/" + application.id + "/notes"
    }]
  }) if not data.bare }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">{{note.subject}}</h1>

  <p>{{note.body}}</p>

{% endblock %}
