{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "notes" %}
{% set status = application.status %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = name %}

{% block header %}
  {% include "_includes/header.njk" %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="app-callout-card app-inverte app-inverte--card">

        {{ govukTag({
          text: "New feature",
          classes: 'govuk-!-margin-bottom-4'
        }) }}

        <h1 class="govuk-heading-l app-heading-l--inverte govuk-!-margin-bottom-4">Customise notifications</h1>

        <p class="govuk-body app-body--inverte">
          You can <a class="app-link--inverte" href="/account/notification-settings/">change your notification settings</a> within your account.
        <p>

        {{govukButton({
          text: "Continue",
          href: "/",
          classes: "app-button--inverte govuk-!-margin-bottom-0"
        })}}

      </div>

    </div>
  </div>
{% endblock %}
