{% if selectedOptions %}
  <div class="app-filter__selected govuk-!-margin-bottom-5">
    <div class="app-filter__selected-heading">
      <div class="app-filter__heading-title">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected options</h2>
        <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/statistics/{{ section }}/{{ report}}/remove-all-options">Clear options</a></p>
      </div>
    </div>

    {% for category in selectedOptions.categories %}
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
      <ul class="app-filter-tags">
        {% for item in category.items %}
          <li>
            <a class="app-filter__tag" href="{{ item.href }}"><span class="govuk-visually-hidden">Remove this option</span> {{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% endif %}
