{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}

{% set title = "Check and confirm offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/offer/new"
  }) }}
{% endblock %}

{% block content %}
  {% set conditionsHtml %}
    {% if conditions.length %}
      <ul class="govuk-list govuk-list--bullet">
        {% for condition in conditions %}
          <li>
            {{ condition.description }}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="govuk-body">None specified</p>
    {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <div class="app-offer-panel ">

      <h2 class="govuk-heading-m">
        Course details
      </h2>

      {{ govukSummaryList({
          rows: [{
            key: {
              text: "Provider"
            },
            value: {
              html: application.provider
            }
          }, {
            key: {
              text: "Course"
            },
            value: {
              html: application.course
            }
          }, {
            key: {
              text: "Location"
            },
            value: {
              html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
            }
          }
        ]})
      }}

      <h2 class="govuk-heading-m">
        Conditions of offer
      </h2>


      <dl class="govuk-summary-list app-conditions-list govuk-!-margin-bottom-0 {% if checked("settings", "hasCombinedConditions") %}app-condition-list--combined{% endif %} ">
          {% for condition in conditions %}
            <div class="govuk-summary-list__row {% if loop.last %}govuk-summary-list__row--no-border{% endif %}">
              <dt class="govuk-summary-list__key">
                {{condition.description}}
              </dt>
              <dd class="govuk-summary-list__value app-conditions-list__tag">
                {# {{govukTag({ text: "Pending", classes: "app-tag--grey" })}} #}
              </dd>
              {% if not checked("settings", "hasCombinedConditions") %}
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/application/{{application.id}}/offer/new">
                  Change<span class="govuk-visually-hidden"> ‘{{condition.description}}’</span></a>
                </dd>
              {% endif %}
            </div>
          {% endfor %}
        </dl>
      </div>

      <p class="govuk-body">When you make this offer you guarantee a place on this course providing the candidate meets the conditions of the offer.</p>

      <form method="post">
        {{ govukButton({
          text: "Make offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
