{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Check and save user permissions" %}

{% set backLinkUrl %}/organisation-settings/{{org.id}}/users/{{user.id}}/permissions/edit/permissions{% endset %}
{% set cancelLinkUrl %}/organisation-settings/{{org.id}}/users/{{user.id}}{% endset %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">
          {{user.firstName}} {{user.lastName}} - {{org.name}}
        </span>
        {{title}}
      </h1>

      <p>All users can view applications.</p>

      <dl class="govuk-summary-list">

        {% set runOrRatified %}
          {% if org.isAccreditedBody %}
            run
          {% else %}
            ratified
          {% endif %}
        {% endset %}



          {# <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              User permissions
            </dt>
            <dd class="govuk-summary-list__value">
              {{"View applications (excluding sensitive information)" if data.editpermissions.access == "View applications"}}

              {{"Additional user permissions" if data.editpermissions.access == "Additional permissions"}}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/{{user.id}}/permissions/edit">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div> #}
          {# {% if data.editpermissions.access == "Additional permissions" %} #}
          {% if 1 == 1 %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Manage users
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked(data.editpermissions.permissions, 'manageUsers') == 'checked' %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/{{user.id}}/permissions/edit/permissions">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Manage organisation permissions
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked(data.editpermissions.permissions, 'manageOrganisation') == 'checked' %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/{{user.id}}/permissions/edit/permissions">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Set up interviews
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked(data.editpermissions.permissions, 'setupInterviews') == 'checked' %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/{{user.id}}/permissions/edit/permissions">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Make offers and reject applications
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked(data.editpermissions.permissions, 'makeDecisions') == 'checked' %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/{{user.id}}/permissions/edit/permissions">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                View criminal convictions and professional misconduct
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked(data.editpermissions.permissions, 'viewSafeguardingInformation') == 'checked' %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/{{user.id}}/permissions/edit/permissions">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                View sex, disability and ethnicity information
              </dt>
              <dd class="govuk-summary-list__value">
                {% if checked(data.editpermissions.permissions, 'viewDiversityInformation') == 'checked' %}
                  Yes
                {% else %}
                  No
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/organisation-settings/{{org.id}}/users/{{user.id}}/permissions/edit/permissions">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
          {% endif %}
        </dl>

      <form novalidate method="post">
        {{govukButton({
          text: "Save user permissions"
        })}}
      </form>
      <p class="govuk-body"><a href="{{cancelLinkUrl}}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
