{% extends "_layout.njk" %}

{% set primaryNavId = "statistics" %}
{% set sectionName = "Candidates" %}
{% set pageName = "English language qualification" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/statistics",
    text: "Statistics"
  }, {
    text: pageName
  }]
}) }}
{% endblock %}

{% block content %}

{% include "_includes/statistics/header.njk" %}

<div class="app-filter-layout">
  <div class="app-filter-layout__filter">

    {% include "_includes/statistics/filter-panel.njk" %}

  </div>
  <div class="app-filter-layout__content">

    <div class="app-action-bar">
      <div class="app-action-bar__filter"></div>
    </div>

    <div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">

          <table class="govuk-table">
            <!-- <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-top-5">English as a foreign language assessment</caption> -->
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th scope="col" class="govuk-table__header">English language qaulification</th>
                <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Number</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">Yes</td>
                <td class="govuk-table__cell">{{ foreignLanguageCounts['Yes'] }}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">No, has not done an assessment</td>
                <td class="govuk-table__cell">{{ foreignLanguageCounts['No'] }}</td>
              </tr>
              <tr class="govuk-table__row">
                <td scope="row" class="govuk-table__cell">No, English is not a foreign language</td>
                <td class="govuk-table__cell">{{ foreignLanguageCounts['Not needed'] }}</td>
              </tr>
            </tbody>
          </table>

          <p class="govuk-body">
            <a class="govuk-link" href="#">Download <span class="govuk-visually-hidden">candidates’ English language qualification</span> data</a>
          </p>

        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    })
  </script>

  {% if subjectItems.length >= subjectItemsDisplayLimit %}
    <script type="text/javascript" src="/public/javascripts/components/checkbox-filter/checkbox-filter.js"></script>
    <script type="text/javascript">
      new AppFrontend.CheckboxFilter({
        container: $('#subject'),
        textBox: {
          label: 'Search for subject'
        }
      })
    </script>
  {% endif %}

{% endblock %}
