{% extends "_layout.njk" %}

{% set primaryNavId = "reports" %}
{% set pageName = "Sex, disability, ethnicity and age of candidates" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/reports",
    text: "Reports"
  }, {
    text: pageName
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageName }}
      </h1>

      <p class="govuk-body">
        <a class="govuk-link" href="/reports/{{organisation.id }}/diversity/download" download>Export data (ZIP)</a>
      </p>

    <!-- </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full"> -->

      <h2 class="govuk-heading-m">
        Sex
      </h2>

      <!-- <p class="govuk-body">
        <a class="govuk-link" href="/reports/{{organisation.id }}/diversity/download/sex" download>
          Export data (CSV) <span class="govuk-visually-hidden">for candidate sexes</span>
        </a>
      </p> -->

      <table id="sex" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Sex</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates applied</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates recruited</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for sex in sexData %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                {{ sex.title }}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ sex.counts.received }}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ sex.counts.recruited }}
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">
        Disability
      </h2>

      <!-- <p class="govuk-body">
        <a class="govuk-link" href="/reports/{{organisation.id }}/diversity/download/disability" download>
          Export data (CSV) <span class="govuk-visually-hidden">for candidate disabilities</span>
        </a>
      </p> -->

      <table id="sex" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Candidate is disabled</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates applied</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates recruited</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for response in disabilityResponseData %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                {{ response.title }}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ response.counts.received }}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ response.counts.recruited }}
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>

      <table id="disability" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Disability</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates applied</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates recruited</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for disability in disabilityData %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                {{ disability.title }}
                {% if disability.description.length %}
                  <span class="govuk-hint govuk-!-margin-bottom-0">{{ disability.description }}</span>
                {% endif %}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ disability.counts.received }}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ disability.counts.recruited }}
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">
        Ethnicity
      </h2>

      <!-- <p class="govuk-body">
        <a class="govuk-link" href="/reports/{{organisation.id }}/diversity/download/ethnicity" download>
          Export data (CSV) <span class="govuk-visually-hidden">for candidate ethnicities</span>
        </a>
      </p> -->

      <table id="ethnicity" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Ethnicity</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates applied</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates recruited</th>
          </tr>
        </thead>

        {% for ethnicity in ethnicityData %}

          <tbody class="govuk-table__body" scope="rowgroup">

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                {{ ethnicity.title }}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ ethnicity.counts.received }}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ ethnicity.counts.recruited }}
              </td>
            </tr>

            {% if ethnicity.items %}

              {% for item in ethnicity.items %}

                <tr class="govuk-table__row">
                  <th scope="row" class="govuk-table__cell govuk-!-padding-left-5 govuk-!-font-weight-regular">
                    {{ item.title }}
                  </th>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    {{ item.counts.received }}
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    {{ item.counts.recruited }}
                  </td>
                </tr>

              {% endfor %}

            {% endif %}

          </tbody>

        {% endfor %}

      </table>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">
        Age
      </h2>

      <!-- <p class="govuk-body">
        <a class="govuk-link" href="/reports/{{organisation.id }}/diversity/download/age" download>
          Export data (CSV) <span class="govuk-visually-hidden">for candidate ages</span>
        </a>
      </p> -->

      <table id="age" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Age</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates applied</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates recruited</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for age in ageData %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                {{ age.title }}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ age.counts.received }}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ age.counts.recruited }}
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>

      <h2 class="govuk-heading-m govuk-!-margin-top-9">
        Where this data comes from
      </h2>

      <p class="govuk-body">
        The sex, disability and ethnicity data comes from {{ questionnaireCount | numeral('0') }} candidates who filled in a questionnaire when they applied. This is {{ questionnairePercentage | numeral('0') }}% of the total candidates.
      </p>

      <p class="govuk-body">
        The age data is from all {{ candidateCount | numeral('0') }} candidates.
      </p>

      <table id="sex" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Candidate responded to questionnaire</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates applied</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:20%">Candidates recruited</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for response in questionnaireResponseData %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
                {{ response.title }}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ response.counts.received }}
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ response.counts.recruited }}
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
