{% extends "_layout.njk" %}

{% set title = "Clear data?" %}

{% block beforeContent %}
  {{ govukBackLink({
    "text": "Back",
    "href": "javascript: window.history.go(-1)"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">
    {{title}}
  </h1>

  {{ govukWarningText({
    text: "This will clear all of the data entered in this session",
    iconFallbackText: "Warning"
  }) }}

  <form method="post">
    {{ govukButton({
      text: "Clear the data"
    }) }}
  </form>
{% endblock %}
