{% extends "_layout.njk" %}

{% block content %}

  <h1 class="govuk-heading-l">
    Settings
  </h1>

  <form method="post" action="/admin/settings/new-cycle">

    <h2 class="govuk-heading-m">
      Turn on start of new cycle
    </h2>

    <p>Will show deferred offers that need confirming, pending conditions from previous cycle and the rest.</p>

    {% if checked(data.settings, 'new-cycle') %}
      {{ govukButton({
        text: "Turn off"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Turn on"
      }) }}
    {% endif %}

  </form>

  <form method="post" action="/admin/settings/combine-conditions">

    <h2 class="govuk-heading-m">
      Track conditions in bulk
    </h2>

    <p>Will show deferred offers that need confirming, pending conditions from previous cycle and the rest.</p>

    {% if checked(data.settings, 'hasCombinedConditions') %}
      {{ govukButton({
        text: "Turn off"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Turn on"
      }) }}
    {% endif %}

  </form>



{% endblock %}
