{% extends "_layout.njk" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
    Settings
  </h1>

  <form method="post" action="/admin/settings/new-cycle">

    <h2 class="govuk-heading-m">
      Turn on start of new cycle
    </h2>

    <p>This will show deferred offers that need confirming and applications with pending conditions from previous cycle and then the rest.</p>

    {% if checked("settings", 'new-cycle') %}
      {{ govukButton({
        text: "Turn off"
      }) }}
    {% else %}
      {{ govukButton({
        text: "Turn on"
      }) }}
    {% endif %}

  </form>
    </div>
  </div>



{% endblock %}
