.app-application-card {
  border-bottom: 1px solid govuk-colour('mid-grey');
  margin-bottom: 10px;
  padding-bottom: 10px;

}

.app-application-card__wrapper {
  @include govuk-media-query($from: tablet) {
    display: flex;
    align-items: stretch;
  }
}

.app-application-card:first-of-type {
  // border-top: 1px solid govuk-colour('mid-grey');
  padding-top: 10px;
}

.app-application-card__primary {
  @include govuk-media-query($from: tablet) {
    width: 392px;
  }

  p {
    margin-bottom: 0;
  }
}

.app-application-card__secondary {
  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 228px;
    text-align: right;
  }
}

.app-application-card__status {
  margin-bottom: govuk-spacing(2);
  margin-top: govuk-spacing(3);
  @include govuk-media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }

  .govuk-tag {
    padding: 2px 6px 1px 6px;
  }
}

.app-application-card__note {
  margin-bottom: govuk-spacing(0);
  @include govuk-font(16);
}

.app-application-card__note {
  display: inline-block;
}

.app-application-card__caption {
  color: govuk-colour('dark-grey');
  @include govuk-font(16);
}
