{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set application = data.applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = "Check your feedback and reject application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/reject/other-reasons-for-rejection/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <p>This is how your feedback will be presented to the candidate.</p>

      {% set rejectionReasons = data.rejectionReasons %}
      {% include "_includes/candidate-feedback.njk" %}

      <form method="post">
        {{ govukButton({
          text: "Reject application"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
