{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = "Reject application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/reject"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">Course choice and safeguarding</h1>
      <p>When giving details or advice, bear in mind the candidate will see this feedback. </p>
      <form method="post">
        {% include "_includes/reject-form-fields-2.njk" %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
