{{ govukCheckboxes({
  idPrefix: "permissions",
  name: "permissions",
  fieldset: {
    legend: {
      html: "Select permissions for " + org,
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: "make decisions",
      text: "They can make decisions"
    },
    {
      value: "see safeguarding information",
      text: "They have access to safeguarding information"
    }
  ]
}) }}

{% if partner %}

  {{ govukCheckboxes({
    idPrefix: "permissions",
    name: "permissions",
    fieldset: {
      legend: {
        html: "Select permissions for " + partner,
        classes: "govuk-fieldset__legend--m"
      }
    },
    items: [
      {
        value: "make decisions",
        text: "They can make decisions"
      },
      {
        value: "see safeguarding information",
        text: "They have access to safeguarding information"
      }
    ]
  }) }}

{% endif %}
