{% extends "_layout.njk" %}
{% set cancel = cancelLinkDestination or ('/application/' + application.id + "/offer" ) %}
{% set name = application.personalDetails.name %}

{% set title = "Confirm condition not met and withdraw offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: backLinkDestination
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <div class="app-offer-panel">
        <p class="govuk-!-margin-bottom-0">Condition: {{condition.description}}</p>
      </div>

      {{ govukWarningText({
        text: "We’ll tell the candidate they’ve failed to meet the conditions of the offer and will not be enrolled onto the course.",
        iconFallbackText: "Warning"
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Confirm condition not met and withdraw offer",
          classes: 'govuk-button--warning'
        }) }}
      </form>
      <p class="govuk-body"><a href="{{cancel}}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
