{% extends "_layout.njk" %}
{% set primaryNavId = 'applications' %}
{% set cancel = cancelLinkDestination or ('/application/' + application.id + "/offer" ) %}
{% set name = application.personalDetails.name %}
{% set title = "Update status of ‘"+condition.description+"’" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: backLinkDestination
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-l">{{name}}</span>
        {{title}}
      {% endset %}

      <form method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              classes: "govuk-fieldset__legend--l",
              isPageHeading: true
            }
          },
          idPrefix: "conditionstatus",
          name: "conditionstatus",
          items: [{
            value: "Pending",
            text: "Pending",
            checked: condition.status == 'Pending'
          } if condition.status != 'Pending' and application.status != 'Deferred', {
            value: "Met",
            text: "Met",
            checked: condition.status == 'Met'
          } if condition.status != 'Met' and application.status != 'Deferred', {
            value: "Not met",
            text: "Not met",
            checked: condition.status == 'Not met'
          } if application.status != 'Deferred'
          ]
        })}}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="{{cancel}}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
