{% extends "_layout.njk" %}

{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = "Select alternative provider" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/decision"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-xl">{{name}}</span>
        {{title}}
      {% endset %}

      <form method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          idPrefix: "providerx",
          name: "providerx",
          items: [{
            value: "Somerset SCITT consortium",
            text: "Somerset SCITT consortium",
            checked: checked("providerx", "Somerset SCITT consortium")
          }, {
            value: "The Beach Teaching School",
            text: "The Beach Teaching School",
            checked: checked("providerx", "The Beach Teaching School")
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
