{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Harry Potter" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/users/show"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Harry Potter</span>
      <h1 class="govuk-heading-xl">Change name</h1>

      <form novalidate method="post">
        {{ govukInput({
          label: {
            text: "First name",
            classes: "govuk-label--m"
          },
          id: "first-name",
          name: "first-name",
          value: "Harry"
        }) }}
        {{ govukInput({
          label: {
            text: "Last name",
            classes: "govuk-label--m"
          },
          id: "last-name",
          name: "last-name",
          value: "Potter"
        }) }}
        {{ govukButton({
          text: "Save"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
