{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Harry Potter" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/users/show"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set h1 %}
        <span class="govuk-caption-xl">Harry Potter</span>
        Change permissions
      {% endset %}

      <form novalidate method="post">
        {% set p1PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "p1",
            name: "permissions",
            fieldset: {
              legend: {
                text: "Choose permissions",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Manage users",
                text: "Manage users",
                hint: {
                  text: "Invite and delete users"
                },
                checked: true
              },
              {
                value: "Make decisions",
                text: "Make decisions",
                hint: {
                  text: "Make and change offers"
                },
                checked: true
              }
            ]
          }) }}
        {% endset %}

        {% set p2PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "p2",
            name: "permissions",
            fieldset: {
              legend: {
                text: "Choose permissions",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Manage users",
                text: "Manage users",
                hint: {
                  text: "Invite and delete users"
                },
                checked: true
              },
              {
                value: "Make decisions",
                text: "Make decisions",
                hint: {
                  text: "Make and change offers"
                }
              }
            ]
          }) }}
        {% endset %}

        {{ govukCheckboxes({
          idPrefix: "provider",
          name: "provider",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select at least one provider"
          },
          items: [
            {
              value: "Teaching Excellence SCITT consortium",
              text: "Teaching Excellence SCITT consortium",
              conditional: {
                html: p1PermissionsHtml
              },
              checked: true
            },
            {
              value: "Westfield TSA",
              text: "Westfield TSA",
              conditional: {
                html: p2PermissionsHtml
              },
              checked: true
            }
          ]
        }) }}
        {{ govukButton({
          text: "Save"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
