{% extends "_layout.njk" %}

{% set org = data.user.organisations[0].name %}
{% set partner = data.accreditedBodies[0].name %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/organisations/show"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Change permissions</span>
      <h1 class="govuk-heading-xl">For courses run by {{ data.user.organisations[1].name }} and ratified by {{ data.user.organisations[0].name }}</h1>

      {% include "_includes/permissions-guidance.njk" %}

      <form novalidate method="post">
        {% include "_includes/permissions-checkboxes.njk" %}
        {{govukButton({
          text: "Save permissions"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
