{% extends "_content-wide.njk" %}

{% set primaryNavId = 'organisation' %}
{% set title = data.user.organisations[1].name %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/users/"
  }) }}
{% endblock %}

{% block primary %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form novalidate method="post">
        {{ govukInput({
          label: {
            text: "Email address",
            classes: "govuk-label--m"
          },
          id: "email-address",
          name: "email-address",
          type: "email",
          autocomplete: "email",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "First name",
            classes: "govuk-label--m"
          },
          id: "first-name",
          name: "first-name",
          type: "text",
          attributes: {
            spellcheck: "false"
          }
        }) }}

        {{ govukInput({
          label: {
            text: "Last name",
            classes: "govuk-label--m"
          },
          id: "last-name",
          name: "last-name",
          type: "text",
          attributes: {
            spellcheck: "false"
          }
        }) }}


        {% set p1PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "p1",
            name: "permissions",
            fieldset: {
              legend: {
                text: "Choose permissions",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Manage users",
                text: "Manage users",
                hint: {
                  text: "Invite and delete users"
                }
              },
              {
                value: "Make decisions",
                text: "Make decisions",
                hint: {
                  text: "Make and change offers"
                }
              }
            ]
          }) }}
        {% endset %}

        {% set p2PermissionsHtml %}
          {{ govukCheckboxes({
            idPrefix: "p2",
            name: "permissions",
            fieldset: {
              legend: {
                text: "Choose permissions",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [
              {
                value: "Manage users",
                text: "Manage users",
                hint: {
                  text: "Invite and delete users"
                }
              },
              {
                value: "Make decisions",
                text: "Make decisions",
                hint: {
                  text: "Make and change offers"
                }
              }
            ]
          }) }}
        {% endset %}

        {{ govukCheckboxes({
          idPrefix: "provider",
          name: "provider",
          fieldset: {
            legend: {
              text: "Permissions",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "Select at least one provider"
          },
          items: [
            {
              value: data.user.organisations[0].name,
              text: data.user.organisations[0].name,
              conditional: {
                html: p1PermissionsHtml
              }
            },
            {
              value: data.user.organisations[1].name,
              text: data.user.organisations[1].name,
              conditional: {
                html: p2PermissionsHtml
              }
            }
          ]
        }) }}

        {{govukButton({
          text: "Invite user"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
