{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set title = "Ventrus Teaching School Alliance" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Organisations",
      href: "/organisations"
    }, {
      text: title
    }]
  }) if not data.bare }}
{% endblock %}

{% block content %}

  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <h2 class="govuk-heading-l">
      For courses run by Ventrus Teaching School Alliance and ratified by Somerset SCITT Consortium
      </h2>

      <p>Ventrus Teaching School Alliance can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>access safeguarding information</li>
      </ul>

      <p>Somerset SCITT Consortium can:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>make decisions</li>
      </ul>

      <p><a href="#1">Change</a></p>

    </div>
  </div>

{% endblock %}
