{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set trainingProvider = org.name %}
{% set title = trainingProvider %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Your account",
      href: "/account"
    }, {
      text: "Organisational permissions",
      href: "/organisations"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">Organisational permissions</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% set tick %}
        {{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }}
      {% endset %}

      {% if relationships.length %}
        {% for relationship in relationships %}

          {% set title %}
            {{relationship.org.name}} and {{ relationship.partner.name }}
          {% endset %}
          {% set viewApplicationsHtml %}
            <ul class="govuk-list">
              <li>{{tick | safe }} {{ relationship.org.name }}</li>
              <li>{{tick | safe }} {{ relationship.partner.name }} {% if not relationship.org.isAccreditedBody %}(can only see courses they ratify) {% endif %}</li>
            </ul>
            {% if not relationship.org.isAccreditedBody %}
            {{ govukDetails({
              summaryText: "Why can’t this be changed?",
              text: "All users at both organisations can view applications – you do not need to set permissions for this."
            }) }}
            {% endif %}
          {% endset %}
          {% set makeDecisionsHtml %}
            {% if relationship.orgPermissions.makeDecisions or relationship.partnerPermissions.makeDecisions %}
              <ul class="govuk-list">
                {% if relationship.orgPermissions.makeDecisions %}
                  <li>{{tick | safe }} {{ relationship.org.name }}</li>
                {% endif %}
                {% if relationship.partnerPermissions.makeDecisions %}
                  <li>{{tick | safe }} {{ relationship.partner.name }}</li>
                {% endif %}
              </ul>
            {% else %}
              {% if relationship.org.isAccreditedBody %}
                <p>{{ relationship.partner.name }} has not set this up yet – contact them to change this.</p>
              {% else %}
                <p class="govuk-!-margin-bottom-0">No users can make decisions, because you have not set this up yet.</p>
              {% endif %}
            {% endif %}
          {% endset %}
          {% set viewSafeguardingHtml %}
            {% if relationship.orgPermissions.viewSafeguardingInformation or relationship.partnerPermissions.viewSafeguardingInformation %}
              <ul class="govuk-list">
                {% if relationship.orgPermissions.viewSafeguardingInformation %}
                  <li>{{tick | safe }} {{ relationship.org.name }}</li>
                {% endif %}
                {% if relationship.partnerPermissions.viewSafeguardingInformation %}
                  <li>{{tick | safe }} {{ relationship.partner.name }}</li>
                {% endif %}
              </ul>
            {% else %}
              {% if relationship.org.isAccreditedBody %}
                <p>{{ relationship.partner.name }} has not set this up yet – contact them to change this.</p>
              {% else %}
                <p class="govuk-!-margin-bottom-0">No users can see safeguarding information because you have not set this up yet.</p>
              {% endif %}
            {% endif %}
          {% endset %}
          {% set viewDiversityHtml %}
            {% if relationship.orgPermissions.viewDiversityInformation or relationship.partnerPermissions.viewDiversityInformation %}
              <ul class="govuk-list">
                {% if relationship.orgPermissions.viewDiversityInformation %}
                  <li>{{tick | safe }} {{ relationship.org.name }}</li>
                {% endif %}
                {% if relationship.partnerPermissions.viewDiversityInformation %}
                  <li>{{tick | safe }} {{ relationship.partner.name }}</li>
                {% endif %}
              </ul>
            {% else %}
              {% if relationship.org.isAccreditedBody %}
                <p>{{ relationship.partner.name }} has not set this up yet – contact them to change this.</p>
              {% else %}
                <p class="govuk-!-margin-bottom-0">No users can see diversity information because you have not set this up yet.</p>
              {% endif %}
            {% endif %}
          {% endset %}

          {% set editLink %}
            /organisations/{{org.id}}/edit
          {% endset %}

          {% set cardHtml %}

            {% if relationship.org.isAccreditedBody %}

              <p class="govuk-!-margin-bottom-4">Only {{relationship.partner.name}} can change permissions because they run the courses. Contact them to change these settings.</p>

            {% endif %}

            {{ govukSummaryList({
              classes: "app-summary-list--border-top" if relationship.org.isAccreditedBody,
              rows: [
                {
                  key: {
                    text: "Who can view applications?"
                  },
                  value: {
                    html: viewApplicationsHtml
                  }
                },
                {
                  key: {
                    text: "Who can make decisions?"
                  },
                  value: {
                    html: makeDecisionsHtml
                  },
                  actions: {
                    items: [
                      {
                        href: editLink,
                        text: "Change",
                        visuallyHiddenText: "name"
                      }
                    ]
                  } if not relationship.org.isAccreditedBody
                },
                {
                  key: {
                    text: "Who can view safeguarding information?"
                  },
                  value: {
                    html: viewSafeguardingHtml
                  },
                  actions: {
                    items: [
                      {
                        href: editLink,
                        text: "Change",
                        visuallyHiddenText: "name"
                      }
                    ]
                  } if not relationship.org.isAccreditedBody
                },
                {
                  key: {
                    text: "Who can view diversity information?"
                  },
                  value: {
                    html: viewDiversityHtml
                  },
                  actions: {
                    items: [
                      {
                        href: editLink,
                        text: "Change",
                        visuallyHiddenText: "permissions for " + org.name
                      }
                    ]
                  } if not relationship.org.isAccreditedBody
                }
              ]
            }) }}
          {% endset %}

          {{appSummaryCard({
            titleText: title,
            classes: "govuk-!-margin-bottom-6",
            html: cardHtml
          })}}
        {% endfor %}
      {% else %}
        <p class="govuk-!-margin-bottom-0">This organisation runs and ratifies its own courses. You do not need to set permissions for this.</p>
      {% endif %}

    </div>
  </div>

{% endblock %}
