{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set title = "Teaching Excellence SCITT" %}

{% block content %}

  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {% set tick %}
        {{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }}
      {% endset %}

      <h2 class="govuk-heading-m">
      For courses ratified by Teaching Excellence SCITT and run by Highfield Academy Alliance
      </h2>

      {{appBanner({
        text: "Contact Highfield Academy Alliance to change permissions.",
        classes: "govuk-!-margin-bottom-4"
      })}}

      <p class="govuk-!-margin-bottom-1">Teaching Excellence SCITT can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe }} make decisions</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">Highfield Academy Alliance can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe }} access safeguarding information</li>
      </ul>

      <h2 class="govuk-heading-m">
      For courses ratified by Teaching Excellence SCITT and run by Three Trees Teaching School
      </h2>

      {{appBanner({
        text: "Contact Three Trees Teaching School to change permissions.",
        classes: "govuk-!-margin-bottom-4"
      })}}

      <p class="govuk-!-margin-bottom-1">Teaching Excellence SCITT can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe }} make decisions</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">Three Trees Teaching School can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe }} access safeguarding information</li>
      </ul>

      <h2 class="govuk-heading-m">
      For courses ratified by Teaching Excellence SCITT and run by Westfield TSA
      </h2>

      {{appBanner({
        text: "Contact Westfield TSA to change permissions.",
        classes: "govuk-!-margin-bottom-4"
      })}}

      <p class="govuk-!-margin-bottom-1">Teaching Excellence SCITT can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe }} make decisions</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">Westfield TSA can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe }} access safeguarding information</li>
      </ul>

      <h2 class="govuk-heading-m">
      For courses ratified by Teaching Excellence SCITT and run by Your Teaching First TSA
      </h2>

      <p class="govuk-!-margin-bottom-1">Teaching Excellence SCITT can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe }} make decisions</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">Your Teaching First TSA can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe }} access safeguarding information</li>
      </ul>

      <p>You can also <a href="/organisations/show3">manage permissions for Your Teaching First TSA</a>.</p>

    </div>
  </div>

{% endblock %}
