{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set title = "Somerset SCITT Consortium" %}

{% block content %}

  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {% set tick %}
        {{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }}
      {% endset %}

      <h2 class="govuk-heading-m">
      For courses ratified by Somerset SCITT Consortium and run by Growing Expert Teachers
      </h2>

      {{appBanner({
        text: "Contact Growing Expert Teachers to change permissions.",
        classes: "govuk-!-margin-bottom-4"
      })}}

      <p class="govuk-!-margin-bottom-1">Somerset SCITT Consortium can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} make decisions</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">Growing Expert Teachers can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} access safeguarding information</li>
      </ul>

      <h2 class="govuk-heading-m">
      For courses ratified by Somerset SCITT Consortium and run by Taunton Teaching Alliance
      </h2>

      {{appBanner({
        text: "Contact Taunton Teaching Alliance to change permissions.",
        classes: "govuk-!-margin-bottom-4"
      })}}

      <p class="govuk-!-margin-bottom-1">Somerset SCITT Consortium can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} make decisions</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">Taunton Teaching Alliance can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} access safeguarding information</li>
      </ul>

      <h2 class="govuk-heading-m">
      For courses ratified by Somerset SCITT Consortium and run by The Beach Teaching School
      </h2>

      {{appBanner({
        text: "Contact The Beach Teaching School to change permissions.",
        classes: "govuk-!-margin-bottom-4"
      })}}

      <p class="govuk-!-margin-bottom-1">Somerset SCITT Consortium can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} make decisions</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">The Beach Teaching School can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} access safeguarding information</li>
      </ul>

      <h2 class="govuk-heading-m">
      For courses ratified by Somerset SCITT Consortium and run by Ventrus Teaching School Alliance
      </h2>

      <p class="govuk-!-margin-bottom-1">Somerset SCITT Consortium can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} make decisions</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">Ventrus Teaching School Alliance can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} access safeguarding information</li>
      </ul>

      <p>You can also <a href="/organisations/show3">manage permissions for Ventrus Teaching School Alliance</a>.</p>

    </div>
  </div>

{% endblock %}
