{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set trainingProvider = data.user.organisations[1].name %}
{% set title = trainingProvider %}

{% block content %}

  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{trainingProvider}}</h1>

      {% set tick %}
        {{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }}
      {% endset %}

      <h2 class="govuk-heading-m">
        For courses run by {{ trainingProvider}} and ratified by {{ data.accreditedBodies[0].name }}
      </h2>

      <p>The following organisation(s) can make decisions:</p>

      <ul class="govuk-list">
        <li>{{tick | safe }} {{ trainingProvider}}</li>
      </ul>

      <p>The following organisation(s) can view safeguarding information:</p>

      <ul class="govuk-list">
        <li>{{tick | safe }} {{ data.accreditedBodies[0].name }}</li>
      </ul>

      <p>The following organisation(s) can view diversity information:</p>

      <ul class="govuk-list">
        <li>{{tick | safe }} {{ trainingProvider}}</li>
      </ul>

      <p><a href="/organisations/edit">Change <span class="govuk-visually-hidden">permissions for {{ trainingProvider}}</span></a></p>

    </div>
  </div>

{% endblock %}
