{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set title = "Ventrus Teaching School Alliance" %}

{% block content %}

  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {% set tick %}
        {{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }}
      {% endset %}

      <h2 class="govuk-heading-m">
        For courses run by Ventrus Teaching School Alliance and ratified by Somerset SCITT Consortium
      </h2>

      <p class="govuk-!-margin-bottom-1">Ventrus Teaching School Alliance can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe}} access safeguarding information</li>
      </ul>

      <p class="govuk-!-margin-bottom-1">Somerset SCITT Consortium can:</p>
      <ul class="govuk-list">
        <li>{{tick | safe }} view applications</li>
        <li>{{tick | safe}} make decisions</li>
      </ul>

      <p><a href="#1">Change <span class="govuk-visually-hidden">permissions for Ventrus Teaching School Alliance</span></a></p>

    </div>
  </div>

{% endblock %}
