{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set title = data.organisations[2].name %}

{% block content %}

  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {% set permissionsOneHtml %}
          <p>{{ data.organisations[0].name }} can:</p>
          <ul class="list list--bullet">
            <li>make decisions</li>
            <li>view safeguarding information</li>
          </ul>
          <p>{{ data.organisations[2].name }} can:</p>
          <ul class="list list--bullet">
            <li>make decisions</li>
            <li>view safeguarding information</li>
          </ul>
        {% endset %}
        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "For courses run by " + data.organisations[2].name + " and ratified by " + data.organisations[0].name
              },
              value: {
                html: permissionsOneHtml
              },
              actions: {
                items: [
                  {

                  }
                ]
              }
            }
          ]
        }) }}



    </div>
  </div>

{% endblock %}
