<h2 class="govuk-heading-m govuk-!-margin-top-9">
  Age
</h2>

<!-- <p class="govuk-body">
  <a class="govuk-link" href="/reports/{{organisation.id }}/diversity/download/age" download>
    Export data (CSV) <span class="govuk-visually-hidden">for candidate ages</span>
  </a>
</p> -->

<table id="age" class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageTitle }} - age data</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Age group</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:30%">
        Candidates recruited, out of those who applied in the age group
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:30%">
        Candidates recruited, out of the total recruited
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    {% for item in ageData %}

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
          {{ item.title }}
        </th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ item.rates.group | numeral('0.[0]') }}%
          <span class="govuk-hint govuk-!-margin-bottom-0">{{ item.counts.recruited | numeral('0,0') }} of {{ item.counts.received | numeral('0,0') }}</span>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ item.rates.recruited | numeral('0.[0]') }}%
          <span class="govuk-hint govuk-!-margin-bottom-0">{{ item.counts.recruited | numeral('0,0') }} of {{ recruitedCount | numeral('0,0') }}</span>
        </td>
      </tr>

    {% endfor %}

  </tbody>
</table>
