{% extends "_layout.njk" %}

{% set primaryNavId = "reports" %}
{% set pageTitle = "Sex, disability, ethnicity and age of candidates" %}

{% block pageTitle %}
{{ pageTitle + ((" - " + organisation.name) if organisation) }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/reports",
    text: "Reports"
  }, {
    text: pageTitle
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageTitle }}
      </h1>

      <p class="govuk-body">
        The sex, disability and ethnicity data comes from candidates who filled in a questionnaire when they applied. The age data is from all candidates.
      </p>

      <h2 class="govuk-heading-m">
        {{ data.currentCycle.shortDesc }} - current
      </h2>

      {% if query.hidden and query.hidden == "true" %}
        <p class="govuk-body">
          <!-- You’ll be able to see this report once {{ organisation.name }} has received applications from 10 candidates. This is to protect the privacy of candidates. -->
          You’ll be able to see this report once it contains data from at least 10 candidates. This is to protect the privacy of candidates.
        </p>
      {% else %}
        <p class="govuk-body">
          The report includes data from all candidates who have applied since {{ data.currentCycle.findOpens | date('d MMMM yyyy') }}.
        </p>

        <p class="govuk-body">
          <a class="govuk-link" href="/reports/{{ organisation.id }}/diversity/cycles/{{ data.currentCycle.code }}">
            {{ pageTitle }} ({{ data.currentCycle.shortDesc }} - current)
          </a>
        </p>
      {% endif %}

      <h2 class="govuk-heading-m">
        {{ data.previousCycle.shortDesc }}
      </h2>

      <p class="govuk-body">
        The report includes data from all candidates who applied from {{ data.previousCycle.findOpens | date('d MMMM yyyy') }} to {{ data.previousCycle.findCloses | date('d MMMM yyyy') }}.
      </p>

      <p class="govuk-body">
        <a class="govuk-link" href="/reports/{{ organisation.id }}/diversity/cycles/{{ data.previousCycle.code }}">
          {{ pageTitle }} ({{ data.previousCycle.shortDesc }})
        </a>
      </p>

    </div>
  </div>

{% endblock %}
