{% extends "_layout.njk" %}

{% set primaryNavId = "statistics" %}
{% set pageName = "Configure report" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/statistics/" + section + "/" + report
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">
        {{ reportName | capitalize }}
      </span>
      {{ pageName }}
    </h1>

    {#% include "_includes/statistics/selected-config-options.njk" %#}

    <form action="/statistics/{{ section }}/{{ report }}" method="post" accept-charset="UTF-8" novalidate>

      {{ govukRadios({
        idPrefix: "statisticsOptionsRows",
        name: "statisticsOptions[rows]",
        fieldset: {
          legend: {
            text: "Split courses by",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "status",
            text: "Status",
            checked: true
          },
          {
            value: "location",
            text: "Location"
          }
        ]
      }) }}

      {{ govukRadios({
        idPrefix: "statisticsOptionsColumns",
        name: "statisticsOptions[columns]",
        fieldset: {
          legend: {
            text: "Show data by...",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "cycle",
            text: "Cycle"
          },
          {
            value: "location",
            text: "Location",
            checked: true
          }
        ]
      }) }}

      {{ govukRadios({
        idPrefix: "statisticsOptionsColumns",
        name: "statisticsOptions[columns1]",
        fieldset: {
          legend: {
            text: "Show data by something else...",
            classes: "govuk-fieldset__legend--m"
          }
        },
        hint: {
          text: ""
        },
        items: [
          {
            value: "cycle",
            text: "Cycle",
            checked: true
          },
          {
            value: "location",
            text: "Location"
          }
        ]
      }) }}

      {{ govukButton({
        text: "Save settings and view report"
      }) }}

    </form>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
