{% extends "_layout.njk" %}

{% set primaryNavId = "statistics" %}
{% set pageName = "Configure report" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/statistics/" + section + "/" + report
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ pageName }}</h1>

    {% include "_includes/statistics/selected-config-options.njk" %}

    <form action="/statistics/{{ section }}/{{ report }}" method="post" accept-charset="UTF-8" novalidate>

      {{ govukCheckboxes({
        idPrefix: "cycle",
        name: "statistics[cycle]",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Year received",
            isPageHeading: false,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "2020 to 2021",
            text: "2020 to 2021" | cycleText,
            checked: checked(data.statistics.cycle, "2020 to 2021")
          },
          {
            value: "2019 to 2020",
            text: "2019 to 2020" | cycleText,
            checked: checked(data.statistics.cycle, "2019 to 2020")
          }
        ]
      }) if 'cycle' in configOptions }}

      {{ govukCheckboxes({
        idPrefix: "status",
        name: "statistics[status]",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Status",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Received",
            text: "Received",
            checked: checked(data.statistics.status, "Received") == "checked"
          },
          {
            value: "Interviewing",
            text: "Interviewing",
            checked: checked(data.statistics.status, "Interviewing") == "checked"
          },
          {
            value: "Offered",
            text: "Offered",
            checked: checked(data.statistics.status, "Offered") == "checked"
          },
          {
            value: "Awaiting conditions",
            text: "Awaiting conditions",
            checked: checked(data.statistics.status, "Awaiting conditions") == "checked"
          },
          {
            value: "Ready to enroll",
            text: "Ready to enroll",
            checked: checked(data.statistics.status, "Ready to enroll") == "checked"
          },
           {
            value: "Conditions not met",
            text: "Conditions not met",
            checked: checked(data.statistics.status, "Conditions not met") == "checked"
          },
          {
            value: "Deferred",
            text: "Deferred",
            checked: checked(data.statistics.status, "Deferred") == "checked"
          },
          {
            value: "Declined",
            text: "Declined",
            checked: checked(data.statistics.status, "Declined") == "checked"
          },
          {
            value: "Rejected",
            text: "Rejected",
            checked: checked(data.statistics.status, "Rejected") == "checked"
          },
          {
            value: "Application withdrawn",
            text: "Application withdrawn",
            checked: checked(data.statistics.status, "Application withdrawn") == "checked"
          },
          {
            value: "Offer withdrawn",
            text: "Offer withdrawn",
            checked: checked(data.statistics.status, "Offer withdrawn") == "checked"
          }
        ]
      })  if 'status' in configOptions }}

      {{ govukCheckboxes({
        idPrefix: "provider",
        name: "statistics[provider]",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Courses run by",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: data.user.organisations[0].name,
            text: data.user.organisations[0].name,
            checked: checked(data.statistics.provider, data.user.organisations[0].name) == "checked"
          },
          {
            value: data.user.organisations[1].name,
            text: data.user.organisations[1].name,
            checked: checked(data.statistics.provider, data.user.organisations[1].name) == "checked"
          }
        ]
      }) if 'trainingProvider' in configOptions }}

      {#% if checked(data.statistics.provider, data.user.organisations[0].name) %#}

        {{ govukCheckboxes({
          name: "statistics[location]",
          classes: "govuk-checkboxes--small",
          fieldset: {
            legend: {
              text: "Training locations",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "Main site",
              text: "Main site",
              checked: checked(data.statistics.location, "Main site") == "checked"
            },
            {
              value: "Camberley - training location",
              text: "Camberley - training location",
              checked: checked(data.statistics.location, "Camberley - training location") == "checked"
            },
            {
              value: "Epsom Grinstead - training location",
              text: "Epsom Grinstead - training location",
              checked: checked(data.statistics.location, "Epsom Grinstead - training location") == "checked"
            },
            {
              value: "Lingfield - training location",
              text: "Lingfield - training location",
              checked: checked(data.statistics.location, "Lingfield - training location") == "checked"
            }
          ]
        }) if 'location' in configOptions }}

      {#% endif %#}

      {{ govukCheckboxes({
        idPrefix: "accreditedBody",
        name: "statistics[accreditedBody]",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Courses ratified by",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: data.accreditedBodies[0].name,
            text: data.accreditedBodies[0].name,
            checked: checked(data.statistics.accreditedBody, data.accreditedBodies[0].name) == "checked"
          },
          {
            value: data.accreditedBodies[1].name,
            text: data.accreditedBodies[1].name,
            checked: checked(data.statistics.accreditedBody, data.accreditedBodies[1].name) == "checked"
          }
        ]
      }) if 'accreditedBody' in configOptions }}

      {#% if subjectItems.length >= subjectItemsDisplayLimit %}

        {{ appCheckboxFilter({
          idPrefix: "subject",
          name: "statistics[subject]",
          legend: {
            text: "Subject"
          },
          items: subjectItems,
          selectedItems: selectedSubjects,
          classes: "govuk-!-margin-bottom-7"
        }) }}

      {% else %}

        {{ govukCheckboxes({
          idPrefix: "subject",
          name: "statistics[subject]",
          fieldset: {
            legend: {
              text: "Subject",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: subjectItems,
          classes: "govuk-checkboxes--small"
        }) }}

      {% endif %#}

      {{ govukCheckboxes({
        idPrefix: "studyMode",
        name: "statistics[studyMode]",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Full time or part time",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Full time",
            text: "Full time",
            checked: checked(data.statistics.studyMode, "Full time") == "checked"
          },
          {
            value: "Part time",
            text: "Part time",
            checked: checked(data.statistics.studyMode, "Part time") == "checked"
          }
        ]
      }) if 'studyMode' in configOptions }}

      {{ govukCheckboxes({
        idPrefix: "fundingType",
        name: "statistics[fundingType]",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Funding type",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Fee paying",
            text: "Fee paying",
            checked: checked(data.statistics.fundingType, "Fee paying") == "checked"
          },
          {
            value: "Salaried",
            text: "Salaried",
            checked: checked(data.statistics.fundingType, "Salaried") == "checked"
          },
          {
            value: "Apprenticeship",
            text: "Apprenticeship",
            checked: checked(data.statistics.fundingType, "Apprenticeship") == "checked"
          }
        ]
      })  if 'fundingType' in configOptions }}

      {{ govukCheckboxes({
        idPrefix: "subjectLevel",
        name: "statistics[subjectLevel]",
        classes: "govuk-checkboxes--small",
        fieldset: {
          legend: {
            text: "Subject level",
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "Primary",
            text: "Primary",
            checked: checked(data.statistics.subjectLevel, "Primary") == "checked"
          },
          {
            value: "Secondary",
            text: "Secondary",
            checked: checked(data.statistics.subjectLevel, "Secondary") == "checked"
          }
        ]
      }) if 'subjectLevel' in configOptions }}

      {{ govukButton({
        text: "Save"
      }) }}

    </form>

  </div>
  <div class="govuk-grid-column-one-third">

  </div>
</div>

{% endblock %}
