{% extends "_layout.njk" %}

{% set primaryNavId = "performance" %}
{% set subNavId = "applications" %}
{% set pageName = "Statistics" %}

{% block content %}

{% include "_includes/statistics/header.njk" %}

<h2 class="govuk-heading-m">Applications</h2>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/statistics/applications/status">Status</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/applications/subject">Subject</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/applications/provider">Provider</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/applications/location">Location</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/applications/reasons-for-rejection">Reasons for rejection</a>
  </li>
</ul>

<h2 class="govuk-heading-m">Candidates</h2>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/statistics/candidates/nationality">Nationality</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/candidates/residence">Residence</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/candidates/right-to-work-study">Right to work or study</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/candidates/english-language-qualification">English language qualification</a>
  </li>
</ul>

<h2 class="govuk-heading-m">Courses</h2>

<ul class="govuk-list">
  <li>
    <a class="govuk-link" href="/statistics/courses/">Report 1</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/courses/">Report 2</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/courses/">Report 3</a>
  </li>
  <li>
    <a class="govuk-link" href="/statistics/courses/">Report 4</a>
  </li>
</ul>

{% endblock %}
