{% extends "_layout.njk" %}

{% set primaryNavId = "statistics" %}
{% set pageName = "Statistics" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    <ul class="govuk-list">
      <li>
        <a class="govuk-link" href="/statistics/status">Status of applications (2020 to 2021)</a>
      </li>
      <li>
        <a class="govuk-link" href="/statistics/conversion">Progress of applications (2020 to 2021)</a>
      </li>
    </ul>

  </div>
</div>

{% endblock %}
