{% extends "_layout.njk" %}

{% set primaryNavId = "statistics" %}
{% set pageName = "Statistics" %}

{% block content %}

{% include "_includes/statistics/header.njk" %}

<h2 class="govuk-heading-m">Number of applications</h2>

{% include "_includes/statistics/glance-metrics.njk" %}

<ul class="govuk-list govuk-!-margin-top-9">
  <li>
    <a class="govuk-link" href="/statistics/courses">Courses</a>
  </li>
</ul>

{% endblock %}
