{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Select which conditions to delete" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: '/application/' + application.id + '/offer'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-xl">{{name}}</span>
        {{title}}
      {% endset %}

      <form method="post">

        {{ govukCheckboxes({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: conditionItems
        } | decorateAttributes(data, 'data["delete-conditions"]["conditions"]') )}}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
