{% extends "_layout.njk" %}

{% set name = application.personalDetails.name %}

{% set title = "Check and send new offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + '/offer/edit-provider/location'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{appOfferPanel({
        provider: {
          value: data['change-offer']['provider'],
          href: "/applications/" + application.id + "/offer/edit-provider"
        },
        course: {
          value: data['change-offer']['course'],
          href: "/applications/" + application.id + "/offer/edit-provider/course"
        },
        location: {
          value: data['change-offer']['location'],
          href: "/applications/" + application.id + "/offer/edit-provider/location"
        },
        studyMode: {
          value: "Full time",
          href: "#"
        },
        accreditedBody: {
          value: application.offer.accreditedBody
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "#"
        }
      })}}

{% if conditions.length %}

        <p>When you send this offer, you guarantee a place on the course as long as the candidate meets the conditions.</p>
     
      {% else %}
     
        <p>When you send this offer, you guarantee a place on the course once the candidate accepts the offer.</p>
     
      {% endif %}
     
      <p>Notifications will be sent to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          users at {{application.offer.provider}} to tell them that they can no longer view the application
        </li>
        <li>
          users at {{data['change-offer']['provider']}} to tell them that they have a new application
        </li>
        <li>
          the candidate to tell them that their offer has changed
        </li>
      </ul>
      
      <form method="post">
        {{ govukButton({
          text: "Send new offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>

{% endblock %}
