<h2 class="govuk-heading-m govuk-!-margin-top-9">
  Disability
</h2>

<!-- <p class="govuk-body">
  <a class="govuk-link" href="/reports/{{organisation.id }}/diversity/download/disability" download>
    Export data (CSV) <span class="govuk-visually-hidden">for candidate disabilities</span>
  </a>
</p> -->

<table id="sex" class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageTitle }} - disabled data</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Candidate is disabled</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:30%">
        Candidates recruited, out of those who gave this answer
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:30%">
        Candidates recruited who gave this answer, out of the total recruited
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    {% for item in disabilityResponseData %}

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
          {{ item.title }}
        </th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ item.rates.group | numeral('0.[0]') }}%
          <span class="govuk-hint govuk-!-margin-bottom-0">{{ item.counts.recruited | numeral('0,0') }} of {{ item.counts.received | numeral('0,0') }}</span>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
            {{ item.rates.recruited | numeral('0.[0]') }}%
          <span class="govuk-hint govuk-!-margin-bottom-0">{{ item.counts.recruited | numeral('0,0') }} of {{ recruitedCount | numeral('0,0') }}</span>
        </td>
      </tr>

    {% endfor %}

  </tbody>
</table>

<table id="disability" class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageTitle }} - disability data</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Disability</th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:30%">
        Candidates recruited, out of those who gave this answer
      </th>
      <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:30%">
        Candidates recruited who gave this answer, out of the total recruited
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">

    {% for item in disabilityData %}

      <tr class="govuk-table__row">
        <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
          {{ item.title }}
          <span class="govuk-hint govuk-!-margin-bottom-0">{{ item.description }}</span>
        </th>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ item.rates.group | numeral('0.[0]') }}%
          <span class="govuk-hint govuk-!-margin-bottom-0">{{ item.counts.recruited | numeral('0,0') }} of {{ item.counts.received | numeral('0,0') }}</span>
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric">
          {{ item.rates.recruited | numeral('0.[0]') }}%
          <span class="govuk-hint govuk-!-margin-bottom-0">{{ item.counts.recruited | numeral('0,0') }} of {{ recruitedCount | numeral('0,0') }}</span>
        </td>
      </tr>

    {% endfor %}

  </tbody>
</table>
