{% extends "_layout-register.njk" %}

{% set title = "Create new password"  %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p class="govuk-body">Enter a new password for your DfE Sign-in account.</p>

      <form action="{{ actions.save }}" method="post" novalidate>

        {% call govukFieldset({}) %}

          {{ govukInput({
            id: "password",
            name: "password",
            label: {
              text: "Password",
              classes: "govuk-label--s"
            },
            hint: {
              text: "Your password must be at least 12 characters"
            },
            classes: "govuk-!-width-two-thirds"
          }) }}

            {{ govukInput({
              id: "confirmPassword",
              name: "confirmPassword",
              label: {
                text: "Confirm password",
                classes: "govuk-label--s"
              },
              classes: "govuk-!-width-two-thirds"
            }) }}

        {% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "./_help.njk" %}

    </div>
  </div>
{% endblock %}
