{% extends "_layout-register.njk" %}

{% set title = "Terms and conditions"  %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p class="govuk-body">Welcome to DfE Sign-in, the Department for Education's secure single sign-in system for access to DfE online services.</p>

      <p class="govuk-body">By using this service, you agree to the following terms and conditions.</p>

      <h2 class="govuk-heading-m">Our responsibilities</h2>

      <p class="govuk-body">This service is run by the Department for Education (DfE). We comply with the <a class="govuk-link" href="http://www.legislation.gov.uk/ukpga/2018/12/contents/enacted" target="_blank">UK Data Protection Act 2018</a> and endeavour to ensure that the service is continuously available. However, the DfE accepts no liability for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you being unable to access the service (for example owing to excessive demand or because we've taken the service down for maintenance)</li>
        <li>delay or failure in receiving data</li>
        <li>loss or damage arising from the use of the service or reliance on its content</li>
        <li>the content and availability of external websites that link to the service or which are linked from it</li>
      </ul>

      <p class="govuk-body">Your responsibilities:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>You are responsible for all activities associated with your email and password and accept responsibility for all activities associated with your account.</li>
        <li>You agree to indemnify the DfE against any losses, expenses, damages or claims we may incur as a result of any failure by you to comply with the obligations set out in these terms.</li>
        <li>You agree to comply with any amendments to these Terms and Conditions</li>
        <li>You agree to comply to the Terms and Conditions of each service you are approved to use.</li>
      </ul>

      <p class="govuk-body">As a user or approver, you must:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>not use your organisation’s generic email address when registering for an account</li>
        <li>provide your first name and last name</li>
        <li>keep your DfE Sign-in account details confidential and secure</li>
        <li>comply with the Data Protection Act 2018 and ensure that any personal data (as defined by the Data Protection Act 2018) is protected, used only for the purposes for which it was obtained and disposed of accordingly</li>
        <li>comply with the UK Computer Misuse Act 1990</li>
        <li>contact us if you're aware of any security breach</li>
        <li>not use DfE Sign-in for any unlawful purpose</li>
        <li>sign in from only one PC at a time</li>
        <li>sign out of DfE sign-in using the sign-out function when you have finished your session.</li>
      </ul>

      <p class="govuk-body">As an approver, you must also:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>remove user access from staff who no longer need access</li>
        <li>Notify us if your role changes and you no longer require the Approver role</li>
        <li>verify that all requests for access are appropriate to that person's professional role</li>
        <li>regularly review user’s access to ensure that only those who need access to systems maintain their privileges</li>
      </ul>

      <p class="govuk-body">A user’s rights to use this service may be removed, or amended if you are found to be in breach of these terms and conditions. Our decision in the event of a breach shall be final.</p>
      <p class="govuk-body">Your information will be used to establish your identity and permissions when using a DfE service.</p>

    </div>
  </div>
{% endblock %}
