{% extends "_layout-register.njk" %}

{% set title = "Enter your verification code"  %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  {% include "./_notification-banner.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p class="govuk-body">Enter the verification code included in the email we’ve sent you and then you can continue on to create a new password.</p>

      <form action="{{ actions.save }}" method="post" novalidate>

        {% call govukFieldset({}) %}

          {{ govukInput({
            id: "code",
            name: "code",
            label: {
              text: "Verification code",
              classes: "govuk-label--s"
            },
            classes: "govuk-!-width-one-quarter"
          }) }}

        {% endcall %}

        <!-- <p class="govuk-body">
          <a class="govuk-link govuk-link--no-visited-state" href="{{ actions.resend }}">I have not received the verification email</a>
        </p> -->

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      {% include "./_help.njk" %}

    </div>
  </div>
{% endblock %}
