{% extends "layouts/main.html" %}

{% set pageId = "start" %}

{% set title = "Sign in to manage teacher training applications" %}

{% block header %}
  {% include "_includes/header.njk" %}
{% endblock %}

{% block content %}

  {# {{ govukNotificationBanner({
    text: "Candidates will be able to apply for courses starting in 2022 to 2023 from 12 October 2021 at 9am"
  }) }} #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{title}}
      </h1>

      <p>If you do not have access to this service, ask a colleague to add you.</p>
      {# <p>If you do not have an account your organisation’s administrator can create one for you. </p> #}

      <p>If your organisation has not been set up to use the service, email <a href="">becomingateacher@digital.education.gov.uk</a>.</p>

      {{ govukButton({
        text: "Sign in",
        href: "/applications",
        isStartButton: true
      }) }}

    </div>
  </div>

{% endblock %}
