{% extends "_layout.njk" %}

{% set primaryNavId = 'notifications' %}
{% set title = "Notifications" %}

{% block content %}

  <h1 class="govuk-heading-l">{{title}}</h1>

  <p><a href="/account/notifications/online">Notification settings</a></p>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/notifications-filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      <h2 class="govuk-heading-m">Unread notifications (7)</h2>
      {# <h2 class="govuk-heading-m">Read notifications</h2> #}

      {# <div class="app-activity-log">
        {%- for day, events in activity %}
          {% include "_includes/activity-log/events-timeline.njk" %}
        {% endfor -%}
      </div> #}

      <div>
        {{appNotificationCard({
          classes: "app-notification-card--first",
          settings: {
            href: "/account/notifications/edit/application-submitted"
          },
          title: "Application received (Adam Oates)",
          provider: data.user.organisations[0].name,
          dateText: "Today at 18:12pm",
          link: {
            href: "#",
            text: "View application"
          },
          new: true
        })}}


        {{appNotificationCard({
          settings: {
            href: "/account/notifications/edit/application-submitted"
          },
          title: "Application received (Charlotte Campbel)",
          provider: data.user.organisations[0].name,
          dateText: "Today at 17:12pm",
          link: {
            href: "#",
            text: "View application"
          },
          new: true
        })}}

      {{appNotificationCard({
        settings: {
          href: "/account/notifications/edit/application-submitted"
        },
        title: "Application received (Barbara Clark)",
        provider: data.user.organisations[0].name,
        dateText: "Today at 1:33pm",
        link: {
          href: "#",
          text: "View application"
        },
        new: true
      })}}

      {{appNotificationCard({
        settings: {
          href: "/account/notifications/edit/application-submitted"
        },
        title: "Offer accepted (Tony Stark)",
        provider: data.user.organisations[0].name,
        dateText: "Yesterday at 9:57pm",
        link: {
          href: "#",
          text: "View application"
        },
        new: true
      }) if not data.type or data.type != 'Application received'}}

      {{appNotificationCard({
        settings: {
          href: "/account/notifications/edit/application-submitted"
        },
        title: "Application withdrawn (Esther Fairley)",
        provider: data.user.organisations[0].name,
        dateText: "5 March 2022 at 9:55am",
        link: {
          href: "#",
          text: "View offer"
        },
        new: true
      }) if not data.type or data.type != 'Application received'}}

      {{appNotificationCard({
        settings: {
          href: "/account/notifications/edit/application-submitted"
        },
        title: "Offer declined (Elizabeth Rose)",
        provider: data.user.organisations[0].name,
        dateText: "3 March 2022 at 8:18am",
        link: {
          href: "#",
          text: "View offer"
        },
        new: true
      }) if not data.type or data.type != 'Application received'}}

       {{appNotificationCard({

        title: "Automatically rejected (Daniel James Jennings)",
        provider: data.user.organisations[0].name,
        dateText: "1 March 2022 at 7:19pm",
        link: {
          href: "#",
          text: "View application"
        },
        new: true
      }) if not data.type or data.type != 'Application received'}}

      <h2 class="govuk-heading-m govuk-!-margin-top-8">Read notifications</h2>

      {{appNotificationCard({
        classes: "app-notification-card--first",
        settings: {
          href: "/account/notifications/edit/application-submitted"
        },
        title: "Offer declined (Elizabeth Rose)",
        provider: data.user.organisations[0].name,
        dateText: "27 February 2022 at 8:18am",
        link: {
          href: "#",
          text: "View offer"
        }
      }) if not data.type or data.type != 'Application received' }}

      {{appNotificationCard({
        title: "Offer accepted (Daniel Mead)",
        provider: data.user.organisations[0].name,
        dateText: "26 February 2022 at 7:19pm",
        link: {
          href: "#",
          text: "View offer"
        }
      }) if not data.type or data.type != 'Application received'}}

      {{appNotificationCard({
        title: "Application received (Mitch Mode)",
        provider: data.user.organisations[0].name,
        dateText: "25 February 2022 at 7:19pm",
        link: {
          href: "#",
          text: "View offer"
        }
      })}}

      {{appNotificationCard({
        title: "Application received (Daniel Hope)",
        provider: data.user.organisations[0].name,
        dateText: "24 February 2022 at 7:19pm",
        link: {
          href: "#",
          text: "View offer"
        }
      })}}

      {{appNotificationCard({
        title: "Application received (Claire Hughes)",
        provider: data.user.organisations[0].name,
        dateText: "23 February 2022 at 7:19pm",
        link: {
          href: "#",
          text: "View offer"
        }
      })}}

      {{ appPagination({
          results: {
            from: 1,
            to: 15,
            count: 30
          },
            next: {
            text: 'Next',
            href: ''
          },
            items: [{
            text: '1',
            href: '/page=1',
            selected: true
          }, {
            text: '2',
            href: '/page=2'
          }]
        }) }}
      </div>

    </div>
  </div>

{% endblock %}
