{% extends "_layout.njk" %}

{% set primaryNavId = 'notifications' %}
{% set title = "Notifications (7)" %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">{{title}}</h1>

      <p class="govuk-!-margin-bottom-8"><a href="/notifications/settings">Notification settings</a></p>

      {{appNotificationCard({
        settings: {
          href: "/notifications/edit/application-submitted"
        },
        title: "Charlotte Campbel‘s application is going to be automatically rejected in 2 days",
        provider: "Somerset SCITT",
        dateText: "Today at 17:12pm",
        link: {
          href: "#",
          text: "View application"
        },
        new: true
      })}}

      {{appNotificationCard({
        settings: {
          href: "/notifications/edit/application-submitted"
        },
        title: "Harvey Noel granted you permission to see safeguarding information",
        provider: "Somerset SCITT",
        dateText: "Today at 17:12pm",
        link: {
          href: "#",
          text: "View your profile"
        },
        new: true
      })}}

      {{appNotificationCard({
        settings: {
          href: "/notifications/edit/application-submitted"
        },
        title: "Mike Ross added a note to Eloise Well’s application",
        provider: "Somerset SCITT",
        dateText: "Today at 3:32pm",
        link: {
          href: "#",
          text: "View note"
        },
        new: true
      })}}

      {{appNotificationCard({
        settings: {
          href: "/notifications/edit/application-submitted"
        },
        title: "Kelly Jane Spears submitted their application",
        provider: "Somerset SCITT",
        dateText: "Today at 1:33pm",
        link: {
          href: "#",
          text: "View application"
        },
        new: true
      })}}

      {{appNotificationCard({
        settings: {
          href: "/notifications/edit/application-submitted"
        },
        title: "Eloise Well‘s accepted your offer",
        provider: "Somerset SCITT",
        dateText: "Yesterday at 9:57pm",
        link: {
          href: "#",
          text: "View application"
        },
        new: true
      })}}

      {{appNotificationCard({
        settings: {
          href: "/notifications/edit/application-submitted"
        },
        title: "Esther Fairley withdrew their application",
        provider: "Somerset SCITT",
        dateText: "19 May 2020 at 9:55am",
        link: {
          href: "#",
          text: "View offer"
        },
        new: true
      })}}

      {{appNotificationCard({
        settings: {
          href: "/notifications/edit/application-submitted"
        },
        title: "Elizabeth Rose declined your offer",
        provider: "Somerset SCITT",
        dateText: "17 May 2020 at 8:18am",
        link: {
          href: "#",
          text: "View offer"
        },
        new: true
      })}}

       {{appNotificationCard({
         settings: {
           href: "/notifications/edit/application-submitted"
         },
        title: "Daniel James Jennings‘ application was rejected by default",
        provider: "Somerset SCITT",
        dateText: "14 May 2020 at 7:19pm",
        link: {
          href: "#",
          text: "View application"
        },
        new: true
      })}}

      {{appNotificationCard({
        settings: {
          href: "/notifications/edit/application-submitted"
        },
        title: "Elizabeth Rose declined your offer",
        provider: "Somerset SCITT",
        dateText: "17 May 2020 at 8:18am",
        link: {
          href: "#",
          text: "View offer"
        }
      })}}

       {{appNotificationCard({
         settings: {
           href: "/notifications/edit/application-submitted"
         },
        title: "Daniel James Jennings‘ application was rejected by default",
        provider: "Somerset SCITT",
        dateText: "14 May 2020 at 7:19pm",
        link: {
          href: "#",
          text: "View application"
        }
      })}}


      {{ mojPagination({
          results: {
            from: 1,
            to: 15,
            count: 30
          },
            next: {
            text: 'Next',
            href: ''
          },
            items: [{
            text: '1',
            href: '/page=1',
            selected: true
          }, {
            text: '2',
            href: '/page=2'
          }]
        }) }}

    </div>
  </div>

{% endblock %}
