{% extends "_layout.njk" %}

{% set primaryNavId = 'notifications' %}
{% set title = "Notification settings" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/notifications/"
  }) }}
{% endblock %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When a candidate submits an application</h2>
      <p class="govuk-!-margin-bottom-1">Email (immediately), in application</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When a candidate submits an application with safeguarding information</h2>
      <p class="govuk-!-margin-bottom-1">Email (once a day at 8am), in application</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When an application hasn‘t been responded to within 5 days</h2>
      <p class="govuk-!-margin-bottom-1">Email (once a day at 8am)</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When an application is rejected by default</h2>
      <p class="govuk-!-margin-bottom-1">Email (once a day at 8am)</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When a candidate withdraws their application</h2>
      <p class="govuk-!-margin-bottom-1">Email (once a day at 8am)</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When a candidate accepts an offer</h2>
      <p class="govuk-!-margin-bottom-1">Email (once a day at 8am)</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When a candidate declines an offer</h2>
      <p class="govuk-!-margin-bottom-1">In application</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When a candidate declines an offer by default</h2>
      <p class="govuk-!-margin-bottom-1">In application</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>

      <h2 class="govuk-heading-m govuk-!-margin-bottom-1">When your permissions change</h2>
      <p class="govuk-!-margin-bottom-1">Email (immediately)</p>
      <p><a href="/notifications/edit/application-submitted">Change</a></p>



    </div>
  </div>

{% endblock %}
