{% extends "_layout.njk" %}

{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = "Change course" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/offer/change-provider/"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-xl">{{title}}</h1>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/offer-summary.njk" %}
      <form method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Select course",
              classes: "govuk-fieldset__legend--m"
            }
          },
          idPrefix: "course",
          name: "course",
          items: [{
            value: "Primary (X100)",
            text: "Primary (X100)",
            checked: checked("course", "Primary (X100)")
          }, {
            value: "Primary (X121)",
            text: "Primary (X121)",
            checked: checked("course", "Primary (X121)")
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
