{% extends "_layout.njk" %}

{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = "Change training provider" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/offer"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-xl">{{name}}</span>
        {{title}}
      {% endset %}
      <form method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          idPrefix: "trainingprovider",
          name: "trainingprovider",
          items: [{
            value: data.user.organisations[0].name,
            text: data.user.organisations[0].name,
            checked: checked("trainingprovider", data.user.organisations[0].name)
          }, {
            value: data.user.organisations[1].name,
            text: data.user.organisations[1].name,
            checked: checked("trainingprovider", data.user.organisations[1].name)
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>
{% endblock %}
