{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Users" %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-xl">{{title}}</h1>
      {{govukButton({
        text: 'Invite user',
        href: '/users/new'
      })}}
      <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/users/show">Claudine Leoni</a></h2>
          <p class="govuk-!-margin-bottom-1">cleoni@somerset.gov.uk</p>
          <p class="govuk-!-font-size-16 govuk-caption-m govuk-!-margin-bottom-0">Somerset SCITT Consortium</p>
        </div>
      </div>
      {# <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/users/show">Hermione Granger</a></h2>
          <p class="govuk-!-margin-bottom-1">hermione.granger@wizardschool.com</p>
          <p class="govuk-!-font-size-16 govuk-caption-m govuk-!-margin-bottom-0">Somerset SCITT consortium and one more</p>
        <div>
      </div> #}
    </div>
  </div>

{% endblock %}
