{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Users" %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-xl">{{title}}</h1>
      {{govukButton({
        text: 'Invite user',
        href: '/users/new'
      })}}
      <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/users/1">{{ data.user.givenName }} {{ data.user.familyName }}</a></h2>
          <p class="govuk-!-margin-bottom-1">{{ data.user.emailAddress }}</p>
          <p class="govuk-!-font-size-16 govuk-caption-m govuk-!-margin-bottom-0">{{ data.user.organisations[0].name }}</p>
        </div>
      </div>
      <div class="app-application-card">
        <div>
          <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/users/2">Duncan Brown</a></h2>
          <p class="govuk-!-margin-bottom-1">duncan.brown@newzoescitt.co.uk</p>
          <p class="govuk-!-font-size-16 govuk-caption-m govuk-!-margin-bottom-0">{{ data.user.organisations[0].name }}</p>
        </div>
      </div>
      {% if flashMessage %}
        <div class="app-application-card">
          <div>
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/users/show">{{data['first-name']}} {{data['last-name']}}</a></h2>
            <p class="govuk-!-margin-bottom-1">{{data['email-address']}}</p>
            <p class="govuk-!-font-size-16 govuk-caption-m govuk-!-margin-bottom-0">{{ data.user.organisations[0].name }}</p>
          <div>
        </div>
      {% endif %}
    </div>
  </div>

{% endblock %}
