{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Users" %}

{% block beforePageTitle %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash }}
{% endblock %}

{% block primary %}

  {{govukButton({
    text: 'Invite user',
    href: '/users/new'
  })}}

  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">

      {{ govukTable({
        head: [
          {
            text: "Name"
          },
          {
            text: "Permissions"
          },
          {
            text: "Providers"
          }
        ],
        rows: [
          [
            {
              html: '<a href="/users/change">Harry Potter</a><br><span class="govuk-!-font-size-16 govuk-caption-m">harry.potter@wizardschool.com</span>'
            },
            {
              text: "Manage users"
            },
            {
              text: "Somerset SCITT consortium and one more"
            }
          ],
          [
            {
              html: '<a href="/users/change">Hermione Granger</a><br><span class="govuk-!-font-size-16 govuk-caption-m">herione.granger@wizardschool.com</span>'
            },
            {
              text: ""
            },
            {
              text: "The Beach Teaching School"
            }
          ]
        ]
      }) }}
    </div>
  </div>

{% endblock %}
