{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Check details before you send the invite" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/users/new"
  }) }}
{% endblock %}

{% block primary %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set permissionsHtml %}
        <h3 class="govuk-heading-s">Aston Manor Academy</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>manage organisation</li>
          <li>manage users</li>
        </ul>
        <p>For courses ratified by Titan Partnership Ltd</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make decisions</li>
        </ul>

        <h3 class="govuk-heading-s">Titan Partnership Ltd</h3>
        <ul class="govuk-list govuk-list--bullet">
          <li>manage organisation</li>
          <li>manage users</li>
        </ul>

        <p>For courses ratified by Titan Partnership Ltd</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>make decisions</li>
        </ul>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: "Bill"
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Wessel"
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "bill.wessel@titan.org.uk"
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Permissions"
            },
            value: {
              html: permissionsHtml
            },
            actions: {
              items: [
                {
                  href: "/users/new",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          }
        ]
      }) }}

      <form novalidate method="post">
        {{govukButton({
          text: "Invite user"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
