{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Claudine Leoni" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Users",
      href: "/users"
    }, {
      text: title
    }]
  }) if not data.bare }}
{% endblock %}

{% block content %}

  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>

       {% set permissionsHtml %}
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage organisation</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Make decisions</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} See safeguarding information</p>
      {% endset %}

      {% set permissions2Html %}
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage organisation</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Manage users</p>

        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Make decisions</p>
             <div class="govuk-!-margin-left-5">
         <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Somerset SCITT Consortium
          </li>
        </ul>
        </div>
        <p class="govuk-!-font-weight-bold">{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} See safeguarding information</p>
        <div class="govuk-!-margin-left-5">
         <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
              classes: "govuk-!-margin-right-1",
              icon: "tick",
              hidden: true
            }) }} Somerset SCITT Consortium
          </li>
        </ul>
        </div>
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: "Claudine"
            },
            actions: {
              items: [
                {
                  href: "/users/change-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Leoni"
            },
            actions: {
              items: [
                {
                  href: "/users/change-name",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "cleoni@somerset.gov.uk"
            },
            actions: {
              items: [
                {
                  href: "/users/change-email-address",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisations this user has access to"
            },
            value: {
              html: "<p>Somerset SCITT</p><p>Ventrus Teaching School Alliance</p>"
            },
            actions: {
              items: [
                {
                  href: "/users/change-providers",
                  text: "Change",
                  visuallyHiddenText: "providers"
                }
              ]
            }
          },
          {
            key: {
              text: "For courses run and ratified by Somerset SCITT Consortium this user can"
            },
            value: {
              html: permissionsHtml
            },
            actions: {
              items: [
                {
                  href: "/users/change-permissions",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "For courses run by Ventrus Teaching School Alliance and ratified by Somerset SCITT Consortium this user can"
            },
            value: {
              html: permissions2Html
            },
            actions: {
              items: [
                {
                  href: "/users/change-permissions2",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          }
        ]
      }) }}


      {{ govukButton({
        text: "Delete user",
        classes: "govuk-button--warning",
        href: "/users/delete"
      }) }}
    </div>
  </div>

{% endblock %}
