.app-notes {
  border-top: 1px solid govuk-colour('mid-grey');

}

.app-notes__note {
  border-bottom: 1px solid govuk-colour('mid-grey');
  padding-top: 10px;
  padding-bottom: 10px;
}


.app-notes__meta {
  // @include govuk-font($size: 16);
  // color: govuk-colour("dark-grey");
  // margin-bottom: 0;
}
