{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set status = application.status %}
{% set caption = content.updateInterview.caption + ' - ' + application.personalDetails.name %}
{% set heading = content.updateInterview.checkAnswers.heading %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/interviews/" + interview.id + "/edit"
  }) }}
{% endblock %}

{% block content %}

  <span class="govuk-caption-l">{{caption}}</span>
  <h1 class="govuk-heading-l">{{heading}}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Date"
            },
            value: {
              text: [data.interview.date.day, data.interview.date.month, data.interview.date.year] | govukDate
            },
            actions: {
              items: [
                {
                  href: "/applications/" + application.id + "/interviews/" + interview.id + "/edit",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Start time"
            },
            value: {
              text: data.interview.time
            },
            actions: {
              items: [
                {
                  href: "/applications/" + application.id + "/interviews/" + interview.id + "/edit",
                  text: "Change",
                  visuallyHiddenText: "date of birth"
                }
              ]
            }
          },
          {
            key: {
              text: "Organisation carrying out interview"
            },
            value: {
              html: data.interview.organisation
            },
            actions: {
              items: [
                {
                  href: "/applications/" + application.id + "/interviews/" + interview.id + "/edit",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "Address or online meeting details"
            },
            value: {
              html: data.interview.location | nl2br
            },
            actions: {
              items: [
                {
                  href: "/applications/" + application.id + "/interviews/new",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          },
          {
            key: {
              text: "Additional details"
            },
            value: {
              html: data.interview.details | nl2br or "None"
            },
            actions: {
              items: [
                {
                  href: "/applications/" + application.id + "/interviews/" + interview.id + "/edit",
                  text: "Change",
                  visuallyHiddenText: "contact information"
                }
              ]
            }
          }
        ]
      }) }}

      {{ govukWarningText({
        text: "The candidate will be sent an email about the update to the interview.",
        iconFallbackText: "Fallback text"
      }) }}

      <form method="post">

        {{ govukButton({
          text: content.updateInterview.checkAnswers.button
        }) }}
        <p class="govuk-body"><a href="/applications/{{ application.id }}/interviews">Cancel</a></p>
      </form>


    </div>
  </div>
{% endblock %}
