{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set status = application.status %}
{% set caption = content.updateInterview.caption + ' - ' + application.personalDetails.name %}
{% set heading = "Interview details" %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/interviews"
  }) }}
{% endblock %}

{% block content %}

  <span class="govuk-caption-l">{{caption}}</span>
  <h1 class="govuk-heading-l">{{heading}}</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if application.interviewNeeds.details %}
        <div class="app-box">
          <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Candidate interview preferences</h2>
          <p>{{application.interviewNeeds.details | nl2br}}</p>
        </div>
      {% endif %}

      <form method="post">

        {{ govukDateInput({
          id: "interview",
          fieldset: {
            legend: {
              text: "Date",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 30 11 2023"
          },
          items: [{
            name: "interview[date][day]",
            label: "Day",
            classes: "govuk-input--width-2",
            value: (interview.date | dayFromDate)
          }, {
            name: "interview[date][month]",
            label: "Month",
            classes: "govuk-input--width-2",
            value: (interview.date | monthFromDate)
          }, {
            name: "interview[date][year]",
            label: "Year",
            classes: "govuk-input--width-4",
            value: (interview.date | yearFromDate)
          }]
        }) }}

        {{ govukInput({
          id: "interview[time]",
          name: "interview[time]",
          label: {
            text: "Start time",
            classes: 'govuk-label--m'
          },
          classes: 'govuk-input--width-5',
          hint: {
            text: "For example, 2pm or 14:30"
          },
          value: interview.date | govukTime
        }) }}

        {{ govukRadios({
          idPrefix: "interview[organisation]",
          name: "interview[organisation]",
          fieldset: {
            legend: {
              text: "Organisation carrying out interview",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "The Royal Borough Teaching School Alliance",
              text: "The Royal Borough Teaching School Alliance"
            },
            {
              value: "Kingston University",
              text: "Kingston University"
            }
          ]
      }) }}

        {{ govukTextarea({
          id: "interview[location]",
          name: "interview[location]",
          label: {
            classes: "govuk-label--m",
            text: "Address or online meeting details"
          },
          value: interview.location
        }) }}

        {{ govukTextarea({
          id: "interview[details]",
          name: "interview[details]",
          label: {
            classes: "govuk-label--m",
            text: "Additional details (optional)"
          },
          value: interview.details
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
        <p class="govuk-body"><a href="/applications/{{ application.id }}/interviews">Cancel</a></p>
      </form>


    </div>
  </div>
{% endblock %}
