{% set filterOptionsHtml %}

  {{ govukCheckboxes({
    idPrefix: 'type',
    name: 'type',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Event',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    items: [{
      text: 'Application received'
    }, {
      text: 'Application shortlisted'
    }, {
      text: 'Application withdrawn'
    }, {
      text: 'Interview set up'
    }, {
      text: 'Interview updated'
    }, {
      text: 'Interview cancelled'
    }, {
      text: 'Course updated'
    }, {
      text: 'Offer made'
    }, {
      text: 'Offer updated'
    }, {
      text: 'Offer withdrawn'
    }, {
      text: 'Offer declined'
    }, {
      text: 'Conditions marked as met'
    }, {
      text: 'Conditions marked as not met'
    }, {
      text: 'Note added'
    }, {
      text: 'Note updated'
    }, {
      text: 'Note deleted'
    }, {
      text: 'User assigned'
    }, {
      text: 'Assigned users updated'
    }]
  }) }}

  {{ govukDateInput({
    id: "date",
    name: "date",
    fieldset: {
      legend: {
        text: "Date from",
        classes: "govuk-fieldset__legend--s"
      }
    }
  }) }}

  {{ govukDateInput({
    id: "date",
    name: "date",
    fieldset: {
      legend: {
        text: "Date to",
        classes: "govuk-fieldset__legend--s"
      }
    }
  }) }}

{% endset %}

<div class="app-filter">
  <div class="app-filter__header">
    <div class="app-filter__header-title">
      <h2 class="govuk-heading-m">Filter</h2>
    </div>
    <div class="app-filter__header-action">

    </div>
  </div>
  <div class="app-filter__content">
    {% if selectedFilters %}
      <div class="app-filter__selected">
        <div class="app-filter__selected-heading">
          <div class="app-filter__heading-title">
            <h2 class="govuk-heading-m govuk-!-margin-bottom-1">Selected filters</h2>
            <p class="govuk-body"><a class="govuk-link govuk-link--no-visited-state" href="/notifications/remove-all-filters">Clear filters</a></p>
          </div>
        </div>
        {% for category in selectedFilters.categories %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ category.heading.text }}</h3>
          <ul class="app-filter-tags">
            {% for item in category.items %}
              <li><a class="app-filter__tag" href="{{item.href}}"><span class="govuk-visually-hidden">Remove this filter</span> {{item.text}}</a></li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    {% endif %}
    <div class="app-filter__options">
      <form method="get" action="/notifications" novalidate>
        <button class="govuk-button" data-module="govuk-button">
          Apply filters
        </button>
        {{filterOptionsHtml | safe}}
      </form>
    </div>
  </div>
</div>
