{% set assignedUsers = a.assignedUsers | getAssignedUsers(data.user.id, data.user.organisation.id) %}

<div class="app-application-card">
  <div class="app-application-card__wrapper">
    <div class="app-application-card__primary">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
        <a href="/applications/{{ a.id }}" class="govuk-link govuk-link--no-visited-state">
          {{- a.personalDetails.givenName }} {{ a.personalDetails.familyName -}}
        </a>
        <span class="app-application-card__caption">{{ a.id }}</span>
      </h3>
      <p class="govuk-!-margin-bottom-1 govuk-!-font-size-16">{{ a.course }} – {{ a.studyMode | lower }} at {{ a.location.name }}</p>
      <p class="govuk-!-font-size-16">{{ a.provider }} ({{a.accreditedBody}})</p>
      {% if assignedUsers.length %}
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-top-1">
        Users assigned:
        {% for assignedUser in assignedUsers %}
          {{ assignedUser.firstName + " " + assignedUser.lastName + (" (you)" if assignedUser.you) -}}
          {% if loop.index != loop.length - 1 %}{% if loop.index != loop.length%}, {% endif %}{% else %} and {% endif %}
        {% endfor %}
        </p>
      {% endif %}
    </div>
    <div class="app-application-card__secondary">
      <div class="app-application-card__status">
        {{ govukTag({
          classes: a.status | statusClass + " govuk-!-margin-bottom-1 govuk-!-font-size-14",
          text: a.status
        }) }}
        {% if a.status == 'Received' or a.status == 'Interviewing' %}
          {% if a.daysToRespond == 0 %}
            <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Last day to make decision</p>
          {% else %}
            <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">{{ a.daysToRespond }} day{{'s' if a.daysToRespond > 1}} to make decision</p>
          {% endif %}
        {% endif %}

        {% if a.status == 'Rejected' and not a.rejectedReasons %}
          <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Needs feedback</p>
        {% endif %}

        {% if a.status == 'Deferred' and data.settings == 'new-cycle' %}
          <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Ready to confirm</p>
        {% endif %}

        {% if a.status == 'Offered' %}
          {% if a.offer.daysToDecline == 0 %}
            <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">Last day for candidate to respond</p>
          {% else %}
            <p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-bottom-1">{{a.offer.daysToDecline}} day{{'s' if a.offer.daysToDecline > 1}} for candidate to respond</p>
          {% endif %}
        {% endif %}
        <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">{{ a.cycle | cycleLabel }}</p>
      </div>
    </div>
  </div>
  <div class="app-application-card__note">
    {% if a.notes.items.length %}
      {{ govukInsetText({
        classes: "govuk-!-padding-top-0 govuk-!-padding-bottom-0 govuk-!-padding-left-1 govuk-!-margin-top-1 govuk-!-margin-bottom-0",
        html: '<p class="govuk-!-font-size-16 govuk-!-margin-top-0 govuk-!-margin-top-0">'+a.notes.items[0].message+'</p>'
      }) }}
    {% else %}
      <p class="govuk-!-font-size-16 govuk-!-margin-bottom-0 govuk-!-margin-top-1"><a href="">Add note</a></p>
    {% endif %}
  </div>
</div>
