<div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/{{ a.id }}" class="govuk-link govuk-link--no-visited-state">
        {{ [a["personal-details"]["given-name"], a["personal-details"]["family-name"]] | join(" ") }}
      </a>
    </h3>
    <p class="govuk-!-font-size-16">{{ a.provider }}</p>
    <p class="govuk-!-margin-bottom-0">{{ a.course }} at {{a.locationname}}</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by {{a.accreditingbody}}</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      {{govukTag({
        classes: a.status | statusClass,
        text: a.status
      })}}
      <div class="govuk-!-margin-bottom-1"></div>
      {% if a.lastEventType == "note" %}
        <div class="app-application-card__note">{{a.notes.items[0].subject}}</div>
      {% endif %}
      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>
      {% if data.sortby == 'needs most attention' and a.status == 'Submitted' %}
        {% if a.daysToRespond == 0 %}
          <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16">Less than a day to respond</p>
        {% else %}
          <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16">{{a.daysToRespond}} days left to respond</p>
        {% endif %}
      {% else %}
        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed {{a.lastEventDate | date("d LLL yyyy")}} at {{a.lastEventDate | time }}</p>
      {% endif %}
    </div>
  </div>

</div>
