<div class="app-list-item5 app-list-item5--{{loop.index}}">
  <div class="app-list-item5__status">
    {{govukTag({
      classes: a.status | statusClass,
      text: a.status
    })}}
    <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-2 govuk-caption-m govuk-!-font-size-16">Updated on {{updated | date("d LLL yyyy")}}</p>

    {% if a.notes %}
      <p class="app-list-item5__note govuk-!-margin-bottom-0 govuk-!-font-size-16">{{a.notes.items[0].subject}}</p>
    {% endif %}
  </div>
  <h3 class="govuk-heading-s govuk-!-margin-bottom-2">
    <a href="/application/{{ a.id }}" class="govuk-link govuk-link--no-visited-state">
      {{ [a["personal-details"]["given-name"], a["personal-details"]["family-name"]] | join(" ") }}
    </a>
  </h3>
  <div style="max-width:280px;">
    <span class="govuk-caption-m govuk-!-font-size-16">{{ a.provider }}</span>
    <p class="govuk-!-margin-bottom-1">{{ a.course }}</p>
    <span class="govuk-caption-m govuk-!-font-size-16" style="color: #4c2c92;">Accredited by {{a.accreditingbody}}</span>
  </div>
</div>
