<div class="app-list-item5 app-list-item5--{{loop.index}}">
  <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
    <a href="/application/{{ a.id }}">
      {{ [a["personal-details"]["given-name"], a["personal-details"]["family-name"]] | join(" ") }}</a> {{govukTag({
            classes: a.status | statusClass,
            text: a.status
          })}}
  </h3>

  <span class="govuk-caption-m govuk-!-font-size-16">{{ a.provider }}</span>
  <p>{{ a.course }}</p>

  {% if a.note %}
    <p class="govuk-!-margin-bottom-0">Follow up with candidate ({{updated | date("d LLL yyyy")}})</p>
  {% else %}
    <p class="govuk-!-margin-bottom-0">Last updated {{updated | date("d LLL yyyy")}}</p>
  {% endif %}
</div>
