{% if showChangeLinks %}
{% set changeHtml %}
  <dd class="govuk-summary-list__actions">
    <a class="govuk-link" href="/applications/{{application.id}}/reject">
      Change<span class="govuk-visually-hidden"> name</span>
    </a>
  </dd>
{% endset %}
{% endif %}

<dl class="govuk-summary-list">
  {% set checkboxValue = 'Qualifications' %}
  {% set category = 'qualifications' %}
  {% set groupName = category + '-reasons' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list app-list--spaced">
        {% set checkboxValue = "No maths GCSE grade 4 (C) or above, or accepted equivalent" %}
        {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
          <li>{{checkboxValue}}.</li>
        {% endif %}

        {% set checkboxValue = "No English GCSE grade 4 (C) or above, or accepted equivalent" %}
        {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
          <li>{{checkboxValue}}.</li>
        {% endif %}

        {% set checkboxValue = "No science GCSE grade 4 (C) or above, or accepted equivalent (for primary applicants)" %}
        {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
          <li>{{checkboxValue}}.</li>
        {% endif %}

        {% set checkboxValue = "No degree" %}
        {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
          <li>{{checkboxValue}}.</li>
        {% endif %}

        {% set checkboxValue = "Degree does not meet course requirements" %}
        {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
          <li>
            <p>{{checkboxValue}}:</p>
            <p>{{rejectionReasons[groupName + '-degree-does-not-meet-course-requirements']}}</p>
          </li>
        {% endif %}

        {% set checkboxValue = "Could not verify qualifications" %}
        {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
          <li>
            <p>{{checkboxValue}}:</p>
            <p>{{rejectionReasons[groupName + '-could-not-verify-qualifications']}}</p>
          </li>
        {% endif %}

        {% set checkboxValue = "Other" %}
        {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
          <li>
            <p>Other:</p>
            <p>{{rejectionReasons[groupName + '-other']}}</p>
          </li>
        {% endif %}

      </ul>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}

  {% set checkboxValue = 'Personal statement' %}
  {% set category = 'personal-statement' %}
  {% set groupName = category + '-reasons' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list app-list--spaced">

          {% set checkboxValue = "Quality of writing" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-quality-of-writing']}}</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Other" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>Other:</p>
              <p>{{rejectionReasons[groupName + '-other']}}</p>
            </li>
          {% endif %}

        </ul>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}

  {% set checkboxValue = 'Teaching knowledge and ability' %}
  {% set category = 'teaching-knowledge' %}
  {% set groupName = category + '-reasons' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list app-list--spaced">

          {% set checkboxValue = "Understanding of subject" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-subject']}}</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Understanding of safeguarding" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-safeguarding']}}</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Understanding of teaching methods" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-teaching-method']}}</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Understanding of teaching role" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-teaching-role']}}</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Presentation skills" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-presentation-skills']}}</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Other" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>Other:</p>
              <p>{{rejectionReasons[groupName + '-other']}}</p>
            </li>
          {% endif %}
        </ul>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}

  {% set checkboxValue = 'Communication, attendance and scheduling' %}
  {% set category = 'communication' %}
  {% set groupName = category + '-reasons' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list app-list--spaced">

          {% set checkboxValue = "Did not reply to messages" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-did-not-reply-to-messages']}}.</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Did not attend interview" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-did-not-attend-interview']}}</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Could not arrange interview" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>{{checkboxValue}}:</p>
              <p>{{rejectionReasons[groupName + '-could-not-arrange-interview']}}</p>
            </li>
          {% endif %}

          {% set checkboxValue = "Other" %}
          {% if rejectionReasons[groupName] and checkboxValue in rejectionReasons[groupName] %}
            <li>
              <p>Other:</p>
              <p>{{rejectionReasons[groupName + '-other']}}</p>
            </li>
          {% endif %}

        </ul>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}

  {% set checkboxValue = 'References' %}
  {% set category = 'references' %}
  {% set groupName = category + '-reasons' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <p>{{rejectionReasons[groupName + '-details']}}</p>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}

  {% set checkboxValue = 'Safeguarding' %}
  {% set category = 'safeguarding' %}
  {% set groupName = category + '-reasons' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <p>{{rejectionReasons[groupName + '-details']}}</p>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}

  {% set checkboxValue = 'Visa sponsorship' %}
  {% set category = 'sponsorship' %}
  {% set groupName = category + '-reasons' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <p>{{rejectionReasons[groupName + '-details']}}</p>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}

  {% set checkboxValue = 'Course full' %}
  {% set category = 'course-full' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <p>The course is full.</p>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}

  {% set checkboxValue = 'Other' %}
  {% set category = 'other' %}
  {% set groupName = category + '-reasons' %}
  {% if rejectionReasons.categories and checkboxValue in rejectionReasons.categories %}
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        {{checkboxValue}}
      </dt>
      <dd class="govuk-summary-list__value">
        <p>{{rejectionReasons[groupName + '-details']}}</p>
      </dd>
      {{changeHtml | safe}}
    </div>
  {% endif %}
</dl>
