<div class="app-feedback">
  {# <h2 class="govuk-heading-m">
    Training provider feedback
  </h2> #}

  {% if data['other-offer'] != "Yes" %}
    {% if data['future-applications'] == "Yes" %}
      <h2 class="govuk-heading-m">The provider would be interested in future applications from you</p>
    {% else %}
      <h2 class="govuk-heading-m">
        Training provider feedback
      </h2>
    {% endif %}
  {% else %}
    <h2 class="govuk-heading-m">
      Training provider feedback
    </h2>
  {% endif %}



  <p>Here’s why your application was unsuccessful.</p>

  {% if data['other-offer'] == "Yes" %}
    <h3 class="govuk-heading-s">
      They offered you something else
    </h3>
    <p>This provider has offered you a place on one of your other choices. Check your email or application dashboard for details.</p>
  {% endif %}

  {% if data['course-full'] == "Yes" %}
    <h3 class="govuk-heading-s">
      Course full
    </h3>
    <p>We’re sorry to tell you that the course you applied to was full.</p>
  {% endif %}

  {% if data['safeguarding'] == "Yes" %}
    <h3 class="govuk-heading-s">
      Safeguarding issues
    </h3>

    {% set fieldName = "safeguarding-reasons" %}
    {% set checkboxValue = "Information given on application form false or inaccurate" %}
    {% set textBoxName = "safeguarding-reasons-false-information" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>Information given on application form false or inaccurate</p>
      <p>{{data[textBoxName]}}</p>
    {% endif %}

    {% set checkboxValue = "Evidence of plagiarism in personal statement or elsewhere" %}
    {% set textBoxName = "safeguarding-reasons-plagiarism" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>The provider found evidence of plagiarism in your personal statement or elsewhere in your application.</p>
      <p>{{data["safeguarding-reasons-plagiarism"]}}</p>
    {% endif %}

    {% set checkboxValue = "References didn’t support application" %}
    {% set textBoxName = "safeguarding-reasons-references" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>Your references didn’t support your application.</p>
      <p>{{data["safeguarding-reasons-reference-information"]}}</p>
    {% endif %}

    {% set checkboxValue = "Information disclosed by candidate makes them unsuitable to work with children" %}
    {% set textBoxName = "safeguarding-reasons-disclosed-information" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>You disclosed information in your application which makes you unsuitable to work with children.</p>
      <p>{{data["safeguarding-reasons-disclosed-information"]}}</p>
    {% endif %}

    {% set checkboxValue = "Information revealed by our vetting process makes the candidate unsuitable to work with children" %}
    {% set textBoxName = "safeguarding-reasons-vetting-information" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>The provider’s vetting process found information which makes you unsuitable to work with children.</p>
      <p>{{data["safeguarding-reasons-vetting-information"]}}</p>
    {% endif %}

    {% set checkboxValue = "Other" %}
    {% set textBoxName = "safeguarding-reasons-other" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>{{data["safeguarding-reasons-other"]}}</p>
    {% endif %}

  {% endif %}

  {% if data['candidate-actions'] == "Yes" %}
    <h3 class="govuk-heading-s">
      Something you did
    </h3>

    {% set checkboxValue = "Didn’t reply to our interview offer" %}
    {% if checked("candidate-actions-reasons", checkboxValue) %}
      <p>{{checkboxValue}}</p>
    {% endif %}

    {% set checkboxValue = "Didn’t attend interview" %}
    {% if checked("candidate-actions-reasons", checkboxValue) %}
      <p>{{checkboxValue}}</p>
    {% endif %}

    {% set checkboxValue = "Other" %}
    {% if checked("candidate-actions-reasons", "Other") %}
      <p>{{data['candidate-actions-reasons-other']}}</p>
      <p>{{data['candidate-actions-reasons-other-improve']}}</p>
    {% endif %}

  {% endif %}

  {% if data['missing-qualifications'] == "Yes" %}
    <h3 class="govuk-heading-s">
      Qualifications needed to enrol on this course are missing
    </h3>
    {% set checkboxValue = "No Maths GCSE grade 4 (C) or above, or valid equivalent" %}
    {% if checked("missing-qualifications-reasons", checkboxValue) %}
      <p>No Maths GCSE grade 4 (C) or above, or valid equivalent.</p>
    {% endif %}

    {% set checkboxValue = "No English GCSE grade 4 (C) or above, or valid equivalent" %}
    {% if checked("missing-qualifications-reasons", checkboxValue) %}
      <p>No English GCSE grade 4 (C) or above, or valid equivalent.</p>
    {% endif %}

    {% set checkboxValue = "No Science GCSE grade 4 (C) or above, or valid equivalent (for primary applicants)" %}
    {% if checked("missing-qualifications-reasons", checkboxValue) %}
      <p>No Science GCSE grade 4 (C) or above, or valid equivalent.</p>
    {% endif %}

    {% set checkboxValue = "No degree" %}
    {% if checked("missing-qualifications-reasons", checkboxValue) %}
      <p>No degree.</p>
    {% endif %}

    {% set checkboxValue = "Degree doesn’t meet course requirements" %}
    {% if checked("missing-qualifications-reasons", checkboxValue) %}
      <p>Your degree does not meet the course requirements.</p>
    {% endif %}

    {% set checkboxValue = "Other" %}
    {% if checked("missing-qualifications-reasons", "Other") %}
      <p>{{data['missing-qualifications-reasons-other']}}</p>
    {% endif %}
  {% endif %}

  {% if data['application-quality'] == "Yes" %}
    <h3 class="govuk-heading-s">
      Quality of application
    </h3>

    {% set fieldName = "application-quality-reasons" %}
    {% set checkboxValue = "Personal statement" %}
    {% set textBoxName = "application-quality-reasons-personal-statement" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>Your personal statement could be improved.</p>
      <p>{{data[textBoxName]}}</p>
    {% endif %}

    {% set checkboxValue = "Subject knowledge" %}
    {% set textBoxName = "application-quality-reasons-subject-knowledge" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>Your subject knowledge could be improved.</p>
      <p>{{data[textBoxName]}}</p>
    {% endif %}

    {% set checkboxValue = "Other" %}
    {% if checked(fieldName, checkboxValue) %}
      <p>{{data["application-quality-reasons-other"]}}</p>
      <p>{{data["application-quality-reasons-other-improve"]}}</p>
    {% endif %}

  {% endif %}

  {% if data['interview-performance'] == "Yes" %}
    <h3 class="govuk-heading-s">
      Performance at interview
    </h3>

    <p>{{data['interview-performance-advice']}}</p>
  {% endif %}

  {% if data['why'] %}
    <h3 class="govuk-heading-s">
      Reasons why your application was unsuccessful
    </h3>
    <p>{{data['why']}}</p>
  {% endif %}

  {% if data['other-feedback'] == "Yes" %}
    <h3 class="govuk-heading-s">
      Additional advice
    </h3>
    <p>{{data['other-feedback-details']}}</p>
  {% endif %}

  {% if data['other-offer'] != "Yes" %}
    {% if data['future-applications'] != "Yes" %}
      <h3 class="govuk-heading-s">Future applications</h3>
      <p>The provider would not be interested in future applications from you</p>
    {% endif %}

  {% endif %}

</div>
