
<div class="govuk-footer">
  <div class="govuk-width-container">
    <div class="govuk-footer__meta">
      <div class="govuk-footer__meta-item">
        <ul class="govuk-footer__inline-list">

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/admin/settings">
                Settings
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/admin/clear-data">
                Clear data
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/onboard-notifications">
                Sign in notification prompt
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="/onboard">
                Sign in permissions prompt
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="?transferred=true">
                Enable transferred mode
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="?canManageUsers=false">
                Disable permission: manage users
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="?canManageOrganisationPermissions=false">
                Disable permission: manage org permissions
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="?canManageInterviews=false">
                Disable permission: manage interviews
              </a>
            </li>

            <li class="govuk-footer__inline-list-item">
              <a class="govuk-footer__link" href="?canMakeOffersAndRejectApplications=false">
                Disable permission: make offers
              </a>
            </li>

        </ul>
      </div>
    </div>
  </div>
</div>
