{% if pageId == "start" %}
{% set navigationItems = [{
    href: "/start",
    text: "Sign in"
  }]
%}
{% else %}
{% set navigationItems = [
  {
    href: "/organisation-settings",
    text: "Organisation settings",
    active: primaryNavId == 'organisation-settings'
  }, {
    href: "/account",
    text: "Your account",
    active: primaryNavId == 'account'
  }, {
    href: "/start",
    text: "Sign out"
  }]
%}
{% endif %}

{{ govukHeader({
  containerClasses: "govuk-width-container",
  navigationLabel: "Account menu",
  "navigationClasses": "govuk-header__navigation--end",
  "navigation": navigationItems,
  homepageUrl: "/applications",
  rebrand: true
}) }}

