{{ govukSummaryList({
  rows: [{
    key: {
      text: "Provider"
    },
    value: {
      html: application.provider
    }
  }, {
    key: {
      text: "Course"
    },
    value: {
      html: application.course
    }
  }, {
    key: {
      text: "Location"
    },
    value: {
      html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
    }
  }
]}) }}
