{{ govukCheckboxes({
  idPrefix: "makedecisions",
  name: "makedecisions",
  fieldset: {
    legend: {
      text: "Who can make decisions and set up interviews?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: org,
      text: org
    },
    {
      value: partner,
      text: partner
    }
  ]
}) }}

{{ govukCheckboxes({
  idPrefix: "safeguarding",
  name: "safeguarding",
  fieldset: {
    legend: {
      text: "Who can view criminal convictions and professional misconduct?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: org,
      text: org
    },
    {
      value: partner,
      text: partner
    }
  ]
}) }}

{{ govukCheckboxes({
  idPrefix: "diversity",
  name: "diversity",
  fieldset: {
    legend: {
      text: "Who can view equality and diversity information?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: org,
      text: org
    },
    {
      value: partner,
      text: partner
    }
  ]
}) }}
