{{ govukCheckboxes({
  idPrefix: "makedecisions",
  name: "makedecisions",
  fieldset: {
    legend: {
      text: "Who can make decisions?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "This allows an organisation to make offers, amend offers and rejection applications"
  },
  items: [
    {
      value: org,
      text: org
    },
    {
      value: partner,
      text: partner
    }
  ]
}) }}

{{ govukCheckboxes({
  idPrefix: "safeguarding",
  name: "safeguarding",
  fieldset: {
    legend: {
      text: "Who can view safeguarding information?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "This allows an organisation to see information disclosed in the ‘criminal convictions and professional misconduct’ section of the application"
  },
  items: [
    {
      value: org,
      text: org
    },
    {
      value: partner,
      text: partner
    }
  ]
}) }}

{{ govukCheckboxes({
  idPrefix: "diversity",
  name: "diversity",
  fieldset: {
    legend: {
      text: "Who can view diversity information?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  hint: {
    text: "This allows an organisation to see information disclosed in the ‘equality and diversity’ section of the application"
  },
  items: [
    {
      value: org,
      text: org
    },
    {
      value: partner,
      text: partner
    }
  ]
}) }}
