{% set tick %}
  {{ appIcon({
    classes: "govuk-!-margin-right-1",
    icon: "tick",
    hidden: true
  }) }}
{% endset %}

<h2 class="govuk-heading-m govuk-!-margin-bottom-3">Who can view applications?</h2>

<ul class="govuk-list govuk-list--spaced govuk-!-margin-bottom-6">
  <li>{{tick | safe }} {{ org }}</li>
  <li>{{tick | safe }} {{ partner }} (can only see courses they ratify)</li>
</ul>
