{{ govukCheckboxes({
  idPrefix: "makedecisions",
  name: "makedecisions",
  fieldset: {
    legend: {
      text: "Which organisations can make decisions?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: org + " only",
      text: org + " only"
    },
    {
      value: partner + " only",
      text: partner + " only"
    }
  ]
}) }}

{{ govukCheckboxes({
  idPrefix: "safeguarding",
  name: "safeguarding",
  fieldset: {
    legend: {
      text: "Which organisations can see safeguarding information?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  items: [
    {
      value: org + " only",
      text: org + " only"
    },
    {
      value: partner + " only",
      text: partner + " only"
    }
  ]
}) }}
