{{ govukServiceNavigation({
  serviceName: serviceName,
  serviceUrl: "#",
  navigation: [
    {
      href: "/applications" + ('?keywords=' if data.keywords.length),
      text: "Applications",
      active: primaryNavId == 'applications'
    },
    {
      href: "#",
      text: "Find candidates",
      active: primaryNavId == 'find-candidates'
    },
    {
      href: "/interviews",
      text: "Interviews",
      active: primaryNavId == 'interviews'
    },
    {
      href: "/reports",
      text: "Reports",
      active: primaryNavId == 'reports',
      classes: "app-primary-navigation__item--align-right"
    },
    {
      href: "/activity",
      text: "Activity log",
      active: primaryNavId == 'activity'
    }
  ]
}) }}
