{{ appPrimaryNavigation({
  items: [
    {
      href: "/applications" + ('?keywords=' if data.keywords.length),
      text: "Applications",
      active: primaryNavId == 'applications'
    },
    {
      href: "/interviews",
      text: "Interview schedule",
      active: primaryNavId == 'interviews'
    },
    {
      href: "/activity",
      text: "Activity log",
      active: primaryNavId == 'activity'
    },
    {
      href: "/reports",
      text: "Reports",
      active: primaryNavId == 'reports',
      classes: "app-primary-navigation__item--align-right"
    }
  ]
}) }}
