
<div class="app-application-cards">

  <h2 class="govuk-heading-m govuk-!-margin-top-8">Deferred applications that need to be confirmed</h2>


                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/XX63345" class="govuk-link govuk-link--no-visited-state">
        Umar Hamza
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[0].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (5-11) (X100) at Lingfield - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag govuk-tag--yellow">
  Deferred
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 12 Aug 2019 at 9:01am</p>

    </div>
  </div>

</div>





                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/EE63341" class="govuk-link govuk-link--no-visited-state">
        David Smith
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[0].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (5-11) (X100) at Lingfield - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag govuk-tag--yellow">
  Deferred
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 12 Aug 2019 at 9:01am</p>

    </div>
  </div>

</div>





                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/JY63391" class="govuk-link govuk-link--no-visited-state">
        Jane Oxlade
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[0].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (5-11) (X100) at Lingfield - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag govuk-tag--yellow">
  Deferred
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 12 Aug 2019 at 9:01am</p>

    </div>
  </div>

</div>














<h2 class="govuk-heading-m govuk-!-margin-top-8">Automatically rejected applications that need feedback</h2>

<div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/LD198999" class="govuk-link govuk-link--no-visited-state">
        Talia Joel
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[1].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2YQN) at Epsom Grinstead - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--red">
  Rejected automatically
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 10 Aug 2019 at 8:32am</p>

    </div>
  </div>

</div>








<h2 class="govuk-heading-m govuk-!-margin-top-8">Applications that will be automatically rejected soon</h2>

 <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/JF4978" class="govuk-link govuk-link--no-visited-state">
        Kelly Jane Spears
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[0].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (3-7) (X121) at Main site</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--purple">
  Submitted
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 10 Aug 2019 at 1:32pm</p>

    </div>
  </div>

</div>



  <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/AS1623" class="govuk-link govuk-link--no-visited-state">
        Elise Briggs
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[2].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2MKC) at Main site</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--purple">
  Submitted
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

        <div class="app-application-card__note">Check qualifications</div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 30 Jul 2019 at 8:32am</p>

    </div>
  </div>

</div>





                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/RE123123" class="govuk-link govuk-link--no-visited-state">
        Poppy Noor
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[4].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (32VP) at Main site</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--purple">
  Submitted
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 21 Jul 2019 at 6:59pm</p>

    </div>
  </div>

</div>


   <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/CV943651" class="govuk-link govuk-link--no-visited-state">
        May Cole
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[4].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (32VP) at Main site</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--purple">
  Submitted
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 5 Jul 2019 at 2:01pm</p>

    </div>
  </div>

</div>





























<h2 class="govuk-heading-m govuk-!-margin-top-8">Everything else</h2>


                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/RT88789" class="govuk-link govuk-link--no-visited-state">
        Charlie April
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[1].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2S8T) at Main site</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--green">
  Conditions met
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 14 Sep 2019 at 12am</p>

    </div>
  </div>

</div>





                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/EW65341" class="govuk-link govuk-link--no-visited-state">
        Becky Brother
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[0].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (5-11) (X100) at Lingfield - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--green">
  Conditions met
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 12 Aug 2019 at 9:01am</p>

    </div>
  </div>

</div>











                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/PL098988" class="govuk-link govuk-link--no-visited-state">
        Daniel James Jennings
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[1].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2YQN) at Epsom Grinstead - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--red">
  Rejected
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 10 Aug 2019 at 8:32am</p>

    </div>
  </div>

</div>










                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/GH12354" class="govuk-link govuk-link--no-visited-state">
        Eloise Wells
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[1].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (3-7) (X121) at Lingfield - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--blue">
  Accepted
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 1 Aug 2019 at 12am</p>

    </div>
  </div>

</div>








                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/QW211115" class="govuk-link govuk-link--no-visited-state">
        Elizabeth Rose
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[1].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2YQN) at Camberley - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--orange">
  Declined
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 12 Jul 2019 at 4:32pm</p>

    </div>
  </div>

</div>








                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/KH96344" class="govuk-link govuk-link--no-visited-state">
        Esther Fairley
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[2].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2RQM) at Camberley - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--orange">
  Application withdrawn
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 16 May 2019 at 12:02pm</p>

    </div>
  </div>

</div>





                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/ID540900" class="govuk-link govuk-link--no-visited-state">
        Charlotte Campbel
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[1].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2S8T) at Main site</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--red">
  Conditions not met
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 12 Apr 2019 at 6:52pm</p>

    </div>
  </div>

</div>





                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/WP010100" class="govuk-link govuk-link--no-visited-state">
        Francis Platt
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[2].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2RQM) at Main site</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--red">
  Offer withdrawn
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 5 Apr 2019 at 9:45am</p>

    </div>
  </div>

</div>





                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/PW908111" class="govuk-link govuk-link--no-visited-state">
        James Khan
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[2].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (2RQM) at Main site</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--turquoise">
  Offered
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 24 Feb 2019 at 11:27am</p>

    </div>
  </div>

</div>





                <div class="app-application-card">

  <div class="app-application-card__primary">
    <h3 class="govuk-heading-m govuk-!-margin-bottom-3">
      <a href="/application/AB5499" class="govuk-link govuk-link--no-visited-state">
        Jeremy Brown
      </a>
    </h3>
    <p class="govuk-!-font-size-16">data.organisations[4].name</p>
    <p class="govuk-!-margin-bottom-0">Primary (32VP) at Camberley - training location</p>
    <p class="govuk-caption-m govuk-!-font-size-16">Ratified by data.organisations[0].name</p>
  </div>

  <div class="app-application-card__secondary">
    <div class="app-application-card__status">
      <strong class="govuk-tag app-tag--turquoise">
  Offered
</strong>

      <div class="govuk-!-margin-bottom-1"></div>

      <div class="govuk-!-margin-bottom-2">&nbsp;</div>
    </div>

    <div>

        <p class="govuk-!-margin-bottom-0 govuk-caption-m govuk-!-font-size-16" style="white-space: nowrap;">Changed 15 Feb 2019 at 10:02am</p>

    </div>
  </div>

</div>


            </div>