{{ appSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Account',
    href: '/account/',
    active: (subNavId == "account")
  }, {
    text: "Notification settings",
    href: '/account/notification-settings',
    active: (subNavId == "notification-settings")
  }]
}) }}
