      {% set candidateActionReasonsHtml %}
        {% set checkboxValue = "Didn’t reply to our interview offer" %}
        {% if checked("actions-reasons", checkboxValue) %}
          <p>{{checkboxValue}}</p>
        {% endif %}

        {% set checkboxValue = "Didn’t attend interview" %}
        {% if checked("actions-reasons", checkboxValue) %}
          <p>{{checkboxValue}}</p>
        {% endif %}

        {% set checkboxValue = "Other" %}
        {% if checked("actions-reasons", "Other") %}
          <p>{{checkboxValue}}: {{data['actions-reasons-other']}}</p>
        {% endif %}
      {% endset %}

      {% set missingQualificationsReasonsHtml %}
        {% set checkboxValue = "No Maths GCSE grade 4 (C) or above, or valid equivalent" %}
        {% if checked("missing-qualifications-reasons", checkboxValue) %}
          <p>{{checkboxValue}}</p>
        {% endif %}

        {% set checkboxValue = "No English GCSE grade 4 (C) or above, or valid equivalent" %}
        {% if checked("missing-qualifications-reasons", checkboxValue) %}
          <p>{{checkboxValue}}</p>
        {% endif %}

        {% set checkboxValue = "No Science GCSE grade 4 (C) or above, or valid equivalent (for primary applicants)" %}
        {% if checked("missing-qualifications-reasons", checkboxValue) %}
          <p>{{checkboxValue}}</p>
        {% endif %}

        {% set checkboxValue = "No degree" %}
        {% if checked("missing-qualifications-reasons", checkboxValue) %}
          <p>{{checkboxValue}}</p>
        {% endif %}

        {% set checkboxValue = "Degree doesn’t meet course requirements" %}
        {% if checked("missing-qualifications-reasons", checkboxValue) %}
          <p>{{checkboxValue}}</p>
        {% endif %}

        {% set checkboxValue = "Other" %}
        {% if checked("missing-qualifications-reasons", "Other") %}
          <p>{{checkboxValue}}: {{data['actions-reasons-other']}}</p>
        {% endif %}
      {% endset %}

      {% set applicationQualityReasonsHtml %}
        {% set fieldName = "application-quality-reasons" %}
        {% set checkboxValue = "Personal statement" %}
        {% set textBoxName = "application-quality-reasons-personal-statement" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}

        {% set checkboxValue = "Subject knowledge" %}
        {% set textBoxName = "application-quality-reasons-subject-knowledge" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}

        {% set checkboxValue = "Other" %}
        {% set textBoxName = "application-quality-reasons-other" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}
      {% endset %}

      {% set safeguardingReasonsHtml %}
        {% set fieldName = "safeguarding-reasons" %}
        {% set checkboxValue = "Information given on application form false or inaccurate" %}
        {% set textBoxName = "safeguarding-reasons-false-information" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}

        {% set checkboxValue = "Evidence of plagiarism in personal statement or elsewhere" %}
        {% set textBoxName = "safeguarding-reasons-plagiarism" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}

        {% set checkboxValue = "References didn’t support application" %}
        {% set textBoxName = "safeguarding-reasons-references" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}

        {% set checkboxValue = "Information disclosed by candidate makes them unsuitable to work with children" %}
        {% set textBoxName = "safeguarding-reasons-disclosed-information" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}

        {% set checkboxValue = "Information revealed by our vetting process makes the candidate unsuitable to work with children" %}
        {% set textBoxName = "safeguarding-reasons-vetting-information" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}

        {% set checkboxValue = "Other" %}
        {% set textBoxName = "safeguarding-reasons-other" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>{{checkboxValue}}: {{data[textBoxName]}}</p>
        {% endif %}
      {% endset %}

      {% set anotherIssueHtml %}
        {% set fieldName = "another-issue" %}
        <p>{{data[fieldName]}}</p>

        {% set checkboxValue = "Yes" %}
        {% set textBoxName = "another-issue-details" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>Other details: {{data[textBoxName]}}</p>
        {% endif %}
      {% endset %}

      {% set otherFeedbackHtml %}
        {% set fieldName = "other-feedback" %}
        <p>{{data[fieldName]}}</p>

        {% set checkboxValue = "Yes" %}
        {% set textBoxName = "other-feedback-details" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>Other details: {{data[textBoxName]}}</p>
        {% endif %}
      {% endset %}

      {% set futureApplicationsHtml %}
        {% set fieldName = "future-applications" %}
        <p>{{data[fieldName]}}</p>

        {% set checkboxValue = "Yes" %}
        {% set textBoxName = "future-applications-details" %}
        {% if checked(fieldName, checkboxValue) %}
          <p>Other details: {{data[textBoxName]}}</p>
        {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Was it related to candidate behaviour?"
          },
          value: {
            html: data['actions']
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        }, {
          key: {
            text: "What did the candidate do?"
          },
          value: {
            html: candidateActionReasonsHtml
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        } if data['actions'] == "Yes",
        {
          key: {
            text: "Was it because this course is full?"
          },
          value: {
            html: data['course-full']
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        }, {
          key: {
            text: "Was it related to missing qualifications?"
          },
          value: {
            html: data['missing-qualifications']
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        }, {
          key: {
            text: "Which qualification(s) was the candidate missing?"
          },
          value: {
            html: missingQualificationsReasonsHtml
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        } if data['missing-qualifications'] == "Yes",
        {
          key: {
            text: "Was it related to the quality of their application?"
          },
          value: {
            html: data['application-quality']
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        }, {
          key: {
            text: "Which parts of the application needed improvement?"
          },
          value: {
            html: applicationQualityReasonsHtml
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        } if data['application-quality'] == "Yes",
        {
          key: {
            text: "Was it related to safeguarding?"
          },
          value: {
            html: data['safeguarding']
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        }, {
          key: {
            text: "Which safeguarding issues in particular?"
          },
          value: {
            html: safeguardingReasonsHtml
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        } if data['safeguarding'] == "Yes",
        {
          key: {
            text: "Was it related to an issue we haven’t covered here?"
          },
          value: {
            html: anotherIssueHtml
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        },
        {
          key: {
            text: "Is there any other advice or feedback you’d like to give " + name + "?"
          },
          value: {
            html: otherFeedbackHtml
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        },
        {
          key: {
            text: "Would you be interested in future applications from " + name + "?"
          },
          value: {
            html: futureApplicationsHtml
          },
          actions: {
            items: [
              {
                href: rejectSummaryListUrl,
                text: "Change",
                visuallyHiddenText: ""
              }
            ]
          }
        }
        ]
      }) }}
