{% include "_includes/reasons/actions.njk" %}
{% include "_includes/reasons/application-quality.njk" %}
{% include "_includes/reasons/missing-qualifications.njk" %}
{% include "_includes/reasons/interview-performance.njk" %}
