{{ appSearch({
  label: {
    text: 'Search by candidate name, application number or contents of latest note',
    classes: 'govuk-label--m'
  },
  input: {
    id: 'keywords',
    name: 'keywords',
    value: data.keywords
  },
  action: '/applications',
  buttons: [{
    text: 'Search',
    classes: 'app-search__button'
  }],
  classes: 'govuk-!-margin-bottom-4' if not data.keywords
}) }}

{% if data.keywords %}
  <p class="govuk-body govuk-!-margin-top-2 govuk-!-margin-bottom-4">
    <a class="govuk-link govuk-link--no-visited-state" href="/applications/remove-keywords-search">Clear search</a>
  </p>
{% endif %}
