{% extends "_content-wide.njk" %}

{% set primaryNavId = 'users' %}
{% set firstName = user.firstName %}
{% set lastName = user.lastName %}
{% set name = firstName + " " + lastName %}
{% set title = "Change permissions: " + data.user.organisations[0].name + ' - ' + name %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/organisation-settings/users/" + user.id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set h1 %}
        <span class="govuk-caption-l">{{name}}</span>
        Permissions for {{data.user.organisations[0].name}}
      {% endset %}

      <form novalidate method="post">

        {{ govukRadios({
          idPrefix: "newuser-access",
          name: "newuser[access][orgId]",
          fieldset: {
            legend: {
              html: h1,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "View applications",
              text: "View applications (excluding sensitive information)"
            },
            {
              value: "Additional permissions",
              text: "Additional permissions, such as making decisions or viewing sensitive information"
            }
          ]
        } ) }}

        {{govukButton({
          text: "Save"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
