{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set firstName = user.firstName %}
{% set lastName = user.lastName %}
{% set name = firstName + " " + lastName %}
{% set title = "Confirm that you want to delete this user from " + org.name %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/organisation-settings/users/" + user.id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ name }}</span>
        {{ title }}
      </h1>

      <!-- {#% if assignedApplicationCount %}
        <p class="govuk-body">
          There are applications assigned to this user which:
        </p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            have a status of ‘received’, ‘interviewing’, ‘offered’ or ‘conditions pending’
          </li>
          <li>
            are not assigned to any other user
          </li>
        </ul>
        <p class="govuk-body">
          You can <a class="govuk-link" href="/?assignedUser={{ user.id }}&status=Received&status=Interviewing&status=Offered&status=Conditions+pending">check a list of all applications assigned to the user</a> before you delete them.
        </p>
      {% endif %#} -->

      <form method="post" novalidate>
        {{ govukButton({
          text: "Delete user",
          classes: "govuk-button--warning"
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="/organisation-settings/{{ org.id }}/users/{{ user.id }}">Cancel</a>
      </p>
    </div>
  </div>

{% endblock %}
