{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set firstName = user.firstName %}
{% set lastName = user.lastName %}
{% set name = firstName + " " + lastName %}
{% set caption = content.removeUser.caption + ' - ' + name + ' - ' + org.name %}
{% set title = "Confirm that you want to remove this user" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/organisation-settings/users/" + user.id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ title }}
      </h1>

      {{ govukWarningText({
        text: "The user will be sent an email to tell them that they’ve been removed from your organisation.",
        iconFallbackText: "Fallback text"
      }) }}

      <form method="post" novalidate>
        {{ govukButton({
          text: content.removeUser.checkAnswers.button,
          classes: "govuk-button--warning"
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="/organisation-settings/{{ org.id }}/users/{{ user.id }}">Cancel</a>
      </p>
    </div>
  </div>

{% endblock %}
