{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set firstName = user.firstName %}
{% set lastName = user.lastName %}
{% set name = firstName + " " + lastName %}
{% set title %}
Are you sure you want to remove this user’s access to {{org.name}}?
{% endset %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/organisation-settings/users/" + user.id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <form novalidate method="post">
        {{ govukButton({
          text: "Remove access to organisation",
          classes: "govuk-button--warning"
        }) }}

        <p><a href="/organisation-settings/{{org.id}}/users/{{user.id}}">Cancel</a></p>
      </form>
    </div>
  </div>

{% endblock %}
