{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Users" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Organisation settings",
      href: "/organisation-settings"
    }, {
      text: "Users"
    }]
  }) }}
{% endblock %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if data.user.organisations.length > 1 %}
        <span class="govuk-caption-l">
          {{org.name}}
        </span>
      {% endif %}
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% if canManageUsers %}
        {{govukButton({
          text: 'Invite user',
          href: '/organisation-settings/' + org.id + '/users/new'
        })}}
      {% else %}
        <p>You cannot invite users to the service because you do not have permission to manage users.</p>
      {% endif %}

      {% for user in users %}

        <div class="app-application-card">
          <div>
            <h2 class="govuk-heading-s govuk-!-margin-bottom-1"><a class="govuk-link govuk-link--no-visited-state" href="/organisation-settings/{{user.organisation.id}}/users/{{user.id}}">{{ user.firstName }} {{ user.lastName }}</a> <span class="govuk-!-font-weight-regular"> - {{ user.emailAddress }}</h2>

            {% if user.permissions %}
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-0 govuk-!-font-size-16 govuk-hint">
                {% for key, value in user.permissions %}
                  {% if value %}
                    {%- if key == "manageUsers" -%}
                      <li>Manage users</li>
                    {% endif %}
                    {%- if key == "manageOrganisation" -%}
                      <li>Manage organisational permissions</li>
                    {% endif %}
                    {%- if key == "makeDecisions" -%}
                      <li>Make offers and reject applications</li>
                    {% endif %}
                    {%- if key == "setupInterviews" -%}
                      <li>Manage interviews</li>
                    {% endif %}
                    {%- if key == "viewSafeguardingInformation" -%}
                      <li>View criminal convictions and professional misconduct</li>
                    {% endif %}
                    {%- if key == "viewDiversityInformation" -%}
                      <li>View sex, disability and ethnicity information</li>
                    {% endif %}

                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
