{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set title = "Users" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Organisation settings",
      href: "/organisation-settings"
    }, {
      text: "Users"
    }]
  }) }}
{% endblock %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{org.name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% if canManageUsers %}
        {{govukButton({
          text: 'Invite user',
          href: '/organisation-settings/' + org.id + '/users/new'
        })}}
      {% else %}
        <p>You cannot invite users to the service because you do not have permission to manage users.</p>
      {% endif %}

      {% for user in users %}

        <div class="app-user-card">
            <h2 class="govuk-heading-s govuk-!-margin-bottom-0"><a class="govuk-link govuk-link--no-visited-state" href="/organisation-settings/{{user.organisation.id}}/users/{{user.id}}">{{ user.firstName }} {{ user.lastName }}</a> <span class="govuk-!-font-weight-regular"> - {{ user.emailAddress }}</h2>


            {% if user.permissions.manageUsers or user.permissions.manageOrganisation or user.permissions.makeDecisions or user.permissions.setupInterviews or user.permissions.viewSafeguardingInformation or user.permissions.viewDiversityInformation %}
              <p class="govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16 govuk-hint">This user has permission to:</p>
              <ul class="govuk-list govuk-list--bullet govuk-!-margin-top-1 govuk-!-margin-bottom-0 govuk-!-font-size-16 govuk-hint">
                {% for key, value in user.permissions %}
                  {% if value %}
                    {%- if key == "manageUsers" -%}
                      <li>manage users</li>
                    {% endif %}
                    {%- if key == "manageOrganisation" -%}
                      <li>manage organisational permissions</li>
                    {% endif %}
                    {%- if key == "makeDecisions" -%}
                      <li>make offers and reject applications</li>
                    {% endif %}
                    {%- if key == "setupInterviews" -%}
                      <li>manage interviews</li>
                    {% endif %}
                    {%- if key == "viewSafeguardingInformation" -%}
                      <li>view criminal convictions and professional misconduct</li>
                    {% endif %}
                    {%- if key == "viewDiversityInformation" -%}
                      <li>view sex, disability and ethnicity information</li>
                    {% endif %}

                  {% endif %}
                {% endfor %}
              </ul>
            {% endif %}
        </div>
      {% endfor %}
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
  </div>

{% endblock %}
