{% if application.status == 'Deferred' and application.cycle == 'Previous cycle (2019 to 2020)' %}
  <p class="govuk-body">You need to review and confirm the deferred offer.</p>
  {{ govukButton({
    text: "Review offer",
    classes: "govuk-!-margin-bottom-9",
    href: "/application/" + application.id + "/offer/reconfirm"
  }) }}
  {% endif %}
