{% set nationalityText %}
  {% set nationalities = application.personalDetails.nationality %}
  {%- for nationality in nationalities -%}
    {{ (" and " if loop.last else ", ") if not loop.first }}{{ nationality }}
  {%- endfor -%}
{% endset %}


{% if application.status == "Accepted" or application.status == "Conditions met" %}
  {% set sexText = application.personalDetails.sex %}
  {% set ethnicGroupText = application.personalDetails.ethnicGroup %}
  {% if application.personalDetails.disabled == "Yes, limited a little" or application.personalDetails.disabled == "Yes, limited a lot" %}
    {% set disabledText = application.personalDetails.disabled + ": " + "Hearing, Mobility" %}
  {% else %}
    {% set disabledText = application.personalDetails.disabled %}
  {% endif %}
{% else %}
  {% set sexText = "Only available for candidates that have accepted your offer." %}
  {% set ethnicGroupText = "Only available for candidates that have accepted your offer." %}
  {% set disabledText = "Only available for candidates that have accepted your offer." %}
{% endif %}

{{ govukSummaryList({
  rows: [{
    key: {
      text: "Submitted"
    },
    value: {
      text: application.submittedDate | date("d LLLL yyyy") + " at " + note.date | time
    }
  }, {
    key: {
      text: "Cycle"
    },
    value: {
      text: application.cycle
    },
    actions: {
      items: [
        {
          href: '/application/' + application.id + '/cycle/edit',
          text: "Change",
          visuallyHiddenText: "cycle"
        }
      ]
    }
  }, {
    key: {
      text: "Full name"
    },
    value: {
      text: name
    }
  }, {
    key: {
      text: "Reference"
    },
    value: {
      text: application.id
    }
  }, {
    key: {
      text: "Nationality"
    },
    value: {
      text: nationalityText
    }
  }, {
    key: {
      text: "Sex"
    },
    value: {
      text: sexText
    }
  }, {
    key: {
      text: "Ethnic group"
    },
    value: {
      text: ethnicGroupText
    }
  }, {
    key: {
      text: "Disabled"
    },
    value: {
      text: disabledText
    }
  }, {
    key: {
      text: "Has the right to work or study in the UK?"
    },
    value: {
      text: application.personalDetails.residency.rightToWorkStudy
    }
  } if application.personalDetails.residency, {
    key: {
      text: "Residency details"
    },
    value: {
      text: application.personalDetails.residency.details
    }
  } if application.personalDetails.residency.details, {
    key: {
      text: "Phone number"
    },
    value: {
      html: "<a href=\"tel:" + application.contactDetails.tel | replace(" ", "") + "\">" + application.contactDetails.tel + "</a>"
    }
  }, {
    key: {
      text: "Email address"
    },
    value: {
      html: "<a href=\"mailto:" + application.contactDetails.email + "\">" + application.contactDetails.email + "</a>"
    }
  }, {
    key: {
      text: "Address"
    },
    value: {
      html: application.contactDetails.address | toArray | join("<br>") if application.contactDetails.address else "No information shared"
    }
  }]
}) }}
