<h2 class="govuk-heading-m govuk-!-margin-bottom-2">GCSEs or equivalent</h2>
<div class="govuk-grid govuk-!-margin-bottom-8">
  <div class="govuk-grid-row">
    {% for item in application.gcse | toArray %}
    <div class="govuk-grid-column-one-third">
      <div class="app-card">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ item.subject }}</h3>
        {% if not item.missing %}
          <p class="govuk-body govuk-!-margin-bottom-0">
            {{ item.type }}
            {% if item.provenance == "international" %}({{ item.country }}){% endif %}
          </p>
          <p class="govuk-caption-m govuk-!-font-size-16">
            <span class="govuk-visually-hidden">Awarded: </span>{{ item.year }}
          </p>
          <p class="govuk-body-l govuk-!-font-weight-bold govuk-!-margin-bottom-0">
            <span class="govuk-visually-hidden">Grade: </span>{{ item.grade }}
          </p>
          {% if item.naric %}
            <p class="govuk-body govuk-!-margin-bottom-1">Comparable to a {{ item.naric.comparable }}</p>
            <p class="govuk-caption-m govuk-!-font-size-16 govuk-!-margin-bottom-0">NARIC reference: {{ item.naric.reference }} </p>
          {% endif %}
        {% else %}
          <p class="govuk-body govuk-!-margin-bottom-0">Candidate does not have this qualification yet.</p>
          <h4 class="govuk-heading-s govuk-!-margin-bottom-0">Reason given</h4>
          <p class="govuk-body govuk-!-margin-bottom-0">{{ item.missing }}</p>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
