<h2 class="govuk-heading-m">GCSEs or equivalent</h2>
<div class="govuk-!-margin-bottom-8">
  <div class="govuk-grid">
    <div class="govuk-grid-row app-grid-row--flex">
      {% for item in application.gcse | toArray %}
      <div class="govuk-grid-column-one-third">
        <div class="app-card">
          {% if item.missing == "false" %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-font-weight-regular">
            <span class="govuk-!-font-weight-bold">{{ item.subject }}</span>
            {{ item.type }}
          </h3>
          <dl class="app-qualification">
            <dt class="app-qualification__key govuk-visually-hidden">Awarded</dt>
            <dd class="app-qualification__value app-qualification__value--caption">
              {{ item.year | date("y") }}{% if item.country != "United Kingdom" %}, {{ item.country }}{% endif %}
            </dd>
            <dt class="app-qualification__key">Grade</dt>
            <dd class="app-qualification__value">
              <ul class="govuk-list govuk-!-margin-bottom-0">
              {% for item in item.grade %}
                <li class="govuk-!-font-size-16">{{ item.grade }}{% if item.exam %} ({{ item.exam }}){% endif %}</li>
              {% endfor %}
              </ul>
            </dd>
          {% if item.naric %}
            <dt class="app-qualification__key">Comparablity</dt>
            <dd class="app-qualification__value">
              NARIC statement #{{ item.naric.reference }} says this is comparable to a {{ item.naric.comparable }}.
            </dd>
          {% endif %}
          </dl>
          {% else %}
          <h3 class="govuk-heading-s govuk-!-margin-bottom-1">{{ item.subject }}</h3>
          <dl class="app-qualification">
            <dd class="app-qualification__value">Candidate does not have this qualification yet.</dd>
            <dt class="app-qualification__key">Reason given</dt>
            <dd class="app-qualification__value">{{ item.missing }}</dd>
          </dl>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
