{% if statusText == 'Interviewing' %}
  {% set promptHtml %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Make a decision</h2>
    <p>You have 22 days to make a decision – this application will be automatically rejected on 19 October 2020.</p>
    {{ govukButton({
      text: "Make decision",
      classes: "govuk-!-margin-bottom-0 ",
      href: "/application/" + application.id + "/decision"
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{govukInsetText({
        html: promptHtml,
        classes: 'govuk-!-margin-top-0'
      })}}
    </div>
  </div>
{% endif %}


