{% if application.status == 'Submitted' or application.status == 'Interviewing' %}
  {% set promptHtml %}
    <h2 class="govuk-heading-m govuk-!-margin-bottom-3">Set up an interview or make a decision</h2>
    <p>You have 22 days to make a decision. On 19 October 2020 this application will be automatically rejected.</p>
    {{ govukButton({
      text: "Set up an interview",
      classes: "govuk-!-margin-bottom-",
      href: "/application/" + application.id + "/interviews/new"
    }) }}

    <p>Or </p>

    <a href="/application/{{application.id}}/decision">Make a decision</a>

    {# <p><a href="/application/{{application.id}}/interviews/new">Set up an interview</a> or <a href="/application/{{application.id}}/decision">make a decision</a></p> #}

  {% endset %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {{govukInsetText({
        html: promptHtml,
        classes: 'govuk-!-margin-top-0'
      })}}
    </div>
  </div>

{% endif %}
