{% set schoolExperience = application.schoolExperience
  | toArray
  | sort(attribute="startDate")
%}
{% if schoolExperience.length >= 1 %}
  {% set rowData = [] %}
  {% for item in schoolExperience %}
    {% set startDate = item.startDate | date("LLLL yyyy") %}
    {% set endDate = item.endDate | date("LLLL yyyy") if item.endDate else "Present" %}

    <div class="app-experience__item">
      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">{{ item.role }}</h3>
      <p class="govuk-body govuk-!-margin-bottom-0">{{item.org}}</p>
      <p class="govuk-caption-m govuk-!-font-size-16">{{[startDate, endDate] | join(" - ")}}</p>
      <p class="govuk-body">{{ item.timeCommitment or "—" }}</p>
      {%- if item.workedWithChildren == "Yes" %}
        <p class="govuk-body govuk-!-font-size-16">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Worked with children</p>
      {%- endif %}
    </div>
  {% endfor %}
{% else %}
  <p class="govuk-body">No information shared</p>
{% endif %}
