<div class="app-car govuk-!-margin-bottom-9">
  {% set rbd = application.submittedDate | addDays(40) %}
  {% set remaining = rbd | daysFromNow(rbd) %}

  {% if application.status == 'New' %}

    {# {% set warningHtml %}
      <p>Respond by {{rbd | date("dd LLL yyyy")}}</p>
    {% endset %}

    {{ govukWarningText({
      html: warningHtml,
      classes: "govuk-!-margin-bottom-0",
      iconFallbackText: "Warning"
    }) }}

    {{govukButton({
      text: "Respond to application",
      classes: "govuk-!-margin-bottom-0",
      href: "/application/" + application.id + "/decision"
    })}} #}
  {% else %}
    <h2 class="govuk-heading-l">Offer</h2>
  {% endif %}

  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Offer made"
      },
      value: {
        text: application.offer.madeDate | date("dd LLL yyyy")
      }
    } if application.status == 'Offered',
    {
      key: {
        text: "Offer accepted"
      },
      value: {
        text: application.offer.acceptedDate | date("dd LLL yyyy")
      }
    } if application.status == 'Accepted',
    {
      key: {
        text: "Offer declined"
      },
      value: {
        text: application.offer.declinedDate | date("dd LLL yyyy")
      }
    } if application.status == 'Declined',
    {
      key: {
        text: "Conditions met"
      },
      value: {
        text: application.offer.conditionsMetDate  | date("dd LLL yyyy")
      }
    } if application.status == 'Conditions met',
    {
      key: {
        text: "Enrolled"
      },
      value: {
        text: application.offer.enrolledDate  | date("dd LLL yyyy")
      }
    } if application.offer.enrolledDate,
    {
      key: {
        text: "Offer withdrawn"
      },
      value: {
        text: application.offer.withdrawnDate  | date("dd LLL yyyy")
      }
    } if application.offer.withdrawnDate,
    {
      key: {
        text: "Application rejected"
      },
      value: {
        text: application.rejectedDate  | date("dd LLL yyyy")
      }
    } if application.rejectedDate,
    {
      key: {
        text: "Provider"
      },
      value: {
        html: application.provider
      },
      actions: {
        items: [
          {
            href: "/application/"+applicationId+"/offer/change-provider",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      } if application.status == "Offered"
    } if application.offer,
    {
      key: {
        text: "Course"
      },
      value: {
        html: application.course
      },
      actions: {
        items: [
          {
            href: "/application/"+applicationId+"/offer/change-course",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      } if application.status == "Offered"
    } if application.offer,
    {
      key: {
        text: "Location"
      },
      value: {
        html: 'Alliance Academy, Edgeware, Road Name, SW1 1AA'
      },
      actions: {
        items: [
          {
            href: "/application/"+applicationId+"/offer/change-location",
            text: "Change",
            visuallyHiddenText: ""
          }
        ]
      } if application.status == "Offered"
    } if application.offer
  ]})}}

  {% if application.offer.withdrawnReasons %}
    <h2 class="govuk-heading-m">Reasons for withdrawal</h2>
    {% set rejectedDate = application.offer.withdrawnDate %}
    {% set rejectedReasons = application.offer.withdrawnReasons %}
    {% set showRejectedDate = false %}
    {% include "_includes/reject-playback.njk" %}
  {% endif %}


  {% if application.offer and conditions %}

    <h2 class="govuk-heading-m">Conditions</h2>

    <table class="govuk-table">
      <tbody class="govuk-table__body">
        {% for condition in conditions %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">
              {{condition.description}}
              {% if application.status == "Accepted" %}
                <p class="govuk-body govuk-!-margin-bottom-0"><a href="/application/{{application.id}}/condition/{{condition.id}}/change-status">Update status</a></p>
              {% endif %}
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric">
              {% if condition.status == "Pending" %}
                {% set statusClass = "app-tag--grey" %}
              {% elseif condition.status == "Met" %}
                {% set statusClass = "app-tag--green" %}
              {% elseif condition.status == "Not met" %}
                {% set statusClass = "app-tag--red" %}
              {% endif %}
              {{govukTag({ text: condition.status, classes: statusClass })}}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}

  {% if application.offer and application.offer.recommendations %}
    <h2 class="govuk-heading-s">Recommendations</h2>
    <p class="govuk-body">{{application.offer.recommendations}}</p>
  {% endif %}

  {% if application.status == "Offered" %}
    <p class="govuk-body govuk-!-margin-bottom-0">
      <a href="/application/{{applicationId}}/withdraw">Withdraw offer</a>
    </p>
  {% endif %}

  {% if application.status == "Conditions met" %}
    {{govukButton({
      text: "Enrol candidate",
      href: "/application/" + application.id + "/confirm-enrollment"
    })}}

    <p class="govuk-body govuk-!-margin-bottom-0">
      <a href="#" class="app-withdraw-link">Cancel offer</a>
    </p>
  {% endif %}

</div>
