
{{ appSubNavigation({
  label: 'Sub navigation',
  items: [{
    text: 'Application',
    href: '/application/'+application.id,
    active: (subNavId == "application")
  }, {
    text: 'Offer',
    href: '/application/'+application.id+'/offer',
    active: (subNavId == "offer")
  } if application.offer, {
    text: 'Notes',
    href: '/application/'+application.id+'/notes',
    active: (subNavId == "notes")
  }, {
    text: "Timeline",
    href: '/application/'+application.id+'/timeline',
    active: (subNavId == "timeline")
  }]
}) }}
