
{{ appSubNavigation({
  label: 'Sub navigation',
  items: [{
    html: 'Application' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/application/'+application.id,
    active: (subNavId == "application")
  }, {
    html: 'Offer' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/application/'+application.id+'/offer',
    active: (subNavId == "offer")
  } if application.offer, {
    html: 'Interviews' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/application/'+application.id+'/interviews',
    active: (subNavId == "interviews")
  } if application.interviews.items.length, {
    html: 'Notes' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/application/'+application.id+'/notes',
    active: (subNavId == "notes")
  }, {
    html: 'Timeline' + '<span class="govuk-visually-hidden">'+application.personalDetails.name+'</span>',
    href: '/application/'+application.id+'/timeline',
    active: (subNavId == "timeline")
  }]
}) }}
