.app-card {
  background-color: govuk-colour("light-grey");
  display: block;
  padding: govuk-spacing(4);
  text-decoration: none;

  &:link,
  &:visited {
    color: govuk-colour("blue");
  }

  &:hover {
    color: govuk-colour("dark-blue");
  }

  &[aria-current="page"] {
    background: govuk-colour("blue");
    color: govuk-colour("white");
  }
}

.app-card__count {
  @include govuk-font($size: 80, $weight: bold);
  display: block;
}

.app-card--status-new {
  &[aria-current="page"] {
    background: govuk-colour("dark-grey");
    color: govuk-colour("white");
  }
}

.app-card--status-review {
  &[aria-current="page"] {
    background: govuk-colour("orange");
    color: govuk-colour("white");
  }
}

.app-card--status-recruited {
  &[aria-current="page"] {
    background: govuk-colour("turquoise");
    color: govuk-colour("white");
  }
}

.app-card--status-rejected {
  &[aria-current="page"] {
    background: govuk-colour("red");
    color: govuk-colour("white");
  }
}
