.app-card {
  background-color: govuk-colour("light-grey");
  display: block;
  padding: govuk-spacing(2);
  text-decoration: none;

  @include govuk-media-query($from: desktop) {
    padding: govuk-spacing(4);
  }
}
