.app-feedback {
  background-color: govuk-colour('light-grey');
  padding: govuk-spacing(4);
  margin-bottom: govuk-spacing(4);
  p:last-child {
    margin-bottom: 0;
  }
}

.app-feedback__panel {
  position: relative;
  padding-right: 70px;
}

.app-feedback__options {
  margin-bottom: 40px;
}

.app-feedback__option {
  padding-bottom: 15px;
  margin-bottom: 15px;

  border-bottom: 1px solid govuk-colour("mid-grey");

  p:last-child {
    margin-bottom: 0;
  }
}

.app-feedback__option--last {
  margin-bottom: 40px;
}
