.app-filter-layout {
  @include govuk-clearfix;
}

.app-filter-layout__filter {
  box-shadow: 0 0 0 1px govuk-colour("mid-grey"); // Extends the inset border left full height of the filters on mobile

  @include govuk-media-query($from: desktop) {
    float: left;
    margin-right: govuk-spacing(6);
    max-width: 310px;
    min-width: 260px;
    width: 100%;
  }
}

.app-filter-layout__filter:focus {

  outline: $govuk-focus-width solid $govuk-focus-colour;
  outline-offset: 0;

  @include govuk-media-query(desktop) {
    outline: none;
  }

}

@include govuk-media-query($until: desktop) {
  .js-enabled .app-filter-layout__filter {
    background-color: govuk-colour("white");
    position: fixed; top: 5px; right: 5px; bottom: 5px;
    overflow-y: scroll;
    z-index: 100;
  }
}

.app-filter-layout__content {
  overflow: hidden;
  overflow-x: auto;
}

