.app-log-card {
  // border-bottom: 1px solid govuk-colour('mid-grey');
  padding: 25px 0;
  padding: 0;
}

.app-log-card--first {
  // border-top: 1px solid govuk-colour('mid-grey');
}

.app-log-card:last-of-type {
  margin-bottom: 25px;
  margin-bottom: 0px;
}

.app-log-card__note {
  display: inline-block;
  width: 70%;
  // border: 1px solid govuk-colour('mid-grey');
  background: govuk-colour('light-grey');
  padding: 10px;
  margin-bottom: 10px;
}

.app-log-card__note-heading {
  @include govuk-font($size: 14, $weight: bold);
  text-transform: uppercase;
  color: govuk-colour('dark-grey');
  margin-bottom: govuk-spacing(1);
}