{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set name = application.personalDetails.name %}
{% set caption = content.updateAssignedUsers.caption + ' - ' + name %}
{% set title = "Assigned users - " + caption %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: back
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/applications/{{ application.id }}/assign" accept-charset="UTF-8" novalidate>

        {% set titleHtml %}
          <h1 class="govuk-fieldset__heading">
            <span class="govuk-caption-l">{{ caption }}</span>
            Assigned users
          </h1>
        {% endset %}

        {{ govukCheckboxes({
          idPrefix: "assignedUsers",
          name: "assignedUsers",
          fieldset: {
            legend: {
              html: titleHtml,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: users
        }) }}

        {{ govukButton({
          text: content.updateAssignedUsers.checkAnswers.button
        }) }}

      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ back }}">Cancel</a>
      </p>

    </div>
  </div>
{% endblock %}
