{% extends "_layout.njk" %}

{% set primaryNavId = 'settings' %}
{% set title = "Settings" %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  {% include "_includes/profile-sub-nav.njk" %}

  <h1 class="govuk-heading-xl">{{title}}</h1>
{% endblock %}
