{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set firstName = user.firstName %}
{% set lastName = user.lastName %}
{% set emailAddress = user.emailAddress %}
{% set title = firstName + " " + lastName %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Organisation settings",
      href: "/organisation-settings"
    }, {
      text: "Users",
      href: "/account/users"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}
  {% set canManageUsers = [true, false] | random %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% if not canManageUsers %}
        <p>You cannot change these details because you do not have permission to manage users.</p>
      {% endif %}

      <h2 class="govuk-heading-m">
        Personal details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{firstName}}
          </dd>
          {% if canManageUsers %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/account/users/{{user.id}}/name/edit">
                Change<span class="govuk-visually-hidden"> </span>
              </a>
            </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{lastName}}
          </dd>
          {% if canManageUsers %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/account/users/{{user.id}}/name/edit">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          {% endif %}
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{user.emailAddress}}
          </dd>
          {% if canManageUsers %}
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/account/users/{{user.id}}/email-address/edit">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          {% endif %}
        </div>
        </dl>
        <h2 class="govuk-heading-m">
          Access to organisations
        </h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisations this user has access to
            </dt>
            <dd class="govuk-summary-list__value">
              {% for organisation in user.organisations %}
                <p>{{organisation.org.name}}</p>
              {% endfor %}
            </dd>
            {% if canManageUsers %}
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/account/users/{{user.id}}/organisations/edit">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            {% endif %}
          </div>
        </dl>

        {% for org in user.organisations %}

          {% set runOrRatified %}
            {% if org.org.isAccreditedBody %}
              run
            {% else %}
              ratified
            {% endif %}
          {% endset %}


          <h2 class="govuk-heading-m">
            Permissions for {{org.org.name}}
          </h2>

          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              User permissions
            </dt>
            <dd class="govuk-summary-list__value">
              {% if org.permissions %}
                Additional user permissions, such as making decisions or viewing sensitive information
              {% else %}
                View applications (excluding sensitive information)
              {% endif %}
            </dd>
            {% if canManageUsers %}
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/account/users/{{user.id}}/permissions/{{org.org.id}}/edit">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            {% endif %}
          </div>
          {% if org.permissions %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional user permissions
              </dt>
              <dd class="govuk-summary-list__value">
                {% if org.permissions.manageOrganisation %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      Manage organisational permissions
                    </p>
                  </div>
                {% endif %}
                {% if org.permissions.manageUsers %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      Manage users
                    </p>
                  </div>
                {% endif %}
                {% if org.permissions.setupInterviews %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      Set up interviews
                    </p>
                    {{appPermissions({
                      runOrRatified: runOrRatified,
                      permissionDescription: "set up interviews",
                      applicableOrgs: org.permissions.applicableOrgs.makeDecisions,
                      nonApplicableOrgs: org.permissions.
                      nonApplicableOrgs.makeDecisions
                    })}}
                  </div>
                {% endif %}
                {% if org.permissions.makeDecisions %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      Make decisions
                    </p>
                    {{appPermissions({
                      runOrRatified: runOrRatified,
                      permissionDescription: "make decisions",
                      applicableOrgs: org.permissions.applicableOrgs.makeDecisions,
                      nonApplicableOrgs: org.permissions.
                      nonApplicableOrgs.makeDecisions
                    })}}
                  </div>
                {% endif %}
                {% if org.permissions.viewSafeguardingInformation %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      View safeguarding information
                    </p>
                    {{appPermissions({
                      runOrRatified: runOrRatified,
                      permissionDescription: "view criminal convictions and professional misconduct",
                      applicableOrgs: org.permissions.applicableOrgs.viewSafeguardingInformation,
                      nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewSafeguardingInformation
                    })}}
                  </div>
                {% endif %}

                {% if org.permissions.viewDiversityInformation %}
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      View diversity information
                    </p>
                    {{appPermissions({
                      runOrRatified: runOrRatified,
                      permissionDescription: "view equality and diversity information",
                      applicableOrgs: org.permissions.applicableOrgs.viewDiversityInformation,
                      nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewDiversityInformation
                    })}}
                  </div>
                {% endif %}
              </dd>
              {% if canManageUsers %}
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/account/users/{{user.id}}/permissions/{{org.org.id}}/edit">
                    Change<span class="govuk-visually-hidden"></span>
                  </a>
                </dd>
              {% endif %}
            </div>
          {% endif %}
          </dl>
        {% endfor %}
      {% if canManageUsers %}
        {{ govukButton({
          text: "Delete user",
          classes: "govuk-button--warning",
          href: "/account/users/"+ user.id + "/delete"
        }) }}
      {% endif %}
    </div>
  </div>

{% endblock %}
