{% extends "_layout.njk" %}

{% set primaryNavId = 'users' %}
{% set firstName = user.firstName %}
{% set lastName = user.lastName %}
{% set emailAddress = user.emailAddress %}
{% set title = firstName + " " + lastName %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Your account",
      href: "/account"
    }, {
      text: "Users",
      href: "/account/users"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{title}}</h1>

      <h2 class="govuk-heading-m">
        Basic details
      </h2>

      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            First name
          </dt>
          <dd class="govuk-summary-list__value">
            {{firstName}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/account/users/{{user.id}}/name/edit">
              Change<span class="govuk-visually-hidden"> </span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Last name
          </dt>
          <dd class="govuk-summary-list__value">
            {{lastName}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/account/users/{{user.id}}/name/edit">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{user.emailAddress}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/account/users/{{user.id}}/email-address/edit">
              Change<span class="govuk-visually-hidden"></span>
            </a>
          </dd>
        </div>
        </dl>
        <h2 class="govuk-heading-m">
          Access to organisations
        </h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisations this user has access to
            </dt>
            <dd class="govuk-summary-list__value">
              {% for organisation in user.organisations %}
                <p>{{organisation.org.name}}</p>
              {% endfor %}
            </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/account/users/{{user.id}}/organisations/edit">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
          </div>
        </dl>

        {% for org in user.organisations %}

          {% set runOrRatified %}
            {% if org.org.isAccreditedBody %}
              run
            {% else %}
              ratified
            {% endif %}
          {% endset %}


          <h2 class="govuk-heading-m">
            Permissions for {{org.org.name}}
          </h2>

          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Permissions
            </dt>
            <dd class="govuk-summary-list__value">
              {% if org.permissions %}
                Additional permissions, such as making decisions or viewing sensitive information
              {% else %}
                View applications (excluding sensitive information)
              {% endif %}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/account/users/{{user.id}}/permissions/{{org.org.id}}/edit">
                Change<span class="govuk-visually-hidden"></span>
              </a>
            </dd>
          </div>
          {% if org.permissions %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional permissions
              </dt>
              <dd class="govuk-summary-list__value">
                {% if org.permissions.manageOrganisation %}
                  <p>
                    Manage organisational permissions
                  </p>
                {% endif %}
                {% if org.permissions.manageUsers %}
                  <p>
                    Manage users
                  </p>
                {% endif %}
                {% if org.permissions.makeDecisions %}
                  <p>
                    Make decisions and set up interviews
                  </p>

                  {{appPermissions({
                    runOrRatified: runOrRatified,
                    permissionDescription: "make decisions and set up interviews",
                    applicableOrgs: org.permissions.applicableOrgs.makeDecisions,
                    nonApplicableOrgs: org.permissions.nonApplicableOrgs.makeDecisions
                  })}}

                {% endif %}
                {% if org.permissions.viewSafeguardingInformation %}
                  <p>
                    View safeguarding information
                  </p>
                  {{appPermissions({
                    runOrRatified: runOrRatified,
                    permissionDescription: "view criminal convictions and professional misconduct",
                    applicableOrgs: org.permissions.applicableOrgs.viewSafeguardingInformation,
                    nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewSafeguardingInformation
                  })}}
                {% endif %}

                {% if org.permissions.viewDiversityInformation %}
                  <p>
                    View diversity information
                  </p>
                  {{appPermissions({
                    runOrRatified: runOrRatified,
                    permissionDescription: "view equality and diversity information",
                    applicableOrgs: org.permissions.applicableOrgs.viewDiversityInformation,
                    nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewDiversityInformation
                  })}}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/account/users/{{user.id}}/permissions/{{org.org.id}}/edit">
                  Change<span class="govuk-visually-hidden"></span>
                </a>
              </dd>
            </div>
          {% endif %}
          </dl>
        {% endfor %}

      {{ govukButton({
        text: "Delete user",
        classes: "govuk-button--warning",
        href: "/account/users/"+ user.id + "/delete"
      }) }}
    </div>
  </div>

{% endblock %}
