{% extends "_layout.njk" %}

{% set primaryNavId = "examples" %}

{% set title = "GCSE or equivalent" %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: "/examples"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l">
      <span class="govuk-caption-l">Qualification examples</span>
      {{ title }}
    </h1>

  <hr class="govuk-section-break govuk-section-break--xl">

  <h3 class="govuk-heading-m">
    English GCSE or equivalent
  </h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Qualification type
      </dt>
      <dd class="govuk-summary-list__value">
        GCSE
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Grade
      </dt>
      <dd class="govuk-summary-list__value">
        BC (English)
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Year awarded
      </dt>
      <dd class="govuk-summary-list__value">
        2014
      </dd>
    </div>
  </dl>

  <hr class="govuk-section-break govuk-section-break--xl">

  <h3 class="govuk-heading-m">
    English GCSE or equivalent
  </h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Qualification type
      </dt>
      <dd class="govuk-summary-list__value">
        GCSE
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Grade
      </dt>
      <dd class="govuk-summary-list__value">
        <ul class="govuk-list">
          <li>A (English Language)</li>
          <li>B (English Literature)</li>
        </ul>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Year awarded
      </dt>
      <dd class="govuk-summary-list__value">
        2014
      </dd>
    </div>
  </dl>

  <hr class="govuk-section-break govuk-section-break--xl">

  <h3 class="govuk-heading-m">
    English GCSE or equivalent
  </h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Qualification type
      </dt>
      <dd class="govuk-summary-list__value">
        GCSE
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Grade
      </dt>
      <dd class="govuk-summary-list__value">
        DD (English)
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Year awarded
      </dt>
      <dd class="govuk-summary-list__value">
        2014
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are you currently studying to retake this qualification?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>
  </dl>

  <hr class="govuk-section-break govuk-section-break--xl">

  <h3 class="govuk-heading-m">
    English GCSE or equivalent
  </h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Qualification type
      </dt>
      <dd class="govuk-summary-list__value">
        GCSE
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Grade
      </dt>
      <dd class="govuk-summary-list__value">
        DD (English)
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Year awarded
      </dt>
      <dd class="govuk-summary-list__value">
        2014
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are you currently studying to retake this qualification?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Evidence of having English skills at the required standard
      </dt>
      <dd class="govuk-summary-list__value">
        Not provided
      </dd>
    </div>
  </dl>

  <hr class="govuk-section-break govuk-section-break--xl">

  <h3 class="govuk-heading-m">
    English GCSE or equivalent
  </h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Qualification type
      </dt>
      <dd class="govuk-summary-list__value">
        Baccalauréat Général
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Country or territory
      </dt>
      <dd class="govuk-summary-list__value">
        France
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Grade
      </dt>
      <dd class="govuk-summary-list__value">
        18
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Year awarded
      </dt>
      <dd class="govuk-summary-list__value">
        2014
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        UK ENIC reference number
      </dt>
      <dd class="govuk-summary-list__value">
        4000228363
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Comparable UK qualification
      </dt>
      <dd class="govuk-summary-list__value">
        GCSE (grades A*-C / 9-4)
      </dd>
    </div>
  </dl>

  <hr class="govuk-section-break govuk-section-break--xl">

  <h3 class="govuk-heading-m">
    English GCSE or equivalent
  </h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Qualification type
      </dt>
      <dd class="govuk-summary-list__value">
        Baccalauréat Général
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Country or territory
      </dt>
      <dd class="govuk-summary-list__value">
        France
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Grade
      </dt>
      <dd class="govuk-summary-list__value">
        18
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Year awarded
      </dt>
      <dd class="govuk-summary-list__value">
        2014
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Do you have a UK ENIC statement of comparability?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>
  </dl>

  <hr class="govuk-section-break govuk-section-break--xl">

  <h3 class="govuk-heading-m">
    English GCSE or equivalent
  </h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        What type of English qualification do you have?
      </dt>
      <dd class="govuk-summary-list__value">
        I do not have a GCSE in English (or equivalent) yet
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are you currently studying for this qualification?
      </dt>
      <dd class="govuk-summary-list__value">
        Yes
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Details of the qualification you’re studying for
      </dt>
      <dd class="govuk-summary-list__value">
        I am going to sit an equivalency test to prove my skills in English.
        However I have sat a level 2 functional skills exam in English.
      </dd>
    </div>
  </dl>

  <hr class="govuk-section-break govuk-section-break--xl">

  <h3 class="govuk-heading-m">
    English GCSE or equivalent
  </h3>

  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        What type of English qualification do you have?
      </dt>
      <dd class="govuk-summary-list__value">
        I do not have a GCSE in English (or equivalent) yet
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Are you currently studying for this qualification?
      </dt>
      <dd class="govuk-summary-list__value">
        No
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        Details of the qualification you’re studying for
      </dt>
      <dd class="govuk-summary-list__value">
        I applied to NARIC for the equivalent
      </dd>
    </div>
  </dl>

  </div>
</div>
{% endblock %}
