{% extends "_layout.njk" %}

{% set primaryNavId = 'activity' %}
{% set title = "Activity log" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{title}}</h1>

      <div class="app-activity-log">
        {%- for day, events in activity %}
          <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">
            {{- day | govukDate -}}
          </h2>
          {% include "_includes/activity-log/events-timeline.njk" %}
        {% endfor -%}
      </div>

    </div>
  </div>

  {%- if pagination %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% include "_includes/pagination.njk" %}
      </div>
    </div>
  {% endif -%}

{% endblock %}
