{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}

{% if hasNotMetConditions %}
  {% set title = "Check your changes and mark conditions as not met" %}
{% elseif allConditionsMet %}
  {% set title = "Check your changes and mark conditions as met" %}
{% else %}
  {% set title = "Check and update status of conditions" %}
{% endif %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: '/applications/' + application.id + '/offer/edit-condition-statuses'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{appOfferPanel({
        provider: {
          value: application.offer.provider
        },
        course: {
          value: application.offer.course
        },
        location: {
          value: application.offer.location
        },
        studyMode: {
          value: "Full time"
        },
        accreditedBody: {
          value: application.offer.accreditedBody
        },
        conditions: {
          items: conditions
        },
        changeStatus: {
          href: "/applications/" + application.id + "/offer/edit-condition-statuses"
        }
      })}}

      <form method="post">

        {% if hasNotMetConditions %}

          <p>The candidate will be told that their application was unsuccessful.</p>

          {{ govukButton({
            text: "Mark conditions as not met",
            classes: "govuk-button--warning"
          }) }}
        {% elseif allConditionsMet %}
          {{ govukButton({
            text: "Mark conditions as met and tell candidate"
          }) }}
        {% else %}
          {{ govukButton({
            text: "Update status and tell candidate"
          }) }}
        {% endif %}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>
{% endblock %}
