{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Update status of conditions" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: '/applications/' + application.id + '/offer'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <div class="app-box govuk-!-margin-bottom-7">
        {{appConditionsPanel({
          conditions: conditions
        })}}
      </div>

      <form method="post">

        {% for condition in conditions %}

          {% set dataObject = data['edit-condition-statuses']['conditions'][condition.id] or condition.status %}

          {{ govukRadios({
            idPrefix: "[edit-condition-statuses][conditions]["+ condition.id +"]",
            name: "[edit-condition-statuses][conditions]["+ condition.id +"]",
            fieldset: {
              legend: {
                text: "Status of ‘" + condition.description + "’",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Pending",
                text: "Pending",
                checked: checked(dataObject, "Pending")
              },
              {
                value: "Not met",
                text: "Not met",
                checked: checked(dataObject, "Not met")
              },
              {
                value: "Met",
                text: "Met",
                checked: checked(dataObject, "Met")
              }
            ]
          }) }}

        {% endfor %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
