{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = "Check status of conditions" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: backLinkDestination
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>



        <form method="post">


          <div class="app-offer-panel govuk-!-margin-bottom-7">
            <table class="govuk-table govuk-!-margin-bottom-1">
              <tbody class="govuk-table__body">
                {% for condition in conditions %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell">
                      {{condition.description}}
                    </td>
                    <td class="govuk-table__cell govuk-table__cell--numeric app-conditions-list__tag">
                      {% if condition.status == "Pending" %}
                        {% set statusClass = "app-tag--grey" %}
                      {% elseif condition.status == "Met" %}
                        {% set statusClass = "app-tag--green" %}
                      {% elseif condition.status == "Not met" %}
                        {% set statusClass = "app-tag--red" %}
                      {% endif %}
                      {{govukTag({ text: condition.status, classes: statusClass })}}
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>

          {% for condition in conditions %}
            {% set randomDate = ["4 August", "18 June", "22 August", "7 September"] | random %}
            {{ govukRadios({
                idPrefix: "conditionStatus" + loop.index0,
                name: "conditionStatus["+ loop.index0 + "]",
                fieldset: {
                  legend: {
                    text: "Status of ‘" + condition.description + "’",
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                hint: {
                  text: "This condition was marked as met on " + randomDate + " 2020"
                } if condition.status == 'Met',
                items: [
                  {
                    value: "Pending",
                    text: "Pending",
                    checked: condition.status == "Pending"
                  },
                  {
                    value: "Met",
                    text: "Met",
                    checked: condition.status == "Met"
                  }
                ]
              }) }}


          {% endfor %}

          {{ govukButton({
            text: "Continue"
          }) }}
        </form>

      <p class="govuk-body"><a href="{{ cancelLinkDestination }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
