{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set name = application.personalDetails.name %}
{% set title = 'Interviews - ' + name %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    {{name}}
    <span class="govuk-visually-hidden">Interviews</span>
    {{ govukTag({ classes: statusText | statusClass, text: statusText }) }}
  </h1>

  {% include "_includes/application/interview-prompt.njk" %}
  {% include "_includes/application/respond-prompt.njk" %}
  {% include "_includes/application/defer-prompt.njk" %}

  {% include "_includes/application/sub-nav.njk" %}
  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">

      {% if application.interviews.items.length > 0 %}

        {% if statusText == "Received" or statusText == "Interviewing" %}
          {{ govukButton({
            text: "Set up an interview",
            href: "/application/" + application.id + "/interviews/new",
            classes: "govuk-button--secondary"
          }) }}
        {% endif %}

        {% for interview in application.interviews.items %}

          {% set interviewSummaryListHtml %}
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Date and time"
                  },
                  value: {
                    text: interview.date | govukDateAtTime
                  },
                  actions: {
                    items: [
                      {
                        href: "Item URL",
                        text: "Change",
                        visuallyHiddenText: "Details"
                      }
                    ]
                  } if 1 == 2
                },
                {
                  key: {
                    text: "Organisation"
                  },
                  value: {
                    text: "The Royal Borough Teaching School Alliance"
                  },
                  actions: {
                    items: [
                      {
                        href: "Item URL",
                        text: "Change",
                        visuallyHiddenText: "Details"
                      }
                    ]
                  } if 1 == 2
                },
                {
                  key: {
                    text: "Location"
                  },
                  value: {
                    text: interview.location
                  },
                  actions: {
                    items: [
                      {
                        href: "Item URL",
                        text: "Change",
                        visuallyHiddenText: "Details"
                      }
                    ]
                  } if 1 == 2
                },
                {
                  key: {
                    text: "Details"
                  },
                  value: {
                    text: interview.details or 'Not set'
                  },
                  actions: {
                    items: [
                      {
                        href: "Item URL",
                        text: "Change",
                        visuallyHiddenText: "Details"
                      }
                    ]
                  } if 1 == 2
                },
                {
                  key: {
                    text: "Interview preferences"
                  },
                  value: {
                    text: application.interviewNeeds
                  },
                  actions: {
                    items: [
                      {
                        href: "Item URL",
                        text: "Change",
                        visuallyHiddenText: "Details"
                      }
                    ]
                  } if 1 == 2
                } if application.interviewNeeds
              ]
            }) }}
          {% endset %}

          {{appSummaryCard({
            titleText: interview.date | govukDateAtTime,
            classes: "govuk-!-margin-bottom-6",
            actions: {
              items: [{
                href: "/application/"+application.id+"/interviews/"+interview.id+"/edit",
                text: "Change"
              } if statusText == "Received" or statusText == "Interviewing", {
                href: "/application/"+application.id+"/interviews/"+interview.id+"/delete",
                text: "Cancel"
              } if statusText == "Received" or statusText == "Interviewing"]
            },
            html: interviewSummaryListHtml
          })}}

        {% endfor %}


        {# <table class="govuk-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarte">Date and time</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarte">Details</th>
        <th scope="col" class="govuk-table__header govuk-!-width-one-quarte">Organisation</th>

        {% if statusText == "Awaiting interview" or statusText == "Interviewed" %}
          <th scope="col" class="govuk-table__header">Actions</th>
        {% endif %}
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      {% for interview in application.interviews.items %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{interview.date | govukDateAtTime }}</td>
          <td class="govuk-table__cell">{{interview.details }}</td>
          <td class="govuk-table__cell">The Royal Borough Teaching School Alliance</td>

          {% if statusText == "Awaiting interview" or statusText == "Interviewed" %}

            <td class="govuk-table__cell"><a class="govuk-link govuk-link--no-visited-state" href="/application/{{application.id}}/interviews/{{interview.id}}/edit">Change</a> or <a class="govuk-link govuk-link--no-visited-state" href="/application/{{application.id}}/interviews/{{interview.id}}/delete">cancel</a></td>

          {% endif %}
        </tr>
      {% endfor %}
    </tbody>
  </table> #}

      {% else %}
        <p>No interviews have been set up yet.</p>

        {{ govukButton({
          text: "Set up an interview",
          href: "/application/" + application.id + "/interviews/new",
          classes: "govuk-button--secondary"
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
