{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set name = application.personalDetails.name %}
{% set title = 'Interviews - ' + name %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    {{name}}
    <span class="govuk-visually-hidden">Interviews</span>
    {{ govukTag({ classes: statusText | statusClass, text: statusText }) }}
  </h1>

  {% include "_includes/application/interview-prompt.njk" %}
  {% include "_includes/application/respond-prompt.njk" %}
  {% include "_includes/application/defer-prompt.njk" %}

  {% include "_includes/application/sub-nav.njk" %}
  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">

      {% if application.interviews.items.length > 0 %}

        {% if statusText == "Received" or statusText == "Interviewing" %}
          {{ govukButton({
            text: "Set up an interview",
            href: "/application/" + application.id + "/interviews/new",
            classes: "govuk-button--secondary"
          }) }}
        {% endif %}

        {% for interview in application.interviews.items %}

          {% set interviewSummaryListHtml %}
            {{ govukSummaryList({
              rows: [
                {
                  key: {
                    text: "Date and time"
                  },
                  value: {
                    text: interview.date | govukDateAtTime
                  }
                },
                {
                  key: {
                    text: "Organisation"
                  },
                  value: {
                    text: interview.organisation
                  }
                },
                {
                  key: {
                    text: "Location"
                  },
                  value: {
                    text: interview.location | nl2br
                  }
                },
                {
                  key: {
                    text: "Details"
                  },
                  value: {
                    text: interview.details | nl2br or 'None'
                  }
                },
                {
                  key: {
                    text: "Interview preferences"
                  },
                  value: {
                    text: application.interviewNeeds
                  }
                } if application.interviewNeeds
              ]
            }) }}
          {% endset %}

          {{appSummaryCard({
            titleText: interview.date | govukDateAtTime,
            classes: "govuk-!-margin-bottom-6",
            actions: {
              items: [{
                href: "/application/"+application.id+"/interviews/"+interview.id+"/edit",
                text: "Change"
              } if statusText == "Received" or statusText == "Interviewing", {
                href: "/application/"+application.id+"/interviews/"+interview.id+"/delete",
                text: "Cancel"
              } if statusText == "Received" or statusText == "Interviewing"]
            },
            html: interviewSummaryListHtml
          })}}

        {% endfor %}
      {% else %}
        <p>No interviews have been set up yet.</p>
        {{ govukButton({
          text: "Set up an interview",
          href: "/application/" + application.id + "/interviews/new",
          classes: "govuk-button--secondary"
        }) }}
      {% endif %}

    </div>
  </div>
{% endblock %}
