{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set status = application.status %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = name %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash }}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">{{name}} {{ govukTag({ classes: status | statusClass, text: status })}}</h1>

  {% include "_includes/application/respond-prompt.njk" %}
  {% include "_includes/application/defer-prompt.njk" %}

  {% include "_includes/application/sub-nav.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <p>No interviews have been set up yet.</p>

      {{ govukButton({
        text: "Set up an interview",
        href: "/application/" + application.id + "/interviews/new"
      }) }}

    </div>
  </div>
{% endblock %}
