
{% if conditions.length %}
  <p>When you send this offer, you guarantee a place on the course as long as the candidate meets the conditions.</p>
{% else %}
  <p>When you send this offer, you guarantee a place on the course once the candidate accepts the offer.</p>
{% endif %}

{% if currentProvider != newProvider %}
  <p>Notifications will be sent to:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>users at {{currentProvider}} to tell them that they can no longer view the application</li>
    <li>users at {{newProvider}} to tell them that they have a new application</li>
    <li>the candidate to tell them that their offer has changed</li>
  </ul>
{% else %}
  <p>A notification will be sent to the candidate to tell them their offer has changed.</p>
{% endif %}
