<div class="app-box govuk-!-margin-bottom-7">

  <h2 class="govuk-heading-m govuk-!-margin-bottom-2govuk-!-margin-bottom-2">
    Course details
  </h2>

  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Provider"
      },
      value: {
        html: application.provider
      }
    }, {
      key: {
        text: "Course"
      },
      value: {
        html: application.course
      }
    }, {
      key: {
        text: "Location"
      },
      value: {
        html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
      }
    }, {
      key: {
        text: "Full time or part time"
      },
      value: {
        html: application.studyMode
      }
    }
    ]})
  }}
</div>
