<div class="app-offer-panel">
  <h2 class="govuk-heading-m">Previous cycle offer</h2>

  {{ govukSummaryList({
  rows: [{
    key: {
      text: "Provider"
    },
    value: {
      html: application.provider
    },
    actions: {
      items: [
        {
          href: "/application/"+applicationId+"/offer/change-provider",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "Course"
    },
    value: {
      html: application.course
    },
    actions: {
      items: [
        {
          href: "/application/"+applicationId+"/offer/change-course",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  },
  {
    key: {
      text: "Location"
    },
    value: {
      html: 'Alliance Academy, Edgeware, Road Name, SW1 1AA'
    },
    actions: {
      items: [
        {
          href: "/application/"+applicationId+"/offer/change-location",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    }
  }
]})}}

  {% if conditions %}

    <h2 class="govuk-heading-s">Conditions</h2>

    <dl class="govuk-summary-list app-conditions-list">
      {% for condition in conditions %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
             {{condition.description}}
             {% if application.status == "Accepted" %}
                <p class="govuk-body govuk-!-margin-bottom-0"><a href="/application/{{application.id}}/condition/{{condition.id}}/change-status">Update status</a></p>
              {% endif %}
          </dt>
          <dd class="govuk-summary-list__value">
             {% if condition.status == "Pending" %}
                {% set statusClass = "app-tag--grey" %}
              {% elseif condition.status == "Met" %}
                {% set statusClass = "app-tag--green" %}
              {% elseif condition.status == "Not met" %}
                {% set statusClass = "app-tag--red" %}
              {% endif %}
              {{govukTag({ text: condition.status, classes: statusClass })}}
          </dd>
          {% if 1 == 1 %}
            <dd class="govuk-summary-list__actions">

            <a class="govuk-link" href="/application/EE63341/offer/change-provider">
              Change</a>

            </dd>
          {% endif %}
        </div>
      {% endfor %}
    </dl>
  {% endif %}

  {% if offer and application.previousOffer.recommendations %}
    <h2 class="govuk-heading-s">Recommendations</h2>
    <p class="govuk-body">{{application.previousOffer.recommendations}}</p>
  {% endif %}

</div>
