{% set courseDetails %}
  <div class="govuk-!-margin-bottom-0">
    {{ govukSummaryList({
        classes: " govuk-!-margin-bottom-1",
        rows: [{
          key: {
            text: "Provider"
          },
          value: {
            html: application.provider
          }
        }, {
          key: {
            text: "Course"
          },
          value: {
            html: application.course
          }
        } if false, {
          key: {
            text: "Location"
          },
          value: {
            html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
          }
        }, {
          key: {
            text: "Full time or part time"
          },
          value: {
            html: "Full time"
          },
          classes: "govuk-summary-list__row--no-befrder"
        }
      ]})
    }}
  </div>
{% endset %}

<div class="app-offer-panel govuk-!-margin-bottom-7">
  <h2 class="govuk-heading-s govuk-!-margin-bottom-1">Course</h2>
  <p class="govuk-body">{{application.course}}</p>
  {{ govukDetails({
    summaryText: "See course details",
    html: courseDetails,
    classes: "govuk-!-margin-bottom-0"
  }) }}
</div>

