
<div class="app-offer-panel">

  <h2 class="govuk-heading-l govuk-!-margin-bottom-3">
    Offer
  </h2>

  <p class="govuk-body">

    {% if application.status == "Offered" or application.status == "Accepted" or application.status == "Conditions met" or application.status == "Deferred" %}
      {# <a href="/application/{{application.id}}/withdraw" class="app-withdraw-link">Withdraw offer</a> #}
    {% endif %}
    {% if application.status == "Accepted" or application.status == "Conditions met" %}
      {# or  #}
      <a href="/application/{{application.id}}/offer/defer/check">Defer offer</a>
    {% endif %}
  </p>

  <h3 class="govuk-heading-m">Course details</h2>

{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Provider"
    },
    value: {
      html: application.provider
    },
    actions: {
      items: [
        {
          href: "/application/"+application.id+"/offer/change-provider",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    } if application.status == "Offered"
  },
  {
    key: {
      text: "Course"
    },
    value: {
      html: application.course
    },
    actions: {
      items: [
        {
          href: "/application/"+application.id+"/offer/change-course",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    } if application.status == "Offered"
  },
  {
    key: {
      text: "Location"
    },
    value: {
      html: application.locationname or 'Alliance Academy, Edgeware, Road Name, SW1 1AA'
    },
    actions: {
      items: [
        {
          href: "/application/"+application.id+"/offer/change-location",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    } if application.status == "Offered"
  },
  {
    key: {
      text: "Full time or part time"
    },
    value: {
      html: 'Full time'
    },
    actions: {
      items: [
        {
          href: "/application/"+application.id+"/offer/change-study-mode",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    } if application.status == "Offered"
  }
]})}}

{% if application.offer.withdrawnReasons %}
  <h2 class="govuk-heading-m">Reasons for withdrawal</h2>
  {% set rejectedDate = application.rejectedDate %}
  {% set rejectionReasons = application.rejectedReasons %}
  {% set showRejectedDate = true %}

  <p>You sent the following feedback to the candidate on {{rejectedDate | date("d LLL yyyy")}}.</p>

  {% include "_includes/candidate-feedback.njk" %}
{% endif %}

{% if application.offer and conditions %}

  <h2 class="govuk-heading-m">Conditions</h2>
  {% if application.status == "Offered" %}
    <p><a href="/application/{{application.id}}/offer/edit-conditions">Add or change conditions</a></p>
  {% endif %}

  {% if application.status == "Accepted" %}
    <p>
      <a href="/application/{{application.id}}/offer/edit-condition-statuses">Update status of conditions</a>
    </p>
  {% endif %}

  {% if conditions.length %}

    <dl class="govuk-summary-list app-conditions-list govuk-!-margin-bottom-0 {% if checked(data.settings, "hasCombinedConditions") %}app-condition-list--combined {% endif %}">
      {% for condition in conditions %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{condition.description}}
            {# {% if not checked(data.settings, "hasCombinedConditions") and (application.status == "Accepted" or application.status == "Conditions met") %} #}
              {# <br>
              <a class="govuk-link" href="/application/{{application.id}}/condition/{{condition.id}}/change-status">
                Update status<span class="govuk-visually-hidden"> of condition ‘{{condition.description}}’</span></a>
                or
                <a class="govuk-link" href="/application/{{application.id}}/condition/{{condition.id}}/delete">
                delete condition<span class="govuk-visually-hidden"> ‘{{condition.description}}’</span></a> #}
            {# {% endif %} #}
          </dt>
          <dd class="govuk-summary-list__value app-conditions-list__tag">
            {% if condition.status == "Pending" %}
              {% set statusClass = "app-tag--grey" %}
            {% elseif condition.status == "Met" %}
              {% set statusClass = "app-tag--green" %}
            {% elseif condition.status == "Not met" %}
              {% set statusClass = "app-tag--red" %}
            {% endif %}
            {{govukTag({ text: condition.status, classes: statusClass })}}
          </dd>
        </div>
      {% endfor %}
    </dl>
  {% else %}
    <p>No conditions have been set for this offer.</p>
  {% endif %}

{% endif %}
