{{ govukSummaryList({
  rows: [
  {
    key: {
      text: "Provider"
    },
    value: {
      html: offer.provider or application.provider
    },
    actions: {
      items: [
        {
          href: "/application/"+application.id+"/offer/change-provider",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    } if application.status == "Offered"
  } if offer,
  {
    key: {
      text: "Course"
    },
    value: {
      html: offer.course or application.course
    },
    actions: {
      items: [
        {
          href: "/application/"+application.id+"/offer/change-course",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    } if application.status == "Offered"
  } if offer,
  {
    key: {
      text: "Location"
    },
    value: {
      html: offer.locationname or 'Alliance Academy, Edgeware, Road Name, SW1 1AA'
    },
    actions: {
      items: [
        {
          href: "/application/"+application.id+"/offer/change-location",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    } if application.status == "Offered"
  } if offer,
  {
    key: {
      text: "Full time or part time"
    },
    value: {
      html: 'Full time'
    },
    actions: {
      items: [
        {
          href: "/application/"+application.id+"/offer/change-study-mode",
          text: "Change",
          visuallyHiddenText: ""
        }
      ]
    } if application.status == "Offered"
  } if offer
]})}}

{% if offer.withdrawnReasons %}
  <h2 class="govuk-heading-m">Reasons for withdrawal</h2>
  {% set rejectedDate = application.rejectedDate %}
  {% set rejectionReasons = application.rejectedReasons %}
  {% set showRejectedDate = true %}

  <p>You sent the following feedback to the candidate on {{rejectedDate | date("d LLL yyyy")}}.</p>

  {% include "_includes/candidate-feedback.njk" %}
{% endif %}

{% if offer and conditions %}

  <h2 class="govuk-heading-m">Conditions</h2>

  <table class="govuk-table">
    <tbody class="govuk-table__body">
      {% for condition in conditions %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            {{condition.description}}
            {% if application.status == "Accepted" %}
              <p class="govuk-body govuk-!-margin-bottom-0"><a href="/application/{{application.id}}/condition/{{condition.id}}/change-status">Update status</a></p>
            {% endif %}
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            {% if condition.status == "Pending" %}
              {% set statusClass = "app-tag--grey" %}
            {% elseif condition.status == "Met" %}
              {% set statusClass = "app-tag--green" %}
            {% elseif condition.status == "Not met" %}
              {% set statusClass = "app-tag--red" %}
            {% endif %}
            {{govukTag({ text: condition.status, classes: statusClass })}}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}

{% if offer and offer.recommendations %}
  <h2 class="govuk-heading-s">Recommendations</h2>
  <p class="govuk-body">{{offer.recommendations}}</p>
{% endif %}

{% if application.status == "Offered" %}
  <p class="govuk-body govuk-!-margin-bottom-0">
    <a href="/application/{{application.id}}/withdraw">Withdraw offer</a>
  </p>
{% endif %}

{% if controls and application.status == "Conditions met" %}
  {# {{govukButton({
    text: "Enrol candidate",
    href: "/application/" + application.id + "/enrol/confirm"
  })}} #}
{% endif %}

{% if controls and application.status == "Offered" or application.status == "Accepted" %}
  <p class="govuk-body govuk-!-margin-bottom-0">
    <a href="#" class="app-withdraw-link">Cancel offer</a>
  </p>
{% endif %}
