{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "_components/conditions-panel/macro.njk" import appConditionsPanel %}
{% from "_components/location/macro.njk" import appLocation %}
{% from "_components/summary-card/macro.njk" import appSummaryCard %}


<div class="app-offer-panel">
  {% if not params.transferred %}
    {% if params.withdraw or params.defer %}
      <p class="govuk-body govuk-!-margin-bottom-2">
        {% if params.withdraw %}
          <a class="govuk-!-margin-right-2" href="{{params.withdraw.href}}">Withdraw offer</a>
        {% endif %}
        {% if params.defer %}
          <a href="{{params.defer.href}}">Defer offer</a>
        {% endif %}
      </p>
    {% endif %}
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-margin-top-0 govuk-!-margin-bottom-2">
    Course details
  </h2>

  {# {% if params.showChangeOfferInstructions %}
    <p>If you want to change the details of the offer, email <a href="#">becomingateacher@digital.education.gov.uk</a>.
  {% endif %} #}

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Training provider"
        },
        value: {
          html: params.provider.value
        },
        actions: {
          items: [
            {
              href: params.provider.href or "#",
              text: "Change",
              visuallyHiddenText: "training provider"
            }
          ]
        } if params.provider.href
      }, {
        key: {
          text: "Course"
        },
        value: {
          html: params.course.value
        },
        actions: {
          items: [
            {
              href: params.course.href or "#",
              text: "Change",
              visuallyHiddenText: "course"
            }
          ]
        } if params.course.href
      }, {
        key: {
          text: "Full time or part time"
        },
        value: {
          html: params.studyMode.value or "Full time"
        },
        actions: {
          items: [
            {
              href: params.studyMode.href or "#",
              text: "Change",
              visuallyHiddenText: "mode of study"
            }
          ]
        } if params.studyMode.href
      }, {
        key: {
          text: "Location"
        },
        value: {
          html: appLocation(params.location.value) if params.location.value.name else params.location.value
        },
        actions: {
          items: [
            {
              href: params.location.href or "#",
              text: "Change",
              visuallyHiddenText: "location"
            }
          ]
        } if params.location.href
      }, {
        key: {
          text: "Accredited body"
        },
        value: {
          html: params.accreditedBody.value
        },
        actions: {
          items: [
            {
              href: params.accreditedBody.href or "#",
              text: "Change",
              visuallyHiddenText: "accredited body"
            }
          ]
        } if params.accreditedBody.href
      } if params.accreditedBody.value != params.provider.value, {
        key: {
          text: "Qualification"
        },
        value: {
          html: params.qualifications.value
        },
        actions: {
          items: [
            {
              href: params.qualifications.href or "#",
              text: "Change",
              visuallyHiddenText: "qualification"
            }
          ]
        } if params.qualifications.href
      }, {
        key: {
          text: "Funding type"
        },
        value: {
          html: params.fundingType.value
        },
        actions: {
          items: [
            {
              href: params.fundingType.href,
              text: "Change",
              visuallyHiddenText: "funding type"
            }
          ]
        } if params.fundingType.href
      }
    ]
  }) }}

<h2 class="govuk-heading-m">Conditions</h2>

{% if params.data.skeRequired == 'yes' %}

  {% set reasonHtml %}
    {% for reason in params.data.skeReason %}
      {{ reason }} <br>
    {% endfor %}
  {% endset %}

  {% set skeSummaryList %}
    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: "Reason required"
          },
          value: {
            text: reasonHtml | safe
          },
          actions: {
            items: [
              {
                text: "Change",
                href: "/applications/" + params.applicationId + "/offer/ske-reason"
              }
            ]
          }
        },
        {
          key: {
            text: "Length"
          },
          value: {
            text: params.data.skeCourseLengthRequired
          },
          actions: {
            items: [
              {
                text: "Change",
                href: "/applications/" + params.applicationId + "/offer/ske-length"
              }
            ]
          }
        },
        {
          key: {
            text: "Deadline"
          },
          value: {
            text: params.data.skeDeadline
          },
          actions: {
            items: [
              {
                text: "Change",
                href: "/applications/" + params.applicationId + "/offer/ske-length"
              }
            ]
          }
        }

      ]

    }) }}
  {% endset %}

  {{ appSummaryCard({
    titleText: "Subject knowledge enhancement course",
    classes: "govuk-!-margin-bottom-6",
    html: skeSummaryList,
    actions: {
      items: [
        {
          text: "Remove condition",
          href: "/applications/" + params.applicationId + "/offer/ske"

        }
      ]
    }
  })}}
{% endif %}

  {% if params.data.skeRequired == 'yes' %}
    <h3 class="govuk-heading-s govuk-!-margin-top-6">
      Other conditions
    </h3>
  {% endif %}
  {% if not params.transferred %}
    {% if params.changeStatus or params.changeConditions %}
      <p>
        {% if params.changeStatus %}

          {% if params.changeConditions %}
            <a class="govuk-!-margin-right-2" href="{{params.changeStatus.href}}">Update status of conditions</a>
          {% else %}
            <a href="{{params.changeStatus.href}}">Update status of conditions</a>
          {% endif %}
        {% endif %}
      </p>
    {% endif %}
  {% endif %}

  {% if params.conditions.items.length %}
    {{appConditionsPanel({
      conditions: params.conditions.items,
      changeStatus: params.changeStatus,
      changeConditions: params.changeConditions
    })}}

    {% if params.changeConditions %}
      <p class="govuk-body"><a href="{{params.changeConditions.href}}" class="govuk-link">Add conditions</a></p>
    {% endif %}

  {% else %}
    <p>No conditions have been set for this offer.</p>
  {% endif %}
</div>
