{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/tag/macro.njk" import govukTag %}
{% from "_components/conditions-panel/macro.njk" import appConditionsPanel %}
{% from "_components/location/macro.njk" import appLocation %}

<div class="app-offer-panel">
  {% if not params.transferred %}
    {% if params.withdraw or params.defer %}
      <p class="govuk-body">
        {% if params.withdraw %}
          <a class="govuk-!-margin-right-2" href="{{params.withdraw.href}}">Withdraw offer</a>
        {% endif %}
        {% if params.defer %}
          <a href="{{params.defer.href}}">Defer offer</a>
        {% endif %}
      </p>
    {% endif %}
  {% endif %}

  <h2 class="govuk-heading-m govuk-!-margin-top-6 govuk-!-margin-bottom-2">
    Course details
  </h2>
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Training provider"
      },
      value: {
        html: params.provider.value
      },
      actions: {
        items: [
          {
            href: params.provider.href or "#",
            text: "Change",
            visuallyHiddenText: "training provider"
          }
        ]
      } if params.provider.href
    }, {
      key: {
        text: "Course"
      },
      value: {
        html: params.course.value
      },
      actions: {
        items: [
          {
            href: params.course.href or "#",
            text: "Change",
            visuallyHiddenText: "course"
          }
        ]
      } if params.course.href
    }, {
      key: {
        text: "Full time or part time"
      },
      value: {
        html: params.studyMode.value or "Full time"
      },
      actions: {
        items: [
          {
            href: params.studyMode.href or "#",
            text: "Change",
            visuallyHiddenText: "mode of study"
          }
        ]
      } if params.studyMode.href
    }, {
      key: {
        text: "Location"
      },
      value: {
        html: appLocation(params.location.value) if params.location.value.name else params.location.value
      },
      actions: {
        items: [
          {
            href: params.location.href or "#",
            text: "Change",
            visuallyHiddenText: "location"
          }
        ]
      } if params.location.href
    }, {
      key: {
        text: "Accredited body"
      },
      value: {
        html: params.accreditedBody.value
      }
    } if params.accreditedBody.value != params.provider.value
  ]})}}

  <h2 class="govuk-heading-m">
    Conditions of offer
  </h2>
  {% if not params.transferred %}
    {% if params.changeStatus or params.changeConditions %}
      <p>
        {% if params.changeStatus %}
          <a href="{{params.changeStatus.href}}">Update status of conditions</a>
        {% endif %}

        {% if params.changeConditions and not params.changeStatus %}
          <a href="{{params.changeConditions.href}}">Add or change conditions</a>
        {% endif %}

        {% if params.changeConditions and params.changeStatus %}
          or
          <a href="{{params.changeConditions.href}}">add or change conditions</a>
        {% endif %}
      </p>
    {% endif %}
  {% endif %}

  {% if params.conditions.items.length %}
    {{appConditionsPanel({
      conditions: params.conditions.items
    })}}
  {% else %}
    <p>No conditions have been set for this offer.</p>
  {% endif %}
</div>

{#
{% if application.withdrawnReasons %}
  <h2 class="govuk-heading-m">Reasons for withdrawal</h2>
  {% set rejectedDate = application.withdrawnDate %}
  {% set rejectionReasons = application.withdrawnReasons %}
  {% set showRejectedDate = true %}

  <p>You sent the following feedback to the candidate on {{rejectedDate | date("d LLL yyyy")}}.</p>

  {% include "_includes/candidate-feedback.njk" %}
{% endif %} #}
