.app-glance-metric {
  @include govuk-font(19);
  @include govuk-responsive-margin(6, "bottom");
  // border-top: 1px solid $govuk-border-colour;
}

.app-glance-metric__heading {
  @include govuk-responsive-margin(3, "top");
  @include govuk-responsive-margin(1, "bottom");
  @include govuk-responsive-padding(3, "top");
  min-height: 2.6em;

  @include govuk-media-query($until: tablet) {
    min-height: 4em;
  }

  @include govuk-media-query($until: mobile) {
    min-height: 0;
  }
}

.app-glance-metric__figure {
  @include govuk-font($size: 36, $weight: bold);
  @include govuk-responsive-margin(1, "bottom");

  @include govuk-media-query($until: mobile) {
    @include govuk-font($size: 48, $weight: bold);
  }
}

.app-glance-metric__context {
  @include govuk-font(14);
  min-height: 5em;
  // border-bottom: 1px solid $govuk-border-colour;

  @include govuk-media-query($until: mobile) {
    @include govuk-font(16);
    min-height: 0;
    border-bottom: 0;
  }
}

.app-glance-metric__trend {

  @include govuk-media-query($until: mobile) {
    @include govuk-font(24);
  }
}

.app-glance-metric__trend-text {
  @include govuk-visually-hidden;
}

.app-glance-metric__trend-icon {
  color: govuk-colour("dark-grey", $legacy: "$grey-1");

  @include govuk-media-query($until: mobile) {
    @include govuk-font(19);
  }
}

.app-glance-metric__period {
  @include govuk-responsive-margin(6, "bottom");

  @include govuk-media-query($until: mobile) {
    @include govuk-font(16);
  }
}
