<div class="app-glance-metric {{- ' ' + params.classes if params.classes }}" {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>
  <h{{ params.heading.headingLevel | default(3) }} class="app-glance-metric__heading {{- ' ' + params.heading.classes if params.heading.classes }}">
    {{- params.heading.html | safe if params.heading.html else params.heading.text -}}
  </h{{ params.heading.headingLevel | default(3) }}>
  <span class="app-glance-metric__figure">
    {%- if params.metric.figure %}
      {{- params.metric.figure -}}
      {%- if params.metric.measurement %}<span class="app-glance-metric__measurement" {%- if params.metric.measurement.label %} aria-label="{{ params.metric.measurement.label }}"{% endif %}>{{- params.metric.measurement.unit -}}</span>{% endif -%}
    {% else %}
      No data
    {% endif -%}
  </span>
  {#%- if params.description %#}
    <p class="app-glance-metric__context {{- ' ' + params.description.classes if params.description.classes }}">
      {{- params.description.html | safe if params.description.html else params.description.text -}}
    </p>
  {#% endif -%#}
</div>
