{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Check and send offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: '/application/' + application.id + '/offer/new'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{appOfferPanel({
        provider: {
          value: data["new-offer"].provider or application.provider,
          href: "/application/" + application.id + "/offer/new/provider"
        },
        course: {
          value: data["new-offer"].course or application.course,
          href: "/application/" + application.id + "/offer/new/course"
        },
        location: {
          value: data['new-offer'].location or application.location,
          href: "/application/" + application.id + "/offer/new/location"
        },
        studyMode: {
          value: "Full time",
          href: "#"
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "/application/" + application.id + "/offer/new"
        }
      })}}

      {{ govukWarningText({
        text: "When you send this offer, you guarantee a place on this course as long as the candidate meets the conditions."
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Send offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
