{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Check and update offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: '/application/' + application.id + '/offer/edit-conditions'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      <div class="app-offer-panel">
        <h2 class="govuk-heading-m">
          Course details
        </h2>
        {{ govukSummaryList({
          rows: [{
            key: {
              text: "Provider"
            },
            value: {
              html: application.provider
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/offer/edit-conditions/change-provider",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }, {
            key: {
              text: "Course"
            },
            value: {
              html: application.course
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/offer/edit-conditions/change-course",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }, {
            key: {
              text: "Location"
            },
            value: {
              html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/offer/edit-conditions/change-location",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }, {
            key: {
              text: "Full time or part time"
            },
            value: {
              html: "Full time"
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/offer/edit-conditions/change-study-mode",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }
        ]})
      }}

      <h2 class="govuk-heading-m">
        Conditions of offer
      </h2>

      <p><a href="/application/{{application.id}}/offer/new">Add or change conditions</a></p>

      <dl class="govuk-summary-list app-conditions-list govuk-!-margin-bottom-0">
        {% for condition in conditions %}
          <div class="govuk-summary-list__row {% if loop.last %}govuk-summary-list__row--no-border{% endif %}">
            <dt class="govuk-summary-list__key">
              {{condition}}
            </dt>
            <dd class="govuk-summary-list__value app-conditions-list__tag">
              {{govukTag({ text: "Pending", classes: "app-tag--grey" })}}
            </dd>
            </div>
          {% endfor %}
        </dl>
      </div>

      {{ govukWarningText({
        text: "By making this offer, you guarantee a place on this course as long as the candidate meets the conditions of the offer. We’ll email the candidate with the details of this offer."
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Make offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
