{% extends "_layout.njk" %}

{% set primaryNavId = 'export' %}
{% set title = "Export data" %}

{% block content %}
  <h1 class="govuk-heading-l">{{title}}</h1>



  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p>Choose which data to export or <a href="/export/hesa">export only the data needed by the Higher Education Statistics Agency (HESA)</a>.</p>
      <form method="post">
        {{ govukCheckboxes({
          idPrefix: 'export_cycle',
          name: 'export_cycle',
          fieldset: {
            legend: {
              text: 'Years',
              classes: 'govuk-fieldset__legend--m'
            }
          },
          items: [
            {
              value: "2020 to 2021",
              text: "2020 to 2021" | cycleText,
              checked: checked(data['export_cycle'], "2020 to 2021")
            },
            {
              value: "2019 to 2020",
              text: "2019 to 2020" | cycleText,
              checked: checked(data['export_cycle'], "2019 to 2020")
            }
          ]
        }) }}

        {% set statusHtml %}
        {{ govukCheckboxes({
          idPrefix: 'export_status',
          name: 'export_status',
          fieldset: {
            legend: {
              text: 'Statuses',
              classes: 'govuk-fieldset__legend--s'
            }
          },
          items: [
            {
              value: 'Received',
              text: 'Received',
              checked: checked(data['export_status'], "Received") == 'checked'
            },
            {
              value: 'Interviewing',
              text: 'Interviewing',
              checked: checked(data['export_status'], "Interviewing") == 'checked'
            },            
            {
              value: 'Offered',
              text: 'Offered',
              checked: checked(data['export_status'], "Offered") == 'checked'
            },
            {
              value: 'Accepted',
              text: 'Accepted',
              checked: checked(data['export_status'], "Accepted") == 'checked'
            },
            {
              value: 'Conditions met',
              text: 'Conditions met',
              checked: checked(data['export_status'], "Conditions met") == 'checked'
            },
            {
              value: 'Conditions not met',
              text: 'Conditions not met',
              checked: checked(data['export_status'], "Conditions met") == 'checked'
            },
            {
              value: 'Deferred',
              text: 'Deferred',
              checked: checked(data['export_status'], "Deferred") == 'checked'
            },
            {
              value: 'Declined',
              text: 'Declined',
              checked: checked(data['export_status'], "Declined") == 'checked'
            },
            {
              value: 'Rejected',
              text: 'Rejected',
              checked: checked(data['export_status'], "Rejected") == 'checked'
            },
            {
              value: 'Application withdrawn',
              text: 'Application withdrawn',
              checked: checked(data['export_status'], "Application withdrawn") == 'checked'
            },
            {
              value: 'Offer withdrawn',
              text: 'Offer withdrawn',
              checked: checked(data['export_status'], "Offer withdrawn") == 'checked'
            }
          ]
        }) }}
        {% endset %}

        {{ govukRadios({
          idPrefix: "status",
          name: "status",
          fieldset: {
            legend: {
              text: "Statuses",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "All statuses",
              text: "All statuses"
            },
            {
              value: "Specific statuses",
              text: "Specific statuses",
              conditional: {
                html: statusHtml
              }
            }
          ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "export_orgs",
          name: "export_orgs",
          fieldset: {
            legend: {
              text: "Organisations",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: data.user.organisations[0].name,
              text: data.user.organisations[0].name
            },
            {
              value: data.user.organisations[1].name,
              text: data.user.organisations[1].name
            }
          ]
        }) }}

        {{ govukInsetText({
          text: "Diversity information will be marked confidential if you or your organisation do not have permission to view it, or the candidate has not accepted your offer."
        }) }}

        {{ govukButton({
          text: "Export data"
        }) }}

      </form>
    </div>
  </div>



{% endblock %}
