{% extends "_layout-register.njk" %}

{% set title = "Invite your training providers to " + serviceName | lower  %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>

      <!-- <p class="govuk-body">{{ accreditingBody.name }} ratifies courses run by:</p> -->

      {% if trainingProvidersNotOnboarded | length %}

        <p class="govuk-body">[placeholder - not onboarded]</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for provider in trainingProvidersNotOnboarded %}
            <li>
              {{ provider.name }}
            </li>
          {% endfor %}
        </ul>

      {% else %}

        <!-- there's nothing for the HEI to do -->

      {% endif %}

      {% if trainingProvidersOnboarded | length %}

        <p class="govuk-body">[placeholder - already onboarded]</p>

        <ul class="govuk-list govuk-list--bullet">
          {% for provider in trainingProvidersOnboarded %}
            <li>
              {{ provider.name }}
            </li>
          {% endfor %}
        </ul>

      {% endif %}

      <p class="govuk-body">For each provider, you’ll need to confirm:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          who should be invited to set up an account for a provider which does not already have one - you may need to give a name and email address
        </li>
      </ul>

      <p class="govuk-body">You’ll also need to accept a data sharing agreement on behalf of {{ accreditingBody.name }}.</p>

      {{ govukButton({
        text: "Continue",
        href: actions.next,
        classes: "govuk-!-margin-top-5"
      }) }}

    </div>
  </div>
{% endblock %}
