{% extends "_layout.njk" %}

{% set primaryNavId = "performance" %}
{% set subNavId = "applications" %}
{% set pageName = "Applications" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/performance",
    text: "Statistics"
  }, {
    text: "Applications"
  }]
}) }}
{% endblock %}

{% block content %}

{% include "_includes/performance/header.njk" %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ appGlanceMetric({
      heading: {
        text: "Applications received"
      },
      metric: {
        figure: totalApplications
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appGlanceMetric({
      heading: {
        text: "Applications rejected"
      },
      metric: {
        figure: statusCounts['Rejected']
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appGlanceMetric({
      heading: {
        text: "Offers outstanding"
      },
      metric: {
        figure: statusCounts['Offered']
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appGlanceMetric({
      heading: {
        text: "Offers accepted"
      },
      metric: {
        figure: statusCounts['Ready to enroll']
      }
    }) }}
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ appGlanceMetric({
      heading: {
        text: "Metric 5"
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appGlanceMetric({
      heading: {
        text: "Metric 6"
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appGlanceMetric({
      heading: {
        text: "Metric 7"
      }
    }) }}
  </div>
  <div class="govuk-grid-column-one-quarter">
    {{ appGlanceMetric({
      heading: {
        text: "Metric 8"
      }
    }) }}
  </div>
</div>

<p class="govuk-body">
  <a class="govuk-link" href="/performance/applications/detail">Detailed data</a>
</p>


{% endblock %}
