{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "offer" %}
{% set status = application.status %}
{% set name = application.personalDetails.name %}
{% set title = 'Offer - ' + name %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% set rbd = application.submittedDate | addDays(40) %}
  {% set remaining = rbd | daysFromNow(rbd) %}

  <h1 class="govuk-heading-xl govuk-!-margin-bottom-6">
    {{name}}
    <span class="govuk-visually-hidden">Offer</span>
    {{ govukTag({ classes: status | statusClass, text: statusText })}}
  </h1>

  {% include "_includes/applications/header.njk" %}

  {% include "_includes/applications/sub-nav.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">Offer</h2>

      <div class="app-temp-offer-wrapper">
        {{appOfferPanel({
          withdraw: {
            href: "/applications/" + application.id + "/offer/withdraw"
          } if application.status == "Offered" or application.status == "Deferred",
          defer: {
            href: "/applications/" + application.id + "/offer/defer/check"
          } if application.status == "Awaiting conditions" or application.status == "Ready to enroll",
          provider: {
            value: application.offer.provider,
            href: "/applications/"+application.id+"/offer/edit-provider" if application.status == "Offered"
          },
          course: {
            value: application.offer.course,
            href: "/applications/"+application.id+"/offer/edit-course" if application.status == "Offered"
          },
          location: {
            value: application.offer.location,
            href: "/applications/"+application.id+"/offer/edit-location" if application.status == "Offered"
          },

          changeConditions: {
            href: "/applications/" + application.id + "/offer/edit-conditions"
          } if application.status == "Offered",

          changeStatus: {
            href: "/applications/" + application.id + "/offer/edit-condition-statuses"
          } if application.status == "Awaiting conditions",

          conditions: {
            items: conditions
          }
        })}}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {# <div class="app-box">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Offer details</h2>
        <p><a href="/applications/{{application.id}}/offer/withdraw">Withdraw offer</a></p>
        <p><a href="/applications/{{application.id}}/offer/defer">Defer offer</a></p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offer date</h3>
        <p>{{application.offer.madeDate | govukDate}}</p>
      </div> #}
    </div>
  </div>
{% endblock %}
