{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "offer" %}
{% set status = application.status %}
{% set name = application.personalDetails.name %}
{% set pageName = 'Offer' %}
{% set title = pageName + ' - ' + application.personalDetails.name %}

{% set locationHtml %}
<p class="govuk-body">
  {% if application.offer.location.name.length %}
    {{ application.offer.location.name }}<br>
    {% if application.offer.location.address.address1.length %}
      {{ application.offer.location.address.address1 }}<br>
    {% endif %}
    {% if application.offer.location.address.address2.length %}
      {{ application.offer.location.address.address2 }}<br>
    {% endif %}
    {% if application.offer.location.address.address3.length %}
      {{ application.offer.location.address.address3 }}<br>
    {% endif %}
    {% if application.offer.location.address.town.length %}
      {{ application.offer.location.address.town }}<br>
    {% endif %}
    {% if application.offer.location.address.postcode.length %}
      {{ application.offer.location.address.postcode }}<br>
    {% endif %}
  {% else %}
    {{ application.offer.location }}
  {% endif %}
</p>
{% endset %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% include "_includes/applications/h1.njk" %}
  {% include "_includes/applications/sub-nav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">{{pageName}}</h2>

      <div class="app-temp-offer-wrapper">
        {{appOfferPanel({
          transferred: query.transferred,
          withdraw: {
            href: "/applications/" + application.id + "/offer/withdraw"
          } if application.status == "Offered" or application.status == "Deferred",
          defer: {
            href: "/applications/" + application.id + "/offer/defer/check"
          } if application.status == "Conditions pending" or application.status == "Recruited",
          provider: {
            value: application.offer.provider,
            href: "/applications/"+application.id+"/offer/edit/provider?referrer=offer" if application.status == "Offered" and not query.transferred
          },
          course: {
            value: application.offer.course,
            href: "/applications/"+application.id+"/offer/edit/course?referrer=offer" if application.status == "Offered" and not query.transferred
          },
          location: {
            value: locationHtml,
            href: "/applications/"+application.id+"/offer/edit/location?referrer=offer" if application.status == "Offered" and not query.transferred
          },
          accreditedBody: {
            value: application.offer.accreditedBody
          },

          changeConditions: {
            href: "/applications/"+application.id+"/offer/edit/conditions?referrer=offer"
          } if application.status == "Offered",

          changeStatus: {
            href: "/applications/" + application.id + "/offer/edit-condition-statuses"
          } if application.status == "Conditions pending",

          conditions: {
            items: conditions
          }
        })}}
      </div>
    </div>
    <div class="govuk-grid-column-one-third">
      {# <div class="app-box">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">Offer details</h2>
        <p><a href="/applications/{{application.id}}/offer/withdraw">Withdraw offer</a></p>
        <p><a href="/applications/{{application.id}}/offer/defer">Defer offer</a></p>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">Offer date</h3>
        <p>{{application.offer.madeDate | govukDate}}</p>
      </div> #}
    </div>
  </div>
{% endblock %}
