{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set subNavId = "offer" %}
{% set status = application.status %}
{% set name = application.personalDetails.name %}
{% set pageName = "Offer" %}
{% set title = pageName + " - " + application.personalDetails.name %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% include "_includes/applications/h1.njk" %}
  {% include "_includes/applications/sub-nav.njk" %}

  <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">
    {{ pageName }}
  </h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {% if application.status == "Conditions pending" or application.status == "Recruited" %}
        <div class="govuk-inset-text govuk-!-margin-top-0">
          <p>To change this offer, send proof that the candidate agrees and details of the changes to <a href="#">becomingateacher@digital.education.gov.uk</a>.</p>
        </div>
      {% endif %}

      {% set offerHtml %}

      <div class="app-bo">
        {{ appOfferPanel({
          transferred: query.transferred,
          showChangeOfferInstructions: application.status == "Conditions pending" or application.status == "Recruited",
          withdraw: {
            href: "/applications/" + application.id + "/offer/withdraw"
          } if application.status == "Offered" or application.status == "Deferred",
          defer: {
            href: "/applications/" + application.id + "/offer/defer/check"
          } if application.status == "Conditions pending" or application.status == "Recruited",
          provider: {
            value: application.offer.provider,
            href: "/applications/" + application.id + "/offer/edit/provider?referrer=offer" if application.status == "Offered" and not query.transferred and 1 == 0
          },
          course: {
            value: application.offer.course,
            href: "/applications/" + application.id + "/offer/edit/course?referrer=offer" if application.status == "Offered" and not query.transferred
          },
          qualifications: {
            value: application.offer.qualifications | arrayToList(', ',' with ')
          },
          studyMode: {
            value: application.offer.studyMode,
            href: "/applications/" + application.id + "/offer/edit/study-mode?referrer=offer" if application.status == "Offered" and course.studyModes.length > 1 and not query.transferred
          },
          location: {
            value: application.offer.location,
            href: "/applications/" + application.id + "/offer/edit/location?referrer=offer" if application.status == "Offered" and course.locations.length > 1 and not query.transferred
          },
          accreditedBody: {
            value: application.offer.accreditedBody
          } if application.offer.accreditedBody != application.offer.provider,
          fundingType: {
            value: application.offer.fundingType
          },
          changeConditions: {
            href: "/applications/" + application.id + "/offer/edit/conditions?referrer=offer"
          } if application.status == "Offered",
          changeStatus: {
            href: "/applications/" + application.id + "/offer/edit-condition-statuses"
          } if application.status == "Conditions pending",
          conditions: {
            items: conditions
          }
        })}}

        {% endset %}

        {# {{appSummaryCard({
          titleText: application.offer.course,
          classes: "govuk-!-margin-bottom-",
          actions: {
            items: [{
              href: '/applications/' + application.id + '/offer/defer/check',
              html: 'Defer offer'
            } if application.status == "Conditions pending" or application.status == "Recruited", {
              href: '/applications/' + application.id + '/offer/withdraw',
              html: 'Withdraw offer'
            } if application.status == "Offered" or application.status == "Deferred"]
          },
          html: offerHtml
        })}} #}

        {{offerHtml | safe}}

      </div>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
  </div>
{% endblock %}
