{% extends "_layout.njk" %}

{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}

{% set title = "Confirm condition not met" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/condition/' + condition.id + '/change-status'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {{ govukInsetText({
        text: condition.description
      }) }}

      {{ govukWarningText({
        text: "We'll tell the candidate they've failed to meet the conditions of the offer and will not be enrolled onto the course.",
        iconFallbackText: "Warning"
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Confirm not met",
          classes: 'govuk-button--warning'
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
