{% extends "_layout.njk" %}

{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}

{% set title = "Confirm ‘" + condition.description + "’ has not been met" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/condition/' + condition.id + '/change-status'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{title}}</h1>

      {% include "_includes/offer-summary.njk" %}
      {% if hasOnlyOneConditionNotMet %}
        {# <p>You will not be able to change the status of the conditions after marking this condition as met.</p> #}
      {% endif %}

      <form method="post">
        {{ govukButton({
          text: "Confirm condition as not met",
          classes: 'govuk-button--warning'
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
