{% extends "_layout.njk" %}

{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}

{% set title = "Confirm condition has not been met" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/condition/' + condition.id + '/change-status'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{title}}</h1>

      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Candidate"
          },
          value: {
            text: name
          }
        }, {
          key: {
            text: "Condition"
          },
          value: {
            text: condition.description
          }
        } ]
      }) }}

      {{ govukWarningText({
        text: "The candidate will be told that they've failed to meet the conditions of the offer and will not be enroled onto the course.",
        iconFallbackText: "Warning"
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Confirm condition as not met",
          classes: 'govuk-button--warning'
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
