{% extends "_layout.njk" %}

{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}

{% set title = "Confirm condition met" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/condition/' + condition.id + '/change-status'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {{ govukInsetText({
        text: condition.description
      }) }}

      {% if hasOnlyOneConditionNotMet %}
        {{ govukWarningText({
          text: "We'll tell the candidate they've met all of their conditions, and you'll be in touch about enrolment.",
          iconFallbackText: "Warning"
        }) }}
      {% endif %}


      <form method="post">
        {{ govukButton({
          text: "Confirm met"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
