{% extends "_layout.njk" %}

{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = "Update status of condition" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <span class="govuk-caption-xl">{{name}}</span> #}
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {{ govukSummaryList({
  rows: [{
    key: {
      text: "Candidate"
    },
    value: {
      text: name
    }
  }, {
    key: {
      text: "Condition"
    },
    value: {
      text: condition.description
    }
  } ]
}) }}



      <form method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Choose status",
              classes: "govuk-fieldset__legend--m"
            }
          },
          idPrefix: "conditionstatus",
          name: "conditionstatus",
          items: [{
            value: "Pending",
            text: "Pending",
            checked: condition.status == 'Pending'
          }, {
            value: "Met",
            text: "Met",
            checked: condition.status == 'Met'
          }, {
            value: "Not met",
            text: "Not met",
            checked: condition.status == 'Not met'
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
