{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set status = application.status %}
{% set caption = content.createInterview.caption + ' - ' + application.personalDetails.name %}
{% set heading = 'Interview details' %}
{% set title = heading + ' - ' + caption %}

{% set backUrl %}/applications/{{application.id}}{% endset %}
{% if application.interviews.items.length > 0 %}
{% set backUrl %}/applications/{{application.id}}/interviews{% endset %}
{% endif %}

{% set cancelUrl %}{{backUrl}}{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    href: backUrl
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form method="post" action="/applications/{{ application.id }}/interviews/new/scheduling">

        {{ govukRadios({
          idPrefix: "scheduleWithManage",
          name: "scheduleWithManage",
          fieldset: {
            legend: {
                text: "How do you want to arrange this interview?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Use this service to schedule the interview",
              hint: {
                text: "You’ll be able to enter the date and time. This service will email the details to the candidate"
              }
            },
            {
              value: "no",
              text: "I'll arrange the interview on a different system",
              hint: {
                text: "This will log the candidate as 'interviewing'. You’ll need to contact the candidate yourself to organise the date and time with them"
              }
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}


        <p class="govuk-body">Set your <a href="/organisation-settings/{{orgId}}/interview-preferences">interview scheduling preference</a> to avoid answering this question each time.</p>

      </form>

    </div>
  </div>
{% endblock %}
