{% extends "_layout-register.njk" %}

{% set title = "Register (v2)" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {{- title -}}
      </h1>

      <ul class="govuk-list">
        {% for organisation in organisations %}
          <li>
            <a href="/register/{{ organisation.id }}/start">{{ organisation.name }}</a>
          </li>
        {% endfor %}
      </ul>

    </div>
  </div>
{% endblock %}
