{% extends "_layout-register.njk" %}

{% set title = "Do you want to open courses at " + trainingProvider.name + "?" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <!-- <span class="govuk-caption-l">{{ accreditingBody.name }}</span> -->

      <form action="{{ actions.save }}" method="post" novalidate>

        {% set contactHtml %}

          {{ govukInput({
            id: "name",
            name: "registration[onboarding][contactName]",
            label: {
              text: "Name",
              classes: "govuk-label--s"
            },
            value: trainingProvider.contactName
          }) }}

          {{ govukInput({
            id: "email",
            name: "registration[onboarding][contactEmail]",
            label: {
              text: "Email address",
              classes: "govuk-label--s"
            },
            value: trainingProvider.contactEmail
          }) }}

        {% endset %}

        {{ govukRadios({
          idPrefix: "onboard",
          name: "registration[onboarding][onboard]",
          fieldset: {
            legend: {
              text: title,
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "This user will be set up on Manage teacher training applications and they’ll be able to change permissions on courses they run and you ratify"
          },
          items: [
            {
              value: "yes",
              text: "Yes",
              conditional: {
                html: contactHtml
              },
              checked: checked(trainingProvider.onboard, "yes")
            },
            {
              value: "no",
              text: "No",
              checked: checked(trainingProvider.onboard, "no")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
