{% extends "_layout.njk" %}

{% set primaryNavId = "reports" %}
{% set pageName = "Reports" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">
      {{ pageName }}
    </h1>

    {% if organisations.length == 1 %}

      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a class="govuk-link" href="/reports/export">
            Export application data
          </a>
        </li>
        <li>
          <a class="govuk-link" href="/reports/hesa">
            Export data for Higher Education Statistics Agency (HESA)
          </a>
        </li>
        <li>
          <a class="govuk-link" href="/reports/{{ organisation.id }}/status-of-applications">
            Status of active applications <span class="govuk-visually-hidden">for {{ organisation.name }}</span>
          </a>
        </li>
        <li>
          <a class="govuk-link" href="/reports/{{ organisation.id }}/candidate-drop-out">
            Candidate drop out rate <span class="govuk-visually-hidden">for {{ organisation.name }}</span>
          </a>
        </li>
      </ul>

    {% else %}

      <ul class="govuk-list govuk-list--spaced">
        <li>
          <a class="govuk-link" href="/reports/export">
            Export application data
          </a>
        </li>
        <li>
          <a class="govuk-link" href="/reports/hesa">
            Export data for Higher Education Statistics Agency (HESA)
          </a>
        </li>
      </ul>

      {% for organisation in organisations %}

        {% if organisations.length > 1 %}
          <h2 class="govuk-heading-m">{{ organisation.name }}</h2>
        {% endif %}

        <ul class="govuk-list govuk-list--spaced">
          <li>
            <a class="govuk-link" href="/reports/{{ organisation.id }}/status-of-applications">
              Status of active applications <span class="govuk-visually-hidden">for {{ organisation.name }}</span>
            </a>
          </li>
          <!-- <li>
            <a class="govuk-link" href="/reports/{{ organisation.id }}/progress-of-applications">
              Progress of applications <span class="govuk-visually-hidden">for {{ organisation.name }}</span>
            </a>
          </li> -->
          <li>
            <a class="govuk-link" href="/reports/{{ organisation.id }}/candidate-drop-out">
              Candidate drop out rate <span class="govuk-visually-hidden">for {{ organisation.name }}</span>
            </a>
          </li>
          <!-- <li>
            <a class="govuk-link" href="/reports/{{ organisation.id }}/candidate-success">
              Candidate success rate <span class="govuk-visually-hidden">for {{ organisation.name }}</span>
            </a>
          </li> -->
        </ul>

      {% endfor %}

    {% endif %}

  </div>
</div>

{% endblock %}
