{% extends "_layout.njk" %}

{% set name = application.personalDetails.name %}

{% set title = "Check and confirm changes to offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/offer/edit-provider/location'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{appOfferPanel({
        provider: {
          value: application.provider,
          href: "/application/" + application.id + "/offer/edit-provider"
        },
        course: {
          value: application.course,
          href: "/application/" + application.id + "/offer/edit-provider/course"
        },
        location: {
          value: application.location,
          href: "/application/" + application.id + "/offer/edit-provider/location"
        },
        studyMode: {
          value: "Full time",
          href: "#"
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "#"
        }
      })}}

      {{ govukWarningText({
        text: "By making this offer, you guarantee a place on this course as long as the candidate meets the conditions. We’ll email the candidate with the details of this offer."
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Confirm new offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}/offer">Cancel</a></p>
    </div>
  </div>

{% endblock %}
