{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}

{% set application = data.applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/" + application.id
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">
        {{name}}
      </span>
      <h1 class="govuk-heading-xl">
        Check and confirm deferral to next cycle (2020 to 2021)
      </h1>

      <p>The course you are offering is not open for 2020 to 2021 yet. When the next cycle starts, we’ll prompt you to check and confirm the details of your offer.</p>

      <p>You'll be able to change the conditions, course, location or provider if you need to.</p>

      <p>We’ll notify the candidate you’ve deferred their offer to the next cycle.</p>

      <form method="post">
        {{ govukButton({
          text: "Confirm deferral to next cycle"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
