{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "notes" %}
{% set name = application.personalDetails.name %}
{% set pageName = 'Notes' %}
{% set title = pageName + ' - ' + application.personalDetails.name %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% include "_includes/applications/h1.njk" %}
  {% include "_includes/applications/sub-nav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">{{pageName}}</h2>

      {{ govukInsetText({
        text: "The candidate cannot view notes."
      }) }}

      {# <p></p> #}

      {% if not query.transferred %}
        {{govukButton({
          text: "Add note",
          href: "/applications/" + application.id + "/notes/new",
          classes: "govuk-button--secondary"
        })}}
      {% endif %}

      {% if application.notes.items.length %}
        <div class="app-notes">
          {% for note in application.notes.items | reverse%}
            <div class="app-notes__note" id="note_{{note.id}}">
              {# {{ govukInsetText({
                classes: 'govuk-!-margin-top-2 govuk-!-margin-bottom-2 govuk-!-padding-top-0 govuk-!-padding-bottom-0',
                html: note.message | safe | nl2br
              }) }} #}
              <p class="govuk-!-margin-bottom-1">{{note.message | safe | nl2br}}</p>

              <p class="govuk-!-margin-bottom-1 govuk-hint govuk-!-font-size-16">Created by {{note.sender}} on {{note.date | govukDateAtTime }}. Most recently updated by John Oates on {{note.date | govukDateAtTime}}.</p>
              <p class="govuk-!-margin-bottom-1"><a class="govuk-!-margin-right-1" href="/applications/{{application.id}}/notes/{{note.id}}/edit">Change</a> <a href="/applications/{{application.id}}/notes/{{note.id}}/delete">Delete</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}

    </div>
  </div>
{% endblock %}
