{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "notes" %}
{% set name = application.personalDetails.name %}
{% set pageName = 'Notes' %}
{% set title = pageName + ' - ' + application.personalDetails.name %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  {% include "_includes/applications/h1.njk" %}
  {% include "_includes/applications/sub-nav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-l govuk-!-margin-bottom govuk-!-font-size-36">{{pageName}}</h2>


      {% if application.notes %}

        {% if not query.transferred %}
          {{govukButton({
            text: "Add note",
            href: "/applications/" + application.id + "/notes/new",
            classes: "govuk-button--secondary"
          })}}
        {% endif %}

        <div class="app-notes">
          {% for note in application.notes.items %}
            <div class="app-notes__note">
              <p class="govuk-!-margin-bottom-1">{{note.message | nl2br}}</p>
              <p class="app-notes__meta">{{note.sender}}, {{note.date | govukDateAtTime }}</p>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>Notes are only seen by you and colleagues. We'll guide you through note creation.</p>

        {{govukButton({
          text: "Add note",
          href: "/applications/" + application.id + "/notes/first-time",
          classes: "govuk-button--secondary"
        })}}
      {% endif %}

    </div>
  </div>
{% endblock %}
