{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "notes" %}
{% set status = application.status %}
{% set name = application.personalDetails.name %}
{% set caption = application.personalDetails.name %}
{% set heading = 'Add note' %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/notes"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{ heading }}</h1>

      <form method="post">
        {{ govukCharacterCount({
          label: {
            text: 'Note',
            classes: "govuk-label--m",
            isPageheading: false
          },
          maxlength: 500,
          id: "note",
          name: "note",
          type: "text"
        }) }}

        {{govukButton({
          text: 'Save note'
        })}}

        <p><a href="/applications/{{application.id}}/notes">Cancel</a></p>
      </form>

    </div>
  </div>
{% endblock %}
