{{ appSubNavigation({
  navigationLabel: 'Performance menu',
  items: [{
    text: 'Applications',
    href: '/performance',
    active: (subNavId == "applications")
  },{
    text: 'Candidates',
    href: '/performance/candidates',
    active: (subNavId == "candidates")
  }]
}) }}
