{% from "govuk/components/character-count/macro.njk"              import govukCharacterCount %}

{{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Details",
      classes: "govuk-label--s"
    },
    id: "rejection-" + params.category + "-reasons-" + params.reason,
    name: 'rejection[' + params.category + '-reasons-' + params.reason +']',
    value: params.data['rejection'][params.category + '-reasons-' + params.reason]
  }) }}
