{% extends "_layout.njk" %}

{% set primaryNavId = "statistics" %}
{% set sectionName = section | capitalize %}
{% set pageName = "Courses by year" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/statistics",
    text: "Statistics"
  }, {
    text: pageName
  }]
}) }}
{% endblock %}

{% block content %}

{% include "_includes/statistics/header.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-body">
      <a class="govuk-link" href="/statistics/{{ section }}/{{ report }}/configure">Configure report</a>
    </p>

    {% if hasOptions %}
      {% include "_includes/statistics/selected-config-options.njk" %}
    {% endif %}

    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-top-5">{{ pageName }}</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Course</th>
          <th scope="col" class="govuk-table__header">Applications 2020 to 2021</th>
          <th scope="col" class="govuk-table__header">Applications 2019 to 2020</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for subject in subjects %}
          {% if (data.statisticsOptions.subjectLevel and subject.level in data.statisticsOptions.subjectLevel) or (not data.statisticsOptions.subjectLevel.length) %}
            <tr class="govuk-table__row">
              {% if data.statisticsOptions.status %}
                <th scope="row" class="govuk-table__header">{{ subject.name }} (AB{{ subject.code }})</th>
              {% else %}
                <td scope="row" class="govuk-table__cell">{{ subject.name }} (AB{{ subject.code }})</td>
              {% endif %}
              <td class="govuk-table__cell">{{ subjectCountsCurrentCycle[subject.name]['total'] }}</td>
              <td class="govuk-table__cell">{{ subjectCountsPreviousCycle[subject.name]['total'] }}</td>
            </tr>
            {% if data.statisticsOptions.status %}
              {% for status in statuses %}
                {% if status in data.statisticsOptions.status %}
                <tr class="govuk-table__row">
                  <td scope="row" class="govuk-table__cell app-table__cell--indent">{{ status }}</td>
                  <td class="govuk-table__cell">{{ subjectCountsCurrentCycle[subject.name][status] }}</td>
                  <td class="govuk-table__cell">{{ subjectCountsPreviousCycle[subject.name][status] }}</td>
                </tr>
                {% endif %}
              {% endfor %}
            {% endif %}
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <p class="govuk-body">
      <a class="govuk-link" href="#">Download <span class="govuk-visually-hidden">{{ pageName | lower }}</span> data</a>
    </p>

  </div>
</div>

{% endblock %}
