{% extends "_layout.njk" %}

{% set primaryNavId = "statistics" %}
{% set sectionName = "Applications" %}
{% set pageName = "Course diversity – ethnicity" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/statistics",
    text: "Statistics"
  }, {
    text: pageName
  }]
}) }}
{% endblock %}

{% block content %}

{% include "_includes/statistics/header.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <p class="govuk-body">
      <a class="govuk-link" href="/statistics/applications/course-diversity-sex/configure">Configure report</a>
    </p>

    {% if hasOptions %}
      {% include "_includes/statistics/selected-config-options.njk" %}
    {% endif %}

    <table class="govuk-table">
      <!-- <caption class="govuk-table__caption govuk-table__caption--m govuk-!-margin-top-5">{{ pageName }}</caption> -->
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Courses</th>
          {% for nationality in nationalities %}
            {% if (data.nationality and nationality in data.nationality) or (not data.nationality.length) %}
              <th scope="col" class="govuk-table__header">{{ nationality | getNationalityLabel }}</th>
            {% endif %}
          {% endfor %}
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for subject in subjects %}
          {% if (data.subjectLevel and subject.level in data.subjectLevel) or (not data.subjectLevel.length) %}
            <tr class="govuk-table__row">
              <td scope="row" class="govuk-table__cell">{{ subject.name }} (AB{{ subject.code }})</td>
              {% for nationality in nationalities %}
                {% if (data.nationality and nationality in data.nationality) or (not data.nationality.length) %}
                  <td class="govuk-table__cell">{{ subjectCounts[subject.name][nationality] }}</td>
                {% endif %}
              {% endfor %}
            </tr>
          {% endif %}
        {% endfor %}
      </tbody>
    </table>

    <p class="govuk-body">
      <a class="govuk-link" href="#">Download <span class="govuk-visually-hidden">{{ pageName | lower }}</span> data</a>
    </p>

  </div>
</div>

{% endblock %}
