{% extends "_layout.njk" %}

{% set primaryNavId = "reports" %}
{% set pageName = "Status of active applications" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/reports",
    text: "Reports"
  }, {
    text: pageName
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageName }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <p class="govuk-body"><a class="govuk-link" href="/reports/{{organisation.id }}/status-of-applications/download" download>Export data (CSV)</a></p>

      <table id="status" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Course</th>
            {% for status in statuses %}
              <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width: 12%">{{ status.title }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for row in statusData %}
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                {{ row.title }} {{ "(" + row.code + ")" if row.code }}
                {% if organisation.name != row.provider %}
                  <span class="govuk-hint govuk-!-margin-bottom-0">{{ row.provider }}</span>
                {% endif %}
              </th>
              {% for status in statuses %}
                <td class="{{ 'govuk-table__header govuk-table__header--numeric' if row.code | upper == 'TOTAL' else 'govuk-table__cell govuk-table__cell--numeric'}}">
                  {{ row[status.code]['number'] | numeral('0,0') }}
                </td>
              {% endfor %}
          </tr>
          {% endfor %}

        </tbody>
        <tfoot class="govuk-table__foot">
          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header">Total</th>
            {% for status in statuses %}
              <td class="govuk-table__header govuk-table__header--numeric">
                {{ statusTotals[status.code]['number'] | numeral('0,0') }}
              </td>
            {% endfor %}
          </tr>
        </tfoot>
      </table>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
