<div class="app-applicable-permissions-inline {{- ' ' + params.classes if params.classes}}">
  <p>This user permission is affected by organisation permissions.
  {% if params.applicableOrgs.length and params.nonApplicableOrgs.length %}
    <p>It currently applies to courses you work on with:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in params.applicableOrgs %}
        <li>{{ item.name }}</li>
      {% endfor %}
    </ul>
    <p>It currently does not apply to courses you work on with:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in params.nonApplicableOrgs %}
        <li>{{ item.name }}</li>
      {% endfor %}
    </ul>
  {% elseif params.applicableOrgs.length and not params.nonApplicableOrgs.length %}
    <p>It currently applies to courses you work on with all of your partner organisations:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in params.applicableOrgs %}
        <li>{{ item.name }}</li>
      {% endfor %}
    </ul>
  {% elseif not params.applicableOrgs.length and params.nonApplicableOrgs.length %}
    <p>It currently does not apply to courses you work on with any of your partner organisations:</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in params.nonApplicableOrgs %}
        <li>{{ item.name }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>

