{% extends "_layout.njk" %}

{% set title = "Set up notifications" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/onboard-notifications/setup-1"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{title}}</span>
      <h1 class="govuk-heading-xl">For applications to courses run by {{ data.user.organisations[1].name }} and ratified by Teaching Brilliance University</h1>

      {% macro notificationField(params) %}
        {% set applicationSubmittedFrequencyHtml %}
          {{ govukCheckboxes({
            idPrefix: params.name + "-frequency",
            name: params.name + "frequency",
            fieldset: {
              legend: {
                text: "Frequency",
                classes: "govuk-visually-hidden"
              }
            },
            items: [
              {
                value: "Immediately",
                text: "Immediately"
              },
              {
                value: "Daily summary at 8am",
                text: "Daily summary at 8am"
              },
              {
                value: "Weekly summary on Monday at 8am",
                text: "Weekly summary on Monday at 8am"
              }
            ]
          }) }}
        {% endset %}

        {{ govukCheckboxes({
          idPrefix: params.name,
          name: params.name,
          fieldset: {
            legend: {
              html: params.legend,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "By email",
              html: "By email",
              conditional: {
                html: applicationSubmittedFrequencyHtml
              }
            },
            {
              value: "From the notifications at the top of every page",
              html: "Notifications area"
            }
          ]
        }) }}
      {% endmacro %}

      <form action="/onboard-notifications/check">

        {{notificationField({
          name: "application-submitted",
          legend: "Application submitted"
        })}}

        {{notificationField({
          name: "application-safeguarding",
          legend: "Application submitted with safeguarding issue	"
        })}}

        {{notificationField({
          name: "application-over-5-days",
          legend: "Application submitted over 5 days ago, no response sent"
        })}}

        {{notificationField({
          name: "application-rejected-by-default",
          legend: "Application rejected by default"
        })}}

        {{notificationField({
          name: "application-withdrawn",
          legend: "Application withdrawn"
        })}}

        {{notificationField({
          name: "offer-accepted",
          legend: "Offer accepted"
        })}}

        {{notificationField({
          name: "offer-declined",
          legend: "Offer declined"
        })}}

        {{notificationField({
          name: "offer-declined-by-default",
          legend: "Offer declined by default"
        })}}

        {{notificationField({
          name: "note-added-to-application",
          legend: "Note added to application"
        })}}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

{% endblock %}
