{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}

{% set title = "Review offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/offer/reconfirm/unavailable-course/location"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <div class="app-offer-panel">
        <h2 class="govuk-heading-m">
          Course details
        </h2>
        {{ govukSummaryList({
          rows: [{
            key: {
              text: "Provider"
            },
            value: {
              html: application.provider
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/offer/reconfirm/change-provider",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }, {
            key: {
              text: "Course"
            },
            value: {
              html: application.course
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/offer/reconfirm/change-course",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }, {
            key: {
              text: "Location"
            },
            value: {
              html: data.location
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/offer/reconfirm/change-location",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }, {
            key: {
              text: "Full time or part time"
            },
            value: {
              html: "Full time"
            },
            actions: {
              items: [
                {
                  href: "/application/" + application.id + "/offer/reconfirm/change-study-mode",
                  text: "Change",
                  visuallyHiddenText: "conditions"
                }
              ]
            }
          }
        ]})
        }}

        <h2 class="govuk-heading-m">
          Conditions of offer
        </h2>

        {% if checked("settings", "hasCombinedConditions") %}
          <p><a href="/application/{{application.id}}/offer/reconfirm/unavailable-course/statuses">Update status of conditions</a> or <a href="/application/{{application.id}}/offer/reconfirm/unavailable-course/conditions">add or change conditions</a></p>
        {% else %}
          <p><a href="/application/{{application.id}}/offer/reconfirm/unavailable-course/conditions">Add or change conditions</a></p>
        {% endif %}

        <dl class="govuk-summary-list app-conditions-list govuk-!-margin-bottom-0 {% if checked("settings", "hasCombinedConditions") %}app-condition-list--combined{% endif %} ">
          {% for condition in conditions %}
            <div class="govuk-summary-list__row {% if loop.last %}govuk-summary-list__row--no-border{% endif %}">
              <dt class="govuk-summary-list__key">
                {{condition.description}}
              </dt>
              <dd class="govuk-summary-list__value app-conditions-list__tag">
                {% if condition.status == "Pending" %}
                    {% set statusClass = "app-tag--grey" %}
                  {% elseif condition.status == "Met" %}
                    {% set statusClass = "app-tag--green" %}
                  {% elseif condition.status == "Not met" %}
                    {% set statusClass = "app-tag--red" %}
                {% endif %}
                {{govukTag({ text: condition.status, classes: statusClass })}}
              </dd>
              {% if not checked("settings", "hasCombinedConditions") %}
                <dd class="govuk-summary-list__actions">
                  <a class="govuk-link" href="/application/{{application.id}}/offer/reconfirm/unavailable-course/condition/{{condition.id}}/change-status">
                  Update status<span class="govuk-visually-hidden"> of condition ‘{{condition.description}}’</span></a>
                </dd>
              {% endif %}
            </div>
          {% endfor %}
        </dl>
      </div>

      <p class="govuk-body">We’ll email the candidate to confirm their new offer and remind them of the conditions for it. </p>

      <form method="post">
        {{ govukButton({
          text: "Confirm offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
