{% extends "_layout.njk" %}

{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = "Select location" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/offer/reconfirm/unavailable-course/course"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
        {{title}}
      </h1>

{% set courseDetails %}
        <div class="govuk-!-margin-bottom-0">
          {# {{ govukSummaryList({
              classes: " govuk-!-margin-bottom-1",
              rows: [{
                key: {
                  text: "Provider"
                },
                value: {
                  html: application.provider
                }
              }, {
                key: {
                  text: "Course"
                },
                value: {
                  html: application.course
                }
              } if false, {
                key: {
                  text: "Location"
                },
                value: {
                  html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
                }
              }, {
                key: {
                  text: "Full time or part time"
                },
                value: {
                  html: "Full time"
                },
                classes: "govuk-summary-list__row--no-border"
              }
            ]})
          }} #}


                <h2 class="govuk-heading-m">
                  Course details
                </h2>
                {{ govukSummaryList({
                    rows: [{
                      key: {
                        text: "Provider"
                      },
                      value: {
                        html: application.provider
                      }
                    }, {
                      key: {
                        text: "Course"
                      },
                      value: {
                        html: application.course
                      }
                    }, {
                      key: {
                        text: "Location"
                      },
                      value: {
                        html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
                      }
                    }, {
                      key: {
                        text: "Full time or part time"
                      },
                      value: {
                        html: "Full time"
                      }
                    }
                  ]})
                }}

                <h2 class="govuk-heading-m">
                  Conditions of offer
                </h2>

                <dl class="govuk-summary-list app-conditions-list govuk-!-margin-bottom-0">
                  {% for condition in conditions %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{condition.description}}
                        {% if application.status == "Accepted" %}
                            <p class="govuk-body govuk-!-margin-bottom-0"><a href="/application/{{application.id}}/condition/{{condition.id}}/change-status">Update status</a></p>
                          {% endif %}
                      </dt>
                      <dd class="govuk-summary-list__value">
                        {% if condition.status == "Pending" %}
                            {% set statusClass = "app-tag--grey" %}
                          {% elseif condition.status == "Met" %}
                            {% set statusClass = "app-tag--green" %}
                          {% elseif condition.status == "Not met" %}
                            {% set statusClass = "app-tag--red" %}
                          {% endif %}
                          {{govukTag({ text: condition.status, classes: statusClass })}}
                      </dd>
                    </div>
                  {% endfor %}
                </dl>




        </div>
      {% endset %}

      <div class="app-offer-pane govuk-!-margin-bottom-4">
        {{ govukDetails({
          summaryText: "Details of deferred offer",
          html: courseDetails,
          classes: "govuk-!-margin-bottom-0 app-details--no-boder"
        }) }}
      </div>


      <form method="post">

        {{ govukRadios({
          fieldset: {
            legend: {
              classes: "govuk-visually-hidden"
            }
          },
          idPrefix: "location",
          name: "location",
          items: [{
            value: "Alliance Academy, Edgeware, Road Name, SW1 1AA",
            text: "Alliance Academy",
            hint: { text: 'Edgeware, Road Name, SW1 1AA' },
            checked: checked("location", "Alliance Academy, Edgeware, Road Name, SW1 1AA")
          }, {
            value: "Bruntcliffe Academy, Bruntcliffe Lane, Morley, Leeds, LS27 0LZ",
            text: "Bruntcliffe Academy",
            hint: { text: 'Bruntcliffe Lane, Morley, Leeds, LS27 0LZ' },
            checked: checked("location", "Bruntcliffe Academy, Bruntcliffe Lane, Morley, Leeds, LS27 0LZ")
          }]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    accessibleAutocomplete({
      name: "course",
      element: document.querySelector('#course-autocomplete-container'),
      id: 'course',
      showAllValues: true,
      source: [
        {% for course in courses %}"{{ course.name_and_code }}",{% endfor %}
      ]
    })
  </script>
{% endblock %}
