{% extends "_layout.njk" %}

{% set primaryNavId = 'account' %}
{% set subNavId = 'account' %}

{% set title = "Account" %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}



  {% include "_includes/profile-sub-nav.njk" %}

  <h1 class="govuk-heading-xl">{{title}}</h1>

  {% set permissionsHtml %}
  <p class="govuk-!-font-weight-bold">{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Manage organisation</p>

  <p class="govuk-!-font-weight-bold">{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Manage users</p>

  <p class="govuk-!-font-weight-bold">{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Make decisions</p>
  <div class="govuk-!-margin-left-5">
    <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
  <ul class="govuk-list">
    <li>{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} {{ data.accreditedBodies[0].name }}
    </li>
    <li>{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} {{ data.accreditedBodies[1].name }}
    </li>
  </ul>
  </div>

    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} View safeguarding information</p>
    <div class="govuk-!-margin-left-5">
      <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
        <ul class="govuk-list">
          <li>{{ appIcon({
            classes: "govuk-!-margin-right-1",
            icon: "tick",
            hidden: true
          }) }} {{ data.accreditedBodies[0].name }}
        </li>
        <li>{{ appIcon({
            classes: "govuk-!-margin-right-1",
            icon: "tick",
            hidden: true
          }) }} {{ data.accreditedBodies[1].name }}
        </li>
      </ul>
    </div>
  {% endset %}

  {% set permissions2Html %}
    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Manage organisation</p>

    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Manage users</p>

    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Make decisions</p>
          <div class="govuk-!-margin-left-5">
      <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
    <ul class="govuk-list">
      <li>{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} {{ data.accreditedBodies[1].name }}
      </li>
    </ul>
    </div>
    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Access safeguarding information</p>
    <div class="govuk-!-margin-left-5">
      <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
    <ul class="govuk-list">
      <li>{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} {{ data.accreditedBodies[1].name }}
      </li>
    </ul>
    </div>
  {% endset %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: "Angela"
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Shah"
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "ashah@tescitt.co.uk"
            }
          },
          {
            key: {
              text: "Organisations this user has access to"
            },
            value: {
              html: "<p>" + data.user.organisations[0].name + "</p><p>" + data.user.organisations[1].name + "</p>"
            }
          },
          {
            key: {
              text: "Permissions: " + data.user.organisations[0].name
            },
            value: {
              html: permissionsHtml
            }
          },
          {
            key: {
              text: "Permissions: " + data.user.organisations[1].name
            },
            value: {
              html: permissions2Html
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
