{% extends "_layout.njk" %}

{% set primaryNavId = 'account' %}
{% set subNavId = 'account' %}

{% set title = "Your account" %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <h2 class="govuk-heading-m">
        <a href="/account/profile">Profile</a>
      </h2>

      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change your name</li>
        <li>change your email address</li>
        <li>change your password</li>
        <li>check your permissions</li>
      </ul>

      <h2 class="govuk-heading-m">
        <a href="/account/notification-settings">Notifications</a>
      </h2>

      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>change which notifications you receive</li>
        <li>choose when you receive notifications</li>
        <li>choose how you receive notifications</li>
      </ul>

      <h2 class="govuk-heading-m">
        <a href="/users">Users</a>
      </h2>

      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>manage users and their permissions</li>
        <li>invite users</li>
      </ul>

      <h2 class="govuk-heading-m">
        <a href="/organisations">Organisational permissions</a>
      </h2>

      <p>Use this section to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>set permissions between your organisation and partner organisations</li>
        <li>check permissions between organisations</li>
      </ul>

    </div>
  </div>
{% endblock %}
