{% extends "_layout.njk" %}

{% set primaryNavId = 'account' %}
{% set subNavId = 'account' %}

{% set title = "Your account" %}

{% block content %}

    <h1 class="govuk-heading-l">
      Your account
    </h1>

    <ul class="govuk-list govuk-list--spaced">
      <li>
        <a href="account/personal-details">
          Personal details
        </a>
      </li>
      <li>
        <a href="account/permissions">
          User permissions
        </a>
      </li>
      <li>
        <a href="account/notifications">
          Email notifications
        </a>
      </li>
    </ul>

  </div>
{% endblock %}
