{% extends "_layout.njk" %}

{% set primaryNavId = 'account' %}
{% set title = "User permissions" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Your account",
      href: "/account"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">{{title}}</h1>
      <h2 class="govuk-heading-m">
        Access to organisations
      </h2>

        <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Organisations you have access to
            </dt>
            <dd class="govuk-summary-list__value">
              {% for org in user.organisations %}
                <p>{{org.name}}</p>
              {% endfor %}
            </dd>
          </div>
        </dl>

        {% for org in orgs %}

          {% set runOrRatified %}
            {% if org.org.isAccreditedBody %}
              run
            {% else %}
              ratified
            {% endif %}
          {% endset %}

          {% set hasAdditionalPermissions = [true, false] | random %}

          <h2 class="govuk-heading-m">
            Permissions for {{org.org.name}}
          </h2>

          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              User permissions
            </dt>
            <dd class="govuk-summary-list__value">
              {% if hasAdditionalPermissions %}
                Additional user permissions
              {% else %}
                View applications (excluding sensitive information)
              {% endif %}
            </dd>
          </div>
          {% if hasAdditionalPermissions %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Additional user permissions
              </dt>
              <dd class="govuk-summary-list__value">
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      Manage organisational permissions
                    </p>
                  </div>
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-0">
                      Manage users
                    </p>
                  </div>
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      Make decisions and set up interviews
                    </p>
                    {{appPermissions({
                      runOrRatified: runOrRatified,
                      permissionDescription: "make decisions and set up interviews",
                      applicableOrgs: org.permissions.applicableOrgs.makeDecisions,
                      nonApplicableOrgs: org.permissions.
                      nonApplicableOrgs.makeDecisions
                    })}}
                  </div>
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      View safeguarding information
                    </p>
                    {{appPermissions({
                      runOrRatified: runOrRatified,
                      permissionDescription: "view criminal convictions and professional misconduct",
                      applicableOrgs: org.permissions.applicableOrgs.viewSafeguardingInformation,
                      nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewSafeguardingInformation
                    })}}
                  </div>
                  <div class="app-permission-item">
                    <p class="govuk-!-font-weight-bold govuk-!-margin-bottom-1">
                      View diversity information
                    </p>
                    {{appPermissions({
                      runOrRatified: runOrRatified,
                      permissionDescription: "view equality and diversity information",
                      applicableOrgs: org.permissions.applicableOrgs.viewDiversityInformation,
                      nonApplicableOrgs: org.permissions.nonApplicableOrgs.viewDiversityInformation
                    })}}
                  </div>
              </dd>
            </div>
          {% endif %}
          </dl>
        {% endfor %}
    </div>
  </div>
{% endblock %}
