{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set caption = content.makeOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = content.makeOffer.checkAnswers.heading%}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
{{ govukBackLink({
  href: actions.back
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ heading }}
      </h1>

      {% if data.skeRequired == 'yes' %}
        {% set skeCondition = {
          reason: data.skeReason,
          deadline: data.skeDeadline,
          lengthRequired: data.skeCourseLengthRequired
        }
      %}
      {% else %}
        {% set skeCondition = false %}
      {% endif %}

      <div class="app-bo">
      {{ appOfferPanel({
        provider: {
          value: course.provider.name or application.provider,
          href: "/applications/" + application.id + "/offer/new/provider?referrer=check" if 1 == 0
        },
        course: {
          value: course.name + " (" + course.code + ")",
          href: "/applications/" + application.id + "/offer/new/course?referrer=check"
        },
        studyMode: {
          value: studyMode,
          href: "/applications/" + application.id + "/offer/new/study-mode?referrer=check" if course.studyModes.length > 1
        },
        location: {
          value: appLocation(location),
          href: "/applications/" + application.id + "/offer/new/location?referrer=check" if course.locations.length > 1
        },
        accreditedBody: {
          value: course.accreditedBody.name
        } if course.accreditedBody.name != course.provider.name,
        qualifications: {
          value: course.qualifications | arrayToList(', ',' with ')
        },
        fundingType: {
          value: course.fundingType
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "/applications/" + application.id + "/offer/new?referrer=check"
        },
        skeCondition: skeCondition,
        applicationId: applicationId
      }) }}
      </div>
      <br>

      {{upcomingInterviews | log}}

      {% if upcomingInterviews.length == 1 %}
        {{ govukWarningText({
          text: "The candidate will be sent an email to tell them that the offer has been made and the upcoming interview has been cancelled."
        }) }}
      {% elseif upcomingInterviews.length > 1 %}
        {{ govukWarningText({
          text: "The candidate will be sent an email to tell them that the offer has been made and the upcoming interviews have been cancelled."
        }) }}
      {% else %}
        {{ govukWarningText({
          text: "The candidate will be sent an email to tell them that the offer has been made."
        }) }}
      {% endif %}

      <form method="post">
        {{ govukButton({
          text: content.makeOffer.checkAnswers.button
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>
    </div>
  </div>
{% endblock %}
