{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set caption = application.personalDetails.name %}
{% set title = "Check and send offer" %}

{% block pageNavigation %}
{{ govukBackLink({
  href: '/applications/' + application.id + '/offer/new'
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ title }}
      </h1>

      {{ appOfferPanel({
        provider: {
          value: data['new-offer'].provider or application.provider,
          href: "/applications/" + application.id + "/offer/new/provider?referrer=check" if 1 == 0
        },
        course: {
          value: data['new-offer'].course or application.course,
          href: "/applications/" + application.id + "/offer/new/course?referrer=check"
        },
        studyMode: {
          value: data['new-offer'].studyMode or application.studyMode,
          href: "/applications/" + application.id + "/offer/new/study-mode?referrer=check"
        },
        location: {
          value: location or (appLocation(application.location) if application.location.name else application.location),
          href: "/applications/" + application.id + "/offer/new/location?referrer=check"
        },
        accreditedBody: {
          value: application.accreditedBody
        },
        fundingType: {
          value: data['new-offer'].fundingType or application.fundingType
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "/applications/" + application.id + "/offer/new?referrer=check"
        }
      }) }}

      {% if upcomingInterviews.length == 1 %}
        <p class="govuk-body">The upcoming interview will be cancelled.</p>
      {% elseif upcomingInterviews.length > 1 %}
        <p class="govuk-body">Upcoming interviews will be cancelled.</p>
      {% endif %}

      <form method="post">
        {{ govukButton({
          text: "Send offer"
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="/applications/{{ application.id }}">Cancel</a>
      </p>
    </div>
  </div>
{% endblock %}
