{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = application.personalDetails.name %}
{% set title = "Check and send offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: '/applications/' + application.id + '/offer/new'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {{appOfferPanel({
        provider: {
          value: data["new-offer"].provider or application.provider,
          href: "/applications/" + application.id + "/offer/new/provider?referrer=/check"
        },
        course: {
          value: data["new-offer"].course or application.course,
          href: "/applications/" + application.id + "/offer/new/course?referrer=/check"
        },
        location: {
          value: data['new-offer'].location or (appLocation(application.location) if application.location.name else application.location),
          href: "/applications/" + application.id + "/offer/new/location?referrer=/check"
        },
        accreditedBody: {
          value: application.accreditedBody
        },
        studyMode: {
          value: "Full time",
          href: "#"
        },
        conditions: {
          items: conditions
        },
        changeConditions: {
          href: "/applications/" + application.id + "/offer/new?referrer=/check"
        }
      })}}

      {% if upcomingInterviews.length == 1 %}
        <p>The upcoming interview will be cancelled.</p>
      {% elseif upcomingInterviews.length > 1 %}
        <p>Upcoming interviews will be cancelled.</p>
      {% endif %}

      <form method="post">
        {{ govukButton({
          text: "Send offer"
        }) }}
      </form>
      <p class="govuk-body"><a href="/applications/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
