{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.makeOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = 'Further conditions of offer' %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "/applications/" + applicationId + "/offer/ske-length"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ heading }}
      </h1>

      <form action="/applications/{{ applicationId }}/offer/conditions-answer" method="post" accept-charset="UTF-8" novalidate>

      {% set referencesDetails %}

        {{ govukTextarea({
          name: "[new-offer][reference-details]",
          id: "references-details",
          rows: "5",
          value: data['new-offer']['reference-details'],
          label: {
            text: "Give details",
            classes: "govuk-label--s"
          },
          hint: {
            text: "Tell the candidate how many references they need and what type they should be."
          }
        }) }}
      {% endset %}

        {{ govukCheckboxes({
          idPrefix: "[new-offer][standard-conditions]",
          name: "[new-offer][standard-conditions]",
          fieldset: {
            legend: {
              text: "Standard conditions",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "Fitness to train to teach check",
            text: "Fitness to train to teach check",
            checked: checked("['new-offer']['standard-conditions']", "Fitness to train to teach check")
          }, {
            value: "Disclosure and Barring Service (DBS) check",
            text: "Disclosure and Barring Service (DBS) check",
            checked: checked("['new-offer']['standard-conditions']", "Disclosure and Barring Service (DBS) check")
          }]
        }) }}

        <h2 class="govuk-heading-m">References</h2>

        <p class="govuk-body">Candidates will be able to request references if they accept your offer. They’ll be advised that they need to receive 2 references.</p>

        <p class="govuk-body">If you have specific reference requirements, you can add them as an offer condition below.</p>

        <div class="app-add-another">

          <h2 class="govuk-heading-m govuk-!-margin-bottom-1 app-add-another__heading">Further conditions</h2>
          <p class="govuk-body">For example, completing their degree with a certain grade.</p>

          {% if conditions.length %}
            {% for condition in conditions %}

              <div class="app-add-another__item">
                {{ govukTextarea({
                  id: "[new-offer][conditions]["+loop.index0+"]",
                  name: "[new-offer][conditions]["+loop.index0+"]",
                  rows: 3,
                  label: {
                    text: "Condition " + loop.index,
                    classes: "govuk-label--s"
                  },
                  value: condition,
                  attributes: {
                    'data-name': '[new-offer][conditions][%index%]',
                    'data-id': '[new-offer][conditions][%index%]',
                    'data-label': 'Condition %index%'
                  }
                }) }}
                <button type="button" class="govuk-button govuk-button--secondary app-add-another__remove-button">Remove</button>
              </div>
            {% endfor %}
          {% else %}
            <div class="app-add-another__item govuk-!-display-none">
              {{ govukTextarea({
                id: "[new-offer][conditions][0]",
                name: "[new-offer][conditions][0]",
                rows: 3,
                label: {
                  text: "Condition " + 1,
                  classes: "govuk-label--s"
                },
                attributes: {
                  'data-name': '[new-offer][conditions][%index%]',
                  'data-id': '[new-offer][conditions][%index%]',
                  'data-label': 'Condition %index%'
                }
              }) }}
            </div>
          {% endif %}

          <div class="app-button-action">
            {{ govukButton({
              text: 'Add another condition',
              classes: 'govuk-button--secondary app-add-another__add-button govuk-!-margin-bottom-4'
            }) }}
          </div>
        </div>

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    new AppFrontend.AddAnother({
      container: $('.app-add-another'),
      allowNoFields: true
    });
  </script>
{% endblock %}
