{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.makeOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = 'Further conditions of offer' %}
{% set title = heading + ' - ' + caption %}

{% block pageNavigation %}
{{ govukBackLink({
  text: "Back",
  href: "/applications/" + applicationId + "/offer/ske-length"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ caption }}</span>
        {{ heading }}
      </h1>

      <form action="/applications/{{ applicationId }}/offer/conditions-answer" method="post" accept-charset="UTF-8" novalidate>


        {{ govukCheckboxes({
          idPrefix: "[new-offer][standard-conditions]",
          name: "[new-offer][standard-conditions]",
          fieldset: {
            legend: {
              text: "Statutory conditions",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "Fitness to train to teach check",
            text: "Health check (fitness to train to teach)",
            checked: checked("['new-offer']['standard-conditions']", "Fitness to train to teach check")
          }, {
            value: "Disclosure and Barring Service (DBS) check",
            text: "Enhanced criminal record check (DBS) check",
            checked: checked("['new-offer']['standard-conditions']", "Disclosure and Barring Service (DBS) check")
          }, {
            value: "Evidence of the right to study in the UK",
            text: "Evidence of the right to study in the UK",
            checked: true
          }]
        }) }}

        {{ govukCheckboxes({
          name: "[new-offer][qualification-evidence]",
          fieldset: {
            legend: {
              text: "Providing evidence of qualifications",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            value: "Degree certificate",
            text: "Degree certificate"
          }, {
            value: "GCSE maths certificate",
            text: "GCSE maths certificate"
          }, {
            value: "GCSE English certificate",
            text: "GCSE English certificate"
          }, {
            value: "GCSE science certificates",
            text: "GCSE science certificates"
          },{
            value: "IELTS English language test certificate",
            text: "IELTS English language test certificate"
          },{
            value: "Test of English as a Foreign Language (TOEFL) certificate",
            text: "Test of English as a Foreign Language (TOEFL) certificate"
          }, {
            value: "Other qualifications",
            text: "Other qualifications"
          }
          ]
        }) }}

        {{ govukCheckboxes({
          name: "[new-offer][other-safeguarding-checks]",
          fieldset: {
            legend: {
              text: "Other safeguarding checks",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [{
            text: "Criminal records check from another country",
            text: "Criminal records check from another country",
            hint: {
              text: "For example, a police certificate of good conduct"
            }
          }
          ]
        }) }}


        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body">
        <a class="govuk-link" href="{{ actions.cancel }}">Cancel</a>
      </p>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    new AppFrontend.AddAnother({
      container: $('.app-add-another'),
      allowNoFields: true
    });
  </script>
{% endblock %}
