{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = application.personalDetails.name %}
{% set title = "Course" %}

{% block pageNavigation %}
{% if query.referrer == "decision" %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/decision"
  }) }}
{% elif query.referrer == "provider" %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer/new/provider"
  }) }}
{% else %}
  {{ govukBackLink({
    href: "/applications/" + application.id + "/offer/new/check"
  }) }}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    {% endset %}

    <form action="/applications/{{ application.id }}/offer/new/course" method="post" accept-charset="UTF-8" novalidate>

      {{ govukRadios({
        idPrefix: "edit-course",
        name: "[new-offer][course]",
        fieldset: {
          legend: {
            html: headingHtml,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: courses
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/applications/{{ application.id }}/offer/new/course/cancel">Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
