{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.makeOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = 'Conditions of offer' %}
{% set title = heading + ' - ' + caption %}
{% set firstSubject = application.subject | first %}
{% set skeSubject = firstSubject.name %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + applicationId + "/offer/ske"
  })}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>


      <form action="/applications/{{ applicationId }}/offer/ske-reason-answer" method="post" accept-charset="UTF-8" novalidate>

        {{ govukCheckboxes({
          name: "skeReason",
          fieldset: {
            legend: {
              text: "Why do they need to take a subject knowledge enhancement course?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "At least 1 must be selected for the candidate to receive a bursary. We’ll show your answer to the candidate."
          },
          items: [
            {
              value: "Their degree subject was not " + skeSubject,
              text: "Their degree subject was not " + skeSubject
            },
            {
              value: "They have not used their degree knowledge for 5 years or more",
              text: "They have not used their degree knowledge for 5 years or more"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    new AppFrontend.AddAnother({
      container: $('.app-add-another'),
      allowNoFields: true
    });
  </script>
{% endblock %}
