{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.makeOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = 'Conditions of offer' %}
{% set title = heading + ' - ' + caption %}
{% set firstSubject = application.subject | first %}

{% if data.skeLanguage and data.skeLanguage | length == 1 %}

  {% set firstLanguage = data.skeLanguage | first %}

  {% set skeSubject = firstLanguage %}
{% else %}
  {% set skeSubject = firstSubject.name %}
{% endif %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + applicationId + "/offer/ske"
  })}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>

      <form action="/applications/{{ applicationId }}/offer/ske-reason-answer" method="post" accept-charset="UTF-8" novalidate>

        {% if data.skeLanguage and data.skeLanguage | length > 1 %}
          <h1 class="govuk-heading-l">Reasons for needing to take a subject knowledge enhancement course</h1>

          {% for language in data.skeLanguage %}
            {% if language != '_unchecked' %}

              {{ govukCheckboxes({
                name: "skeReason-" + language,
                fieldset: {
                  legend: {
                    text: "Why do they need to take a course in " + language + "?",
                    isPageHeading: true,
                    classes: "govuk-fieldset__legend--m"
                  }
                },
                items: [
                  {
                    value: "Their degree subject was not " + language,
                    text: "Their degree subject was not " + language
                  },
                  {
                    value: "They have not used their degree knowledge for 5 years or more",
                    text: "They have not used their degree knowledge for 5 years or more"
                  }
                ]
              }) }}
            {% endif %}

          {% endfor %}

        {% elif data.skeEbacc %}

          {{ govukCheckboxes({
            name: "skeReason[" + data.skeEbacc + "]",
            fieldset: {
              legend: {
                text: "Why do they need to take a subject knowledge enhancement (SKE) course in " + data.skeEbacc + "?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            items: [
              {
                value: "Their degree subject was not " + data.skeEbacc,
                text: "Their degree subject was not " + data.skeEbacc
              },
              {
                value: "They have not used their degree knowledge for 5 years or more",
                text: "They have not used their degree knowledge for 5 years or more"
              }
            ]
          }) }}

        {% else %}

          {{ govukRadios({
            name: "skeReason",
            fieldset: {
              legend: {
                text: "Why do they need to take a subject knowledge enhancement (SKE) course?",
                isPageHeading: true,
                classes: "govuk-fieldset__legend--l"
              }
            },
            hint: {
              text: "These are the criteria for the SKE course bursary of £175 a week. We’ll show your answer to the candidate."
            },
            items: [
              {
                value: "Their degree subject was not " + skeSubject,
                text: "Their degree subject was not " + skeSubject
              },
              {
                value: "They have not used their degree knowledge for 5 years or more",
                text: "They graduated with a degree in " + skeSubject + " over 5 years ago and have not used their subject knowledge since"
              }
            ]
          }) }}

        {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    new AppFrontend.AddAnother({
      container: $('.app-add-another'),
      allowNoFields: true
    });
  </script>
{% endblock %}
