{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.makeOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = 'Conditions of offer' %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + applicationId + "/offer/ske-reason"
  })}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>
      <h1 class="govuk-heading-l">SKE course requirements</h1>

      <form action="/applications/{{ applicationId }}/offer/ske-length-answer" method="post" accept-charset="UTF-8" novalidate>

        {{ govukRadios({
          name: "skeCourseLengthRequired",
          fieldset: {
            legend: {
              text: "Length of SKE course required",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "8 or 12 weeks (‘short’)",
              text: "8 or 12 weeks (‘short’)"
            },
            {
              value: "16 or 20 weeks (‘medium’)",
              text: "16 or 20 weeks (‘medium’)"
            },
            {
              value: "24 or 28 weeks (‘long’)",
              text: "24 or 28 weeks (‘long’)"
            }
          ]
        }) }}

          {{ govukRadios({
            name: "skeDeadline",
            fieldset: {
              legend: {
                text: "Does course have to be completed before training starts, in September 2023?",
                classes: "govuk-fieldset__legend--m"
              }
            },
            items: [
              {
                value: "Completed before training starts",
                text: "Yes"
              },
              {
                value: "Enrolled before training starts",
                text: "No, so long as they’ve started it by then"
              }
            ]
          }) }}


      {{ govukButton({
        text: "Continue"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    new AppFrontend.AddAnother({
      container: $('.app-add-another'),
      allowNoFields: true
    });
  </script>
{% endblock %}
