{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = content.makeOffer.caption + ' - ' + application.personalDetails.name %}
{% set heading = 'Conditions of offer' %}
{% set title = heading + ' - ' + caption %}
{% set firstSubject = application.subject | first %}
{% set skeSubject = firstSubject.name %}


{% block pageNavigation %}
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/applications/" + applicationId + "/decision"
  })}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{ caption }}</span>
      <!--
      <h1 class="govuk-heading-l">Subject knowledge enhancement courses</h1>

      <p class="govuk-body">The Department for Education will fund a <a href="https://www.gov.uk/guidance/subject-knowledge-enhancement-an-introduction" class="govuk-link">subject knowledge enhancement course</a>  in {{ skeSubject }} to help the candidate meet the teachers’ standards.</p>
-->
      <form action="/applications/{{ applicationId }}/offer/ske-answer" method="post" accept-charset="UTF-8" novalidate>

      {% if firstSubject.name == "French" %}

        {{ govukCheckboxes({
          name: "skeLanguage",
          fieldset: {
            legend: {
              text: "Do you require them to take a subject knowledge enhancement course in any of these languages?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "You can select a maximum of 2"
          },
          items: [
            {
              value: "French",
              text: "French"
            },
            {
              value: "Spanish",
              text: "Spanish"
            },
            {
              value: "German",
              text: "German"
            },
            {
              value: "Ancient languages",
              text: "Ancient languages"
            },
            {
              divider: "or"
            },
            {
              value: "no",
              text: "No, a subject knowledge enhancement course is not required"
            }
          ]
        }) }}

      {% elif firstSubject.name == "PE with Ebacc" %}

        <input type="hidden" name="skeRequired" value="">
        <input type="hidden" name="skeReason" value="">
        {{ govukRadios({
          name: "skeEbacc",
          fieldset: {
            legend: {
              text: "Do you require them to take an 8 week subject knowledge enhancement course in an Ebacc subject?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Biology",
              text: "Biology"
            },
            {
              value: "Chemistry",
              text: "Chemistry"
            },
            {
              value: "English",
              text: "English"
            },
            {
              value: "Mathematics",
              text: "Mathematics"
            },
            {
              value: "Physics",
              text: "Physics"
            },
            {
              value: "French",
              text: "French"
            },
            {
              value: "Spanish",
              text: "Spanish"
            },
            {
              value: "German",
              text: "German"
            },
            {
              divider: "or"
            },
            {
              value: "no",
              text: "No, a subject knowledge enhancement course is not required"
            }
          ]
        }) }}


      {% else %}

        {{ govukRadios({
          name: "skeRequired",
          fieldset: {
            legend: {
              text: "Do you require them to take a subject knowledge enhancement course in " + (skeSubject) + "?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

      {% endif %}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script>
    new AppFrontend.AddAnother({
      container: $('.app-add-another'),
      allowNoFields: true
    });
  </script>
{% endblock %}
