{% extends "_layout.njk" %}

{% set primaryNavId = "applications" %}
{% set caption = application.personalDetails.name %}
{% set title = "Full time or part time" %}

{% block pageNavigation %}
{% if query.referrer == "course" %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id + "/offer/new/course"
  }) }}
{% else %}
  {{ govukBackLink({
    text: "Back",
    href: "/applications/" + application.id + "offer/new/check"
  }) }}
{% endif %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% set headingHtml %}
      <span class="govuk-caption-l">{{ caption }}</span>
      {{ title }}
    {% endset %}

    <form action="/applications/{{ application.id }}/offer/new/study-mode" method="post" accept-charset="UTF-8" novalidate>

      {{ govukRadios({
        idPrefix: "edit-studyMode",
        name: "[new-offer][studyMode]",
        fieldset: {
          legend: {
            html: headingHtml,
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [{
          value: "Full time",
          text: "Full time",
          checked: checked("['new-offer']['studyMode']", "Full time")
        }, {
          value: "Part time",
          text: "Part time",
          checked: checked("['new-offer']['studyMode']", "Part time")
        }]
      }) }}

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

    <p class="govuk-body">
      <a class="govuk-link" href="/applications/{{ application.id }}/offer/new/course/cancel">Cancel</a>
    </p>

  </div>
</div>
{% endblock %}
