{% extends "_email.njk" %}

{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = "Manage teacher training applications: " + name + " has accepted your offer to join " + application.course %}
{% set from = "apply-for-teacher-training@education.gov.uk" %}
{% set to = "admin@provider-name.example" %}

{% block content %}
  <p class="govuk-body">Dear [Provider name],</p>
  <p class="govuk-body">We’re pleased to tell you that <strong>{{ name }}</strong> has accepted your offer to study <strong>{{ application.course }}</strong> starting September 2020.</p>
  <p class="govuk-body">The status of this candidate's application has been automatically updated, and can be checked by visiting <a href="/">Manage teacher training applications</a>.</p>

  <h2 class="govuk-heading-m">Next steps</h2>
  <p class="govuk-body">You can get in touch with this candidate directly via email to follow up on any conditions or recommendations you have set out.</p>
  <p class="govuk-body">These conditions are listed in the email we sent offering them a place, which you were cc'd on.</p>
  <p class="govuk-body">When they have met their conditions and been enrolled, please email us at <a href="mailto:mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>. We can then pass their details on to the Department for Education's funding department.</p>

  <h2 class="govuk-heading-m">Questions or concerns</h2>
  <p class="govuk-body">Please email <a href="mailto:mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>
  <p class="govuk-body">Regards,
  <p class="govuk-body">Apply for teacher training<br>
    Department for Education</p>
{% endblock %}
