{% extends "_email.njk" %}

{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = "Manage teacher training applications: " + name + " has declined your offer to join " + application.course %}
{% set from = "apply-for-teacher-training@education.gov.uk" %}
{% set to = "admin@provider-name.example" %}

{% block content %}
  <p class="govuk-body">Dear [Provider name],</p>
  <p class="govuk-body">We’re getting in touch to let you know that <strong>{{ name }}</strong> has declined your offer to study <strong>{{ application.course }}</strong>.
  <p class="govuk-body">The status of this candidate's application has been automatically updated, and can be checked by visiting <a href="/">Manage teacher training applications</a>.</p>
  <p class="govuk-body">Thanks for your continuing support and feedback as we pilot Apply for teacher training. If you have any questions or concerns, please email <a href="mailto:mailto:becomingateacher@digital.education.gov.uk">becomingateacher@digital.education.gov.uk</a>.</p>

  <p class="govuk-body">Regards,
  <p class="govuk-body">Apply for teacher training<br>
    Department for Education</p>
{% endblock %}
