{% extends "_layout.njk" %}

{% set primaryNavId = "data" %}
{% set pageName = "Progress of applications (2020 to 2021)" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/reports",
    text: "Reports"
  }, {
    text: pageName + (" - " + organisation.name if organisation)
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageName }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {{ govukButton({
        text: "Export report",
        href: "/reports/progress-of-applications/download",
        classes: "govuk-button--secondary",
        attributes: {
          download: true
        }
      }) }}

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" rowspan="2">Course</th>
            {% for stage in stages %}
              <th scope="col" class="govuk-table__header">{{ stage.title }}</th>
            {% endfor %}
          </tr>
          <tr class="govuk-table__row">
            {% for stage in stages %}
              <td class="govuk-table__cell govuk-!-font-size-16">{{ stage.description }}</td>
            {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for row in conversionData %}

            <tr class="govuk-table__row">
              {% if row.code == "AVERAGE" %}
                <th scope="row" class="govuk-table__header">
                  Averages
                </th>
              {% else %}
                <td class="govuk-table__cell">
                  {{ row.title }} {{ "(" + row.code + ")" if row.code }}
                  <span class="govuk-hint govuk-!-margin-bottom-0">{{ row.provider }}</span>
                </td>
              {% endif %}
              {% for stage in stages %}
                <td class="{{ 'govuk-table__header' if row.code == 'AVERAGE' else 'govuk-table__cell'}}">
                  {{ row[stage.code]['percentage'] | numeral('0') + "%" }}
                  <span class="govuk-hint">({{ row[stage.code]['number'] | numeral('0') }})</span>
                </td>
              {% endfor %}
            </tr>

          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
