{% extends "_layout.njk" %}

{% set primaryNavId = "data" %}
{% set pageName = "Status of applications (2020 to 2021)" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/data",
    text: "Statistics and data"
  }, {
    text: pageName + (" - " + organisation.name if organisation)
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageName }}
      </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <!-- <p class="govuk-body">
        <a class="govuk-link" href="#">Export data</a>
      </p> -->

      {{ govukButton({
        text: "Export data"
      }) }}

      <table class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Course</th>
              {% for status in statuses %}
                <th scope="col" class="govuk-table__header">{{ status }}</th>
              {% endfor %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for row in statusData %}

            <tr class="govuk-table__row">
              {% if row.code == "TOTAL" %}
                <th scope="row" class="govuk-table__header">
                  Totals
                </th>
              {% else %}
                <td class="govuk-table__cell">
                  {{ row.title }} {{ "(" + row.code + ")" if row.code }}
                  <span class="govuk-hint govuk-!-margin-bottom-0">{{ partners | random }}</span>
                </td>
              {% endif %}
              {% for status in statuses %}
                <td class="{{ 'govuk-table__header' if row.code == 'TOTAL' else 'govuk-table__cell'}}">
                  {% set code = (status | replace(" ","_") | lower) %}
                  {{ row['counts'][code] | numeral('0') }}
                </td>
              {% endfor %}
            </tr>

          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>

{% endblock %}

{% block pageScripts %}

{% endblock %}
