{% set candidateActionsReasonsOtherHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Give details"
    },
    id: "rejection-actions-reasons-other",
    name: "rejectionReasons[actions-reasons-other]",
    value: data['rejectionReasons']['actions-reasons-other']
  }) }}

  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "What could they do to improve?"
    },
    id: "rejection-actions-reasons-other-improve",
    name: "rejectionReasons[actions-reasons-other-improve]",
    value: data['rejectionReasons']['actions-reasons-other-improve']
  }) }}
{% endset %}

{% set candidateActionsReasonsHtml %}
  {{ govukCheckboxes({
    idPrefix: "rejection-actions-reasons",
    name: "rejectionReasons[actions-reasons]",
    fieldset: {
      legend: {
        text: "What did the candidate do? ",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "Did not reply to interview request",
      html: "Did not reply to interview request",
      checked: checked(data['rejectionReasons']['actions-reasons'], "Did not reply to interview request")
    }, {
      value: "Did not attend interview",
      text: "Did not attend interview",
      checked: checked(data['rejectionReasons']['actions-reasons'], "Did not attend interview")
    }, {
        value: "Other",
        text: "Other",
        checked: checked(data['rejectionReasons']['actions-reasons'], "Other"),
        conditional: {
          html: candidateActionsReasonsOtherHtml
        }
      }]
  }) }}
{% endset %}


{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it related to candidate behaviour?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: 'rejection-actions',
  name: "rejectionReasons[actions]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked(data['rejectionReasons']['actions'], "Yes"),
    conditional: {
      html: candidateActionsReasonsHtml
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked(data['rejectionReasons']['actions'], "No")
  }]
}) }}
