{% set applicationQualityReasonsPersonalStatementHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "What could they do to improve?"
    },
    id: "rejection-application-quality-reasons-personal-statement",
    name: "rejectionReasons[application-quality-reasons-personal-statement]",
    value: data['rejectionReasons']['application-quality-reasons-personal-statement']
  }) }}
{% endset %}


{% set applicationQualityReasonsSubjectKnowledgeHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "What could they do to improve?"
    },
    id: "rejection-application-quality-reasons-subject-knowledge",
    name: "rejectionReasons[application-quality-reasons-subject-knowledge]",
    value: data['rejectionReasons']['application-quality-reasons-subject-knowledge']
  }) }}
{% endset %}


{% set applicationQualityReasonsOtherHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Please give details"
    },
    id: "rejection-application-quality-reasons-other",
    name: "rejectionReasons[application-quality-reasons-other]",
    value: data['rejectionReasons']['application-quality-reasons-other']
  }) }}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "What could they do to improve?"
    },
    id: "rejection-application-quality-reasons-other-improve",
    name: "rejectionReasons[application-quality-reasons-other-improve]",
    value: data['rejectionReasons']['application-quality-reasons-other-improve']
  }) }}
{% endset %}


{% set applicationQualityReasonsHtml %}
  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "rejection-application-quality-reasons",
    name: "rejectionReasons[application-quality-reasons]",
    fieldset: {
      legend: {
        text: "Which parts of the application needed improvement?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "Personal statement",
      html: "Personal statement",
      checked: checked("['rejectionReasons']['application-quality-reasons']", "Personal statement"),
      conditional: {
        html: applicationQualityReasonsPersonalStatementHtml
      }
    }, {
      value: "Subject knowledge",
      text: "Subject knowledge",
      checked: checked("['rejectionReasons']['application-quality-reasons']", "Subject knowledge"),
      conditional: {
        html: applicationQualityReasonsSubjectKnowledgeHtml
      }
    }, {
        value: "Other",
        text: "Other",
        checked: checked("['rejectionReasons']['application-quality-reasons']", "Other"),
        conditional: {
          html: applicationQualityReasonsOtherHtml
        }
      }]
  }) }}
{% endset %}


{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it related to the quality of their application?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: "rejection-application-quality",
  name: "rejectionReasons[application-quality]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked("['rejectionReasons']['application-quality']", "Yes"),
    conditional: {
      html: applicationQualityReasonsHtml
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked("['rejectionReasons']['application-quality']", "No")
  }]
}) }}
