
{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it due to candidate behaviour?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  name: "rejectionReasons[candidate-actions]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked("candidate-actions", "Yes"),
    conditional: {
      html: "Blah"
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked("candidate-actions", "No")
  }]
}) }}
