{% set category = 'communication' %}

{% set didNotReplyToMessagesHtml %}
  {{appRejectionDetails({ category: category, reason: 'did-not-reply-to-messages', data: data })}}
{% endset %}
{% set didNotAttendInterviewHtml %}
  {{appRejectionDetails({ category: category, reason: 'did-not-attend-interview', data: data })}}
{% endset %}
{% set couldNotArrangeInterviewHtml %}
  {{appRejectionDetails({ category: category, reason: 'could-not-arrange-interview', data: data })}}
{% endset %}
{% set otherHtml %}
  {{appRejectionDetails({ category: category, reason: 'other', data: data })}}
{% endset %}

{{ govukCheckboxes({
  idPrefix: "rejection-" + category + "-reasons",
  name: "rejection[" + category + "-reasons]",
  fieldset: {
    legend: {
      text: "Reasons",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [{
    value: "Did not reply to messages",
    html: "Did not reply to messages",
    checked: checked("['rejection']['" + category + "-reasons']", "Did not reply to messages"),
    conditional: {
      html: didNotReplyToMessagesHtml
    }
  },
  {
    value: "Did not attend interview",
    text: "Did not attend interview",
    checked: checked("['rejection']['" + category + "-reasons']", "Did not attend interview"),
    conditional: {
      html: didNotAttendInterviewHtml
    }
  } if data['withdrawal-reason'] != "withdraw-offer",
  {
    value: "Could not arrange interview",
    text: "Could not arrange interview",
    checked: checked("['rejection']['" + category + "-reasons']", "Could not arrange interview"),
    conditional: {
      html: couldNotArrangeInterviewHtml
    }
  } if data['withdrawal-reason'] != "withdraw-offer",
  {
      value: "Other",
      text: "Other",
      checked: checked("['rejection']['" + category + "-reasons']", "Other"),
      conditional: {
        html: otherHtml
      }
    }]
}) }}
