{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it because the candidate failed to meet one or more conditions?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  idPrefix: 'rejection-conditions',
  name: "rejectionReasons[conditions]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked(data['rejectionReasons']['conditions'], "Yes")
  },
  {
    value: "No",
    text: "No",
    checked: checked(data['rejectionReasons']['conditions'], "No")
  }]
}) if application.status == 'Conditions pending' }}
