{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it because this course is full?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: "rejection-course-full",
  name: "rejectionReasons[course-full]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked("['rejectionReasons']['course-full']", "Yes")
  },
  {
    value: "No",
    text: "No",
    checked: checked("['rejectionReasons']['course-full']", "No")
  }]
})}}
