{% set honestyFalseInformationHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Give details"
    },
    id: "honesty-reasons-false-information",
    name: "rejectionReasons[honesty-reasons-false-information]",
    value: data['rejectionReasons']['honesty-reasons-false-information']
  }) }}
{% endset %}


{% set honestyPlagiarismHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Give details"
    },
    id: "honesty-reasons-plagiarism",
    name: "rejectionReasons[honesty-reasons-plagiarism]",
    value: data['rejectionReasons']['honesty-reasons-plagiarism']
  }) }}
{% endset %}


{% set honestyReferenceInformationHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Give details"
    },
    hint: {
      text: "If there are details you cannot provide for legal reasons, you should explain this to the candidate"
    },
    id: "honesty-reasons-reference-information",
    name: "rejectionReasons[honesty-reasons-reference-information]",
    value: data['rejectionReasons']['honesty-reasons-reference-information']
  }) }}
{% endset %}


{% set honestyOtherHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Give details"
    },
    id: "honesty-reasons-other",
    name: "rejectionReasons[honesty-reasons-other]",
    value: data['rejectionReasons']['honesty-reasons-other']
  }) }}
{% endset %}


{% set honestyReasonsHtml %}
  {{ govukCheckboxes({
    idPrefix: "rejection-honesty-reasons",
    name: "rejectionReasons[honesty-reasons]",
    fieldset: {
      legend: {
        text: "What concerns did you have?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "Inaccurate or false information in the application",
      html: "Inaccurate or false information in the application",
      checked: checked(data['rejectionReasons']['honesty-reasons'], 'Inaccurate or false information in the application'),
      conditional: {
        html: honestyFalseInformationHtml
      }
    }, {
      value: "Evidence of plagiarism in the application",
      text: "Evidence of plagiarism in the application",
      checked: checked(data['rejectionReasons']['honesty-reasons'], 'Evidence of plagiarism in the application'),
      conditional: {
        html: honestyPlagiarismHtml
      }
    }, {
      value: "References did not support the application",
      text: "References did not support the application",
      checked: checked(data['rejectionReasons']['honesty-reasons'], 'References did not support the application'),
      conditional: {
        html: honestyReferenceInformationHtml
      }
    }, {
        value: "Other",
        text: "Other",
        checked: checked(data['rejectionReasons']['honesty-reasons'], 'Other'),
        conditional: {
          html: honestyOtherHtml
        }
      }]
  }) }}
{% endset %}


{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it related to concerns about the candidate’s honesty and professionalism?",
      classes: "govuk-fieldset__legend--m"
    }
  },
  idPrefix: "rejection-honesty",
  name: "rejectionReasons[honesty]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked(data['rejectionReasons']['honesty'], "Yes"),
    conditional: {
      html: honestyReasonsHtml
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked(data['rejectionReasons']['honesty'], "No")
  }]
}) if application.status == 'Awaiting decision' }}
