{% set interviewPerformanceAdviceHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "What could they do to improve?"
    },
    id: "rejection-interview-performance-advice",
    name: "rejectionReasons[interview-performance-advice]",
    value: data['rejectionReasons']["interview-performance-advice"]
  }) }}
{% endset %}


{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it related to their performance at interview?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: "rejection-interview-performance",
  name: "rejectionReasons[interview-performance]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked("['rejectionReasons']['interview-performance']", "Yes"),
    conditional: {
      html: interviewPerformanceAdviceHtml
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked("['rejectionReasons']['interview-performance']", "No")
  }]
}) }}
