{% set missingQualificationsReasonsOtherHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Give details"
    },
    id: "rejection-missing-qualifications-reasons-other",
    name: "rejectionReasons[missing-qualifications-reasons-other]",
    value: data["rejectionReasons"]["missing-qualifications-reasons-other"]
  }) }}
{% endset %}


{% set missingQualificationsReasonsHtml %}
  {{ govukCheckboxes({
    name: "rejectionReasons[missing-qualifications-reasons]",
    idPrefix: "rejection-missing-qualification-reasons",
    fieldset: {
      legend: {
        text: "What is the problem with the candidate's qualifications?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "No maths GCSE grade 4 (C) or above, or accepted equivalent",
      html: "No maths GCSE grade 4 (C) or above, or accepted equivalent",
      checked: checked(data['rejectionReasons']['missing-qualifications-reasons'], "No maths GCSE grade 4 (C) or above, or accepted equivalent")
    }, {
      value: "No English GCSE grade 4 (C) or above, or accepted equivalent",
      text: "No English GCSE grade 4 (C) or above, or accepted equivalent",
      checked: checked(data['rejectionReasons']['missing-qualifications-reasons'], "No English GCSE grade 4 (C) or above, or accepted equivalent")
    }, {
      value: "No science GCSE grade 4 (C) or above, or accepted equivalent (for primary applicants)",
      text: "No science GCSE grade 4 (C) or above, or accepted equivalent (for primary applicants)",
      checked: checked(data['rejectionReasons']['missing-qualifications-reasons'], "No science GCSE grade 4 (C) or above, or accepted equivalent (for primary applicants)")
    }, {
      value: "No degree",
      text: "No degree",
      checked: checked(data['rejectionReasons']['missing-qualifications-reasons'], "No degree")
    }, {
      value: "Degree does not meet course requirements",
      text: "Degree does not meet course requirements",
      checked: checked(data['rejectionReasons']['missing-qualifications-reasons'], "Degree does not meet course requirements")
    }, {
        value: "Other",
        text: "Other",
        checked: checked(data['rejectionReasons']['missing-qualifications-reasons'], "Other"),
        conditional: {
          html: missingQualificationsReasonsOtherHtml
        }
      }]
  }) }}
{% endset %}


{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it related to qualifications?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: 'rejection-missing-qualifications',
  name: "rejectionReasons[missing-qualifications]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked(data['rejectionReasons']['missing-qualifications'], "Yes"),
    conditional: {
      html: missingQualificationsReasonsHtml
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked(data['rejectionReasons']['missing-qualifications'], "No")
  }]
}) if application.status == 'Awaiting decision'}}
