{% set missingQualificationsReasonsOtherHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Please give details"
    },
    id: "rejection-missing-qualifications-reasons-other",
    name: "rejectionReasons[missing-qualifications-reasons-other]",
    value: data["rejectionReasons"]["missing-qualifications-reasons-other"]
  }) }}
{% endset %}


{% set missingQualificationsReasonsHtml %}
  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    name: "rejectionReasons[missing-qualifications-reasons]",
    idPrefix: "rejection-missing-qualification-reasons",
    fieldset: {
      legend: {
        text: "Which qualifications?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "No Maths GCSE grade 4 (C) or above, or valid equivalent",
      html: "No Maths GCSE grade 4 (C) or above, or valid equivalent",
      checked: checked("['rejectionReasons']['missing-qualifications-reasons']", "No Maths GCSE grade 4 (C) or above, or valid equivalent")
    }, {
      value: "No English GCSE grade 4 (C) or above, or valid equivalent",
      text: "No English GCSE grade 4 (C) or above, or valid equivalent",
      checked: checked("['rejectionReasons']['missing-qualifications-reasons']", "No English GCSE grade 4 (C) or above, or valid equivalent")
    }, {
      value: "No Science GCSE grade 4 (C) or above, or valid equivalent (for primary applicants)",
      text: "No Science GCSE grade 4 (C) or above, or valid equivalent (for primary applicants)",
      checked: checked("['rejectionReasons']['missing-qualifications-reasons']", "No Science GCSE grade 4 (C) or above, or valid equivalent (for primary applicants)")
    }, {
      value: "No degree",
      text: "No degree",
      checked: checked("['rejectionReasons']['missing-qualifications-reasons']", "No degree")
    }, {
      value: "Degree doesn’t meet course requirements",
      text: "Degree doesn’t meet course requirements",
      checked: checked("['rejectionReasons']['missing-qualifications-reasons']", "Degree doesn’t meet course requirements")
    }, {
        value: "Other",
        text: "Other",
        checked: checked("['rejectionReasons']['missing-qualifications-reasons']", "Other"),
        conditional: {
          html: missingQualificationsReasonsOtherHtml
        }
      }]
  }) }}
{% endset %}


{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it related to qualifications?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: 'rejection-missing-qualifications',
  name: "rejectionReasons[missing-qualifications]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked("['rejectionReasons']['missing-qualifications']", "Yes"),
    conditional: {
      html: missingQualificationsReasonsHtml
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked("['rejectionReasons']['missing-qualifications']", "No")
  }]
}) }}
