{% set category = 'personal-statement' %}

{% set spellingHtml %}
  {{appRejectionDetails({ category: category, reason: 'spelling', data: data })}}
{% endset %}
{% set plagiarismHtml %}
  {{appRejectionDetails({ category: category, reason: 'plagiarism', data: data })}}
{% endset %}
{% set otherHtml %}
  {{appRejectionDetails({ category: category, reason: 'other', data: data })}}
{% endset %}

{{ govukCheckboxes({
  idPrefix: "rejection-" + category + "-reasons",
  name: "rejection[" + category + "-reasons]",
  fieldset: {
    legend: {
      text: "Reasons",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [{
    value: "Spelling and grammar",
    html: "Spelling and grammar",
    checked: checked(data['rejection'][category + '-reasons'], "Spelling and grammar"),
    conditional: {
      html: spellingHtml
    }
  }, {
    value: "Evidence of plagiarism",
    text: "Evidence of plagiarism",
    checked: checked(data['rejection'][category + '-reasons'], "Evidence of plagiarism"),
    conditional: {
      html: plagiarismHtml
    }
  }, {
      value: "Other",
      text: "Other",
      checked: checked(data['rejection'][category + '-reasons'], "Other"),
      conditional: {
        html: otherHtml
      }
    }]
}) }}
