{% set category = 'work-history' %}

{% set unexplainedGapHtml %}
  {{appRejectionDetails({ category: category, reason: 'unexpained-work-gap', data: data })}}
{% endset %}
{% set experienceHtml %}
  {{appRejectionDetails({ category: category, reason: 'lack-of-experience', data: data })}}
{% endset %}
{% set otherHtml %}
  {{appRejectionDetails({ category: category, reason: 'other', data: data })}}
{% endset %}

{{ govukCheckboxes({
  idPrefix: "rejection-" + category + "-reasons",
  name: "rejection[" + category + "-reasons]",
  fieldset: {
    legend: {
      text: "Reasons",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [{
    value: "Unexplained gap in work history",
    html: "Unexplained gap in work history",
    checked: checked(data['rejection'][category + '-reasons'], "Unexplained gap in work history"),
    conditional: {
      html: unexplainedGapHtml
    }
  }, {
    value: "Lack of school or teaching experience",
    text: "Lack of school or teaching experience",
    checked: checked(data['rejection'][category + '-reasons'], "Lack of school or teaching experience"),
    conditional: {
      html: experienceHtml
    }
  }, {
      value: "Other",
      text: "Other",
      checked: checked(data['rejection'][category + '-reasons'], "Other"),
      conditional: {
        html: otherHtml
      }
    }]
}) }}
