{% set otherFeedbackDetailsHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Please give details"
    },
    id: "rejection-other-feedback-details",
    name: "rejectionReasons[other-feedback-details]",
    value: data['rejectionReasons']['other-feedback-details']
  }) }}
{% endset %}


{{ govukRadios({
  fieldset: {
    legend: {
      html: "Is there any other advice or feedback you’d like to give " + name + "?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: "rejection-other-feedback",
  name: "rejectionReasons[other-feedback]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked("['rejectionReasons']['other-feedback']", "Yes"),
    conditional: {
      html: otherFeedbackDetailsHtml
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked("['rejectionReasons']['other-feedback']", "No")
  }]
}) }}
