{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it because you offered them a place on another course?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: "rejection-other-offer",
  name: "rejectionReasons[other-offer]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked("['rejectionReasons']['other-offer']", "Yes")
  },
  {
    value: "No",
    text: "No",
    checked: checked("['rejectionReasons']['other-offer']", "No")
  }]
})}}
