{% set category = 'qualifications' %}

{% set degreeDoesNotMeetRequirementsHtml %}
  {{appRejectionDetails({ category: category, reason: 'degree-does-not-meet-course-requirements', data: data })}}
{% endset%}

{% set couldNotVertifyQualificationsHtml %}
  {{appRejectionDetails({ category: category, reason: 'could-not-verify-qualifications', data: data })}}
{% endset%}

{% set otherHtml %}
  {{appRejectionDetails({ category: category, reason: 'other', data: data })}}
{% endset %}

{{ govukCheckboxes({
  idPrefix: "rejection-" + category + "-reasons",
  name: "rejection[" + category + "-reasons]",
  fieldset: {
    legend: {
      text: "Reasons",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [{
    value: "Degree subject does not meet course requirements",
    text: "Degree subject does not meet course requirements",
    checked: checked("['rejection']['" + category + "-reasons']", "Degree does not meet course requirements"),
    conditional: {
      html: degreeDoesNotMeetRequirementsHtml
    }
  },
  {
    value: "Degree class does not meet course requirements",
    text: "Degree class does not meet course requirements",
    checked: checked("['rejection']['" + category + "-reasons']", "Degree does not meet course requirements"),
    conditional: {
      html: degreeDoesNotMeetRequirementsHtml
    }
  }]
}) }}
