{% set safeguardingDisclosedInformationHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Please give details"
    },
    id: "safeguarding-reasons-disclosed-information",
    name: "rejectionReasons[safeguarding-reasons-disclosed-information]",
    value: data['rejectionReasons']['safeguarding-reasons-disclosed-information']
  }) }}
{% endset %}


{% set safeguardingVettingInformationHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Please give details"
    },
    id: "safeguarding-reasons-vetting-information",
    name: "rejectionReasons[safeguarding-reasons-vetting-information]",
    value: data['rejectionReasons']['safeguarding-reasons-vetting-information']
  }) }}
{% endset %}


{% set safeguardingOtherHtml %}
  {{ govukCharacterCount({
    maxwords: 100,
    label: {
      text: "Please give details"
    },
    id: "safeguarding-reasons-other",
    name: "rejectionReasons[safeguarding-reasons-other]",
    value: data['rejectionReasons']['safeguarding-reasons-other']
  }) }}
{% endset %}


{% set safeguardingReasonsHtml %}
  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "rejection-safeguarding-reasons",
    name: "rejectionReasons[safeguarding-reasons]",
    fieldset: {
      legend: {
        text: "Which safeguarding issues in particular?",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "Information disclosed by candidate makes them unsuitable to work with children",
      text: "Information disclosed by candidate makes them unsuitable to work with children",
      checked: checked("['rejectionReasons']['safeguarding-reasons']", 'Information disclosed by candidate makes them unsuitable to work with children'),
      conditional: {
        html: safeguardingDisclosedInformationHtml
      }
    }, {
      value: "Information revealed by our vetting process makes the candidate unsuitable to work with children",
      text: "Information revealed by our vetting process makes the candidate unsuitable to work with children",
      checked: checked("['rejectionReasons']['safeguarding-reasons']", 'Information revealed by our vetting process makes the candidate unsuitable to work with children'),
      conditional: {
        html: safeguardingVettingInformationHtml
      }
    }, {
        value: "Other",
        text: "Other",
        checked: checked("['rejectionReasons']['safeguarding-reasons']", 'Other'),
        conditional: {
          html: safeguardingOtherHtml
        }
      }]
  }) }}
{% endset %}


{{ govukRadios({
  fieldset: {
    legend: {
      html: "Was it related to safeguarding?",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: true
    }
  },
  idPrefix: "rejection-safeguarding",
  name: "rejectionReasons[safeguarding]",
  items: [{
    value: "Yes",
    text: "Yes",
    checked: checked("['rejectionReasons']['safeguarding']", "Yes"),
    conditional: {
      html: safeguardingReasonsHtml
    }
  },
  {
    value: "No",
    text: "No",
    checked: checked("['rejectionReasons']['safeguarding']", "No")
  }]
}) }}
