{% set category = 'teaching-knowledge' %}

{% set subject %}
  {{appRejectionDetails({ category: category, reason: 'subject', data: data })}}
{% endset %}
{% set safeguarding %}
  {{appRejectionDetails({ category: category, reason: 'safeguarding', data: data })}}
{% endset %}
{% set teachingMethod %}
  {{appRejectionDetails({ category: category, reason: 'teaching-method', data: data })}}
{% endset %}
{% set teachingRole %}
  {{appRejectionDetails({ category: category, reason: 'teaching-role', data: data })}}
{% endset %}
{% set teachingDemonstration %}
  {{appRejectionDetails({ category: category, reason: 'teaching-demonstration', data: data })}}
{% endset %}
{% set other %}
  {{appRejectionDetails({ category: category, reason: 'other', data: data })}}
{% endset %}

{{ govukCheckboxes({
  idPrefix: "rejection-" + category + "-reasons",
  name: "rejection[" + category + "-reasons]",
  fieldset: {
    legend: {
      text: "Reasons",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [{
    value: "Subject knowledge",
    html: "Subject knowledge",
    checked: checked("['rejection']['" + category + "-reasons']", "Subject knowledge"),
    conditional: {
      html: subject
    }
  }, {
    value: "Safeguarding knowledge",
    text: "Safeguarding knowledge",
    checked: checked("['rejection']['" + category + "-reasons']", "Safeguarding knowledge"),
    conditional: {
      html: safeguarding
    }
  }, {
    value: "Teaching method knowledge",
    text: "Teaching method knowledge",
    checked: checked("['rejection']['" + category + "-reasons']", "Teaching method knowledge"),
    conditional: {
      html: teachingMethod
    }
  }, {
    value: "Teaching role knowledge",
    text: "Teaching role knowledge",
    checked: checked("['rejection']['" + category + "-reasons']", "Teaching role knowledge"),
    conditional: {
      html: teachingRole
    }
  }, {
    value: "Teaching demonstration",
    text: "Teaching demonstration",
    checked: checked("['rejection']['" + category + "-reasons']", "Teaching demonstration"),
    conditional: {
      html: teachingDemonstration
    }
  }, {
      value: "Other",
      text: "Other",
      checked: checked("['rejection']['" + category + "-reasons']", "Other"),
      conditional: {
        html: other
      }
    }]
}) }}
