{% set category = 'teaching-knowledge' %}

{% set subject %}
  {{appRejectionDetails({ category: category, reason: 'subject', data: data })}}
{% endset %}
{% set safeguarding %}
  {{appRejectionDetails({ category: category, reason: 'safeguarding', data: data })}}
{% endset %}
{% set teachingMethod %}
  {{appRejectionDetails({ category: category, reason: 'teaching-method', data: data })}}
{% endset %}
{% set teachingRole %}
  {{appRejectionDetails({ category: category, reason: 'teaching-role', data: data })}}
{% endset %}
{% set teachingDemonstration %}
  {{appRejectionDetails({ category: category, reason: 'teaching-demonstration', data: data })}}
{% endset %}
{% set other %}
  {{appRejectionDetails({ category: category, reason: 'other', data: data })}}
{% endset %}

{{ govukCheckboxes({
  idPrefix: "rejection-" + category + "-reasons",
  name: "rejection[" + category + "-reasons]",
  fieldset: {
    legend: {
      text: "Reasons",
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [{
    value: "Understanding of subject",
    html: "Understanding of subject",
    checked: checked("['rejection']['" + category + "-reasons']", "Understanding of subject"),
    conditional: {
      html: subject
    }
  }, {
    value: "Understanding of safeguarding",
    text: "Understanding of safeguarding",
    checked: checked("['rejection']['" + category + "-reasons']", "Understanding of safeguarding"),
    conditional: {
      html: safeguarding
    }
  }, {
    value: "Understanding of teaching methods",
    text: "Understanding of teaching methods",
    checked: checked("['rejection']['" + category + "-reasons']", "Understanding of teaching methods"),
    conditional: {
      html: teachingMethod
    }
  }, {
    value: "Understanding of teaching role",
    text: "Understanding of teaching role",
    checked: checked("['rejection']['" + category + "-reasons']", "Understanding of teaching role"),
    conditional: {
      html: teachingRole
    }
  }, {
    value: "Teaching demonstration",
    text: "Teaching demonstration",
    checked: checked("['rejection']['" + category + "-reasons']", "Teaching demonstration"),
    conditional: {
      html: teachingDemonstration
    }
  }, {
      value: "Other",
      text: "Other",
      checked: checked("['rejection']['" + category + "-reasons']", "Other"),
      conditional: {
        html: other
      }
    }]
}) }}
