{{ govukCharacterCount({
  maxlength: 500,
  label: {
    text: "Why are you rejecting this candidate?",
    classes: "govuk-label--m",
    isPageHeading: true
  },
  id: "why",
  name: "why",
  value: data['why']
}) }}
