{% if not whyLabel %}
  {% set whyLabel = "Why are you rejecting this application?" %}
{% endif %}

{{ govukCharacterCount({
  maxwords: 200,
  label: {
    text: whyLabel,
    classes: "govuk-label--m",
    isPageHeading: true
  },
  id: "rejection-why",
  name: "rejectionReasons[why]",
  value: data['rejectionReasons']['why']
}) }}
