{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}

{% set title = "Review deferred offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/"
  }) }}
{% endblock %}

{% block content %}
  {% set conditionsHtml %}
    {% if conditions.length %}
      <ul class="govuk-list govuk-list--bullet">
        {% for condition in conditions %}
          <li>
            {{ condition.description }}
            {% if condition.status == "Pending" %}
                {% set statusClass = "app-tag--grey" %}
              {% elseif condition.status == "Met" %}
                {% set statusClass = "app-tag--green" %}
              {% elseif condition.status == "Not met" %}
                {% set statusClass = "app-tag--red" %}
              {% endif %}
              {{govukTag({ text: condition.status, classes: statusClass })}}
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p class="govuk-body">None specified</p>
    {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <div class="app-offer-pane govuk-!-margin-bottom-7">
        <p>The course offered to the candidate in the previous cycle is available in the current cycle. On the next screen, you can change the status of the conditions of the offer.</p>

        {% include "_includes/offer/reconfirm/details-of-deferred-offer.njk" %}
      </div>

      <form method="post">

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
