{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set name = [application.personalDetails.givenName, application.personalDetails.familyName] | join(" ") %}
{% set title = "Check status of conditions" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl moj-add-another__heading">{{title}}</h1>

        {% set courseDetailsOption1 %}

          {% set courseDetails %}
            <div class="govuk-!-margin-bottom-0">
              {{ govukSummaryList({
                  classes: " govuk-!-margin-bottom-1",
                  rows: [{
                    key: {
                      text: "Provider"
                    },
                    value: {
                      html: application.provider
                    }
                  }, {
                    key: {
                      text: "Course"
                    },
                    value: {
                      html: application.course
                    }
                  }, {
                    key: {
                      text: "Location"
                    },
                    value: {
                      html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
                    }
                  }, {
                    key: {
                      text: "Full time or part time"
                    },
                    value: {
                      html: "Full time"
                    },
                    classes: "govuk-summary-list__row--no-befrder"
                  }
                ]})
              }}
            </div>
          {% endset %}

          <div class="app-offer-panel govuk-!-margin-bottom-7">

            {# <h2 class="govuk-heading-m">
              Previous course details
            </h2> #}

            {# {{ govukSummaryList({
                classes: " govuk-!-margin-bottom1",
                rows: [{
                  key: {
                    text: "Course"
                  },
                  value: {
                    html: application.course
                  }
                }
              ]})
            }} #}

            {{ govukDetails({
              summaryText: "New offer details",
              html: courseDetails,
              classes: "govuk-!-margin-bottom-0"
            }) }}
          </div>

        {% endset %}

        {# {{courseDetailsOption1 | safe}} #}

        <form method="post">


          <div class="app-offer-panel govuk-!-margin-bottom-7">
            {# <h2 class="govuk-heading-m govuk-!-margin-bottom-3">
              Current conditions
            </h2> #}
          <table class="govuk-table govuk-!-margin-bottom-1">
            <tbody class="govuk-table__body">
              {% for condition in conditions %}
                <tr class="govuk-table__row">
                  <td class="govuk-table__cell">
                    {{condition.description}}
                    {% if application.status == "Accepted" %}
                      <p class="govuk-body govuk-!-margin-bottom-0"><a href="/application/{{application.id}}/condition/{{condition.id}}/change-status">Update status</a></p>
                    {% endif %}
                  </td>
                  <td class="govuk-table__cell govuk-table__cell--numeric">
                    {% if condition.status == "Pending" %}
                      {% set statusClass = "app-tag--grey" %}
                    {% elseif condition.status == "Met" %}
                      {% set statusClass = "app-tag--green" %}
                    {% elseif condition.status == "Not met" %}
                      {% set statusClass = "app-tag--red" %}
                    {% endif %}
                    {{govukTag({ text: condition.status, classes: statusClass })}}
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>


          {{ govukRadios({
            idPrefix: "status1",
            name: "status1",
            fieldset: {
              legend: {
                text: "Status of ‘Fitness to teach check’",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "This condition was marked as met on 5 September 2020"
            },
            items: [
              {
                value: "Pending",
                text: "Pending",
                checked: true
              },
              {
                value: "Met",
                text: "Met"
              }
            ]
          }) }}

          {{ govukRadios({
            idPrefix: "status2",
            name: "status2",
            fieldset: {
              legend: {
                text: "Status of ‘Disclosure and barring service check’",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "This condition was marked as met on 9 September 2020"
            },
            items: [
              {
                value: "Pending",
                text: "Pending"
              },
              {
                value: "Met",
                text: "Met",
                checked: true

              }
            ]
          }) }}

          {{ govukRadios({
            idPrefix: "status3",
            name: "status3",
            fieldset: {
              legend: {
                text: "Status of ‘You need to take English speaking course	’",
                classes: "govuk-fieldset__legend--m"
              }
            },
            hint: {
              text: "This condition was marked as met on 9 September 2020"
            },
            items: [
              {
                value: "Pending",
                text: "Pending"
              },
              {
                value: "Met",
                text: "Met",
                checked: true

              }
            ]
          }) }}


          {{ govukButton({
            text: "Continue"
          }) }}
        </form>

      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
