{% extends "_layout.njk" %}

{% set org = relationship.org1.name %}
{% set partner = relationship.org2.name %}

{% set title = 'Change permissions - ' + org + ' and ' + partner %}

{% set backLinkUrl %}/organisation-settings/{{relationship.org1.id}}/organisational-permissions{% endset %}
{% block beforeContent %}
  {{ govukBackLink({
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{org}} and {{partner}}</span>
      <h1 class="govuk-heading-l">Organisation permissions</h1>

      <p>All users can view applications.</p>

      <form novalidate method="post">
        {% set fieldName = 'data.orgpermissions'%}
        {% include "_includes/permissions-checkboxes.njk" %}

        {{ govukWarningText({
          text: "All users who can manage organisation permissions will be sent an email with the updated organisation permissions.",
          iconFallbackText: "Fallback text"
        }) }}

        {{govukButton({
          text: "Save organisation permissions"
        })}}
      </form>
      <p><a href="{{backLinkUrl}}">Cancel</a>
    </div>
  </div>

{% endblock %}
