{% extends "_layout.njk" %}

{% set org = relationship.org1.name %}
{% set partner = relationship.org2.name %}

{% set title = 'Change permissions - ' + org + ' and ' + partner %}

{% set backLinkUrl %}/organisation-settings/{{relationship.org1.id}}/organisational-permissions{% endset %}
{% block beforeContent %}
  {{ govukBackLink({
    href: backLinkUrl
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{org}} and {{partner}}</span>
      <h1 class="govuk-heading-l">Organisational permissions</h1>

      {% include "_includes/permissions-guidance.njk" %}

      <form novalidate method="post">
        {% include "_includes/permissions-checkboxes.njk" %}
        {{govukButton({
          text: "Save organisational permissions"
        })}}
      </form>
      <p><a href="{{backLinkUrl}}">Cancel</a>
    </div>
  </div>

{% endblock %}
