{% extends "_layout.njk" %}

{% set primaryNavId = 'organisations' %}
{% set title = "Organisation permissions" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Organisation settings",
      href: "/organisation-settings"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block content %}

  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-l">{{org.name}}</span>
      <h1 class="govuk-heading-l">{{title}}</h1>

      {% if not canManageOrganisationPermissions %}
        <p>You cannot change these permissions because you do not have permission to manage organisations.</p>
      {% endif %}

      {% for relationship in relationships %}
        {% set makeDecisionsHtml %}
          {% if relationship.orgPermissions.makeDecisions or relationship.partnerPermissions.makeDecisions %}
            <ul class="govuk-list">
              {% if relationship.orgPermissions.makeDecisions %}
                <li>{{ relationship.org.name }}</li>
              {% endif %}
              {% if relationship.partnerPermissions.makeDecisions %}
                <li>{{ relationship.partner.name }}</li>
              {% endif %}
            </ul>
          {% else %}
            <p class="govuk-!-margin-bottom-0">Neither organisation can do this {% if canManageOrganisationPermissions %}- you can change permissions to allow it{% endif %}</p>
          {% endif %}
        {% endset %}

        {% set viewSafeguardingHtml %}
          {% if relationship.orgPermissions.viewSafeguardingInformation or relationship.partnerPermissions.viewSafeguardingInformation %}
            <ul class="govuk-list">
              {% if relationship.orgPermissions.viewSafeguardingInformation %}
                <li>{{ relationship.org.name }}</li>
              {% endif %}
              {% if relationship.partnerPermissions.viewSafeguardingInformation %}
                <li>{{ relationship.partner.name }}</li>
              {% endif %}
            </ul>
          {% else %}
            <p class="govuk-!-margin-bottom-0">Neither organisation can do this {% if canManageOrganisationPermissions %}- you can change permissions to allow it{% endif %}</p>
          {% endif %}
        {% endset %}

        {% set viewDiversityHtml %}
          {% if relationship.orgPermissions.viewDiversityInformation or relationship.partnerPermissions.viewDiversityInformation %}
            <ul class="govuk-list">
              {% if relationship.orgPermissions.viewDiversityInformation %}
                <li>{{ relationship.org.name }}</li>
              {% endif %}
              {% if relationship.partnerPermissions.viewDiversityInformation %}
                <li>{{ relationship.partner.name }}</li>
              {% endif %}
            </ul>
          {% else %}
            <p class="govuk-!-margin-bottom-0">Neither organisation can do this {% if canManageOrganisationPermissions %}- you can change permissions to allow it{% endif %}</p>
          {% endif %}
        {% endset %}

        {% set cardHtml %}

          {{ govukSummaryList({
            rows: [
              {
                key: {
                  text: "Make offers and reject applications"
                },
                value: {
                  html: makeDecisionsHtml
                }
              },
              {
                key: {
                  text: "View criminal convictions and professional misconduct"
                },
                value: {
                  html: viewSafeguardingHtml
                }
              },
              {
                key: {
                  text: "View sex, disability and ethnicity information"
                },
                value: {
                  html: viewDiversityHtml
                }
              }
            ]
          }) }}
        {% endset %}
        {{appSummaryCard({
          titleText: org.name + ' and ' + relationship.partner.name,
          classes: "govuk-!-margin-bottom-6",
          html: cardHtml,
          actions: {
            items: [{
              href: "/organisation-settings/"+org.id+"/organisational-permissions/"+relationship.id+"/edit",
              text: "Change"
            }]
          } if canManageOrganisationPermissions
        })}}

      {% endfor %}
    </div>
  </div>

{% endblock %}
