{% extends "_layout-register.njk" %}

{% set title = "Check training provider users and send invites" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ registration.accreditingBody.name }}</span>
        {{ title }}
      </h1>

      <dl class="govuk-summary-list">
        {%- for trainingProvider in registration.trainingProviders %}
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              {{- trainingProvider.name -}}
            </dt>
            <dd class="govuk-summary-list__value">
              {%- if trainingProvider.onboard == 'yes' %}
                <ul class="govuk-list">
                  <li>
                    {{- trainingProvider.contactName -}}
                  </li>
                  <li>
                    {{- trainingProvider.contactEmail -}}
                  </li>
                </ul>
              {% else %}
                Do not onboard training provider
              {% endif -%}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/register/{{ registration.accreditingBody.id }}/providers/{{ trainingProvider.id }}">
              Change<span class="govuk-visually-hidden"> {{ trainingProvider.name }}</span>
              </a>
            </dd>
          </div>
        {% endfor -%}
      </dl>

      {%- if registration.acceptAgreement[0] == 'yes' %}
        <p class="govuk-body">
          Bath Spa University agrees to comply with the data sharing practices outlined in the data sharing agreement.
        </p>
      {% endif -%}

      {{ govukButton({
        text: "Send invites",
        href: actions.next
      }) }}

    </div>
  </div>
{% endblock %}
