{% extends "_layout-register.njk" %}

{% set title = "Set up users for your training providers" %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">{{ accreditingBody.name }}</span>
        {{ title }}
      </h1>

      <p class="govuk-body">You belong to the {{ accreditingBody.name }} who ratify courses run by::</p>

      <ul class="govuk-list govuk-list--bullet">
        {% for provider in trainingProviders %}
          <li>
            {{ provider.name }}
          </li>
        {% endfor %}
      </ul>

      <p class="govuk-body">To create your account, you must tell us:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>
          whether each training provider’s courses should be open on ‘Apply for teacher training’
        </li>
        <li>
          the email address of the user who works at each training provider
        </li>
      </ul>

      {{ govukButton({
        text: "Continue",
        href: actions.next
      }) }}

    </div>
  </div>
{% endblock %}
