{% extends "_form.njk" %}

{% set application = applications[applicationId] %}
{% set formaction = "/application/" + applicationId + "/confirm?type=conditional" %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set parent = name + " – " + application.course %}
{% set title = "Conditions of offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/change-status"
  }) }}
{% endblock %}

{% block primary %}
  {{ govukSummaryList({
    rows: [{
      key: {
        text: "Full name"
      },
      value: {
        text: name
      }
    }, {
      key: {
        text: "Course"
      },
      value: {
        html: application.course + "<br />PGCE with QTS full time"
      }
    }, {
      key: {
        text: "Starting"
      },
      value: {
        text: "September 2020"
      }
    }, {
      key: {
        text: "Preferred location"
      },
      value: {
        html: "Alliance Academy<br />Edgeware, Road Name, SW1 1AA"
      }
    }]
  }) }}

  {{ govukTextarea({
    id: "condition-of-offer-1",
    name: "condition-of-offer-1",
    rows: 5,
    label: {
      text: "First condition",
      classes: "govuk-label--s"
    }
  }) }}

  {{ govukTextarea({
    id: "condition-of-offer-2",
    name: "condition-of-offer-2",
    rows: 5,
    label: {
      text: "Second condition (optional)",
      classes: "govuk-label--s"
    }
  }) }}

  {{ govukTextarea({
    id: "condition-of-offer-3",
    name: "condition-of-offer-3",
    rows: 5,
    label: {
      text: "Third condition (optional)",
      classes: "govuk-label--s"
    }
  }) }}

  {{ govukTextarea({
    id: "condition-of-offer-further",
    name: "condition-of-offer-further",
    rows: 5,
    label: {
      text: "Further conditions (optional)",
      classes: "govuk-label--s"
    }
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  <p class="govuk-body"><a href="{{ formaction }}">Cancel</a></p>
{% endblock %}
