{% extends "_form.njk" %}

{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set parent = name + " – " + application.course %}
{% set title = "Confirm " + type + " offer" %}

{% block pageNavigation %}
  {% if type == "conditional" %}
    {{ govukBackLink({
      href: "/application/" + application.id + "/offer"
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/application/" + application.id + "/decision"
    }) }}
  {% endif %}
{% endblock %}

{% block primary %}
  {% if conditions %}
    {{ govukSummaryList({
      rows: [{
        key: {
          text: "First condition"
        },
        value: {
          text: conditions[0]
        }
      } if conditions[0], {
        key: {
          text: "Second condition"
        },
        value: {
          text: conditions[1]
        }
      } if conditions[1], {
        key: {
          text: "Third condition"
        },
        value: {
          text: conditions[2]
        }
      } if conditions[2], {
        key: {
          text: "Further conditions"
        },
        value: {
          text: conditions[3]
        }
      } if conditions[3]]
    }) }}
  {% endif %}

  <p class="govuk-body"><mark>Legal text</mark></p>
  {{ govukButton({
    text: "Confirm offer"
  }) }}

  <p class="govuk-body"><a href="{{ formaction }}">Cancel</a></p>
{% endblock %}
