{% extends "_layout.njk" %}

{% set application = data.applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}

{% set title = "Check and confirm withdrawal" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/withdraw'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{title}}</h1>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-8",
        rows: [{
          key: {
            text: "Candidate name"
          },
          value: {
            text: name
          }
        }, {
          key: {
            text: "Course"
          },
          value: {
            html: application.course
          }
        }, {
          key: {
            text: "Location"
          },
          value: {
            html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
          }
        },
        {
          key: {
            text: "Provider"
          },
          value: {
            html: application.provider
          }
        }, {
            key: {
              text: "Reason for withdrawal"
            },
            value: {
              text: data.comments
            }
          } if data.comments]
      }) }}

      <form method="post">
        {{ govukButton({
          text: "Withdraw offer",
          classes: "govuk-button--warning"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
