{% extends "_layout.njk" %}

{% set application = data.applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}

{% set title = "Confirm the conditions have not been met" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + '/mark-conditions'
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">{{title}}</h1>

      {% include "_includes/application-summary.njk" %}

      <h2 class="govuk-heading-l">Conditions</h2>

      {{appTaskList({
        items: conditions
      })}}

      <form method="post">
        {{ govukButton({
          text: "Confirm",
          classes: 'govuk-button--warning'
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>

{% endblock %}
