{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set application = data.applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = "Check and confirm rejection" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/reject"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{name}}</span>
      <h1 class="govuk-heading-xl">{{title}}</h1>

      {{ govukSummaryList({
        rows: [{
            key: {
              text: "Provider"
            },
            value: {
              html: application.provider
            }
          }, {
            key: {
              text: "Course"
            },
            value: {
              html: application.course
            }
          }, {
            key: {
              text: "Location"
            },
            value: {
              html: "Alliance Academy, Edgeware, Road Name, SW1 1AA"
            }
          },
          {
          key: {
            text: "Reason for rejection"
          },
          value: {
            text: "Reasons displayed here"
          }
        }]
      }) }}


      <form method="post">
        {{ govukButton({
          text: "Reject application"
        }) }}
      </form>
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
