{% extends "_form-wide.njk" %}

{% set primaryNavId = 'applications' %}
{% set application = data.applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set parent = "Application for " + application.course %}
{% set title = "Confirm offer" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/offer"
  }) }}
{% endblock %}

{% block primary %}
  {% set furtherConditionsHtml %}
    {% if furtherConditions %}
      <ul class="govuk-list govuk-list--bullet">
        {% for condition in furtherConditions %}
          <li>{{ condition.description }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endset %}

  {% set standardConditionsHtml %}
    {% if standardConditions %}
      <ul class="govuk-list govuk-list--bullet">
        {% for condition in standardConditions %}
          <li>{{ condition.description }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endset %}

  {% set reasonsHtml %}
    {% if reasons %}
      <ul class="govuk-list govuk-list--bullet">
        {% for reason in reasons %}
        <li>{{ reason }}</li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        {{ govukSummaryList({
          rows: [{
            key: {
              text: "Standard conditions"
            },
            value: {
              text: standardConditionsHtml | safe
            }
          } if standardConditions | length > 0, {
            key: {
              text: "Further conditions"
            },
            value: {
              text: furtherConditionsHtml | safe or "No conditions set"
            }
          } if furtherConditions | length > 0,
          {
            key: {
              text: "Recommendations"
            },
            value: {
              text: recommendations
            }
          } if recommendations
        ]}) if standardConditions or furtherConditions or recommendations
        }}
        <p class="govuk-body govuk-!-font-weight-bold">Please make a note of the conditions and recommendations you have set.</p>
        <p class="govuk-body">By confirming this offer, you guarantee this candidate a place on their chosen course, if they meet the conditions you have set out.</p>
        <p class="govuk-body">Once the candidate has accepted, you can only change the conditions of this offer with their permission.</p>

      {{ govukButton({
        text: title
      }) }}
      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
