{% extends "_form-wide.njk" %}

{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set parent = name + " – " + application.course %}
{% set title = "Respond to application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id
  }) }}
{% endblock %}

{% block primary %}
  {% set isPrimaryCourse = application.course.includes("Primary") %}
  {{ govukRadios({
    idPrefix: "status",
    classes: "govuk-!-margin-top-2",
    name: "decision",
    items: [{
      value: "offer-conditional",
      text: "Make a conditional offer",
      checked: checked("decision", "offer-conditional")
    }, {
      value: "offer-unconditional",
      text: "Make an unconditional offer",
      checked: checked("decision", "offer-unconditional")
    }, {
      divider: "or"
    }, {
      value: "reject",
      text: "Reject application",
      checked: checked("decision", "reject")
    }]
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
{% endblock %}
