{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set parent = "Application for " + application.course %}
{% set title = "Respond to application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id
  }) }}
{% endblock %}

{% block content %}
  {# {% set isPrimaryCourse = application.course.includes("Primary") %} #}
  <h1 class="govuk-heading-xl">Respond to application</h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Candidate name"
            },
            value: {
              html: application['personal-details']['given-name'] + ' ' +  application['personal-details']['family-name']
            }
          },
          {
            key: {
              text: "Course"
            },
            value: {
              html: application.course
            }
          },
          {
            key: {
              text: "Provider"
            },
            value: {
              html: application.provider
            }
          }
        ]
      }) }}
    </div>
  </div>


  <form action="{{ formaction | default('') }}" method="post">
    {{ govukRadios({
      fieldset: {
        legend: {
          html: "Choose response",
          classes: "govuk-fieldset__legend--m",
          isPageHeading: true
        }
      },
      idPrefix: "status",
      classes: "govuk-!-margin-top-2",
      name: "decision",
      items: [{
        value: "offer",
        text: "Make an offer",

        checked: checked("decision", "offer")
      },
      {
        value: "different-course",
        text: "Make an offer but change course",

        checked: checked("decision", "different-course")
      },{
        value: "different-location",
        text: "Make an offer but change location",

        checked: checked("decision", "different-location")
      },
      {
        value: "different-provider",
        text: "Make an offer but change training provider",
        checked: checked("decision", "different-provider")
      }, {
        value: "reject",
        text: "Reject application",
        checked: checked("decision", "reject")
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>
  <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
{% endblock %}
