{% extends "_layout.njk" %}

{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{# {% set parent = "Application for " + application.course %} #}
{% set title = "Edit response" %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Applications",
      href: "/"
    }, {
      text: name,
      href: "/application/" + application.id
    }, {
      text: title
    }]
  }) if not data.bare }}
{% endblock %}

{% block content %}
  {# {% set isPrimaryCourse = application.course.includes("Primary") %} #}

  <h1 class="govuk-heading-xl">Edit response</h1>

  <p class="govuk-body">Because this candidate has not accepted your offer, you can still make changes.</p>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% include "_includes/application-summary.njk" %}
    </div>
  </div>


  <form action="{{ formaction | default('') }}" method="post">
    {{ govukRadios({
      fieldset: {
        legend: {
          html: "What would you like to do?",
          classes: "govuk-fieldset__legend--m"
        }
      },
      idPrefix: "status",
      name: "decision",
      items: [{
        value: "different-course",
        text: "Offer this candidate a different course or location",
        hint: {
          text: "You can include new conditions or recommendations"
        },
        checked: checked("decision", "different-course")
      }, {
        value: "reject",
        text: "Withdraw your offer",
        checked: checked("decision", "reject")
      }]
    }) }}

    {{ govukButton({
      text: "Continue"
    }) }}
  </form>

  <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
{% endblock %}
