{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "application" %}
{% set name = application.personalDetails.name %}
{% set title = 'Application - ' + name %}
{% set rbd = application.submittedDate | addDays(40) %}
{% set remaining = rbd | daysFromNow(rbd) %}

{% block content %}
  {{ govukNotificationBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash | falsify }}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
    {{name}}
    <span class="govuk-visually-hidden">Application</span>
    {{ govukTag({ classes: statusText | statusClass, text: statusText }) }}
  </h1>

  {% include "_includes/application/interview-prompt.njk" %}
  {% include "_includes/application/respond-prompt.njk" %}
  {% include "_includes/application/defer-prompt.njk" %}
  {% include "_includes/application/feedback-prompt.njk" %}
  {% include "_includes/application/sub-nav.njk" %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if application.rejectedReasons %}
        {% set rejectedDate = application.rejectedDate %}
        {% set rejectionReasons = application.rejectedReasons %}
        {% set showRejectedDate = true %}



        {# <h2 class="govuk-heading-m govuk-!-margin-bottom-2 govuk-!-font-size-27">Rejection details</h2> #}

        {# {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Automatically rejected"
            },
            value: {
              text: rejectedDate | govukDate
            }
          },
          {
            key: {
              text: "Feedback sent"
            },
            value: {
              text: rejectedDate | govukDate
            }
          },
          {
            key: {
              text: "Feedback for candidate"
            },
            value: {
              text: rejectionReasons['why']
            }
          }
        ]
      }) }} #}

      {# {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Rejected"
            },
            value: {
              text: rejectedDate | govukDate
            }
          },
          {
            key: {
              text: "Feedback for candidate"
            },
            value: {
              text: rejectionReasons['why']
            }
          }
        ]
      }) }} #}

        {# <p>This application was automatically rejected on {{ rejectedDate | govukDate }}. Feedback was sent on {{ rejectedDate | govukDate }}.</p> #}

        <h2 class="govuk-heading-m govuk-!-font-size-27">Rejection details</h2>

        <p>This application was rejected on  {{ rejectedDate | govukDate }}. The following feedback was sent to the candidate.</p>
        {% include "_includes/candidate-feedback.njk" %}
      {% endif %}

      {% include "_includes/application/details.njk" %}

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">Course details</h2>
      {{ govukSummaryList({
        rows: [{
          key: {
            text: "Provider"
          },
          value: {
            text: application["provider"]
          }
        }, {
          key: {
            text: "Course"
          },
          value: {
            text: application["course"]
          }
        }, {
          key: {
            text: "Training location"
          },
          value: {
            html: application["locationname"] + '<br> SCIL, Dillington House, Ilminster, Somerset, TA19 9DT '
          }
        }, {
          key: {
            text: "Full time or part time"
          },
          value: {
            text: 'Full time'
          }
        }]
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">Disability, access and other needs</h2>
      {% set disabilityGuidanceHtml %}
        <h2 class="govuk-heading-m ">Asking for support if you have a disability or other needs</h2>
        <p class="govuk-body">You might benefit from extra support if you’re disabled, have a mental health condition or educational needs.</p>
        <p class="govuk-body">If you choose to tell us you need support, we’ll let your training provider know. They can then make adjustments so you can attend an interview or do the training.</p>
        <p class="govuk-body">Examples of support could be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>organising equipment like a hearing loop or an adapted keyboard</li>
          <li>putting you in touch with support staff if you have a mental health condition</li>
          <li>making sure classrooms are wheelchair accessible</li>
        </ul>
        <p class="govuk-body">If the help you need is not covered by your provider making adjustments, you might also be able to get support from <a href="https://www.gov.uk/access-to-work">Access to Work</a>. This could include a grant to help cover the costs of practical support in the workplace.</p>
        <h2 class="govuk-heading-m">It’s against the law to discriminate</h2>
        <p class="govuk-body">If you’re disabled, <a href="/getintoteaching/train-to-teach-with-a-disability">it’s against the law to discriminate against you</a>. Training providers must not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>ask disability or health questions if they’re not relevant to your ability to become a teacher</li>
          <li>reject your application because you’re disabled</li>
        </ul>
      {% endset %}
      {{ govukDetails({
        summaryText: "View guidance given to candidate",
        html: disabilityGuidanceHtml
      }) }}
      <p class="govuk-body">{{application["reasonable-adjustments"] | nl2br or "No information shared"}}</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">Criminal convictions and professional misconduct</h2>
      {% set safeguardingGuidanceHtml %}
        <h2 class="govuk-heading-m">Declaring any safeguarding issues</h2>
        <p class="govuk-body">Teacher training providers need to check that it’s safe for you to work with children and young people.</p>
        <p class="govuk-body">As well as confirming your identity and your right to work in the UK, providers will check:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your criminal record in the UK (they'll do an enhanced <a href="https://www.gov.uk/government/organisations/disclosure-and-barring-service/about#dbs-checks">DBS check)</a> and abroad where relevant</li>
          <li>whether you’ve been banned from teaching or working with children</li>
          <li>your professional behaviour, such as whether you’ve been removed from teacher training and what your referees say about you</li>
        </ul>
        <p class="govuk-body">Tell your provider about any potential safeguarding issues, such as offences, cautions, reprimands and final warnings. They can give advice about whether this will affect your application.</p>
        <p class="govuk-body">It won’t necessarily stop you becoming a teacher.</p>
      {% endset %}
      {{ govukDetails({
        summaryText: "View guidance given to candidate",
        html: safeguardingGuidanceHtml
      }) }}

      {% if application.safeguarding %}
        {% set safeguardingHtml %}
          <p class="govuk-body">{{ application.safeguarding | nl2br }}</p>
        {% endset %}
        <p class="govuk-body">The candidate has disclosed sensitive material related to safeguarding.</p>
        {{ govukDetails({
          summaryText: "View information disclosed by the candidate",
          html: safeguardingHtml
        }) }}
      {% else %}
        <p class="govuk-body">No information shared</p>
      {% endif %}

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">Interview</h2>
      {% set interviewGuidanceHtml %}
        <h2 class="govuk-heading-m">Interview needs</h2>
        <p class="govuk-body">Interviews usually take place over the course of a day. You'll need to attend in person.</p>
        <p class="govuk-body">Training providers might not have much flexibility when setting a date and time for interview.</p>
        <p class="govuk-body">If there's a reason why you need some flexibility you can tell us about it here.</p>
        <p class="govuk-body">For example:</p>
        <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
          <li>you have commitments such as employment or caring responsibilities</li>
          <li>you'll be travelling a long way to get to the interview</li>
          <li>you'll need some adjustments because you're disabled</li>
        </ul>
      {% endset %}
      {{ govukDetails({
        summaryText: "View guidance given to candidate",
        html: interviewGuidanceHtml
      }) }}
      <p class="govuk-body">{{ application.interviewNeeds | nl2br or "No information shared" }}</p>
    </div>
    <div class="govuk-grid-column-one-third">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">Qualifications</h2>
      {% set qualificationsGuidanceHtml %}
        <h2 class="govuk-heading-m">Academic and other relevant qualifications</h2>
        <p class="govuk-body">Your undergraduate degree confirms your eligibility to teach. Enter the details of your degree as they appear on your certificate, translating them into English if necessary.</p>
        <p class="govuk-body">You should also include any postgraduate degrees.</p>
        <p class="govuk-body">Enter your other qualifications as completely as you can, including all your GCSEs and A levels (or equivalents), and any other qualifications where you showed skills that might help you as a teacher.</p>
      {% endset %}
      {{ govukDetails({
        summaryText: "View guidance given to candidate",
        html: qualificationsGuidanceHtml
      }) }}
      {% include "_includes/application/degrees.njk" %}
      {% include "_includes/application/gcses.njk" %}
      {% if application.personalDetails.isInternationalCandidate %}
        {% include "_includes/application/english-language-qualification.njk" %}
      {% endif %}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/application/other-qualifications.njk" %}

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">Work history</h2>
      {% set workHistoryGuidanceHtml %}
        <h2 class="govuk-heading-m">Work history</h2>
        <p class="govuk-body">Training providers need a complete picture of the last 5 years of of your work history, including time out of the workplace, to safeguard children.</p>
        <p class="govuk-body">Breaks in work history won’t impact your application if you have a reasonable explanation for them (for example, parenting responsibilities, redundancy, illness or personal reasons such as study or travel).</p>
      {% endset %}
      {{ govukDetails({
        summaryText: "View guidance given to candidate",
        html: workHistoryGuidanceHtml
      }) }}
      {% include "_includes/application/work-history.njk" %}

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">Unpaid experience and volunteering</h2>
      {% set volunteeringGuidanceHtml %}
        <h2 class="govuk-heading-m">Unpaid experience working with children and other volunteering</h2>
        <p class="govuk-body">Tell us about any unpaid experience you have working with children or in a school. For example:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>one-off observations in a school</li>
          <li>volunteering at a children's club</li>
          <li>being a governor</li>
        </ul>
        <p class="govuk-body">You can also tell us about any other volunteering you’ve done, and how this supports your application to become a teacher.</p>
      {% endset %}
      {{ govukDetails({
        summaryText: "View guidance given to candidate",
        html: volunteeringGuidanceHtml
      }) }}
      {% include "_includes/application/school-experience.njk" %}

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">Personal statement</h2>
      {% set personalStatementGuidanceHtml %}
        <h2 class="govuk-heading-m">Why do you want to be a teacher?</h2>
        <p class="govuk-body">Use this section to showcase your motivation, commitment and teaching potential, backing up your answer with specific examples.</p>
        <p class="govuk-body">Give providers an insight into your personality by writing honestly and thoughtfully. Avoid cliché and write in clear, correct, concise English.</p>
        <p class="govuk-body">You can ask your training provider for examples written by successful applicants, or register with <a href="https://getintoteaching.education.gov.uk/">Get into Teaching</a> for help from a teacher training adviser.</p>
        <p class="govuk-body govuk-!-font-weight-bold">Suggested topics to cover include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>why you want to be a teacher</li>
          <li>your passion for your subject and the age group you’ve chosen to teach</li>
          <li>the welfare and education of children and/or young people</li>
          <li>the demands and rewards of the profession</li>
          <li>personal qualities that will make you a good teacher</li>
          <li>your contribution to the life of the school outside the classroom – for example, running extra-curricular activities and clubs</li>
          <li>if you have school experience or have worked as a volunteer with children or young people, give details of what this has taught you</li>
        </ul>
        <h2 class="govuk-heading-m">What do you know about the subject you want to teach?</h2>
        <p class="govuk-body">Give us detailed evidence for the knowledge and interest you bring to your course choice.</p>
        <p class="govuk-body">Evidence can include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the subject of your undergraduate degree</li>
          <li>modules you studied as part of your degree</li>
          <li>postgraduate degrees (for example, a Masters or PhD)</li>
          <li>your A level subjects</li>
          <li>expertise you’ve gained at work</li>
        </ul>
      {% endset %}
      {{ govukDetails({
        summaryText: "View guidance given to candidate",
        html: personalStatementGuidanceHtml
      }) }}

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Vocation</h3>
      <p>{{ application.personalStatement.vocation | safe | nl2br or "—" }}</p>

      <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Subject knowledge</h3>
      <p>{{ application.personalStatement.subjectKnowledge | safe | nl2br or "—" }}</p>

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2 govuk-!-font-size-27">References</h2>
      {% set referencesGuidanceHtml %}
        <h2 class="govuk-heading-m">Choosing referees</h2>
        <p class="govuk-body">Referees should not be family members, partners or friends.</p>
        <p class="govuk-body">If you’re struggling to find a suitable referee, contact your provider to discuss this.</p>
        <p class="govuk-body">Types of referee you can add:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Academic (for example, your university tutor or supervisor – choose an academic referee if you graduated in the last 5 years or you have a predicted grade for your degree)</li>
          <li>Professional (for example, your current line manager or a previous employer – if you’re self-employed, you could use a client or supplier)</li>
          <li>School-based (for example, a teacher at a school where you’ve volunteered or gained experience)</li>
          <li>Character (choose a responsible person who can confirm you’re suitable for teaching – for example, a sports coach – and remember that training providers will only accept character references if there’s also an academic or professional reference)</li>
        </ul>
      {% endset %}
      {{ govukDetails({
        summaryText: "View guidance given to candidate",
        html: referencesGuidanceHtml
      }) }}
      <h3 class="govuk-heading-m govuk-!-margin-bottom-2">First referee</h2>
      {% set referenceId = "first" %}
      {% include "_includes/application/reference.njk" %}

      <h3 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2">Second referee</h2>
      {% set referenceId = "second" %}
      {% include "_includes/application/reference.njk" %}

      <h2 class="govuk-heading-m govuk-!-margin-top-8 govuk-!-margin-bottom-2">Diversity information</h2>
      {% include "_includes/application/diversity-information.njk" %}
    </div>
  </div>
{% endblock %}
