{% extends "_content-wide.njk" %}

{% set application = data.applications[applicationId] %}
{% set status = application.status %}
{% set parent = "Application for " + application.course %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = name %}

{% block pageNavigation %}
  {{ govukBreadcrumbs({
    items: [{
      text: "Applications",
      href: "/"
    }, {
      text: title
    }]
  }) }}
{% endblock %}

{% block primary %}
  {{ appBanner({
    text: "Application status changed to ‘" + status | status("title") + "’",
    type: "success"
  }) if success }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "_includes/application/details.njk" %}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="app-card">
        <h2 class="govuk-heading-m">Status</h2>
        {{ govukTag({
          classes: "app-tag--" + status | status + " govuk-!-margin-bottom-4",
          text: status | status("title") | capitalize
        }) }}
        {% if status.offer %}
          <span class="govuk-body govuk-!-margin-left-1">{{ status.offer.type | capitalize }}</span>
        {% endif %}
        <dl class="govuk-body">
          <dt class="govuk-!-font-weight-bold">Application submitted<dt>
          <dd class="govuk-!-margin-left-0">{{ status.submitted.date | date("dd LLL yyyy") }}</dd>
        </dl>
      {% if status.rejected %}
        <dl class="govuk-body">
          <dt class="govuk-!-font-weight-bold">Application rejected<dt>
          <dd class="govuk-!-margin-left-0">{{ status.rejected.date | date("dd LLL yyyy") }}</dd>
        </dl>
      {% elif status.declined %}
        <dl class="govuk-body">
          <dt class="govuk-!-font-weight-bold">Offer declined<dt>
          <dd class="govuk-!-margin-left-0">{{ status.declined.date | date("dd LLL yyyy") }}</dd>
        </dl>
      {% elif status.accepted %}
        <dl class="govuk-body">
          <dt class="govuk-!-font-weight-bold">Offer accepted<dt>
          <dd class="govuk-!-margin-left-0">{{ status.accepted.date | date("dd LLL yyyy") }}</dd>
        </dl>
      {% elif status.offer %}
        {% set dbd = status.submitted.date | addDays(10) %}
        {% set remaining = dbd | daysFromNow(dbd) %}
        <dl class="govuk-body">
          <dt class="govuk-!-font-weight-bold">Decline by default<dt>
          <dd class="govuk-!-margin-left-0">{{ dbd | date("dd LLL yyyy") }} ({{ remaining}} days time)</dd>
        </dl>
      {% else %}
        {% set rbd = status.submitted.date | addDays(40) %}
        {% set remaining = rbd | daysFromNow(rbd) %}
        <dl class="govuk-body">
          <dt class="govuk-!-font-weight-bold">Respond to the applicant by:<dt>
          <dd class="govuk-!-margin-left-0">{{ rbd | date("dd LLL yyyy") }}</dd>
        </dl>
        {{ govukButton({
          classes: "govuk-!-margin-bottom-4",
          text: "Make decision",
          href: "/application/" + application.id + "/decision"
        }) }}
      {% endif %}
        <p class="govuk-body govuk-!-margin-bottom-0"><a href="#" download>Download application (CSV)</a></p>
      </div>
    </div>
  </div>

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Qualifications</h2>
  {% include "_includes/application/degrees.njk" %}
  {% include "_includes/application/gcses.njk" %}
  {% include "_includes/application/other-qualifications.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Work history</h2>
  {% include "_includes/application/work-history.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">School experience and volunteering</h2>
  {% include "_includes/application/school-experience.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Language Skills</h2>
  {% include "_includes/application/language-skills.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8">Personal statement</h2>
  {% include "_includes/application/personal-statement.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8 govuk-!-margin-bottom-2">First referee</h2>
  {% set referenceId = "first" %}
  {% include "_includes/application/reference.njk" %}

  <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8 govuk-!-margin-bottom-2">Second referee</h2>
  {% set referenceId = "second" %}
  {% include "_includes/application/reference.njk" %}
{% endblock %}
