{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set application = data.applications[applicationId] %}
{% set subNavId = "offer" %}
{% set status = application.status %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = name %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flash+"</h2>",
    type: "success",
    icon: false
  }) if flash }}

  {% set rbd = application.submittedDate | addDays(40) %}
  {% set remaining = rbd | daysFromNow(rbd) %}

  {% if application.status == 'Submitted' %}
    {% set bannerHtml %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-0">You have 22 days to send a response. <a class="govuk-link--no-visited-state" href="/application/{{application.id}}/decision">Respond to application</a>.</h2>
    {% endset %}
    {{ appBanner({
      html: bannerHtml,
      type: "information",
      icon: false
    }) }}
  {% endif %}

  {% if application.status == 'Deferred' and application.cycle == 'Current cycle (2020-2021)' %}
    {% set bannerHtml %}
      <h2 class="govuk-heading-m">You need to reconfirm your offer</h2>
      {{ govukButton({
        text: "Reconfirm offer",
        classes: "govuk-!-margin-bottom-0",
        href: "/application/" + application.id + "/offer/reconfirm"
      }) }}
    {% endset %}
    {{ appBanner({
      html: bannerHtml,
      type: "information",
      icon: false
    }) }}
  {% endif %}

  <h1 class="govuk-heading-xl govuk-!-margin-top-0">{{name}} {{ govukTag({ classes: status | statusClass, text: status })}}</h1>

  {% include "_includes/application/sub-nav.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if application.offer %}
        {% set offer = application.offer %}
        <h2 class="govuk-heading-l">Offer</h2>
        {% include "_includes/offer/panel.njk" %}
      {% endif %}

      {% if application.previousOffer %}
        {% set offer = application.previousOffer %}
        <h2 class="govuk-heading-l">Previous offer</h2>
        {% include "_includes/offer/panel.njk" %}
      {% endif %}
    </div>
  </div>
{% endblock %}
