{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = "Reject application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/decision"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl"></span>
      <h1 class="govuk-heading-xl">Tell {{name}} why their application wasn’t successful</h1>
      <p>You can increase this candidate’s chances of future success by giving them feedback.</p>

      <form method="post">
        {% include "_includes/reject-form-fields.njk" %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
