{% extends "_form.njk" %}

{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set parent = name + " – " + application.course %}
{% set title = "Reject candidate" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/decision"
  }) }}
{% endblock %}

{% block primary %}
  {% set otherHtml %}
    {{ govukInput({
      id: "other-reason",
      name: "other-reason",
      label: {
        text: "Please specify"
      }
    }) }}
  {% endset %}

  <h2 class="govuk-heading-m">Reason for rejection</h2>
  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "reasons-qualifications",
    name: "reasons",
    fieldset: {
      legend: {
        text: "Qualifications",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "No Maths GCSE grade 4 (C) or above",
      text: "No Maths GCSE grade 4 (C) or above"
    }, {
      value: "No English GCSE grade 4 (C) or above",
      text: "No English GCSE grade 4 (C) or above"
    }, {
      value: "No Science GCSE grade 4 (C) or above",
      text: "No Science GCSE grade 4 (C) or above"
    } if isPrimaryCourse, {
      value: "No degree/degree doesn’t meet course requirements",
      text: "No degree/degree doesn’t meet course requirements"
    }]
  }) }}

  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "reasons-assessment",
    name: "reasons",
    fieldset: {
      legend: {
        text: "Application and assessment",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "Candidate didn’t know their subject well enough",
      text: "Candidate didn’t know their subject well enough"
    } if not isPrimaryCourse, {
      value: "Candidate needs to improve their personal statement",
      text: "Candidate needs to improve their personal statement"
    }, {
      value: "Candidate needs to improve at the interview or assessment stage",
      text: "Candidate needs to improve at the interview or assessment stage"
    }, {
      value: "Candidate didn’t reply to the interview offer",
      text: "Candidate didn’t reply to the interview offer"
    }, {
      value: "Candidate didn’t come to the interview or assessment",
      text: "Candidate didn’t come to the interview or assessment"
    }, {
      value: "Candidate needs to improve how they interact with pupils",
      text: "Candidate needs to improve how they interact with pupils"
    }]
  }) }}

  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "reasons-suitability",
    name: "reasons",
    fieldset: {
      legend: {
        text: "Suitability and safeguarding",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "Candidate gave some information that wasn’t true or their own work",
      text: "Candidate gave some information that wasn’t true or their own work"
    }, {
      value: "References didn’t validate candidate’s suitability for the course",
      html: "References didn’t validate candidate’s suitability for the course"
    }, {
      value: "Candidate is unsuitable for teaching",
      text: "Candidate is unsuitable for teaching"
    }]
  }) }}

  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "reasons-programme",
    name: "reasons",
    fieldset: {
      legend: {
        text: "Training programme",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "Training programme was full by the time we reached a decision",
      text: "Training programme was full by the time we reached a decision"
    }, {
      value: "Training programme was withdrawn",
      text: "Training programme was withdrawn"
    }]
  }) }}

  {{ govukCheckboxes({
    classes: "govuk-checkboxes--small",
    idPrefix: "reasons-other",
    name: "reasons",
    fieldset: {
      legend: {
        text: "Other",
        classes: "govuk-fieldset__legend--s"
      }
    },
    items: [{
      value: "Other",
      text: "Other reason not listed above",
      conditional: {
        html: otherHtml
      }
    }]
  }) }}

  {{ govukTextarea({
    id: "comments",
    name: "comments",
    label: {
      text: "Please explain in more detail why the candidate was rejected (optional)",
      classes: "govuk-label--m"
    },
    hint: {
      text: "This feedback will be sent to the candidate."
    }
  }) }}

  {{ govukButton({
    text: "Continue"
  }) }}

  <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
{% endblock %}
