{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set application = applications[applicationId] %}
{% set name = [application["personal-details"]["given-name"], application["personal-details"]["family-name"]] | join(" ") %}
{% set title = "Reject application" %}

{% block pageNavigation %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/decision"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl"></span>
      <h1 class="govuk-heading-xl">Tell {{name}} why their application wasn’t successful</h1>
      <p>You can increase this candidate’s chances of future success by giving them feedback.</p>

      <form method="post">
        {% set candidateActionsReasonsOtherHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "candidate-actions-reasons-other",
            name: "candidate-actions-reasons-other",
            value: data['candidate-actions-reasons-other']
          }) }}
        {% endset %}
        {% set candidateActionsReasonsHtml %}
          {{ govukCheckboxes({
            classes: "govuk-checkboxes--small",
            name: "candidate-actions-reasons",
            fieldset: {
              legend: {
                text: "Select candidate action(s)",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [{
              value: "Didn’t reply to our interview offer",
              html: "Didn’t reply to our interview offer",
              checked: checked("candidate-actions-reasons", "Didn’t reply to our interview offer")
            }, {
              value: "Didn’t attend interview",
              text: "Didn’t attend interview",
              checked: checked("candidate-actions-reasons", "Didn’t attend interview")
            }, {
                value: "Other",
                text: "Other",
                checked: checked("candidate-actions-reasons", "Other"),
                conditional: {
                  html: candidateActionsReasonsOtherHtml
                }
              }]
          }) }}
        {% endset %}
        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Was it due to candidate actions?",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          },
          name: "candidate-actions",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("candidate-actions", "Yes"),
            conditional: {
              html: candidateActionsReasonsHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("candidate-actions", "No")
          }]
        }) }}



        <!-- Course full -->
        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Was it because this course is full?",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          },
          name: "course-full",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("course-full", "Yes")
          },
          {
            value: "No",
            text: "No",
            checked: checked("course-full", "No")
          }]
        })}}



        <!-- Missing qualifications -->
        {% set missingQualificationsReasonsOtherHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "missing-qualifications-reasons-other",
            name: "missing-qualifications-reasons-other"
          }) }}
        {% endset %}
        {% set missingQualificationsReasonsHtml %}
          {{ govukCheckboxes({
            classes: "govuk-checkboxes--small",
            name: "missing-qualifications-reasons",
            fieldset: {
              legend: {
                text: "Select missing qualification reason(s)",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [{
              value: "No Maths GCSE grade 4 (C) or above, or valid equivalent",
              html: "No Maths GCSE grade 4 (C) or above, or valid equivalent"
            }, {
              value: "No English GCSE grade 4 (C) or above, or valid equivalent",
              text: "No English GCSE grade 4 (C) or above, or valid equivalent"
            }, {
              value: "No Science GCSE grade 4 (C) or above, or valid equivalent (for primary applicants)",
              text: "No Science GCSE grade 4 (C) or above, or valid equivalent (for primary applicants)"
            }, {
              value: "No degree",
              text: "No degree"
            }, {
              value: "Degree doesn’t meet course requirements",
              text: "Degree doesn’t meet course requirements"
            }, {
                value: "Other",
                text: "Other",
                conditional: {
                  html: missingQualificationsReasonsOtherHtml
                }
              }]
          }) }}
        {% endset %}
        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Was it due to missing qualifications?",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          },
          name: "missing-qualifications",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("missing-qualifications", "Yes"),
            conditional: {
              html: missingQualificationsReasonsHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("missing-qualifications", "No")
          }]
        }) }}



        <!-- Application quality -->
        {% set applicationQualityReasonsPersonalStatementHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "application-quality-reasons-personal-statement",
            name: "application-quality-reasons-personal-statement"
          }) }}
        {% endset %}
        {% set applicationQualityReasonsSubjectKnowledgeHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "application-quality-reasons-subject-knowledge",
            name: "application-quality-reasons-subject-knowledge"
          }) }}
        {% endset %}
        {% set applicationQualityReasonsOtherHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "application-quality-reasons-other",
            name: "application-quality-reasons-other"
          }) }}
        {% endset %}
        {% set applicationQualityReasonsHtml %}
          {{ govukCheckboxes({
            classes: "govuk-checkboxes--small",
            name: "application-quality-reasons",
            fieldset: {
              legend: {
                text: "Select application quality reason(s)",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [{
              value: "Personal statement could be improved",
              html: "Personal statement could be improved",
              conditional: {
                html: applicationQualityReasonsPersonalStatementHtml
              }
            }, {
              value: "Subject knowledge could be improved",
              text: "Subject knowledge could be improved",
              conditional: {
                html: applicationQualityReasonsSubjectKnowledgeHtml
              }
            }, {
                value: "Other",
                text: "Other",
                conditional: {
                  html: applicationQualityReasonsOtherHtml
                }
              }]
          }) }}
        {% endset %}
        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Was it due to the quality of their application?",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          },
          name: "application-quality",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("application-quality", "Yes"),
            conditional: {
              html: applicationQualityReasonsHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("application-quality", "No")
          }]
        }) }}



        <!-- Safeguarding -->
        {% set safeguardingFalseInformationHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "safeguarding-reasons-false-information",
            name: "safeguarding-reasons-false-information"
          }) }}
        {% endset %}
        {% set safeguardingPlagiarismHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "safeguarding-reasons-plagiarism",
            name: "safeguarding-reasons-plagiarism"
          }) }}
        {% endset %}
        {% set safeguardingReferenceInformationHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "safeguarding-reasons-reference-information",
            name: "safeguarding-reasons-reference-information"
          }) }}
        {% endset %}
        {% set safeguardingDisclosedInformationHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "safeguarding-reasons-disclosed-information",
            name: "safeguarding-reasons-disclosed-information"
          }) }}
        {% endset %}
        {% set safeguardingVettingInformationHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "safeguarding-reasons-vetting-information",
            name: "safeguarding-reasons-vetting-information"
          }) }}
        {% endset %}
        {% set safeguardingOtherHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "safeguarding-reasons-other",
            name: "safeguarding-reasons-other"
          }) }}
        {% endset %}
        {% set safeguardingReasonsHtml %}
          {{ govukCheckboxes({
            classes: "govuk-checkboxes--small",
            name: "safeguarding-reasons",
            fieldset: {
              legend: {
                text: "Select safeguarding reason(s)",
                classes: "govuk-fieldset__legend--s"
              }
            },
            items: [{
              value: "Information given on application form false or inaccurate",
              html: "Information given on application form false or inaccurate",
              conditional: {
                html: safeguardingFalseInformationHtml
              }
            }, {
              value: "Evidence of plagiarism in personal statement or elsewhere",
              text: "Evidence of plagiarism in personal statement or elsewhere",
              conditional: {
                html: safeguardingPlagiarismHtml
              }
            }, {
              value: "References unsatisfactory",
              text: "References unsatisfactory",
              conditional: {
                html: safeguardingReferenceInformationHtml
              }
            }, {
              value: "Information disclosed by candidate makes them unsuitable to work with children",
              text: "Information disclosed by candidate makes them unsuitable to work with children",
              conditional: {
                html: safeguardingDisclosedInformationHtml
              }
            }, {
              value: "Information revealed by our vetting process makes them unsuitable to work with children",
              text: "Information revealed by our vetting process makes them unsuitable to work with children",
              conditional: {
                html: safeguardingVettingInformationHtml
              }
            }, {
                value: "Other",
                text: "Other",
                conditional: {
                  html: safeguardingOtherHtml
                }
              }]
          }) }}
        {% endset %}
        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Was it related to safeguarding?",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          },
          name: "safeguarding",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("safeguarding", "Yes"),
            conditional: {
              html: safeguardingReasonsHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("safeguarding", "No")
          }]
        }) }}



        <!-- Another issue -->
        {% set anotherIssueDetailsHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "another-issue-details",
            name: "another-issue-details"
          }) }}
        {% endset %}
        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Was it related to an issue we haven’t covered here?",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          },
          name: "another-issue",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("another-issue", "Yes"),
            conditional: {
              html: anotherIssueDetailsHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("another-issue", "No")
          }]
        }) }}



        <!-- Other feedback -->
        {% set otherFeedbackDetailsHtml %}
          {{ govukInput({
            label: {
              text: "Please give details"
            },
            id: "other-feedback-details",
            name: "other-feedback-details"
          }) }}
        {% endset %}
        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Is there any other advice or feedback you’d like to give " + name + "?",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          },
          name: "other-feedback",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("other-feedback", "Yes"),
            conditional: {
              html: otherFeedbackDetailsHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("other-feedback", "No")
          }]
        }) }}



        <!-- Future applications -->
        {% set futerApplicationsDetailsHtml %}
          {{ govukInput({
            label: {
              text: "Please give details (optional)"
            },
            id: "other-feedback-details",
            name: "other-feedback-details"
          }) }}
        {% endset %}
        {{ govukRadios({
          fieldset: {
            legend: {
              html: "Would you be interested in future applications from " + name + "?",
              classes: "govuk-fieldset__legend--m",
              isPageHeading: true
            }
          },
          name: "future-applications",
          items: [{
            value: "Yes",
            text: "Yes",
            checked: checked("future-applications", "Yes"),
            conditional: {
              html: futerApplicationsDetailsHtml
            }
          },
          {
            value: "No",
            text: "No",
            checked: checked("future-applications", "No")
          }]
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

      <p class="govuk-body"><a href="/application/{{ application.id }}">Cancel</a></p>
    </div>
  </div>
{% endblock %}
