{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "timeline" %}
{% set title = application.personalDetails.name %}

{% block content %}

  {% set rbd = application.submittedDate | addDays(40) %}
  {% set remaining = rbd | daysFromNow(rbd) %}

  <h1 class="govuk-heading-l govuk-!-margin-bottom-6">{{title}}
  {{ govukTag({ classes: statusText | statusClass, text: statusText }) }}</h1>

  {% include "_includes/application/respond-prompt.njk" %}
  {% include "_includes/application/defer-prompt.njk" %}
  {% include "_includes/application/feedback-prompt.njk" %}

  {% include "_includes/application/sub-nav.njk" %}


  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">


      {{ appTimeline({items: timeline})}}




    </div>
  </div>
{% endblock %}
