{% extends "_layout-service-unavailable.njk" %}

{% set title = "Sorry, the service is unavailable" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {{ title }}
      </h1>
      <p class="govuk-body">
        You will be able to use the service later.
      </p>
      <p class="govuk-body">
        If you reached this page after submitting information then it has not been saved. You will need to enter it again when the service is available
      </p>
      <p class="govuk-body">
        <a class="govuk-link" href="mailto:becomingateacher@digital.education.gov.uk">Contact the Becoming a Teacher team</a> if you have any questions.
      </p>
    </div>
  </div>
{% endblock %}
