
{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

{% set govukRebrand = true %}

{% set assetPath = '/public/rebrand' %}


{% from "_components/applicable-permissions-inline/macro.njk" import appApplicablePermissionsInline %}
{% from "_components/applicable-permissions/macro.njk" import appApplicablePermissions %}
{% from "_components/autocomplete/macro.njk" import appAutocomplete %}
{% from "_components/banner/macro.njk" import appBanner %}
{% from "_components/card-list/macro.njk" import appCardList %}
{% from "_components/checkbox-filter/macro.njk" import appCheckboxFilter %}
{% from "_components/conditions-panel/macro.njk" import appConditionsPanel %}
{% from "_components/cookie-banner/macro.njk" import appCookieBanner %}
{% from "_components/event-application-assignment/macro.njk" import appEventApplicationAssignment %}
{% from "_components/event-application/macro.njk" import appEventApplication %}
{% from "_components/event-interview/macro.njk" import appEventInterview %}
{% from "_components/event-note/macro.njk" import appEventNote %}
{% from "_components/event-offer/macro.njk" import appEventOffer %}
{% from "_components/filter/macro.njk" import appFilter %}
{% from "_components/footer/macro.njk" import appFooter %}
{% from "_components/icon/macro.njk" import appIcon %}
{% from "_components/interview-card/macro.njk" import appInterviewCard %}
{% from "_components/location/macro.njk" import appLocation %}
{% from "_components/metric/macro.njk" import appMetric %}
{% from "_components/no-information-shared/macro.njk" import appNoInformationShared %}
{% from "_components/notification-card/macro.njk" import appNotificationCard %}
{% from "_components/offer-panel/macro.njk" import appOfferPanel %}
{% from "_components/pagination/macro.njk" import appPagination %}
{% from "_components/previous-next-navigation/macro.njk" import appPreviousNextNavigation %}
{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}
{% from "_components/rejection-details/macro.njk" import appRejectionDetails %}
{% from "_components/search/macro.njk" import appSearch %}
{% from "_components/sub-navigation/macro.njk" import appSubNavigation %}
{% from "_components/summary-card/macro.njk" import appSummaryCard %}
{% from "_components/task-list/macro.njk" import appTaskList %}
{% from "_components/timeline/macro.njk" import appTimeline %}

{% set canManageUsers = true %}
{% if query.canManageUsers %}
  {% set canManageUsers = false %}
{% endif %}

{% set canManageOrganisationPermissions = true %}
{% if query.canManageOrganisationPermissions %}
  {% set canManageOrganisationPermissions = false %}
{% endif %}

{% set canManageInterviews = true %}
{% if query.canManageInterviews %}
  {% set canManageInterviews = false %}
{% endif %}

{% set canMakeOffersAndRejectApplications = true %}
{% if query.canMakeOffersAndRejectApplications %}
  {% set canMakeOffersAndRejectApplications = false %}
{% endif %}

{% set canViewSexDisabilityEthnicityInformation = true %}
{% if query.canViewSexDisabilityEthnicityInformation %}
  {% set canViewSexDisabilityEthnicityInformation = false %}
{% endif %}

{% set canViewCriminalRecordAndProfessionalMisconductInformation = true %}
{% if query.canViewCriminalRecordAndProfessionalMisconductInformation %}
  {% set canViewCriminalRecordAndProfessionalMisconductInformation = false %}
{% endif %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {% if shouldShowCookieMessage %}
  {{ appCookieBanner({
    text: cookieText
  })}}
  {% endif %}

  {% include "_includes/header.njk" %}

  {% include "_includes/primary-navigation.njk" %}

  {% include "_includes/phase-banner.njk" %}

  {% block afterHeader %}

  {% endblock %}

{% endblock %}


{% block footer %}
  {{ govukFooter({
    rebrand: true,
    meta: {
        items: [
          {
            text: 'Manage your prototype',
            href: '/manage-prototype'
          },
          {
            text: 'View data',
            href: '/manage-prototype/view-data'
          },
          {
            text: 'Clear data',
            href: '/manage-prototype/clear-data'
          },
          {
            text: 'Cycle settings',
            href: '/admin/settings'
          }
        ]
      }
  }) }}
{% endblock %}

{% block bodyStart %}
  <div data-module="edge">
{% endblock %}

{% block beforeContent %}
  {% block pageNavigation %}
  {% endblock %}
  {% block pageBanner %}
  {% endblock %}
{% endblock %}

