{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = "/govuk/assets" -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"                import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"                import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"              import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"                   import govukButton %}
{% from "govuk/components/character-count/macro.njk"          import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"               import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"               import govukDateInput %}
{% from "govuk/components/details/macro.njk"                  import govukDetails %}
{% from "govuk/components/error-message/macro.njk"            import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"            import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"                 import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"              import govukFileUpload %}
{% from "govuk/components/input/macro.njk"                    import govukInput %}
{% from "govuk/components/inset-text/macro.njk"               import govukInsetText %}
{% from "govuk/components/notification-banner/macro.njk"      import govukNotificationBanner %}
{% from "govuk/components/panel/macro.njk"                    import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"             import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"                   import govukRadios %}
{% from "govuk/components/select/macro.njk"                   import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"                import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"             import govukSummaryList %}
{% from "govuk/components/table/macro.njk"                    import govukTable %}
{% from "govuk/components/tabs/macro.njk"                     import govukTabs %}
{% from "govuk/components/tag/macro.njk"                      import govukTag %}
{% from "govuk/components/textarea/macro.njk"                 import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"             import govukWarningText %}

{% from "_components/autocomplete/macro.njk" import appAutocomplete %}
{% from "_components/banner/macro.njk" import appBanner %}
{% from "_components/card-list/macro.njk" import appCardList %}
{% from "_components/checkbox-filter/macro.njk" import appCheckboxFilter %}
{% from "_components/conditions-panel/macro.njk" import appConditionsPanel %}
{% from "_components/cookie-banner/macro.njk" import appCookieBanner %}
{% from "_components/event-application/macro.njk" import appEventApplication %}
{% from "_components/event-interview/macro.njk" import appEventInterview %}
{% from "_components/event-note/macro.njk" import appEventNote %}
{% from "_components/event-offer/macro.njk" import appEventOffer %}
{% from "_components/filter/macro.njk" import appFilter %}
{% from "_components/footer/macro.njk" import appFooter %}
{% from "_components/icon/macro.njk" import appIcon %}
{% from "_components/interview-card/macro.njk" import appInterviewCard %}
{% from "_components/metric/macro.njk" import appMetric %}
{% from "_components/no-information-shared/macro.njk" import appNoInformationShared %}
{% from "_components/notification-card/macro.njk" import appNotificationCard %}
{% from "_components/offer-panel/macro.njk" import appOfferPanel %}
{% from "_components/pagination/macro.njk" import appPagination %}
{% from "_components/previous-next-navigation/macro.njk" import appPreviousNextNavigation %}
{% from "_components/primary-navigation/macro.njk" import appPrimaryNavigation %}
{% from "_components/search/macro.njk" import appSearch %}
{% from "_components/sub-navigation/macro.njk" import appSubNavigation %}
{% from "_components/summary-card/macro.njk" import appSummaryCard %}
{% from "_components/task-list/macro.njk" import appTaskList %}
{% from "_components/timeline/macro.njk" import appTimeline %}
{% from "_components/applicable-permissions/macro.njk" import appApplicablePermissions %}
{% from "_components/applicable-permissions-inline/macro.njk" import appApplicablePermissionsInline %}

{% set canManageUsers = true %}
{% if query.canManageUsers %}
  {% set canManageUsers = false %}
{% endif %}

{% set canManageOrgPermissions = true %}
{% if query.canManageOrgPermissions %}
  {% set canManageOrgPermissions = false %}
{% endif %}

{% set canSetupInterviews = true %}
{% if query.canSetupInterviews %}
  {% set canSetupInterviews = false %}
{% endif %}

{% set canMakeDecisions = true %}
{% if query.canMakeDecisions %}
  {% set canMakeDecisions = false %}
{% endif %}


{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {% if shouldShowCookieMessage %}
  {{ appCookieBanner({
    text: cookieText
  })}}
  {% endif %}

  {% include "_includes/header.njk" %}

<div class="app-phase-banner__wrapper">

  <div class="govuk-phase-banner app-phase-banner govuk-width-container">
    <p class="govuk-phase-banner__content">
      <strong class="govuk-tag govuk-phase-banner__content__tag">
        beta
      </strong>
      <span class="govuk-phase-banner__text">
        This is a new service – your <a class="govuk-link" href="/get-in-touch">feedback</a> will help us to improve it.
      </span>
    </p>
  </div>

</div>

{% set alertsLinkHtml %}
  <span class="app-notification-link">
    <span class="app-notification-link__text">Notifications</span><span class="app-notification-link__number">7</span>
  </span>
{% endset %}

{{ appPrimaryNavigation({
  items: [
    {
      href: "/" + ('?keywords=' if data.keywords.length),
      text: "Applications",
      active: primaryNavId == 'applications'
    },
    {
      href: "/interviews",
      text: "Interview schedule",
      active: primaryNavId == 'interviews'
    },
    {
      href: "/activity",
      text: "Activity log",
      active: primaryNavId == 'activity'
    },
    {
      href: "/notifications",
      html: alertsLinkHtml,
      active: primaryNavId == 'notifications'
    },
    {
      href: "/reports",
      text: "Reports",
      active: primaryNavId == 'reports',
      classes: "app-primary-navigation__item--align-right"
    }
  ]
}) }}

  {% block afterHeader %}

  {% endblock %}

{% endblock %}

{% block bodyStart %}
  <div data-module="edge">
{% endblock %}

{% block beforeContent %}
  {% block pageNavigation %}
  {% endblock %}
  {% block pageBanner %}
  {% endblock %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% set chatStatus = ["online", "offline", "unavailable"] | random %}

{% set chatOnlineHtml %}<a href="#" class="app-web-chat__button govuk-footer__link">Speak to an adviser now (opens in new window)</a>{% endset %}

{% set chatOfflineHtml %}<span class="app-web-chat__offline">Available Monday to Friday,  10am to midday (except public holidays).</span>{% endset %}

{% set footerHtml %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-padding-right-1">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Online chat
        </h3>
        <p class="govuk-!-font-size-16"><span class="app-web-chat">You cannot use online chat because there’s a problem. Send an email if you keep seeing this message.</span></p>
      </div>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-padding-left-1">
        <h3 class="govuk-heading-s govuk-!-margin-bottom-1">
          Email
        </h3>
        <p class="govuk-!-font-size-16 govuk-!-margin-bottom-1"><a class="govuk-footer__link" href="#">becomingateacher@digital.education.gov.uk</a></p>
        <p class="govuk-!-font-size-16">You’ll get a response within 5 working days, or one working day for urgent requests.</p>
      </div>
    </div>
  </div>
{% endset %}
{% block footer %}
{# {{ appFooter({
    classes: "govuk-footer--app",
    meta: {
      title: "Support and guidance",
      html: "If you have a question, or you’ve had a problem using this service, please email us at <a href=\"mailto:becomingateacher@digital.education.gov.uk\">becomingateacher@digital.education.gov.uk</a>",
      items: [{
        href: "/admin/settings",
        text: "Settings"
      }, {
        href: "/admin/clear-data",
        text: "Clear data"
      } if not urStudy, {
        href: "/onboard-notifications",
        text: "Sign in notification prompt"
      }, {
        href: "/onboard",
        text: "Sign in permissions prompt"
      }, {
        href: "?transferred=true",
        text: "Enable transferred mode"
      }, {
        href: "?canManageUsers=false",
        text: "Disable permission: manage users"
      }, {
        href: "?canManageOrgPermissions=false",
        text: "Disable permission: manage org permissions"
      }, {
        href: "?canSetupInterviews=false",
        text: "Disable permission: set up interviews"
      }, {
        href: "?canMakeDecisions=false",
        text: "Disable permission: make offers"
      }, {
        href: "/reports-and-export-data/conversion",
        text: "Report: Progress of applications (alternative)"
      }]
    }
  }) }} #}

  {{ appFooter({
    classes: "govuk-footer--app",
    meta: {
      title: "Get help",
      html: footerHtml,
      items: [{
        href: "#",
        text: "How to use this service"
      }, {
        href: "#",
        text: "Complaints"
      }, {
        href: "#",
        text: "Accessibility"
      }, {
        href: "#",
        text: "Cookies"
      }, {
        href: "#",
        text: "Privacy policy"
      }, {
        href: "#",
        text: "Roadmap"
      }]
    }
  }) }}

{% endblock %}

{% block bodyEnd %}
  </div>

  {% block scripts %}
    {% include "_includes/scripts.njk" %}

    <script>
      if("{{chatStatus}}" == "online") {
        $('.app-web-chat').html('{{chatOnlineHtml | safe}}')
      } else if("{{chatStatus}}" == "offline") {
        $('.app-web-chat').html('{{chatOfflineHtml | safe}}')
      }
    </script>
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
