{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = "/govuk/assets" -%}

{% extends "govuk/template.njk" %}

{% from "govuk/components/accordion/macro.njk"        import govukAccordion %}
{% from "govuk/components/back-link/macro.njk"        import govukBackLink %}
{% from "govuk/components/breadcrumbs/macro.njk"      import govukBreadcrumbs %}
{% from "govuk/components/button/macro.njk"           import govukButton %}
{% from "govuk/components/character-count/macro.njk"  import govukCharacterCount %}
{% from "govuk/components/checkboxes/macro.njk"       import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk"       import govukDateInput %}
{% from "govuk/components/details/macro.njk"          import govukDetails %}
{% from "govuk/components/error-message/macro.njk"    import govukErrorMessage %}
{% from "govuk/components/error-summary/macro.njk"    import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk"         import govukFieldset %}
{% from "govuk/components/file-upload/macro.njk"      import govukFileUpload %}
{% from "govuk/components/input/macro.njk"            import govukInput %}
{% from "govuk/components/inset-text/macro.njk"       import govukInsetText %}
{% from "govuk/components/panel/macro.njk"            import govukPanel %}
{% from "govuk/components/phase-banner/macro.njk"     import govukPhaseBanner %}
{% from "govuk/components/radios/macro.njk"           import govukRadios %}
{% from "govuk/components/select/macro.njk"           import govukSelect %}
{% from "govuk/components/skip-link/macro.njk"        import govukSkipLink %}
{% from "govuk/components/summary-list/macro.njk"     import govukSummaryList %}
{% from "govuk/components/table/macro.njk"            import govukTable %}
{% from "govuk/components/tabs/macro.njk"             import govukTabs %}
{% from "govuk/components/tag/macro.njk"              import govukTag %}
{% from "govuk/components/textarea/macro.njk"         import govukTextarea %}
{% from "govuk/components/warning-text/macro.njk"     import govukWarningText %}

{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "moj/components/button-menu/macro.njk" import mojButtonMenu -%}
{%- from "moj/components/pagination/macro.njk" import mojPagination -%}

{% from "_components/autocomplete/macro.njk" import appAutocomplete %}
{% from "_components/banner/macro.njk" import appBanner %}
{% from "_components/card-list/macro.njk" import appCardList %}
{% from "_components/cookie-banner/macro.njk" import appCookieBanner %}
{% from "_components/footer/macro.njk" import appFooter %}
{% from "_components/icon/macro.njk" import appIcon %}
{% from "_components/search/macro.njk" import appSearch %}
{% from "_components/task-list/macro.njk" import appTaskList %}
{% from "_components/timeline/macro.njk" import appTimeline %}
{% from "_components/notification-card/macro.njk" import appNotificationCard %}
{% from "_components/log-card/macro.njk" import appLogCard %}
{% from "_components/sub-navigation/macro.njk" import appSubNavigation %}

{% block head %}
  {% include "_includes/head.njk" %}
{% endblock %}

{% block pageTitle %}
  {% if title %}{{ title }} - {% endif %}{{ serviceName }} - GOV.UK
{% endblock %}

{% block header %}
  {% if shouldShowCookieMessage %}
  {{ appCookieBanner({
    text: cookieText
  })}}
  {% endif %}

  {# {{ govukHeader({
    homepageUrl: "https://www.gov.uk",
    serviceName: serviceName,
    serviceUrl: "/",
    containerClasses: "govuk-width-container",
    navigation: ([{
      href: "/",
      text: "Applications",
      active: primaryNavId == 'applications'
    }, {
      href: "/users",
      text: "Users",
      active: primaryNavId == 'users'
    }, {
      href: "/",
      text: "Sign out (Jane Doe)"
    }] if isSignedOut != true)
  }) if not data.bare }} #}

  {%- from "moj/components/header/macro.njk" import mojHeader -%}




{% include "_includes/header.njk" %}

<div class="app-phase-banner__wrapper">

    <div class="govuk-phase-banner app-phase-banner govuk-width-container">
  <p class="govuk-phase-banner__content">
    <strong class="govuk-tag govuk-phase-banner__content__tag">
      beta
    </strong>
    <span class="govuk-phase-banner__text">
      This is a new service – your <a class="govuk-link" href="/get-in-touch">feedback</a> will help us to improve it.
    </span>
  </p>
</div>


</div>

{%- from "moj/components/primary-navigation/macro.njk" import mojPrimaryNavigation -%}

{% set rightHandSideNavHtml %}
  <nav class="moj-primary-navigation">
    <ul class="moj-primary-navigation__list">
      <li class="moj-primary-navigation__item">
        <a class="moj-primary-navigation__link" {{ 'aria-current="page"' | safe if primaryNavId == 'export' }} href="/export">
          Export data
        </a>
      </li>
    </ul>

  </nav>
{% endset %}

{% set alertsLinkHtml %}
  <span class="app-notification-link">
    <span class="app-notification-link__text">Notifications</span><span class="app-notification-link__number">7</span>
  </span>
{% endset %}

{{ mojPrimaryNavigation({
  label: 'Primary navigation',
  items: [
    {
      href: "/",
      text: "Applications",
      active: primaryNavId == 'applications'
    },
    {
      href: "/activity",
      text: "Activity log",
      active: primaryNavId == 'activity'
    },
    {
      href: "/notifications",
      html: alertsLinkHtml,
      active: primaryNavId == 'notifications'
    }
  ],
  searchHtml: rightHandSideNavHtml
}) }}

  {% block afterHeader %}

  {% endblock %}

{% endblock %}

{% block bodyStart %}
  <div data-module="edge">
{% endblock %}

{% block beforeContent %}
  {# {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: "This is a prototype of a new service. Some parts of this prototype do not work yet."
  }) if not data.bare }} #}
  {% block pageNavigation %}
  {% endblock %}
  {% block pageBanner %}
  {% endblock %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% block footer %}
  {{ appFooter({
    classes: "govuk-footer--app",
    meta: {
      title: "Support and guidance",
      html: "If you have a question, or you’ve had a problem using this service, please email us at <a href=\"mailto:becomingateacher@digital.education.gov.uk\">becomingateacher@digital.education.gov.uk</a>",
      items: [{
        href: "/admin/settings",
        text: "Settings"
      }, {
        href: "/admin/clear-data",
        text: "Clear data"
      } if not urStudy]
    }
  }) if not data.bare }}
{% endblock %}

{% block bodyEnd %}
  </div>

  {% block scripts %}
    {{ data | log }}
    {% include "_includes/scripts.njk" %}
    {% block pageScripts %}{% endblock %}
  {% endblock %}
{% endblock %}
