{% extends "_layout.njk" %}

{% set primaryNavId = '' %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post">

        {{ govukRadios({
          idPrefix: "cycle",
          name: "cycle",
          fieldset: {
            legend: {
              text: "Switch cycle",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          items: [
            {
              value: "2019-2020 (previous cycle)",
              text: "2019-2020 (previous cycle)",
              checked: checked("cycle", "2018-19")
            },
            {
              value: "2020-2021 (current cycle)",
              text: "2020-2021 (current cycle)",
              checked: checked("cycle", "2020-2021 (current cycle)")
            },
            {
              value: "2021-2022 (next cycle)",
              text: "2021-2022 (next cycle)",
              checked: checked("cycle", "2021-2022 (next cycle)")
            }
          ]
        }) }}

        {{ govukButton({
          text: "Switch cycle"
        }) }}
      </form>

    </div>
  </div>



{% endblock %}
