{% extends "_layout.njk" %}

{% set primaryNavId = 'dashboard' %}

{% set title = 'Overview' %}

{% block content %}

  <h1 class="govuk-heading-l">
    {{title}}
  </h1>



  <h2 class="govuk-heading-m">
    <a href="#">7 applications are awaiting a decision</a>
  </h2>

  <p><a href="#">3 of them are to School 1</a></p>
  <p><a href="#">2 of them are to School 2</a></p>
  <p><a href="#">4 have interviews set up</a></p>
  <p><a href="#">2 do not have any notes</a></p>
  <p><a href="#">1 has nobody assigned</a></p>
  <p><a href="#">3 of them will be automatically rejected within the next 5 days</a></p>

  <h2 class="govuk-heading-m">
    <a href="#">7 automatically rejected applications need feedback</a>
  </h2>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">
    <a href="#">5 deferred offers need to be confirmed</a>
  </h2>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">
    <a href="#">17 offers are waiting on the candidate’s response</a>
  </h2>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">
    <a href="#">5 offers with pending conditions from the previous cycle</a>
  </h2>

  <h2 class="govuk-heading-m govuk-!-margin-top-6">
    <a href="#">2 offers have been deferred</a>
  </h2>

  <br>
  <p><a href="#">View all applications</a></p>
{% endblock %}
