{% extends "_content-wide.njk" %}

{% set title = "Applications" %}
{% set parent = "2019-20 recruitment cycle" %}

{% block primary %}
  {% set applications = applications | toArray %}
  {% set new = applications | filterBy("status", "new") %}
  {% set review = applications | filterBy("status", "review") %}
  {% set recruited = applications | filterBy("status", "recruited") %}
  {% set rejected = applications | filterBy("status", "rejected") %}
  <ul class="govuk-list govuk-grid-row">
    <li class="govuk-grid-column-one-fifth">
      <a class="app-card" href="/" aria-current="{{ 'false' if status else 'page' }}">
        <span class="app-card__count">{{ applications | length | default("0") }}</span> applications
      </a>
    </li>
    <li class="govuk-grid-column-one-fifth">
      <a class="app-card app-card--status-new" href="?status=new" aria-current="{{ 'page' if status == 'new' else 'false' }}">
        <span class="app-card__count">{{ new | length | default("0") }}</span> new
      </a>
    </li>
    <li class="govuk-grid-column-one-fifth">
      <a class="app-card app-card--status-review" href="?status=review" aria-current="{{ 'page' if status == 'review' else 'false' }}">
        <span class="app-card__count">{{ review | length | default("0") }}</span> in review
      </a>
    </li>
    <li class="govuk-grid-column-one-fifth">
      <a class="app-card app-card--status-recruited" href="?status=recruited" aria-current="{{ 'page' if status == 'recruited' else 'false' }}">
        <span class="app-card__count">{{ recruited | length | default("0") }}</span> recruited
      </a>
    </li>
    <li class="govuk-grid-column-one-fifth">
      <a class="app-card app-card--status-rejected" href="?status=rejected" aria-current="{{ 'page' if status == 'rejected' else 'false' }}">
        <span class="app-card__count">{{ rejected | length | default("0") }}</span> rejected
      </a>
    </li>
  </ul>

  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--m">

  {{ appSearch({
    classes: "govuk-!-margin-bottom-4",
    method: 'post',
    input: {
      id: "search",
      name: "search"
    },
    label: {
      text: "Find an application",
      classes: "govuk-!-font-weight-bold"
    },
    hint: {
      text: "You can search by candidate name or application number"
    },
    button: {
      text: "Search"
    }
  }) }}

  {% if status == "new" %}
    {% set applications = new %}
  {% elif status == "review" %}
    {% set applications = review %}
  {% elif status == "recruited" %}
    {% set applications = recruited %}
  {% elif status == "rejected" %}
    {% set applications = rejected %}
  {% endif %}
  <table class="govuk-table" data-module="sortable-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col" aria-sort="none">Candidate name</th>
        <th class="govuk-table__header govuk-!-width-one-third" scope="col" aria-sort="none">Course</th>
        <th class="govuk-table__header" scope="col">Status</th>
        <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="descending">Submitted</th>
      {% if status == "recruited" or status == "rejected" %}
        <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">{{ status | capitalize }}</th>
      {% else %}
        <th class="govuk-table__header govuk-table__header--numeric" scope="col" aria-sort="none">Rejected by default</th>
      {% endif %}
      </tr>
    </thead>
    <tbody class="govuk-table__body">
    {% for a in applications %}
      {% set rbd = a.submitted | addDays(40) %}
      {% set remaining = rbd | daysFromNow(rbd) %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <a href="/application/{{ a.id }}">{{ a.name }}</a>
        </td>
        <td class="govuk-table__cell">{{ a.course }}</td>
        <td class="govuk-table__cell">
          {{ govukTag({
            classes: "app-tag--" + a.status,
            text: a.status
          }) }}
        </td>
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ a.submitted | date("yyyyMMdd") }}">{{ a.submitted | date("d LLL yyyy") }}</td>
      {% if status == "recruited" %}
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ a.recruited | date("yyyyMMdd") }}">{{ a.recruited | date("d LLL yyyy") }}</td>
      {% elif status == "rejected" %}
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ a.rejected | date("yyyyMMdd") }}">{{ a.rejected | date("d LLL yyyy") }}</td>
      {% else %}
        <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ rbd | date("yyyyMMdd") }}">
        {% if a.status == "recruited" or a.status == "rejected" %}
          –
        {% else %}
          {{ remaining }} days
        {% endif %}
        </td>
      {% endif %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}
