{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}

{% block content %}

  <h1 class="govuk-heading-l">
    Applications
  </h1>

  <div class="app-filter-layout">
    <div class="app-filter-layout__filter">
      {% include "_includes/filter-panel.njk" %}
    </div>

    <div class="app-filter-layout__content">

      <div class="app-action-bar">
        <div class="app-action-bar__filter"></div>
      </div>

      {% include "_includes/search-panel.njk" %}

      <div>
        {%- if applications.length %}

          <div class="app-application-cards">
            {%- for a in applications %}

              {% if a.heading %}
                <h2 class="govuk-heading-m app-application-cards__heading">{{a.heading}}</h2>
              {% else %}
                {% include "_includes/application-card.njk" %}
              {% endif %}

            {% endfor -%}
          </div>

        {% endif -%}
      </div>

      {% if applications.length and pagination %}
        {% include "_includes/pagination.njk" %}
      {% endif %}

      {% if not applications.length %}

        <!-- {#%- if hasFilters %#} -->

          <p class="govuk-body">No applications found for ‘{{ data.keywords }}’ {%- if hasFilters %} and the selected filters{% endif %}.</p>

        <!-- {#% else %}

          <p class="govuk-body">No applications found.</p>

        {% endif -%#} -->

      {% endif %}
    </div>
  </div>

{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/components/filter-toggle-button/filter-toggle-button.js"></script>
  <script>
    new AppFrontend.FilterToggleButton({
      bigModeMediaQuery: '(min-width: 48.063em)',
      startHidden: false,
      toggleButton: {
        container: $('.app-action-bar__filter'),
        showText: 'Show filter',
        hideText: 'Hide filter',
        classes: 'govuk-button--secondary govuk-!-margin-bottom-3'
      },
      closeButton: {
        container: $('.app-filter__header-action'),
        text: 'Close'
      },
      filter: {
        container: $('.app-filter-layout__filter')
      }
    });
  </script>
{% endblock %}
