{% extends "_layout.njk" %}

{% set primaryNavId = 'overview' %}

{% set title = 'Overview' %}

{% block content %}






  <h1 class="govuk-heading-l">
    {{title}}
  </h1>

  {% set promptHtml %}

    <h2 class="govuk-heading-m">
      Important
    </h2>

    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="/applications/?referrer=overview&importantItem=5 days or fewer to make decision">{{aboutToBeAutomaticallyRejectedCount}} applications have 5 days or fewer to make a decision</a>
      </li>
      <li>
        <a href="/applications/?referrer=overview&importantItem=Feedback needed">{{needsFeedbackCount}} applications need feedback after being automatically rejected</a>
      </li>
    </ul>

  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{govukInsetText({
        html: promptHtml,
        classes: 'govuk-!-margin-top-0'
      })}}
    </div>
  </div>

{% for organisation in data.user.organisations %}
    <h3 class="govuk-heading-m">
      {{organisation.name}}
    </h3>
    <div class="app-home-statuses govuk-!-margin-bottom-4">
      {% for relationship in data.user.relationships %}
        <a href="/?referrer=overview" class="status-card status-card--grey">
          <span class="status-card__count">{{[15, 7, 19, 5, 3, 0, 4] | random}}</span>
          <span class="status-card__status">applications to {{relationship.org2.name}} need a decision</span>
        </a>
      {% endfor %}
         </div>
  {% endfor %}

   {# <h2 class="govuk-heading-s">
    Partner 2
  </h2> #}

  {# <div class="app-home-statuses govuk-!-margin-bottom-4">

    <a href="/?referrer=overview&assignedUser={{data.user.id}}" class="status-card status-card--grey">
      <span class="status-card__count">15</span>
      <span class="status-card__status">applications in flight to partner 1</span>
    </a>

    <a href="/?referrer=overview&importantItem=`Ω make decision" class="status-card status-card--grey">
      <span class="status-card__count">5</span>
      <span class="status-card__status">applications in flight to partner 2</span>
    </a>

    <a href="/?referrer=overview&importantItem=Feedback needed" class="status-card status-card--grey">
      <span class="status-card__count">3</span>
      <span class="status-card__status">applications in flight to partner 3</span>
    </a>

    <a href="/?referrer=overview&status=Received&status=Interviewing" class="status-card status-card--grey">
      <span class="status-card__count">7</span>
      <span class="status-card__status">applications in flight to partner 4</span>
    </a>

  </div> #}

  {# <h2 class="govuk-heading-m">
    Org 2 that I belong to
  </h2>

  <div class="app-home-statuses govuk-!-margin-bottom-4">

    <a href="/?referrer=overview&assignedUser={{data.user.id}}" class="status-card status-card--grey">
      <span class="status-card__count">15</span>
      <span class="status-card__status">applications in flight to location 1</span>
    </a>

    <a href="/?referrer=overview&importantItem=5 days or fewer to make decision" class="status-card status-card--grey">
      <span class="status-card__count">5</span>
      <span class="status-card__status">applications in flight to location 2</span>
    </a>

    <a href="/?referrer=overview&importantItem=Feedback needed" class="status-card status-card--grey">
      <span class="status-card__count">3</span>
      <span class="status-card__status">applications in flight to location 3</span>
    </a>

    <a href="/?referrer=overview&status=Received&status=Interviewing" class="status-card status-card--grey">
      <span class="status-card__count">7</span>
      <span class="status-card__status">applications in flight to location 4</span>
    </a>

  </div> #}

  {# <h2 class="govuk-heading-m">
    Assigned to you
  </h2> #}

  {# <div class="app-home-statuses govuk-!-margin-bottom-4">

    <a href="/?referrer=overview&assignedUser={{data.user.id}}" class="status-card status-card--grey">
      <span class="status-card__count">15</span>
      <span class="status-card__status">applications assigned to you</span>
    </a>

    <a href="/?referrer=overview&importantItem=5 days or fewer to make decision" class="status-card status-card--red">
      <span class="status-card__count">5</span>
      <span class="status-card__status">applications close to automatic rejection</span>
    </a>

    <a href="/?referrer=overview&importantItem=Feedback needed" class="status-card status-card--orange">
      <span class="status-card__count">3</span>
      <span class="status-card__status">applications need feedback</span>
    </a>

    <a href="/?referrer=overview&status=Received&status=Interviewing" class="status-card status-card--purple">
      <span class="status-card__count">7</span>
      <span class="status-card__status">applications awaiting decision</span>
    </a>

    <a href="/?referrer=overview&status=Deferred" class="status-card status-card--yellow">
      <span class="status-card__count">5</span>
      <span class="status-card__status">deferred offers need to be confirmed</span>
    </a>

    <a href="/?referrer=overview&status=Offered" class="status-card status-card--green">
      <span class="status-card__count">17</span>
      <span class="status-card__status">offers waiting on candidate</span>
    </a>

    <a href="/?referrer=overview&status=Conditions pending" class="status-card status-card--blue">
      <span class="status-card__count">5</span>
      <span class="status-card__status">offers pending conditions (last cycle)</span>
    </a>

    <a href="/?referrer=overview&status=Deferred" class="status-card status-card--yellow">
      <span class="status-card__count">2</span>
      <span class="status-card__status">offers deferred to next cycle</span>
    </a>


  </div> #}

  {# <p><a href="#">View all applications</a></p> #}
{% endblock %}
