{% extends "_layout.njk" %}

{% set primaryNavId = 'overview' %}

{% set title = 'Overview' %}

{% block content %}

  <h1 class="govuk-heading-l"> {{title}} </h1>

  <div class="app-home-statuses govuk-!-margin-bottom-8">

    {% if boxes.aboutToBeAutomaticallyRejectedCount > 0 %}
      <a href="/applications/?referrer=overview&daysLeftToMakeDecisionItem=5 days or fewer" class="status-card status-card--purple">
        <span class="status-card__count">{{boxes.aboutToBeAutomaticallyRejectedCount}}</span>
        <span class="status-card__status">
          {% if boxes.aboutToBeAutomaticallyRejectedCount == 1 %}
            application has
          {% else %}
            applications have
          {% endif %}
          5 days or fewer to make a decision
        </span>
      </a>
    {% endif %}

    {% if boxes.needsFeedbackCount > 0 %}
      <a href="/applications/?referrer=overview&feedbackItem=Needs feedback" class="status-card status-card--red">
        <span class="status-card__count">{{boxes.needsFeedbackCount}}</span>
        <span class="status-card__status">
          {% if boxes.needsFeedbackCount == 1 %}
            application needs
          {% else %}
            applications need
          {% endif %}
          feedback after being automatically rejected
        </span>
      </a>
    {% endif %}

    {% if boxes.deferredOffersReadyToConfirm > 0 %}
      <a href="/applications/?referrer=overview&cycle={{data.previousCycle.code}}&status=Deferred" class="status-card status-card--yellow">
        <span class="status-card__count">{{boxes.deferredOffersReadyToConfirm}}</span>
        <span class="status-card__status">
          {% if boxes.deferredOffersReadyToConfirm == 1 %}
            deferred offer is
          {% else %}
            deferred offers are
          {% endif %}
          ready to be confirmed
        </span>
      </a>
    {% endif %}

    {% if boxes.conditionsPending > 0 %}
      <a href="/applications/?referrer=overview&status=Conditions pending" class="status-card status-card--blue">
        <span class="status-card__count">{{boxes.conditionsPending}}</span>
        <span class="status-card__status">offers have conditions pending</span>
      </a>
    {% endif %}
  </div>

  {% for activeApplicationsSection in activeApplicationsSections %}
    {# <span class="govuk-caption-m">

    </span> #}
    <h2 class="govuk-heading-m">
      {# Active applications ({{data.currentCycle.shortDesc}} - current recruitment cycle) #}
      Applications for {{activeApplicationsSection.organisation.name}}
    </h2>

    <p>
      {% if data.showLocations == 'true' %}
        <a class="govuk-!-margin-right-1" href="/overview/?showLocations=false">Hide locations</a>
      {% else %}
        <a class="govuk-!-margin-right-1" href="/overview/?showLocations=true">Show locations</a>
      {% endif %}
    </p>

    <div class="app-scrollable-pane">
      <div class="app-scrollable-pane__wrapper">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" width="39%">
                {% if activeApplicationsSection.organisation.isAccreditedBody %}
                  Training provider
                  {% set orgType = 'provider'%}
                {% else %}
                  Accredited body
                  {% set orgType = 'accreditedBody'%}
                {% endif %}
              </th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Received</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Interviewing</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Offered</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Conditions pending</th>
              <th scope="col" class="govuk-table__header govuk-table__header--numeric">Recruited</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for item in activeApplicationsSection.items %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell govuk-table__header">
                  {{item.organisation.name}}
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">
                  {% if item.received.length %}
                    <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Received&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                      {{item.received.length}}
                    </a>
                  {% else %}
                    0
                  {% endif%}
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">
                  {% if item.interviewing.length %}
                    <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Interviewing&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                      {{item.interviewing.length}}
                    </a>
                  {% else %}
                    0
                  {% endif%}
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">
                  {% if item.offered.length %}
                    <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Offered&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                      {{item.offered.length}}
                    </a>
                  {% else %}
                    0
                  {% endif%}
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">
                  {% if item.conditionsPending.length %}
                    <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Conditions pending&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                      {{item.conditionsPending.length}}
                    </a>
                  {% else %}
                    0
                  {% endif%}
                </td>
                <td class="govuk-table__cell govuk-table__header--numeric">
                  {% if item.recruited.length %}
                    <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Recruited&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                      {{item.recruited.length}}
                    </a>
                  {% else %}
                    0
                  {% endif%}
                </td>
              </tr>
              {% if data.showLocations == 'true' %}
                {% set locations = ['Main site', 'Malet Palace', 'Queen’s campus'] %}
                  {% for location in locations %}
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell govuk-!-padding-left-4">
                        {{location}}
                      </td>
                      <td class="govuk-table__cell govuk-table__header--numeric">
                        {% if item.received.length %}
                          <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="#">
                            {{(item.received.length / 3) | round(0)}}
                          </a>
                        {% else %}
                          0
                        {% endif%}
                      </td>
                      <td class="govuk-table__cell govuk-table__header--numeric">
                        {% if item.interviewing.length %}
                          <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Interviewing&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                            {{(item.interviewing.length / 3) | round(0)}}
                          </a>
                        {% else %}
                          0
                        {% endif%}
                      </td>
                      <td class="govuk-table__cell govuk-table__header--numeric">
                        {% if item.offered.length %}
                          <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Offered&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                            {{(item.offered.length / 3) | round(0)}}
                          </a>
                        {% else %}
                          0
                        {% endif%}
                      </td>
                      <td class="govuk-table__cell govuk-table__header--numeric">
                        {% if item.conditionsPending.length %}
                          <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Conditions pending&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                            {{(item.conditionsPending.length / 3) | round(0)}}
                          </a>
                        {% else %}
                          0
                        {% endif%}
                      </td>
                      <td class="govuk-table__cell govuk-table__header--numeric">
                        {% if item.recruited.length %}
                          <a class="govuk-!-padding-left-2 govuk-!-padding-right-2" href="/applications/?referrer=overview&status=Recruited&{{orgType}}={{item.organisation.name}}&cycle={{data.currentCycle.code}}">
                            {{(item.recruited.length / 3) | round(0)}}
                          </a>
                        {% else %}
                          0
                        {% endif%}
                      </td>
                    </tr>
                  {% endfor %}
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}

{% endblock %}
