{% extends "_layout.njk" %}

{% set primaryNavId = 'profile' %}

{% set title = "Account" %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}



  {# {% include "_includes/profile-sub-nav.njk" %} #}

  <h1 class="govuk-heading-xl">{{title}}</h1>

  {% set permissionsHtml %}
  <p class="govuk-!-font-weight-bold">{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Manage organisation</p>

  <p class="govuk-!-font-weight-bold">{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Manage users</p>

  <p class="govuk-!-font-weight-bold">{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Make decisions</p>
  <div class="govuk-!-margin-left-5">
    <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
  <ul class="govuk-list">
    <li>{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Highfield Academy Alliance
    </li>
    <li>{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Three Trees Teaching School
    </li>
    <li>{{ appIcon({
        classes: "govuk-!-margin-right-1",
        icon: "tick",
        hidden: true
      }) }} Westfield TSA
    </li>
  </ul>
  </div>

    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} See safeguarding information</p>
    <div class="govuk-!-margin-left-5">
      <p class="govuk-!-margin-bottom-1">Applies to courses run by:</p>
    <ul class="govuk-list">
      <li>{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Highfield Academy Alliance
      </li>
      <li>{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Three Trees Teaching School
      </li>
      <li>{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Westfield TSA
      </li>
    </ul>
    </div>
  {% endset %}

  {% set permissions2Html %}
    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Manage organisation</p>

    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Manage users</p>

    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Make decisions</p>
          <div class="govuk-!-margin-left-5">
      <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
    <ul class="govuk-list">
      <li>{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Teaching Excellence SCITT Consortium
      </li>
    </ul>
    </div>
    <p class="govuk-!-font-weight-bold">{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} See safeguarding information</p>
    <div class="govuk-!-margin-left-5">
      <p class="govuk-!-margin-bottom-1">Applies to courses ratified by:</p>
    <ul class="govuk-list">
      <li>{{ appIcon({
          classes: "govuk-!-margin-right-1",
          icon: "tick",
          hidden: true
        }) }} Teaching Excellence SCITT Consortium
      </li>
    </ul>
    </div>
  {% endset %}

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "First name"
            },
            value: {
              text: "Angela"
            }
          },
          {
            key: {
              text: "Last name"
            },
            value: {
              text: "Shah"
            }
          },
          {
            key: {
              text: "Email address"
            },
            value: {
              text: "ashah@tescitt.co.uk"
            }
          },
          {
            key: {
              text: "Organisations this user has access to"
            },
            value: {
              html: "<p>Teaching Excellence SCITT</p><p>Your Teaching First TSA</p>"
            }
          },
          {
            key: {
              text: "Permissions: Teaching Excellence SCITT Consortium"
            },
            value: {
              html: permissionsHtml
            }
          },
          {
            key: {
              text: "Permissions: Your Teaching First TSA"
            },
            value: {
              html: permissions2Html
            }
          }
        ]
      }) }}
    </div>
  </div>
{% endblock %}
