{% extends "_layout.njk" %}

{% set primaryNavId = "reports" %}
{% set pageName = "Candidate drop out rates" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/reports",
    text: "Reports"
  }, {
    text: pageName
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageName }}
      </h1>

      <p class="govuk-body"><a class="govuk-link" href="/reports/{{organisation.id }}/candidate-drop-out/download" download>Export data (CSV)</a></p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table id="attrition" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header" aria-sort="ascending">Course</th>
            <!-- <th scope="col" class="govuk-table__header" aria-sort="none">Partner</th> -->
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" style="width:22%;">
              Applications that were withdrawn at any time
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" style="width:22%;">
              Offers that were declined
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" aria-sort="none" style="width:19.5%;">
              Accepted offers where conditions were not met
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for row in attritionData %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header" data-sort-value="{{ row.title }} {{ row.code }}">
                <!-- <a class="govuk-link" href="/reports/{{ organisation.id }}/candidate-drop-out/{{ row.code }}"> -->
                  {{ row.title }} {{ "(" + row.code + ")" if row.code }}
                <!-- </a> -->
                {% if organisation.name != row.provider %}
                  <span class="govuk-hint govuk-!-margin-bottom-0">{{ row.provider }}</span>
                {% endif %}
              </th>
              <!-- <td class="govuk-table__cell" data-sort-value="{{ row.provider }}">
                {{ row.provider }}
              </td> -->
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ row['applications_withdrawn']['percentage'] }}">
                {{ row['applications_withdrawn']['percentage'] | numeral('0,0') }}%
                {% set withdrawnTotal = (row['applications_withdrawn']['number'] / row['applications_withdrawn']['percentage']) * 100 %}
                <span class="govuk-hint govuk-!-margin-bottom-0">
                  {{ row['applications_withdrawn']['number'] | numeral('0') }} of {{ withdrawnTotal | numeral('0')}}
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ row['offers_declined']['percentage'] }}">
                {{ row['offers_declined']['percentage'] | numeral('0,0') }}%
                {% set declinedTotal = (row['offers_declined']['number'] / row['offers_declined']['percentage']) * 100 %}
                <span class="govuk-hint govuk-!-margin-bottom-0">
                  {{ row['offers_declined']['number'] | numeral('0') }} of {{ declinedTotal | numeral('0')}}
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric" data-sort-value="{{ row['conditions_not_met']['percentage'] }}">
                {{ row['conditions_not_met']['percentage'] | numeral('0,0') }}%
                {% set conditionsTotal = (row['conditions_not_met']['number'] / row['conditions_not_met']['percentage']) * 100 %}
                <span class="govuk-hint govuk-!-margin-bottom-0">
                  {{ row['conditions_not_met']['number'] | numeral('0') }} of {{ conditionsTotal | numeral('0')}}
                </span>
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>

{% endblock %}

{#% block pageScripts %}
<script>
  new AppFrontend.SortableTable({
    table: $('#attrition')
  });
</script>
{% endblock %#}
