{% extends "_layout.njk" %}

{% set primaryNavId = "reports" %}
{% set pageName = "Where candidates choose to leave the application process" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/reports",
    text: "Reports"
  }, {
    text: pageName
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageName }}
      </h1>

      <p class="govuk-body">
        <a class="govuk-link" href="/reports/{{organisation.id }}/candidate-drop-out/download" download>Export data (CSV)</a>
      </p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <table id="attrition" class="govuk-table">
        <caption class="govuk-table__caption govuk-table__caption--m govuk-visually-hidden">{{ pageName }}</caption>
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Course</th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:22%;">
              Applications withdrawn before offer made
            </th>
            <th scope="col" class="govuk-table__header govuk-table__header--numeric" style="width:22%;">
              Offers declined and applications withdrawn after offer made
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          {% for row in attritionData %}

            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__header">
                <!-- <a class="govuk-link" href="/reports/{{ organisation.id }}/candidate-drop-out/{{ row.code }}"> -->
                  {{ row.title }} {{ "(" + row.code + ")" if row.code }}
                <!-- </a> -->
                {% if organisation.name != row.provider %}
                  <span class="govuk-hint govuk-!-margin-bottom-0">{{ row.provider }}</span>
                {% endif %}
              </th>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ row['applications_withdrawn_before']['percentage'] | numeral('0,0') }}%
                <span class="govuk-hint govuk-!-margin-bottom-0">
                  {{ row['applications_withdrawn_before']['number'] | numeral('0') }} of {{ row['total_applications'] | numeral('0')}}
                </span>
              </td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                {{ row['applications_withdrawn_after']['percentage'] | numeral('0,0') }}%
                <span class="govuk-hint govuk-!-margin-bottom-0">
                  {{ row['applications_withdrawn_after']['number'] | numeral('0') }} of {{ row['total_offers']['number'] | numeral('0')}}
                </span>
              </td>
            </tr>

          {% endfor %}

        </tbody>
      </table>

    </div>
  </div>

{% endblock %}
