{% extends "_layout.njk" %}

{% set primaryNavId = "reports" %}
{% set pageName = "Export data for Higher Education Statistics Agency (HESA)" %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [{
    href: "/reports",
    text: "Reports"
  }, {
    text: pageName
  }]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        {% if organisation %}
          <span class="govuk-caption-l">{{ organisation.name }}</span>
        {% endif %}
        {{ pageName }}
      </h1>

      <p class="govuk-body">The data will include all candidates who have accepted an offer since 13 October 2020.</p>

      <!-- they dont have permission to see diversity information for one of their orgs -->
      <!-- {# <p class="govuk-body">Diversity information will be marked confidential if you or your organisation do not have permission to view it.</p> #} -->

      <p class="govuk-body">Sex, disability and ethnicity information will be marked as confidential if you do not have permission to view it.</p>

      {{ govukButton({
        text: "Export data for HESA"
      }) }}

    </div>
  </div>

{% endblock %}
