{% extends "_layout.njk" %}

{% set primaryNavId = 'account' %}
{% set subNavId = 'notification-settings' %}

{% set title = "Notification settings" %}

{% block content %}
  {{ appBanner({
    html: "<h2 class=\"govuk-heading-m\">"+flashMessage+"</h2>",
    type: "success",
    icon: false
  }) if flashMessage }}

  {% include "_includes/profile-sub-nav.njk" %}

  <div class="govuk-grid-ro">
    <div class="govuk-grid-column-two-third">
      <h1 class="govuk-heading-xl">{{title}}</h1>

      <h2 class="govuk-heading-m">
        For courses run by {{ data.user.organisations[1].name }} and ratified by {{ data.accreditedBodies[0].name }}
      </h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Application submitted"
            },
            value: {
              html: "Email (immediately)<br>Online notifications"
            },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application submitted with safeguarding issue disclosed"
            },
            value: {
              html: "Email (once a day at 8am)<br>Online notifications"
            },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application submitted over 5 days ago, no response sent"
            },
            value: {
              text: "None"
            },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application rejected by default"
            },
            value: {
              text: "None"
            },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Application withdrawn" },
            value: {text: "Email (once a day at 8am)" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer accepted" },
            value: {text: "Email (once a day at 8am)" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer declined" },
            value: {text: "Online notifications" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer declined by default" },
            value: {text: "None" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Note added to application" },
            value: {text: "Email (immediately)" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Permissions changed" },
            value: {text: "Email (immediately)" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

      <h2 class="govuk-heading-m">
        For courses run by {{ data.user.organisations[1].name }} and ratified by Teaching Brilliance University
      </h2>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Application submitted"
            },
            value: {
              html: "Email (immediately)<br>Online notifications"
            },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application submitted with safeguarding issue disclosed"
            },
            value: {
              html: "Email (once a day at 8am)<br>Online notifications"
            },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application submitted over 5 days ago, no response sent"
            },
            value: {
              text: "Email (once a day at 8am)"
            },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Application rejected by default"
            },
            value: {
              text: "Email (once a day at 8am)"
            },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Application withdrawn" },
            value: {text: "Email (once a day at 8am)" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer accepted" },
            value: {text: "Email (once a day at 8am)" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer declined" },
            value: {text: "Online notifications" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Offer declined by default" },
            value: {text: "Online notifications" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Note added to application" },
            value: {text: "Email (immediately)" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: { text: "Permissions changed" },
            value: {text: "Email (immediately)" },
            actions: {
              items: [
                {
                  href: "/account/notification-settings/edit/application-submitted",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

    </div>
  </div>

{% endblock %}
