{% extends "_layout-register.njk" %}

{% set title = "Resend verification email"  %}

{% block pageTitle %}
{{ title }} – {{ serviceName }} – GOV.UK
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
  text: "Back",
  href: actions.back
}) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ title }}
      </h1>

      <p class="govuk-body">A verification email was send to {{ data.email }}.</p>

      <p class="govuk-body">If this email address is incorrect then you can change it below.</p>

      <form action="{{ actions.save }}" method="post" novalidate>

        {% call govukFieldset({}) %}

          {{ govukInput({
            id: "email",
            name: "email",
            label: {
              text: "Email address",
              classes: "govuk-label--s"
            },
            value: data.email,
            classes: "govuk-!-width-two-thirds",
            inputmode: "email",
            spellcheck: false
          }) }}

        {% endcall %}

        {{ govukButton({
          text: "Submit"
        }) }}

        {{ govukButton({
          text: "Cancel",
          href: actions.back,
          classes: "govuk-button--secondary"
        }) }}

      </form>

    </div>
  </div>
{% endblock %}
