{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{#- If an id 'prefix' is not passed, fall back to using the name attribute
   instead. We need this for error messages and hints as well -#}
{%- set idPrefix = params.idPrefix if params.idPrefix else params.name -%}

{%- if params.filter %}
{%- set filter %}
<label for="{{ idPrefix + '-checkbox-filter__filter-input' }}" class="govuk-label govuk-visually-hidden">
  {{- params.filter.html | safe if params.filter.html else params.filter.text -}}
</label>
<input name="checkbox-filter-filter" id="{{ idPrefix + '-checkbox-filter__filter-input' }}" class="app-checkbox-filter__filter-input govuk-input" type="text" aria-describedby="{{ idPrefix + '-checkboxes-status' }}" aria-controls="{{ idPrefix + '-checkboxes' }}" autocomplete="off" spellcheck="false">
{% endset -%}
{#- This is a little bit of a hack. Surely the `escape` filter should work -#}
{%- set filter = filter | replace('<','&lt;') | replace('>','&gt;') | replace('"','&quot;') -%}
{% endif -%}

<div id="{{ idPrefix }}" class="app-checkbox-filter {{- ' ' + params.classes if params.classes }}" data-module="checkbox-filter" {%- if params.filter %} data-filter-element="{{ filter }}"{% endif %} {%- for attribute, value in params.attributes %} {{ attribute }}="{{ value }}"{% endfor %}>

  <h2 class="app-checkbox-filter__heading js-container-heading">
    <span class="app-checkbox-filter__title js-container-button" id="{{ idPrefix + '-checkbox-filter-title' }}">
      {{- params.heading.html | safe if params.heading.html else params.heading.text -}}
    </span>
  </h2>

  <div role="group" aria-labelledby="{{ idPrefix + '-checkbox-filter-title' }}" class="app-checkbox-filter__container" id="{{ idPrefix + '-list-of-options' }}" tabindex="-1">
    <div class="app-checkbox-filter__container-inner js-auto-height-inner">

      {{ govukCheckboxes({
        idPrefix: params.idPrefix,
        name: params.name,
        fieldset: params.fieldset,
        hint: params.hint,
        errorMessage: params.errorMessage,
        items: params.items,
        classes: "govuk-checkboxes--small"
      }) }}

    </div>
  </div>

</div>
