{% extends "_layout.njk" %}

{% set primaryNavId = 'applications' %}
{% set subNavId = "interviews" %}
{% set status = application.status %}
{% set name = application.personalDetails.name %}
{% set title = "Set up an interview" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/application/" + application.id + "/interviews"
  }) }}
{% endblock %}

{% block content %}

  <h1 class="govuk-heading-l">
    <span class="govuk-caption-l">{{name}}</span>
    Set up an interview
  </h1>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set candidateNotesHtml %}
        <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Candidate interview preferences</h2>
        <p>{{application.interviewNeeds | nl2br}}</p>
      {% endset %}

      {% if application.interviewNeeds %}

        <div class="app-offer-panel">
          {{candidateNotesHtml | safe}}
        </div>

        {# {{ govukWarningText({
          html: candidateNotesHtml
        }) }} #}
      {% endif %}

      <form method="post">

        {{ govukDateInput({
          id: "interview[date]",
          name: "interview[date]",
          fieldset: {
            legend: {
              text: "Date",
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, 31 3 2021"
          },
          items: [{
            name: "interview[date][day]",
            label: "Day",
            classes: "govuk-input--width-2",
            value: data.interview.date.day
          }, {
            name: "interview[date][month]",
            label: "Month",
            classes: "govuk-input--width-2",
            value: data.interview.date.month
          }, {
            name: "interview[date][year]",
            label: "Year",
            classes: "govuk-input--width-4",
            value: data.interview.date.year
          }]
        }) }}

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="interview[time]">
            Time
          </label>
          <span id="interview[time]-hint" class="govuk-hint">
            For example 2:30pm or 12am
          </span>
          <div class="app-time">
            <input class="govuk-input govuk-input--width-5" id="interview[time]" name="interview[time]" type="text" aria-describedby="interview[time]-hint" value="{{data.interview.time}}">
          </div>
        </div>

        {{ govukRadios({
          idPrefix: "interview[organisation]",
          name: "interview[organisation]",
          fieldset: {
            legend: {
              text: "Organisation",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "The Royal Borough Teaching School Alliance",
              text: "The Royal Borough Teaching School Alliance"
            },
            {
              value: "Kingston University",
              text: "Kingston University"
            }
          ]
        }) }}

        {{ govukTextarea({
          id: "interview[location]",
          name: "interview[location]",
          label: {
            classes: "govuk-label--m",
            text: "Location"
          },
          hint: {
            text: "Provide directions if useful"
          },
          value: data.interview.location
        }) }}

        {{ govukTextarea({
          id: "interview[details]",
          name: "interview[details]",
          label: {
            classes: "govuk-label--m",
            text: "Additional details"
          },
          hint: {
            text: "Any other details, like a remote meeting link"
          },
          value: data.interview.details
        }) }}



        {{ govukButton({
          text: "Continue"
        }) }}
      </form>


    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  <script src="/public/javascripts/autocomplete.min.js"></script>
  <script>
    // accessibleAutocomplete({
      name: "time",
      element: document.querySelector('.app-time'),
      id: 'time',
      showAllValues: true,
      displayMenu: 'overlay',
      source: [
        '9am',
        '9:15am',
        '9:30am',
        '9:45am',
        '10am',
        '10:15am',
        '10:30am',
        '10:45am',
        '11am',
        '11:15am',
        '11:30am',
        '11:45am',
        '12pm (midday)',
        '12:15pm',
        '12:30pm',
        '12:45pm',
        '1pm (midday)',
        '1:15pm',
        '1:30pm',
        '1:45pm',
        '12am (midnight)',
        '12:15am',
        '12:30am',
        '12:45am',
      ]
    })
  </script>
{% endblock %}
