{% extends "_layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/onboard/relationship1"
  }) }}
{% endblock %}

{% block content %}

  {% set tick %}
    {{ appIcon({
      classes: "govuk-!-margin-right-1",
      icon: "tick",
      hidden: true
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      <span class="govuk-caption-xl">Set up permissions</span>
      <h1 class="govuk-heading-xl">Check permissions</h1>

      <form novalidate action="/onboard/confirmation">

        <h2 class="govuk-heading-m">
          {{ data.user.organisations[0].name }}
        </h2>

        {% set makeDecisionsHtml %}
          <ul class="govuk-list">
            <li>{{tick | safe }} {{ data.user.organisations[0].name }}</li>
          </ul>
        {% endset %}
        {% set viewSafeguardingHtml %}
          <ul class="govuk-list">
          <li>{{tick | safe }} {{ data.user.organisations[0].name }}</li>
          <li>{{tick | safe }} {{ data.accreditedBodies[0].name }}</li>
        </ul>
        {% endset %}
        {% set viewDiversityHtml %}
          <ul class="govuk-list">
          <li>{{tick | safe }} {{ data.user.organisations[0].name }}</li>
          <li>{{tick | safe }} {{ data.accreditedBodies[0].name }}</li>
        </ul>
        {% endset %}

        {% set cardHtml %}

         {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Which organisations can make decisions?"
            },
            value: {
              html: makeDecisionsHtml
            }
          },
          {
            key: {
              text: "Which organisations can view safeguarding information?"
            },
            value: {
              html: viewSafeguardingHtml
            }
          },
          {
            key: {
              text: "Which organisations can view diversity information?"
            },
            value: {
              html: viewDiversityHtml
            }
          }
        ]
      }) }}
          {% endset %}

          {% set title %}
            {{ data.user.organisations[0].name }} and {{ data.accreditedBodies[0].name }}
          {% endset %}
          {{appSummaryCard({
            titleText: title,
            classes: "govuk-!-margin-bottom-6",
            actions: {
              items: [{
                href: "/onboard/relationship1",
                text: "Change"
              }]
            } if not relationship.org.isAccreditedBody,
            html: cardHtml
          })}}


        {{govukButton({
          text: "Save permissions"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
