{% extends "_layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/onboard/step3"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Manage permissions</span>
      <h1 class="govuk-heading-xl">Check permissions</h1>

      <form novalidate action="/">

        {% set permissionsOneHtml %}
          <p>Somerset SCITT Consortium can:</p>
          <ul class="list list--bullet">
            <li>make decisions</li>
            <li>see safeguarding information</li>
          </ul>
        {% endset %}

        {% set permissionsTwoHtml %}
          <p>Somerset SCITT Consortium can:</p>
          <ul class="list list--bullet">
            <li>make decisions</li>
            <li>see safeguarding information</li>
          </ul>
          <p>Ventrus Teaching School Alliance can:</p>
          <ul class="list list--bullet">
            <li>make decisions</li>
            <li>see safeguarding information</li>
          </ul>
        {% endset %}

        {{ govukSummaryList({
          rows: [
            {
              key: {
                text: "For courses run and ratified by Somerset SCITT Consortium"
              },
              value: {
                html: permissionsOneHtml
              },
              actions: {
                items: [
                  {
                    href: "/onboard/step2",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            },
            {
              key: {
                text: "Courses run by Ventrus Teaching School Alliance and ratified by Somerset SCITT Consortium"
              },
              value: {
                html: permissionsTwoHtml
              },
              actions: {
                items: [
                  {
                    href: "/onboard/step3",
                    text: "Change",
                    visuallyHiddenText: "name"
                  }
                ]
              }
            }
          ]
        }) }}

        {{govukButton({
          text: "Save permissions"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
