{% extends "_layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/onboard/relationship1"
  }) }}
{% endblock %}

{% block content %}

  {% set tick %}
    {{ appIcon({
      classes: "govuk-!-margin-right-1",
      icon: "tick",
      hidden: true
    }) }}
  {% endset %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

      <span class="govuk-caption-xl">Set up permissions</span>
      <h1 class="govuk-heading-xl">Check permissions</h1>

      <form novalidate action="/onboard/confirmation">

        <h2 class="govuk-heading-m">
          For courses run by {{ data.user.organisations[0].name }} and ratified by {{ data.accreditedBodies[0].name }}
        </h2>

        {% set makeDecisionsHtml %}
          <ul class="govuk-list">
            <li>{{tick | safe }} {{ data.user.organisations[0].name }}</li>
          </ul>
        {% endset %}
        {% set viewSafeguardingHtml %}
          <ul class="govuk-list">
          <li>{{tick | safe }} {{ data.user.organisations[0].name }}</li>
          <li>{{tick | safe }} {{ data.accreditedBodies[0].name }}</li>
        </ul>
        {% endset %}
        {% set viewDiversityHtml %}
          <ul class="govuk-list">
          <li>{{tick | safe }} {{ data.user.organisations[0].name }}</li>
          <li>{{tick | safe }} {{ data.accreditedBodies[0].name }}</li>
        </ul>
        {% endset %}

         {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Which organisations can make decisions?"
            },
            value: {
              html: makeDecisionsHtml
            },
            actions: {
              items: [
                {
                  href: "/onboard/relationship1",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Which organisations can view safeguarding information?"
            },
            value: {
              html: viewSafeguardingHtml
            },
            actions: {
              items: [
                {
                  href: "/onboard/relationship1",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          },
          {
            key: {
              text: "Which organisations can view diversity information?"
            },
            value: {
              html: viewDiversityHtml
            },
            actions: {
              items: [
                {
                  href: "/onboard/relationship1",
                  text: "Change",
                  visuallyHiddenText: "name"
                }
              ]
            }
          }
        ]
      }) }}

{#
        <p>The following organisation(s) can make decisions:</p>


        <p class="govuk-!-margin-bottom-8"><a href="/onboard/relationship1">Change</a></p>


        <p>The following organisation(s) can view safeguarding information:</p>



        <p class="govuk-!-margin-bottom-8"><a href="/onboard/relationship1">Change</a></p>

        <p>The following organisation(s) can view diversity information:</p>

        <ul class="govuk-list">
          <li>{{tick | safe }} {{ data.user.organisations[0].name }}</li>
          <li>{{tick | safe }} {{ data.accreditedBodies[0].name }}</li>
        </ul>

        <p class="govuk-!-margin-bottom-8"><a href="/onboard/relationship1">Change</a></p> #}

        {{govukButton({
          text: "Save permissions"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
