{% extends "_layout.njk" %}

{% set title = "Agree to the terms and conditions" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Permissions successfully set up"
      }) }}

      <h2 class="govuk-heading-m">
        Changing permissions
      </h2>

      <p class="govuk-body">
        Select <a href="/account/organisational-permissions">Organisational permissions</a> under your account to update your permissions.
      <p>

      <h2 class="govuk-heading-m">
        Inviting users
      </h2>

      <p class="govuk-body">
        Select <a href="/account/users">Users</a> under your account to add users and manage their permissions.
      <p>

      <h2 class="govuk-heading-m">
        Manage your applications
      </h2>

      <p class="govuk-body">
        Continue to your applications.
      <p>

      {{ govukButton({
        text: "Continue",
        href: "/"
      }) }}

    </div>
  </div>
{% endblock %}
