{% extends "_layout.njk" %}

{% set title = "Agree to the terms and conditions" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Organisational permissions set"
      }) }}

      <p>You can now <a href="/">view applications</a> or <a href="/account/users">invite users</a>.</p>

      <p>You can change organisational permissions in <a href="/account">your account</a>.</p>

    </div>
  </div>
{% endblock %}
