{% extends "_layout.njk" %}

{% set title = "Agree to the terms and conditions" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: "Thank you for signing up to our data sharing agreement"
      }) }}

      <h2 class="govuk-heading-m">
        Next steps
      </h2>

      <p class="govuk-body">
        You'll need to set up permissions for your organisation before you do anything else. We'll guide you through this process.
      <p>

      {{ govukButton({
        text: "Set up permissions",
        href: "/onboard/step1"
      }) }}

    </div>
  </div>
{% endblock %}
