{% extends "_content-wide.njk" %}

{% set title = "Set up organisational permissions" %}

{% block primary %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if orgs.length > 1 %}
        <p>You belong to:</p>
        <ul class="govuk-list govuk-list--bullet">
          {% for org in orgs %}
            <li>{{org.name}}</li>
          {% endfor %}
        </ul>
      {% else %}
        <p>You belong to {{ orgs[0].name }}.</p>
      {% endif %}

      {% if trainingProviders.length > 1 %}
        {% for trainingProvider in trainingProviders %}
          {% if trainingProvider.partners.length > 1 %}
            <p>The accredited bodies for your {{trainingProvider.org.name}} courses are:</p>
            <ul class="govuk-list govuk-list--bullet">
              {% for partner in trainingProvider.partners %}
                <li>{{partner.name}}</li>
              {% endfor %}
            </ul>
          {% elseif trainingProvider.partners.length == 1 %}
            <p>{{trainingProvider.partners[0].name}} is the accredited body for your {{trainingProvider.org.name}} courses.
          {% endif %}
        {% endfor %}
      {% else %}
        {% if trainingProviders[0].partners.length > 1 %}
          <p>The accredited bodies for your courses are:</p>
          <ul class="govuk-list govuk-list--bullet">
            {% for partner in trainingProviders[0].partners %}
              <li>{{partner.name}}</li>
            {% endfor %}
          </ul>
        {% elseif trainingProviders[0].partners.length == 1 %}
          <p>{{trainingProviders[0].partners[0].name}} is the accredited body for your courses.
        {% endif %}
      {% endif %}

      <p>You need to choose which organisations can:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>make decisions about applications and set up interviews</li>
        <li>access sensitive candidate information</li>
      </ul>

      {{ govukInsetText({
        text: "All organisations can view applications to their courses."
      }) }}

      {{ relationships | log}}

      <form novalidate action="/onboard/{{relationships[0].id}}">
        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
