{% extends "_content-wide.njk" %}

{% set title = "Set up organisational permissions" %}

{% block primary %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if (relationships | length) != "1" %}
        <p>You need to set up permissions for each partner you work with.</p>
      {% endif %}

      {% for key, value in relationships %}
        {% if (relationships | length) == "1" %}
          <p>You need to set up permissions for each partner you work with:</p>
        {% else %}
          <h2 class="govuk-heading-m">
            {{value[0].org1.name}}
          </h2>

          {% set runOrRatified %}
            {% if value[0].org1.isAccreditedBody %}
              run
            {% else %}
              ratified
            {% endif %}
          {% endset %}

          <p>You need to set up permissions for courses {{runOrRatified}} by:</p>
        {% endif %}

        <ul class="govuk-list govuk-list--bullet">
          {% for relationship in value %}
            <li>
              {{relationship.org2.name}}
            </li>
          {% endfor %}
        </ul>
      {% endfor %}

      <form novalidate action="/onboard/1">
        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
