{% extends "_layout.njk" %}

{% set org = data.user.organisations[0].name %}
{% set partner = data.accreditedBodies[0].name %}
{% set title %}
  {{org}} and {{partner}}
{% endset %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/onboard"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Set up organisational permissions</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

      {% include "_includes/permissions-guidance.njk" %}

      <form novalidate action="/onboard/check">
        {% include "_includes/permissions-checkboxes.njk" %}
        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
