{% extends "_layout.njk" %}

{% set org = relationship.org1.name %}
{% set partner = relationship.org2.name %}
{% set caption = "Set up organisation permissions" %}
{% set heading %}{{org}} and {{partner}}{% endset %}
{% set title = heading + ' - ' + caption %}

{% block beforeContent %}
  {% if referrer == 'check' %}
    {{ govukBackLink({
      href: '/onboard/check'
    }) }}
  {% else %}
    {% if relationship.id == 1 %}
      {{ govukBackLink({
        href: "/onboard"
      }) }}
    {% else %}
      {{ govukBackLink({
        href: "/onboard/" + previousRelationshipId
      }) }}
    {% endif %}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">{{caption}}</span>
      <h1 class="govuk-heading-l">{{heading}}</h1>

      <p>All users can view applications.</p>

      <form novalidate method="post">
        {% if referrer == 'check' %}
          <input type="hidden" name="referrer" value="check">
        {% endif %}
        {% include "_includes/permissions-checkboxes.njk" %}
        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
