{% extends "_layout.njk" %}

{% set org = relationship.org1.name %}
{% set partner = relationship.org2.name %}
{% set title %}
  {{org}} and {{partner}}
{% endset %}

{% block beforeContent %}
  {% if relationship.id == 1 %}
    {{ govukBackLink({
      href: "/onboard"
    }) }}
  {% else %}
    {{ govukBackLink({
      href: "/onboard/" + previousRelationshipId
    }) }}
  {% endif %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Set up organisational permissions</span>
      <h1 class="govuk-heading-l">{{ title }}</h1>

      <p>All users can view applications.</p>

      <form novalidate method="post">
        {% include "_includes/permissions-checkboxes.njk" %}
        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
