{% extends "_layout.njk" %}

{% set org = "The Millais Alliance" %}
{% set partner = "University of Chichester" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/onboard/step3"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Set up permissions</span>
      <h1 class="govuk-heading-xl">For courses run by {{org}} and ratified by {{partner}}</h1>

      {% include "./_includes/guidance.njk" %}

      <form novalidate action="/onboard/check">
        {% include "./_includes/checkboxes.njk" %}
        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
