{% extends "_layout.njk" %}

{% block beforeContent %}
  {{ govukBackLink({
    href: "/onboard/"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Manage permissions</span>
      <h1 class="govuk-heading-xl">Courses run by The Millais Alliance and ratified by University of Brighton</h1>

      {{ govukDetails({
        summaryText: "More about ‘make decisions’",
        text: "You can make offers, amend offers and reject applications"
      }) }}

      {% set safeguardingExplanationHtml %}
        <p>You have access to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>information disclosed in the ‘criminal convictions and professional misconduct’ section of the application</li>
          <li>information disclosed in the ‘equality and diversity’ section of the application form</li>
        </ul>
      {% endset %}

      {{ govukDetails({
        summaryText: "More about see safeguarding information",
        html: safeguardingExplanationHtml
      }) }}

      <p>By default both organisations will be able to see applications to these courses</p>


      <form novalidate action="/onboard/step3">
        {{ govukCheckboxes({
          idPrefix: "permissions",
          name: "permissions",
          fieldset: {
            legend: {
              html: "University of Brighton can",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "make decisions",
              text: "make decisions"
            },
            {
              value: "see safeguarding information",
              text: "see safeguarding information"
            }
          ]
        }) }}

        {{ govukCheckboxes({
          idPrefix: "permissions",
          name: "permissions",
          fieldset: {
            legend: {
              html: "The Millais Alliance can",
              classes: "govuk-fieldset__legend--s"
            }
          },
          items: [
            {
              value: "make decisions",
              text: "make decisions"
            },
            {
              value: "see safeguarding information",
              text: "see safeguarding information"
            }
          ]
        }) }}

        {{govukButton({
          text: "Continue"
        })}}
      </form>
    </div>
  </div>

{% endblock %}
